summary/dd_summary.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Utilities/DD_Support.xsd"/>
	<xs:complexType name="summary_dynamic_flt_1d_3">
		<xs:annotation>
			<xs:documentation>Summary dynamic FLT_1D + source information, time three levels above this node</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
						<coordinate1>../../../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="STR_0D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_dynamic_flt_1d_2">
		<xs:annotation>
			<xs:documentation>Summary dynamic FLT_1D + source information, time two levels above this node</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
						<coordinate1>../../../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="STR_0D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_dynamic_flt_1d_1">
		<xs:annotation>
			<xs:documentation>Summary dynamic FLT_1D + source information, time one level above this node</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
						<coordinate1>../../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="STR_0D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_dynamic_int_1d_1">
		<xs:annotation>
			<xs:documentation>Summary dynamic INT_1D + source information, time one level above this node</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="STR_0D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_local_position">
		<xs:annotation>
			<xs:documentation>Radial position at which physics quantities are evaluated</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="rho_tor_norm">
				<xs:annotation>
					<xs:documentation>Normalised toroidal flux coordinate. The normalizing value for rho_tor_norm, is the toroidal flux coordinate at the equilibrium boundary (LCFS or 99.x % of the LCFS in case of a fixed boundary equilibium calculation, see time_slice/boundary/b_flux_pol_norm in the equilibrium IDS) </xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../../../time</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="rho_tor">
				<xs:annotation>
					<xs:documentation>Toroidal flux coordinate. rho_tor = sqrt(b_flux_tor/(pi*b0)) ~ sqrt(pi*r^2*b0/(pi*b0)) ~ r [m]. The toroidal field used in its definition is indicated under global_quantities/b0</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../../../time</coordinate1>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="psi">
				<xs:annotation>
					<xs:documentation>Poloidal magnetic flux</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../time</coordinate1>
						<units>Wb</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_local_quantities">
		<xs:annotation>
			<xs:documentation>Set of local quantities</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="position" type="summary_local_position">
				<xs:annotation>
					<xs:documentation>Radial position at which physics quantities are evaluated</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_e" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Electron temperature</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_i_average" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Ion temperature (average over ion species)</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_e" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Electron density</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_i_total" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Total ion density (sum overs species)</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="zeff" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Effective charge</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="momentum_tor" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Total plasma toroidal momentum, summed over ion species and electrons</xs:documentation>
					<xs:appinfo>
						<units>kg.m.s^-1</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="q" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Safety factor</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="magnetic_shear" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Magnetic shear, defined as rho_tor/q . dq/drho_tor</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_global_quantities">
		<xs:annotation>
			<xs:documentation>Various global quantities calculated from the fields solved in the transport equations and from the Derived Profiles</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ip" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Total plasma current</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="current_non_inductive" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Total non-inductive parallel current</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="current_bootstrap" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Bootstrap current</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="v_loop" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>LCFS loop voltage</xs:documentation>
					<xs:appinfo>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="li" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Internal inductance. The li_3 definition is used, i.e. li_3 = 2/R0/mu0^2/Ip^2 * int(Bp^2 dV).</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="beta_tor" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Toroidal beta, defined as the volume-averaged total perpendicular pressure divided by (B0^2/(2*mu0)), i.e. beta_toroidal = 2 mu0 int(p dV) / V / B0^2</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="beta_tor_norm" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Normalised toroidal beta, defined as 100 * beta_tor * a[m] * B0 [T] / ip [MA] </xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="beta_pol" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Poloidal beta. Defined as betap = 4 int(p dV) / [R_0 * mu_0 * Ip^2]</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy_diamagnetic" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Plasma energy content = 3/2 * integral over the plasma volume of the total perpendicular pressure </xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="volume" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Volume of the confined plasma</xs:documentation>
					<xs:appinfo>
						<units>m^3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="h_mode" type="summary_dynamic_int_1d_1">
				<xs:annotation>
					<xs:documentation>H-mode flag: 0 when the plasma is in L-mode and 1 when in H-mode </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="r0">
				<xs:annotation>
					<xs:documentation>Reference major radius where the vacuum toroidal magnetic field is given (usually a fixed position such as the middle of the vessel at the equatorial midplane)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b0">
				<xs:annotation>
					<xs:documentation>Vacuum toroidal field at R0 [T]; Positive sign means anti-clockwise when viewed from above. The product R0B0 must be consistent with the b_tor_vacuum_r field of the tf IDS.</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>T</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="summary">
		<xs:annotation>
			<xs:documentation>Summary of physics quantities from a simulation or an experiment</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.6.0</lifecycle_version>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="global_quantities" type="summary_global_quantities">
					<xs:annotation>
						<xs:documentation>Various global quantities derived from the profiles</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
