summary/dd_summary.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="summary_dynamic_flt_1d_3_parent_2">
		<xs:annotation>
			<xs:documentation>Summary dynamic FLT_1D + source information, time three levels above this node and units as parent level 2</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent_level_2</units>
						<coordinate1>../../../../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_dynamic_flt_1d_2_parent_2">
		<xs:annotation>
			<xs:documentation>Summary dynamic FLT_1D + source information, time two levels above this node and units as parent level 2</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent_level_2</units>
						<coordinate1>../../../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_dynamic_flt_2d_fraction_2">
		<xs:annotation>
			<xs:documentation>Summary dynamic FL2_1D + source information, time two levels above this node, first dimension 1...3 (beam fractions)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
						<coordinate1>1...3</coordinate1>
						<coordinate2>../../../../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_dynamic_flt_1d_3">
		<xs:annotation>
			<xs:documentation>Summary dynamic FLT_1D + source information, time three levels above this node</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
						<coordinate1>../../../../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_dynamic_flt_1d_2">
		<xs:annotation>
			<xs:documentation>Summary dynamic FLT_1D + source information, time two levels above this node</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
						<coordinate1>../../../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_dynamic_flt_1d_1">
		<xs:annotation>
			<xs:documentation>Summary dynamic FLT_1D + source information, time one level above this node</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
						<coordinate1>../../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_static_flt_0d">
		<xs:annotation>
			<xs:documentation>Summary static FLT_0D + source information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>as_parent</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_static_int_0d">
		<xs:annotation>
			<xs:documentation>Summary static INT_0D + source information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>as_parent</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_static_str_0d">
		<xs:annotation>
			<xs:documentation>Summary static STR_0D + source information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_constant_int_0d">
		<xs:annotation>
			<xs:documentation>Summary constant INT_0D + source information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>as_parent</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_constant_flt_0d">
		<xs:annotation>
			<xs:documentation>Summary constant FLT_0D + source information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>as_parent</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_constant_str_0d">
		<xs:annotation>
			<xs:documentation>Summary constant STR_0D + source information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_rzphi0d_static">
		<xs:annotation>
			<xs:documentation>Structure for R, Z, Phi positions (0D, static) + source information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="r" type="summary_static_flt_0d">
				<xs:annotation>
					<xs:documentation>Major radius</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="z" type="summary_static_flt_0d">
				<xs:annotation>
					<xs:documentation>Height</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="phi" type="summary_static_flt_0d">
				<xs:annotation>
					<xs:documentation>Toroidal angle</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_dynamic_int_1d_2">
		<xs:annotation>
			<xs:documentation>Summary dynamic INT_1D + source information, time two levels above this node</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_dynamic_int_1d_1">
		<xs:annotation>
			<xs:documentation>Summary dynamic INT_1D + source information, time one level above this node</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_species_level_3">
		<xs:annotation>
			<xs:documentation>List of ion species used in summary, three levels below the top</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="hydrogen" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Hydrogen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deuterium" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Deuterium</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tritium" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Tritium</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="helium_3" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Helium isotope with 3 nucleons</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="helium_4" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Helium isotope with 4 nucleons</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="berylium" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Berylium</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lithium" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Lithium</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="carbon" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Carbon</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nitrogen" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Nitrogen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="neon" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Neon</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="argon" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Argon</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xenon" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Xenon</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="oxygen" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Oxygen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tungsten" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Tungsten</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_species_level_2">
		<xs:annotation>
			<xs:documentation>List of ion species used in summary, two levels below the top</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="hydrogen" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Hydrogen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deuterium" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Deuterium</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tritium" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Tritium</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="helium_3" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Helium isotope with 3 nucleons</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="helium_4" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Helium isotope with 4 nucleons</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="berylium" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Berylium</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lithium" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Lithium</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="carbon" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Carbon</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nitrogen" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Nitrogen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="neon" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Neon</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="argon" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Argon</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xenon" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Xenon</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="oxygen" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Oxygen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tungsten" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Tungsten</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_plasma_composition_species">
		<xs:annotation>
			<xs:documentation>Description of simple species (elements) without declaration of their ionisation state</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="a" type="summary_constant_flt_0d">
				<xs:annotation>
					<xs:documentation>Mass of atom</xs:documentation>
					<xs:appinfo>
						<units>Atomic Mass Unit</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="z_n" type="summary_constant_flt_0d">
				<xs:annotation>
					<xs:documentation>Nuclear charge</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="label" type="summary_constant_str_0d">
				<xs:annotation>
					<xs:documentation>String identifying the species (e.g. H, D, T, ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_local_position_r_z">
		<xs:annotation>
			<xs:documentation>Radial position at which physics quantities are evaluated, including an R,Z position</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="rho_tor_norm">
				<xs:annotation>
					<xs:documentation>Normalised toroidal flux coordinate. The normalizing value for rho_tor_norm, is the toroidal flux coordinate at the equilibrium boundary (LCFS or 99.x % of the LCFS in case of a fixed boundary equilibium calculation, see time_slice/boundary/b_flux_pol_norm in the equilibrium IDS) </xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../../../time</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="rho_tor">
				<xs:annotation>
					<xs:documentation>Toroidal flux coordinate. rho_tor = sqrt(b_flux_tor/(pi*b0)) ~ sqrt(pi*r^2*b0/(pi*b0)) ~ r [m]. The toroidal field used in its definition is indicated under global_quantities/b0</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../../../time</coordinate1>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="psi">
				<xs:annotation>
					<xs:documentation>Poloidal magnetic flux</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../time</coordinate1>
						<units>Wb</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="r">
				<xs:annotation>
					<xs:documentation>Major radius</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../time</coordinate1>
						<units>m</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z">
				<xs:annotation>
					<xs:documentation>Height</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../time</coordinate1>
						<units>m</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_local_position">
		<xs:annotation>
			<xs:documentation>Radial position at which physics quantities are evaluated</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="rho_tor_norm">
				<xs:annotation>
					<xs:documentation>Normalised toroidal flux coordinate. The normalizing value for rho_tor_norm, is the toroidal flux coordinate at the equilibrium boundary (LCFS or 99.x % of the LCFS in case of a fixed boundary equilibium calculation, see time_slice/boundary/b_flux_pol_norm in the equilibrium IDS) </xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../../../time</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="rho_tor">
				<xs:annotation>
					<xs:documentation>Toroidal flux coordinate. rho_tor = sqrt(b_flux_tor/(pi*b0)) ~ sqrt(pi*r^2*b0/(pi*b0)) ~ r [m]. The toroidal field used in its definition is indicated under global_quantities/b0</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../../../time</coordinate1>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="psi">
				<xs:annotation>
					<xs:documentation>Poloidal magnetic flux</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../time</coordinate1>
						<units>Wb</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_local_quantities_r_z">
		<xs:annotation>
			<xs:documentation>Set of local quantities, including an R,Z position</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="position" type="summary_local_position_r_z">
				<xs:annotation>
					<xs:documentation>Radial position at which physics quantities are evaluated</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_e" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Electron temperature</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_i_average" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Ion temperature (average over ion species)</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_e" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Electron density</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_i" type="summary_species_level_3">
				<xs:annotation>
					<xs:documentation>Ion density per species</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_i_total" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Total ion density (sum over species)</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="zeff" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Effective charge</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="momentum_tor" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Total plasma toroidal momentum, summed over ion species and electrons</xs:documentation>
					<xs:appinfo>
						<units>kg.m.s^-1</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="velocity_tor" type="summary_species_level_3">
				<xs:annotation>
					<xs:documentation>Ion toroidal rotation velocity, per species</xs:documentation>
					<xs:appinfo>
						<units>m.s^-1</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="q" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Safety factor</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="magnetic_shear" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Magnetic shear, defined as rho_tor/q . dq/drho_tor</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="b_field" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Magnetic field</xs:documentation>
					<xs:appinfo>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_local_quantities_no_position_name">
		<xs:annotation>
			<xs:documentation>Set of local quantities without radial position, for localisations outside the LCFS, with a name</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="summary_static_str_0d">
				<xs:annotation>
					<xs:documentation>Name of the limiter or divertor plate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_e" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Electron temperature</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_i_average" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Ion temperature (average over ion species)</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_e" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Electron density</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_i" type="summary_species_level_3">
				<xs:annotation>
					<xs:documentation>Ion density per species</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_i_total" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Total ion density (sum over species)</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="zeff" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Effective charge</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="flux_expansion" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Flux expansion</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_local_quantities">
		<xs:annotation>
			<xs:documentation>Set of local quantities</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="position" type="summary_local_position">
				<xs:annotation>
					<xs:documentation>Radial position at which physics quantities are evaluated</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_e" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Electron temperature</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_i_average" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Ion temperature (average over ion species)</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_e" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Electron density</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_i" type="summary_species_level_3">
				<xs:annotation>
					<xs:documentation>Ion density per species</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_i_total" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Total ion density (sum over species)</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="zeff" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Effective charge</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="momentum_tor" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Total plasma toroidal momentum, summed over ion species and electrons</xs:documentation>
					<xs:appinfo>
						<units>kg.m.s^-1</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="velocity_tor" type="summary_species_level_3">
				<xs:annotation>
					<xs:documentation>Ion toroidal rotation velocity, per species</xs:documentation>
					<xs:appinfo>
						<units>m.s^-1</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="q" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Safety factor</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="magnetic_shear" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Magnetic shear, defined as rho_tor/q . dq/drho_tor</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_pedestal_fit_te">
		<xs:annotation>
			<xs:documentation>Quantities related to a specific fit of pedestal profiles for a given physical quantity (temperature)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="pedestal_height" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Pedestal height</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pedestal_width" type="summary_dynamic_flt_1d_3">
				<xs:annotation>
					<xs:documentation>Pedestal full width in normalised poloidal flux</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pedestal_position" type="summary_dynamic_flt_1d_3">
				<xs:annotation>
					<xs:documentation>Pedestal position in normalised poloidal flux</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="offset" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Offset of the parent quantity in the SOL</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="d_dpsi_norm" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Core slope of the parent quantity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="d_dpsi_norm_max" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Maximum gradient of the parent quantity (with respect to the normalised poloidal flux) in the pedestal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="d_dpsi_norm_max_position" type="summary_dynamic_flt_1d_3">
				<xs:annotation>
					<xs:documentation>Position (in terms of normalised poloidal flux) of the maximum gradient of the parent quantity in the pedestal</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_pedestal_fit_ne">
		<xs:annotation>
			<xs:documentation>Quantities related to a specific fit of pedestal profiles for a given physical quantity (density or pressure)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="separatrix" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Value at separatrix</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pedestal_height" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Pedestal height</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pedestal_width" type="summary_dynamic_flt_1d_3">
				<xs:annotation>
					<xs:documentation>Pedestal full width in normalised poloidal flux</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pedestal_position" type="summary_dynamic_flt_1d_3">
				<xs:annotation>
					<xs:documentation>Pedestal position in normalised poloidal flux</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="offset" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Offset of the parent quantity in the SOL</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="d_dpsi_norm" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Core slope of the parent quantity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="d_dpsi_norm_max" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Maximum gradient of the parent quantity (with respect to the normalised poloidal flux) in the pedestal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="d_dpsi_norm_max_position" type="summary_dynamic_flt_1d_3">
				<xs:annotation>
					<xs:documentation>Position (in terms of normalised poloidal flux) of the maximum gradient of the parent quantity in the pedestal</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_pedestal_fit">
		<xs:annotation>
			<xs:documentation>Quantities related to a specific fit of pedestal profiles</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="n_e" type="summary_pedestal_fit_ne">
				<xs:annotation>
					<xs:documentation>Electron density related quantities</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_e" type="summary_pedestal_fit_te">
				<xs:annotation>
					<xs:documentation>Electron temperature related quantities</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pressure_electron" type="summary_pedestal_fit_ne">
				<xs:annotation>
					<xs:documentation>Electron pressure related quantities</xs:documentation>
					<xs:appinfo>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy_thermal_pedestal_electron" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Pedestal stored thermal energy for electrons </xs:documentation>
					<xs:appinfo>
						<units>J</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy_thermal_pedestal_ion" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Pedestal stored thermal energy for ions </xs:documentation>
					<xs:appinfo>
						<units>J</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="beta_pol_pedestal_electron_average" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Pedestal poloidal beta for electrons using the flux surface average magnetic poloidal field</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="beta_pol_pedestal_electron_lfs" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Pedestal poloidal beta for electrons using the low field side magnetic poloidal field</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="beta_pol_pedestal_electron_hfs" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Pedestal poloidal beta for electrons using the high field side magnetic poloidal field</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="nustar_pedestal_electron" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Pedestal normalised collisionality for electrons</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rhostar_pedestal_electron_lfs" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Pedestal normalised Larmor radius for electrons using the low field side magnetic field (important for spherical tokamaks)</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rhostar_pedestal_electron_hfs" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Pedestal normalised Larmor radius for electrons using the high field side magnetic field (important for spherical tokamaks)</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rhostar_pedestal_electron_magnetic_axis" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Pedestal normalised Larmor radius for electrons using the magnetic field on the magnetic axis (definition used in most tokamak litterature)</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="b_field_pol_average" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Poloidal field calculated at the position of the pedestal top (as determined by the fit) and averaged over the flux surface</xs:documentation>
					<xs:appinfo>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="b_field_pol_hfs" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Poloidal field calculated at the position of the pedestal top (as determined by the fit) on the high field side</xs:documentation>
					<xs:appinfo>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="b_field_pol_lfs" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Poloidal field calculated at the position of the pedestal top (as determined by the fit) on the low field side</xs:documentation>
					<xs:appinfo>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="b_field_hfs" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Total magnetic field calculated at the position of the pedestal top (as determined by the fit) on the high field side</xs:documentation>
					<xs:appinfo>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="b_field_lfs" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Total magnetic field calculated at the position of the pedestal top (as determined by the fit) on the low field side</xs:documentation>
					<xs:appinfo>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="b_field_tor_hfs" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Toroidal field calculated at the position of the pedestal top (as determined by the fit) on the high field side</xs:documentation>
					<xs:appinfo>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="b_field_tor_lfs" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Toroidal field calculated at the position of the pedestal top (as determined by the fit) on the low field side</xs:documentation>
					<xs:appinfo>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="coulomb_factor" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Coulomb factor log(lambda)</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="parameters">
				<xs:annotation>
					<xs:documentation>Parameters of the fit</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>mixed</units>
						<coordinate1>1...5</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_pedestal_fits">
		<xs:annotation>
			<xs:documentation>Quantities derived from specific fits of pedestal profiles, typically used in the Pedestal Database </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mtanh" type="summary_pedestal_fit">
				<xs:annotation>
					<xs:documentation>Quantities related to "mtanh" fit</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="linfit" type="summary_pedestal_fit">
				<xs:annotation>
					<xs:documentation>Quantities related to "linfit" fit</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_local">
		<xs:annotation>
			<xs:documentation>Set of locations</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="magnetic_axis" type="summary_local_quantities_r_z">
				<xs:annotation>
					<xs:documentation>Parameters at magnetic axis</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="edge" type="summary_local_quantities">
				<xs:annotation>
					<xs:documentation>Parameters at last closed flux surface</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pedestal" type="summary_local_quantities">
				<xs:annotation>
					<xs:documentation>Parameters at pedestal top</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="itb" type="summary_local_quantities">
				<xs:annotation>
					<xs:documentation>Parameters at internal transport barrier</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="limiter" type="summary_local_quantities_no_position_name">
				<xs:annotation>
					<xs:documentation>Parameters at the limiter</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="divertor_plate" type="summary_local_quantities_no_position_name" maxOccurs="4">
				<xs:annotation>
					<xs:documentation>Parameters at a divertor plate</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_sol">
		<xs:annotation>
			<xs:documentation>Scrape-Off-Layer characteristics</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="t_e_decay_length" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Electron temperature radial decay length inv(grad Te/Te)</xs:documentation>
					<xs:appinfo>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_i_average_decay_length" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Ion temperature (average over ion species) radial decay length inv(grad Ti/Ti)</xs:documentation>
					<xs:appinfo>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_e_decay_length" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Electron density radial decay length inv(grad ne/ne)</xs:documentation>
					<xs:appinfo>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_i_total_decay_length" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Ion density radial decay length inv(grad ni/ni)</xs:documentation>
					<xs:appinfo>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="heat_flux_e_decay_length" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Electron heat flux radial decay length inv(grad qe/qe)</xs:documentation>
					<xs:appinfo>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="heat_flux_i_decay_length" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Ion heat flux radial decay length inv(grad qi/qi)</xs:documentation>
					<xs:appinfo>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_radiated" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Power radiated from the SOL</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pressure_neutral" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Neutral pressure in the SOL</xs:documentation>
					<xs:appinfo>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_average_quantities">
		<xs:annotation>
			<xs:documentation>Set of average quantities</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="t_e" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Electron temperature</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_i_average" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Ion temperature (average over ion species)</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_e" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Electron density</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_i" type="summary_species_level_2">
				<xs:annotation>
					<xs:documentation>Ion density per species</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_i_total" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Total ion density (sum over species)</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="zeff" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Effective charge</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_global_quantities">
		<xs:annotation>
			<xs:documentation>Various global quantities calculated from the fields solved in the transport equations and from the Derived Profiles</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ip" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Total plasma current</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="current_non_inductive" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Total non-inductive parallel current</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="current_bootstrap" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Bootstrap parallel current</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="current_ohm" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Ohmic parallel current</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="current_alignment" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Figure of merit of the alignment of the current profile sources, defined in the following reference: http://iopscience.iop.org/article/10.1088/0029-5515/43/7/318</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="v_loop" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>LCFS loop voltage</xs:documentation>
					<xs:appinfo>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="li" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Internal inductance. The li_3 definition is used, i.e. li_3 = 2/R0/mu0^2/Ip^2 * int(Bp^2 dV).</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="beta_tor" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Toroidal beta, defined as the volume-averaged total perpendicular pressure divided by (B0^2/(2*mu0)), i.e. beta_toroidal = 2 mu0 int(p dV) / V / B0^2</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="beta_tor_norm" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Normalised toroidal beta, defined as 100 * beta_tor * a[m] * B0 [T] / ip [MA] </xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="beta_tor_thermal_norm" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Normalised toroidal beta from thermal pressure only, defined as 100 * beta_tor_thermal * a[m] * B0 [T] / ip [MA] </xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="beta_pol" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Poloidal beta. Defined as betap = 4 int(p dV) / [R_0 * mu_0 * Ip^2]</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy_diamagnetic" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Plasma energy content = 3/2 * integral over the plasma volume of the total perpendicular pressure </xs:documentation>
					<xs:appinfo>
						<units>J</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy_total" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Plasma energy content = 3/2 * integral over the plasma volume of the total kinetic pressure</xs:documentation>
					<xs:appinfo>
						<units>J</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy_thermal" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Thermal plasma energy content = 3/2 * integral over the plasma volume of the thermal pressure</xs:documentation>
					<xs:appinfo>
						<units>J</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy_b_field_pol" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Poloidal magnetic plasma energy content = 1/(2.mu0) * integral over the plasma volume of b_field_pol^2</xs:documentation>
					<xs:appinfo>
						<units>J</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="volume" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Volume of the confined plasma</xs:documentation>
					<xs:appinfo>
						<units>m^3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="h_mode" type="summary_dynamic_int_1d_1">
				<xs:annotation>
					<xs:documentation>H-mode flag: 0 when the plasma is in L-mode and 1 when in H-mode </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="r0" type="summary_constant_flt_0d">
				<xs:annotation>
					<xs:documentation>Reference major radius where the vacuum toroidal magnetic field is given (usually a fixed position such as the middle of the vessel at the equatorial midplane)</xs:documentation>
					<xs:appinfo>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="b0" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Vacuum toroidal field at R0. Positive sign means anti-clockwise when viewed from above. The product R0B0 must be consistent with the b_tor_vacuum_r field of the tf IDS.</xs:documentation>
					<xs:appinfo>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="h_98" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Energy confinement time enhancement factor over the IPB98(y,2) scaling</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="tau_energy" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Energy confinement time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="tau_helium" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Helium confinement time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="tau_resistive" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Current diffusion characteristic time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="tau_energy_98" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Energy confinement time estimated from the IPB98(y,2) scaling</xs:documentation>
					<xs:appinfo>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="resistance" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Plasma electric resistance</xs:documentation>
					<xs:appinfo>
						<units>ohm</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="q_95" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>q at the 95% poloidal flux surface</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_ohm" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Ohmic power</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_steady" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Total power coupled to the plasma minus dW/dt (correcting from transient energy content)</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_radiated" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Radiated power</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="greenwald_fraction" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Greenwald fraction =line_average/n_e/value divided by (global_quantities/ip/value *1e6 * pi * minor_radius^2)</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_neutron_reaction">
		<xs:annotation>
			<xs:documentation>Neutron fluxes per reaction</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="total" type="summary_dynamic_flt_1d_3">
				<xs:annotation>
					<xs:documentation>Total neutron flux coming from this reaction</xs:documentation>
					<xs:appinfo>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="thermal" type="summary_dynamic_flt_1d_3">
				<xs:annotation>
					<xs:documentation>Neutron flux coming from thermal plasma</xs:documentation>
					<xs:appinfo>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="beam_thermal" type="summary_dynamic_flt_1d_3">
				<xs:annotation>
					<xs:documentation>Neutron flux coming from NBI beam - plasma reactions</xs:documentation>
					<xs:appinfo>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="beam_beam" type="summary_dynamic_flt_1d_3">
				<xs:annotation>
					<xs:documentation>Neutron flux coming from NBI beam self reactions</xs:documentation>
					<xs:appinfo>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_neutron">
		<xs:annotation>
			<xs:documentation>Description of neutron fluxes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="total" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Total neutron flux from all reactions</xs:documentation>
					<xs:appinfo>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="thermal" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Neutron flux from all plasma thermal reactions</xs:documentation>
					<xs:appinfo>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dd" type="summary_neutron_reaction">
				<xs:annotation>
					<xs:documentation>Neutron fluxes from DD reactions</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dt" type="summary_neutron_reaction">
				<xs:annotation>
					<xs:documentation>Neutron fluxes from DT reactions</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="tt" type="summary_neutron_reaction">
				<xs:annotation>
					<xs:documentation>Neutron fluxes from TT reactions</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_fusion">
		<xs:annotation>
			<xs:documentation>Fusion reactions</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="power" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Power coupled to the plasma by fusion reactions</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="current" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Parallel current driven by this fusion reactions</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="neutron_fluxes" type="summary_neutron">
				<xs:annotation>
					<xs:documentation>Neutron fluxes from various reactions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="neutron_power_total" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Total neutron power (from all reactions)</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_runaways">
		<xs:annotation>
			<xs:documentation>Runaway electrons</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="particles" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Number of runaway electrons</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="current" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Parallel current driven by the runaway electrons</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_h_cd_nbi">
		<xs:annotation>
			<xs:documentation>NBI unit</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="species" type="summary_plasma_composition_species">
				<xs:annotation>
					<xs:documentation>Injected species</xs:documentation>
					<xs:appinfo>
						<units>Atomic Mass Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>NBI power coupled to the plasma by this unit</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="current" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Parallel current driven by this NBI unit</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="position" type="summary_rzphi0d_static">
				<xs:annotation>
					<xs:documentation>R, Z, Phi position of the NBI unit centre</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tangency_radius" type="summary_static_flt_0d">
				<xs:annotation>
					<xs:documentation>Tangency radius (major radius where the central line of a NBI unit is tangent to a circle around the torus)</xs:documentation>
					<xs:appinfo>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="angle" type="summary_static_flt_0d">
				<xs:annotation>
					<xs:documentation>Angle of inclination between a beamlet at the centre of the injection unit surface and the horiontal plane</xs:documentation>
					<xs:appinfo>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="direction" type="summary_static_int_0d">
				<xs:annotation>
					<xs:documentation>Direction of the beam seen from above the torus: -1 = clockwise; 1 = counter clockwise</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Full energy of the injected species (acceleration of a single atom)</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="beam_current_fraction" type="summary_dynamic_flt_2d_fraction_2">
				<xs:annotation>
					<xs:documentation>Fractions of beam current distributed among the different energies, the first index corresponds to the fast neutrals energy (1:full, 2: half, 3: one third)</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="beam_power_fraction" type="summary_dynamic_flt_2d_fraction_2">
				<xs:annotation>
					<xs:documentation>Fractions of beam power distributed among the different energies, the first index corresponds to the fast neutrals energy (1:full, 2: half, 3: one third)</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_h_cd_ec">
		<xs:annotation>
			<xs:documentation>ECRH/CD related parameters</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="frequency" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>ECRH frequency</xs:documentation>
					<xs:appinfo>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="position" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Position of the maximum of the ECRH power deposition, in rho_tor_norm</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="polarisation" type="summary_dynamic_int_1d_2">
				<xs:annotation>
					<xs:documentation>Polarisation of the ECRH waves (0 = O mode, 1 = X mode)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="harmonic" type="summary_dynamic_int_1d_2">
				<xs:annotation>
					<xs:documentation>Harmonic number of the absorbed ECRH waves</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="angle_tor" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Toroidal angle of ECRH at resonance</xs:documentation>
					<xs:appinfo>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="angle_pol" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Poloidal angle of ECRH at resonance</xs:documentation>
					<xs:appinfo>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Electron cyclotron heating power coupled to the plasma</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="current" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Parallel current driven by EC waves</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy_fast" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Fast particle energy content driven by EC waves</xs:documentation>
					<xs:appinfo>
						<units>J</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_h_cd_lh">
		<xs:annotation>
			<xs:documentation>LHCD related parameters</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="frequency" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>LH wave frequency</xs:documentation>
					<xs:appinfo>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="position" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Position of the maximum of the LH power deposition, in rho_tor_norm</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_parallel" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Main parallel refractive index of LH waves at launch</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>LH heating power coupled to the plasma</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="current" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Parallel current driven by LH waves</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy_fast" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Fast particle energy content driven by LH waves</xs:documentation>
					<xs:appinfo>
						<units>J</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_h_cd_ic">
		<xs:annotation>
			<xs:documentation>ICRH related parameters</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="frequency" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>ICRH frequency</xs:documentation>
					<xs:appinfo>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="position" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Position of the maximum of the ICRH power deposition, in rho_tor_norm</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_tor" type="summary_dynamic_int_1d_2">
				<xs:annotation>
					<xs:documentation>Main toroidal mode number of IC waves</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="k_perpendicular" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Main perpendicular wave number of IC waves</xs:documentation>
					<xs:appinfo>
						<units>m^-1</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="e_field_plus_minus_ratio" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Average E+/E- power ratio of IC waves</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="harmonic" type="summary_dynamic_int_1d_2">
				<xs:annotation>
					<xs:documentation>Harmonic number of the absorbed ICRH waves</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="phase" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Phase between straps</xs:documentation>
					<xs:appinfo>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>IC heating power coupled to the plasma</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="current" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Parallel current driven by IC waves</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy_fast" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Fast particle energy content driven by IC waves</xs:documentation>
					<xs:appinfo>
						<units>J</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_h_cd">
		<xs:annotation>
			<xs:documentation>Heating and current drive related parameters</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ec" type="summary_h_cd_ec" maxOccurs="6">
				<xs:annotation>
					<xs:documentation>Set of ECRH/ECCD launchers</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="nbi" type="summary_h_cd_nbi" maxOccurs="32">
				<xs:annotation>
					<xs:documentation>Set of NBI units</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ic" type="summary_h_cd_ic" maxOccurs="6">
				<xs:annotation>
					<xs:documentation>Set of ICRH launchers</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="lh" type="summary_h_cd_lh" maxOccurs="6">
				<xs:annotation>
					<xs:documentation>Set of LHCD launchers</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_ec" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Total EC power coupled to the plasma</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_nbi" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Total NBI power coupled to the plasma</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_ic" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Total IC power coupled to the plasma</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_lh" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Total LH power coupled to the plasma</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_disruption">
		<xs:annotation>
			<xs:documentation>Disruption related parameters</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="time" type="summary_constant_flt_0d">
				<xs:annotation>
					<xs:documentation>Time of the disruption</xs:documentation>
					<xs:appinfo>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="time_radiated_power_max" type="summary_constant_flt_0d">
				<xs:annotation>
					<xs:documentation>Time of maximum radiated power, relative to the time of the disruption</xs:documentation>
					<xs:appinfo>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="time_half_ip" type="summary_constant_flt_0d">
				<xs:annotation>
					<xs:documentation>Time at which the plasma current has fallen to half of the initial current at the start of the disruption, relative to the time of the disruption</xs:documentation>
					<xs:appinfo>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="vertical_displacement" type="summary_constant_int_0d">
				<xs:annotation>
					<xs:documentation>Direction of the plasma vertical displacement just before the disruption 1 (upwards) / 0 (no displacement)/ -1 (downwards)</xs:documentation>
					<xs:appinfo>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="mitigation_valve" type="summary_constant_int_0d">
				<xs:annotation>
					<xs:documentation>Flag indicating whether any disruption mitigation valve has been used (1) or none (0)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="summary">
		<xs:annotation>
			<xs:documentation>Summary of physics quantities from a simulation or an experiment. Dynamic quantities are either taken at given time slices (indicated in the "time" vector) or time-averaged over an interval (in such case the "time_width" of the interval is indicated and the "time" vector represents the end of each time interval).</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.6.0</lifecycle_version>
				<lifecycle_last_change>3.14.0</lifecycle_last_change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="global_quantities" type="summary_global_quantities">
					<xs:annotation>
						<xs:documentation>Various global quantities derived from the profiles</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="local" type="summary_local">
					<xs:annotation>
						<xs:documentation>Plasma parameter values at different locations</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="pedestal_fits" type="summary_pedestal_fits">
					<xs:annotation>
						<xs:documentation>Quantities derived from specific fits of pedestal profiles, typically used in the Pedestal Database </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="line_average" type="summary_average_quantities">
					<xs:annotation>
						<xs:documentation>Line average plasma parameters</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="volume_average" type="summary_average_quantities">
					<xs:annotation>
						<xs:documentation>Volume average plasma parameters</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="disruption" type="summary_disruption">
					<xs:annotation>
						<xs:documentation>Disruption characteristics, if the pulse is terminated by a disruption</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="gas_injection_rate" type="summary_species_level_2">
					<xs:annotation>
						<xs:documentation>Gas injection rate per ion species, in equivalent electrons.s^-1</xs:documentation>
						<xs:appinfo>
							<units>electrons.s^-1</units>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="heating_current_drive" type="summary_h_cd">
					<xs:annotation>
						<xs:documentation>Heating and current drive parameters</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="fusion" type="summary_fusion">
					<xs:annotation>
						<xs:documentation>Fusion reactions</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="runaways" type="summary_runaways">
					<xs:annotation>
						<xs:documentation>Runaway electrons</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="scrape_off_layer" type="summary_sol">
					<xs:annotation>
						<xs:documentation>Scrape-Off-Layer (SOL) characteristics</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="time_width">
					<xs:annotation>
						<xs:documentation>In case the time-dependent quantities of this IDS are averaged over a time interval, this node is the width of this time interval (empty otherwise). By convention, the time interval starts at time-time_width and ends at time.</xs:documentation>
						<xs:appinfo>
							<type>dynamic</type>
							<units>s</units>
							<coordinate1>../time</coordinate1>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_1D"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
