summary/dd_summary.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Utilities/DD_Support.xsd"/>
	<xs:complexType name="summary_dynamic_flt_1d_3_parent_2">
		<xs:annotation>
			<xs:documentation>Summary dynamic FLT_1D + source information, time three levels above this node and units as parent level 2</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent_level_2</units>
						<coordinate1>../../../../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_dynamic_flt_1d_2_parent_2">
		<xs:annotation>
			<xs:documentation>Summary dynamic FLT_1D + source information, time two levels above this node and units as parent level 2</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent_level_2</units>
						<coordinate1>../../../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_dynamic_flt_2d_fraction_2">
		<xs:annotation>
			<xs:documentation>Summary dynamic FL2_1D + source information, time two levels above this node, first dimension 1...3 (beam fractions)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
						<coordinate1>1...3</coordinate1>
						<coordinate2>../../../../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_dynamic_flt_1d_2">
		<xs:annotation>
			<xs:documentation>Summary dynamic FLT_1D + source information, time two levels above this node</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
						<coordinate1>../../../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_dynamic_flt_1d_1">
		<xs:annotation>
			<xs:documentation>Summary dynamic FLT_1D + source information, time one level above this node</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
						<coordinate1>../../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_constant_flt_0d">
		<xs:annotation>
			<xs:documentation>Summary constant FLT_0D + source information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>as_parent</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_constant_str_0d">
		<xs:annotation>
			<xs:documentation>Summary constant STR_0D + source information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_dynamic_int_1d_2">
		<xs:annotation>
			<xs:documentation>Summary dynamic INT_1D + source information, time two levels above this node</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_dynamic_int_1d_1">
		<xs:annotation>
			<xs:documentation>Summary dynamic INT_1D + source information, time one level above this node</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Source of the data (any comment describing the origin of the data : code, path to diagnostic signals, processing method, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_species_level_3">
		<xs:annotation>
			<xs:documentation>List of ion species used in summary, three levels below the top</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="hydrogen" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Hydrogen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deuterium" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Deuterium</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titrium" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Tritium</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="helium_3" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Helium isotope with 3 nucleons</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="helium_4" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Helium isotope with 4 nucleons</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="berylium" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Berylium</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lithium" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Lithium</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="carbon" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Carbon</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nitrogen" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Nitrogen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="neon" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Neon</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="argon" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Argon</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xenon" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Xenon</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="oxygen" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Oxygen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tungsten" type="summary_dynamic_flt_1d_3_parent_2">
				<xs:annotation>
					<xs:documentation>Tungsten</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_species_level_2">
		<xs:annotation>
			<xs:documentation>List of ion species used in summary, two levels below the top</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="hydrogen" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Hydrogen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deuterium" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Deuterium</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titrium" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Tritium</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="helium_3" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Helium isotope with 3 nucleons</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="helium_4" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Helium isotope with 4 nucleons</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="berylium" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Berylium</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lithium" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Lithium</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="carbon" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Carbon</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nitrogen" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Nitrogen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="neon" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Neon</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="argon" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Argon</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xenon" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Xenon</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="oxygen" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Oxygen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tungsten" type="summary_dynamic_flt_1d_2_parent_2">
				<xs:annotation>
					<xs:documentation>Tungsten</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_plasma_composition_species">
		<xs:annotation>
			<xs:documentation>Description of simple species (elements) without declaration of their ionisation state</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="a" type="summary_constant_flt_0d">
				<xs:annotation>
					<xs:documentation>Mass of atom</xs:documentation>
					<xs:appinfo>
						<units>Atomic Mass Unit</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="z_n" type="summary_constant_flt_0d">
				<xs:annotation>
					<xs:documentation>Nuclear charge</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="label" type="summary_constant_str_0d">
				<xs:annotation>
					<xs:documentation>String identifying the species (e.g. H, D, T, ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_local_position_r_z">
		<xs:annotation>
			<xs:documentation>Radial position at which physics quantities are evaluated, including an R,Z position</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="rho_tor_norm">
				<xs:annotation>
					<xs:documentation>Normalised toroidal flux coordinate. The normalizing value for rho_tor_norm, is the toroidal flux coordinate at the equilibrium boundary (LCFS or 99.x % of the LCFS in case of a fixed boundary equilibium calculation, see time_slice/boundary/b_flux_pol_norm in the equilibrium IDS) </xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../../../time</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="rho_tor">
				<xs:annotation>
					<xs:documentation>Toroidal flux coordinate. rho_tor = sqrt(b_flux_tor/(pi*b0)) ~ sqrt(pi*r^2*b0/(pi*b0)) ~ r [m]. The toroidal field used in its definition is indicated under global_quantities/b0</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../../../time</coordinate1>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="psi">
				<xs:annotation>
					<xs:documentation>Poloidal magnetic flux</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../time</coordinate1>
						<units>Wb</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="r">
				<xs:annotation>
					<xs:documentation>Major radius</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../time</coordinate1>
						<units>m</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z">
				<xs:annotation>
					<xs:documentation>Height</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../time</coordinate1>
						<units>m</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_local_position">
		<xs:annotation>
			<xs:documentation>Radial position at which physics quantities are evaluated</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="rho_tor_norm">
				<xs:annotation>
					<xs:documentation>Normalised toroidal flux coordinate. The normalizing value for rho_tor_norm, is the toroidal flux coordinate at the equilibrium boundary (LCFS or 99.x % of the LCFS in case of a fixed boundary equilibium calculation, see time_slice/boundary/b_flux_pol_norm in the equilibrium IDS) </xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../../../time</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="rho_tor">
				<xs:annotation>
					<xs:documentation>Toroidal flux coordinate. rho_tor = sqrt(b_flux_tor/(pi*b0)) ~ sqrt(pi*r^2*b0/(pi*b0)) ~ r [m]. The toroidal field used in its definition is indicated under global_quantities/b0</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../../../time</coordinate1>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="psi">
				<xs:annotation>
					<xs:documentation>Poloidal magnetic flux</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../time</coordinate1>
						<units>Wb</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_local_quantities_r_z">
		<xs:annotation>
			<xs:documentation>Set of local quantities, including an R,Z position</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="position" type="summary_local_position_r_z">
				<xs:annotation>
					<xs:documentation>Radial position at which physics quantities are evaluated</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_e" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Electron temperature</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_i_average" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Ion temperature (average over ion species)</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_e" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Electron density</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_i" type="summary_species_level_3">
				<xs:annotation>
					<xs:documentation>Ion density per species</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_i_total" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Total ion density (sum over species)</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="zeff" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Effective charge</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="momentum_tor" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Total plasma toroidal momentum, summed over ion species and electrons</xs:documentation>
					<xs:appinfo>
						<units>kg.m.s^-1</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="velocity_tor" type="summary_species_level_3">
				<xs:annotation>
					<xs:documentation>Ion toroidal rotation velocity, per species</xs:documentation>
					<xs:appinfo>
						<units>m.s^-1</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="q" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Safety factor</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="magnetic_shear" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Magnetic shear, defined as rho_tor/q . dq/drho_tor</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_local_quantities">
		<xs:annotation>
			<xs:documentation>Set of local quantities</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="position" type="summary_local_position">
				<xs:annotation>
					<xs:documentation>Radial position at which physics quantities are evaluated</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_e" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Electron temperature</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_i_average" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Ion temperature (average over ion species)</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_e" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Electron density</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_i" type="summary_species_level_3">
				<xs:annotation>
					<xs:documentation>Ion density per species</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_i_total" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Total ion density (sum over species)</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="zeff" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Effective charge</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="momentum_tor" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Total plasma toroidal momentum, summed over ion species and electrons</xs:documentation>
					<xs:appinfo>
						<units>kg.m.s^-1</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="velocity_tor" type="summary_species_level_3">
				<xs:annotation>
					<xs:documentation>Ion toroidal rotation velocity, per species</xs:documentation>
					<xs:appinfo>
						<units>m.s^-1</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="q" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Safety factor</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="magnetic_shear" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Magnetic shear, defined as rho_tor/q . dq/drho_tor</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_local">
		<xs:annotation>
			<xs:documentation>Set of locations</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="magnetic_axis" type="summary_local_quantities_r_z">
				<xs:annotation>
					<xs:documentation>Parameters at magnetic axis</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="edge" type="summary_local_quantities">
				<xs:annotation>
					<xs:documentation>Parameters at last closed flux surface</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pedestal" type="summary_local_quantities">
				<xs:annotation>
					<xs:documentation>Parameters at pedestal top</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="itb" type="summary_local_quantities">
				<xs:annotation>
					<xs:documentation>Parameters at internal transport barrier</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_average_quantities">
		<xs:annotation>
			<xs:documentation>Set of average quantities</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="t_e" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Electron temperature</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_i_average" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Ion temperature (average over ion species)</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_e" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Electron density</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_i" type="summary_species_level_2">
				<xs:annotation>
					<xs:documentation>Ion density per species</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_i_total" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Total ion density (sum over species)</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="zeff" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Effective charge</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_global_quantities">
		<xs:annotation>
			<xs:documentation>Various global quantities calculated from the fields solved in the transport equations and from the Derived Profiles</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ip" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Total plasma current</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="current_non_inductive" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Total non-inductive parallel current</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="current_bootstrap" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Bootstrap current</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="v_loop" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>LCFS loop voltage</xs:documentation>
					<xs:appinfo>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="li" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Internal inductance. The li_3 definition is used, i.e. li_3 = 2/R0/mu0^2/Ip^2 * int(Bp^2 dV).</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="beta_tor" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Toroidal beta, defined as the volume-averaged total perpendicular pressure divided by (B0^2/(2*mu0)), i.e. beta_toroidal = 2 mu0 int(p dV) / V / B0^2</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="beta_tor_norm" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Normalised toroidal beta, defined as 100 * beta_tor * a[m] * B0 [T] / ip [MA] </xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="beta_pol" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Poloidal beta. Defined as betap = 4 int(p dV) / [R_0 * mu_0 * Ip^2]</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy_diamagnetic" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Plasma energy content = 3/2 * integral over the plasma volume of the total perpendicular pressure </xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="volume" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Volume of the confined plasma</xs:documentation>
					<xs:appinfo>
						<units>m^3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="h_mode" type="summary_dynamic_int_1d_1">
				<xs:annotation>
					<xs:documentation>H-mode flag: 0 when the plasma is in L-mode and 1 when in H-mode </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="r0" type="summary_constant_flt_0d">
				<xs:annotation>
					<xs:documentation>Reference major radius where the vacuum toroidal magnetic field is given (usually a fixed position such as the middle of the vessel at the equatorial midplane)</xs:documentation>
					<xs:appinfo>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="b0" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Vacuum toroidal field at R0 [T]; Positive sign means anti-clockwise when viewed from above. The product R0B0 must be consistent with the b_tor_vacuum_r field of the tf IDS.</xs:documentation>
					<xs:appinfo>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="h_98" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Energy confinement time enhancement factor over the IPB98(y,2) scaling</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_neutron_reaction">
		<xs:annotation>
			<xs:documentation>Neutron fluxes per reaction</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="total" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Total neutron flux coming from this reaction</xs:documentation>
					<xs:appinfo>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="thermal" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Neutron flux coming from thermal plasma</xs:documentation>
					<xs:appinfo>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="beam_thermal" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Neutron flux coming from NBI beam - plasma reactions</xs:documentation>
					<xs:appinfo>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="beam_beam" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Neutron flux coming from NBI beam self reactions</xs:documentation>
					<xs:appinfo>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_neutron">
		<xs:annotation>
			<xs:documentation>Description of neutron fluxes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="total" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Total neutron flux from all reactions</xs:documentation>
					<xs:appinfo>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="thermal" type="summary_dynamic_flt_1d_1">
				<xs:annotation>
					<xs:documentation>Neutron flux from all plasma thermal reactions</xs:documentation>
					<xs:appinfo>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dd" type="summary_neutron_reaction">
				<xs:annotation>
					<xs:documentation>Neutron fluxes from DD reactions</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dt" type="summary_neutron_reaction">
				<xs:annotation>
					<xs:documentation>Neutron fluxes from DT reactions</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="tt" type="summary_neutron_reaction">
				<xs:annotation>
					<xs:documentation>Neutron fluxes from TT reactions</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_h_cd_nbi">
		<xs:annotation>
			<xs:documentation>NBI unit</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="species" type="summary_plasma_composition_species">
				<xs:annotation>
					<xs:documentation>Injected species</xs:documentation>
					<xs:appinfo>
						<units>Atomic Mass Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>NBI power coupled to the plasma by this unit</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="current" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Parallel current driven by this NBI unit</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Full energy of the injected species (acceleration of a single atom)</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="beam_current_fraction" type="summary_dynamic_flt_2d_fraction_2">
				<xs:annotation>
					<xs:documentation>Fractions of beam current distributed among the different energies, the first index corresponds to the fast neutrals energy (1:full, 2: half, 3: one third)</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="beam_power_fraction" type="summary_dynamic_flt_2d_fraction_2">
				<xs:annotation>
					<xs:documentation>Fractions of beam power distributed among the different energies, the first index corresponds to the fast neutrals energy (1:full, 2: half, 3: one third)</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_h_cd_ec">
		<xs:annotation>
			<xs:documentation>ECRH/CD related parameters</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="frequency" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>ECRH frequency</xs:documentation>
					<xs:appinfo>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="position" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Position of the maximum of the ECRH power deposition, in rho_tor_norm</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="polarisation" type="summary_dynamic_int_1d_2">
				<xs:annotation>
					<xs:documentation>Polarisation of the ECRH waves (0 = O mode, 1 = X mode)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="harmonic" type="summary_dynamic_int_1d_2">
				<xs:annotation>
					<xs:documentation>Harmonic number of the absorbed ECRH waves</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="angle_tor" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Toroidal angle of ECRH at resonance</xs:documentation>
					<xs:appinfo>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="angle_pol" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Poloidal angle of ECRH at resonance</xs:documentation>
					<xs:appinfo>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Electron cyclotron heating power coupled to the plasma</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="current" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Parallel current driven by EC waves</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy_fast" type="summary_dynamic_flt_1d_2">
				<xs:annotation>
					<xs:documentation>Fast particle energy content driven by EC waves</xs:documentation>
					<xs:appinfo>
						<units>J</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summary_h_cd">
		<xs:annotation>
			<xs:documentation>Heating and current drive related parameters</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ec" type="summary_h_cd_ec" maxOccurs="6">
				<xs:annotation>
					<xs:documentation>Set of ECRH/ECCD launchers</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="nbi" type="summary_h_cd_nbi" maxOccurs="32">
				<xs:annotation>
					<xs:documentation>Set of NBI units</xs:documentation>
					<xs:appinfo>
						<catalogue_name>suffix</catalogue_name>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="summary">
		<xs:annotation>
			<xs:documentation>Summary of physics quantities from a simulation or an experiment</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.6.0</lifecycle_version>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="global_quantities" type="summary_global_quantities">
					<xs:annotation>
						<xs:documentation>Various global quantities derived from the profiles</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="local" type="summary_local">
					<xs:annotation>
						<xs:documentation>Plasma parameter values at different locations</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="line_average" type="summary_average_quantities">
					<xs:annotation>
						<xs:documentation>Line average plasma parameters</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="volume_average" type="summary_average_quantities">
					<xs:annotation>
						<xs:documentation>Volume average plasma parameters</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="heating_current_drive" type="summary_h_cd">
					<xs:annotation>
						<xs:documentation>Heating and current drive parameters</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="neutron_fluxes" type="summary_neutron">
					<xs:annotation>
						<xs:documentation>Neutron fluxes from various reactions</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
