focs/dd_focs.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="UTF-8" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="UTF-8" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="stokes_initial">
		<xs:annotation>
			<xs:documentation>Initial Stokes vector components</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="s1">
				<xs:annotation>
					<xs:documentation>First component of the unit Stokes vector</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="s2">
				<xs:annotation>
					<xs:documentation>Second component of the unit Stokes vector</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="s3">
				<xs:annotation>
					<xs:documentation>Third component of the unit Stokes vector</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="focs">
		<xs:annotation>
			<xs:documentation>Fiber Optic Current Sensor (FOCS)</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.39.0</lifecycle_version>
				<lifecycle_last_change>3.39.0</lifecycle_last_change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="name">
					<xs:annotation>
						<xs:documentation>Name of the FOCS</xs:documentation>
						<xs:appinfo>
							<type>static</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="STR_0D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="id">
					<xs:annotation>
						<xs:documentation>ID of the FOCS</xs:documentation>
						<xs:appinfo>
							<type>static</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="STR_0D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="beat_length">
					<xs:annotation>
						<xs:documentation>Linear beat length</xs:documentation>
						<xs:appinfo>
							<type>static</type>
							<units>m</units>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_0D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="spun">
					<xs:annotation>
						<xs:documentation>Spun period</xs:documentation>
						<xs:appinfo>
							<type>static</type>
							<units>m</units>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_0D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="twist">
					<xs:annotation>
						<xs:documentation>Twist period</xs:documentation>
						<xs:appinfo>
							<type>static</type>
							<units>m</units>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_0D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="stokes_initial" type="stokes_initial">
					<xs:annotation>
						<xs:documentation>Initial Stokes vector at the entrance of the FOCS</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="latency">
					<xs:annotation>
						<xs:documentation>Upper bound of the delay between physical information received by the detector and data available on the real-time (RT) network.</xs:documentation>
						<xs:appinfo>
							<type>static</type>
							<units>s</units>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_0D"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
