spectrometer_visible/dd_spectrometer_visible.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="spectro_vis_channel_processed_line">
		<xs:annotation>
			<xs:documentation>Description of a processed line</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying the processed line (e.g. WI, OI, DI)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="wavelength_central">
				<xs:annotation>
					<xs:documentation>Central wavelength of the processed line</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="radiance" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Calibrated, background subtracted radiance (integrated over the spectrum for this line)</xs:documentation>
					<xs:appinfo>
						<units>m^-2.s^-1.sr^-1</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="intensity" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Non-calibrated intensity (integrated over the spectrum for this line)</xs:documentation>
					<xs:appinfo>
						<units>s^-1</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="spectro_vis_channel_light_collection">
		<xs:annotation>
			<xs:documentation>Emission weights for various points</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="values">
				<xs:annotation>
					<xs:documentation>Values of the light collection efficiencies</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>-</units>
						<coordinate1>../positions/r</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="positions" type="rzphi1d_static">
				<xs:annotation>
					<xs:documentation>List of positions for which the light collection efficiencies are provided</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="detector_image_circular">
		<xs:annotation>
			<xs:documentation>Description of circular or elliptic observation cones</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="radius">
				<xs:annotation>
					<xs:documentation>Radius of the circle</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ellipticity">
				<xs:annotation>
					<xs:documentation>Ellipticity</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="detector_image">
		<xs:annotation>
			<xs:documentation>Description of the observation volume of the detector or detector pixel at the focal plane of the optical system. This is basically the image of the detector pixel on the focal plane</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="geometry_type">
				<xs:annotation>
					<xs:documentation>Type of geometry used to describe the image (1:'outline', 2:'circular')</xs:documentation>
					<xs:appinfo>
						<Type>static</Type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="outline" type="rzphi1d_static">
				<xs:annotation>
					<xs:documentation>Coordinates of the points shaping the polygon of the image</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="circular" type="detector_image_circular">
				<xs:annotation>
					<xs:documentation>Description of circular or elliptic image</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="spectro_vis_channel_resolution">
		<xs:annotation>
			<xs:documentation>In case of active spectroscopy, spatial resolution of the measurement</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="centre" type="rzphi0d_dynamic_aos3">
				<xs:annotation>
					<xs:documentation>Position of the centre of the spatially resolved zone</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="width" type="rzphi0d_dynamic_aos3">
				<xs:annotation>
					<xs:documentation>Full width of the spatially resolved zone in the R, Z and phi directions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="spectro_vis_channel_filter">
		<xs:annotation>
			<xs:documentation>Filter spectrometer</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="processed_lines">
				<xs:annotation>
					<xs:documentation>Central wavelength of the processed lines</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>m</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="line_radiances" type="signal_flt_2d">
				<xs:annotation>
					<xs:documentation>Calibrated, background subtracted line integrals </xs:documentation>
					<xs:appinfo>
						<units>m^-2.s^-1.sr^-1</units>
						<coordinate1>../processed_lines (coordinate1 of the 'data' child)</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="raw_lines">
				<xs:annotation>
					<xs:documentation>Central wavelength of the raw lines</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>m</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="photon_count" type="signal_flt_2d">
				<xs:annotation>
					<xs:documentation>Detected photon count</xs:documentation>
					<xs:appinfo>
						<units>s^-1</units>
						<coordinate1>../raw_lines (coordinate1 of the 'data' child)</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="line_intensities" type="signal_flt_2d">
				<xs:annotation>
					<xs:documentation>Line gross integral intensities </xs:documentation>
					<xs:appinfo>
						<units>m^-2.s^-1.sr^-1</units>
						<coordinate1>../raw_lines (coordinate1 of the 'data' child)</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="calibrated_lines">
				<xs:annotation>
					<xs:documentation>Central wavelength of the calibrated lines</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>m</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="calibrated_line_integrals" type="signal_flt_2d">
				<xs:annotation>
					<xs:documentation>Calibrated line gross areas integrals </xs:documentation>
					<xs:appinfo>
						<units>m^-2.s^-1.sr^-1</units>
						<coordinate1>../calibrated_lines (coordinate1 of the 'data' child)</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="exposure_time">
				<xs:annotation>
					<xs:documentation>Exposure time</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="radiance_calibration">
				<xs:annotation>
					<xs:documentation>Radiance calibration</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m^-2.sr^-1</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="radiance_calibration_date">
				<xs:annotation>
					<xs:documentation>Date of the radiance calibration (yyyy_mm_dd)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="spectro_vis_channel_grating">
		<xs:annotation>
			<xs:documentation>Grating spectrometer</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="grating">
				<xs:annotation>
					<xs:documentation>Number of grating lines per unit length</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m^-1</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="slit_width">
				<xs:annotation>
					<xs:documentation>Width of the slit (placed in the object focal plane)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="wavelengths">
				<xs:annotation>
					<xs:documentation>Measured wavelengths</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>m</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="radiance_spectral" type="signal_flt_2d">
				<xs:annotation>
					<xs:documentation>Calibrated spectral radiance (radiance per unit wavelength)</xs:documentation>
					<xs:appinfo>
						<units>(photons).m^-2.s^-1.sr^-1.m^-1</units>
						<coordinate1>../wavelengths</coordinate1>
						<coordinate2>time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="intensity_spectrum" type="signal_flt_2d">
				<xs:annotation>
					<xs:documentation>Intensity spectrum (not calibrated), i.e. number of photoelectrons detected by unit time by a wavelength pixel of the channel, taking into account electronic gain compensation and channels relative calibration</xs:documentation>
					<xs:appinfo>
						<units>(counts) s^-1</units>
						<coordinate1>../wavelengths</coordinate1>
						<coordinate2>time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="exposure_time">
				<xs:annotation>
					<xs:documentation>Exposure time</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="processed_line" type="spectro_vis_channel_processed_line" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>Set of processed spectral lines</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="radiance_calibration">
				<xs:annotation>
					<xs:documentation>Radiance calibration</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m^-3.sr^-1</units>
						<coordinate1>../wavelengths</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="radiance_calibration_date">
				<xs:annotation>
					<xs:documentation>Date of the radiance calibration (yyyy_mm_dd)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="wavelength_calibration_date">
				<xs:annotation>
					<xs:documentation>Date of the wavelength calibration (yyyy_mm_dd)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="spectro_vis_channel">
		<xs:annotation>
			<xs:documentation>Charge exchange channel</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the channel</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="type" type="identifier_static">
				<xs:annotation>
					<xs:documentation>Type of spectrometer the channel is connected to (index=1: grating, 2: filter)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="detector" type="detector_aperture">
				<xs:annotation>
					<xs:documentation>Detector description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="aperture" type="detector_aperture" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Description of a set of collimating apertures</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="etendue">
				<xs:annotation>
					<xs:documentation>Etendue (geometric extent) of the channel's optical system</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m^2.str</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="etendue_method" type="identifier_static">
				<xs:annotation>
					<xs:documentation>Method used to calculate the etendue. Index = 0 : exact calculation with a 4D integral; 1 : approximation with first order formula (detector surface times solid angle subtended by the apertures); 2 : other methods</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="line_of_sight" type="line_of_sight_2points">
				<xs:annotation>
					<xs:documentation>Description of the line of sight of the channel, given by 2 points</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="detector_image" type="detector_image">
				<xs:annotation>
					<xs:documentation>Image of the detector or pixel on the focal plane of the optical system</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fibre_image" type="detector_image">
				<xs:annotation>
					<xs:documentation>Image of the optical fibre on the focal plane of the optical system</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="light_collection_efficiencies" type="spectro_vis_channel_light_collection">
				<xs:annotation>
					<xs:documentation>Light collection efficiencies (fraction of the local emission detected by the optical system) for a list of points defining regions of interest. To be used for non-pinhole optics.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="active_spatial_resolution" type="spectro_vis_channel_resolution" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>In case of active spectroscopy, describes the spatial resolution of the measurement, calculated as a convolution of the atomic smearing, magnetic and beam geometry smearing and detector projection, for a set of time slices</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="grating_spectrometer" type="spectro_vis_channel_grating">
				<xs:annotation>
					<xs:documentation>Quantities measured by the channel if connected to a grating spectrometer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="filter_spectrometer" type="spectro_vis_channel_filter">
				<xs:annotation>
					<xs:documentation>Quantities measured by the channel if connected to a filter spectrometer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validity_timed" type="signal_int_1d">
				<xs:annotation>
					<xs:documentation>Indicator of the validity of the channel as a function of time (0 means valid, negative values mean non-valid)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validity">
				<xs:annotation>
					<xs:documentation>Indicator of the validity of the channel for the whole acquisition period (0 means valid, negative values mean non-valid)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="spectrometer_visible">
		<xs:annotation>
			<xs:documentation>Spectrometer in visible light range diagnostic</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.3.1</lifecycle_version>
				<lifecycle_last_change>3.21.0</lifecycle_last_change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="detector_layout">
					<xs:annotation>
						<xs:documentation>Layout of the detector grid employed. Ex: '4x16', '4x32', '1x18'</xs:documentation>
						<xs:appinfo>
							<type>static</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="STR_0D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="channel" type="spectro_vis_channel" maxOccurs="240">
					<xs:annotation>
						<xs:documentation>Set of channels (detector or pixel of a camera)</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
