spectrometer_visible/dd_spectrometer_visible.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="spectrometer_visible_channel_filter">
		<xs:annotation>
			<xs:documentation>Filter spectrometer</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="processed_lines">
				<xs:annotation>
					<xs:documentation>Central wavelength of the processed lines</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>nm</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="line_radiances">
				<xs:annotation>
					<xs:documentation>Calibrated, background subtracted line integrals </xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<units>m^-2.s^-1.sr^-1</units>
						<type>dynamic</type>
						<coordinate1>../processed_lines</coordinate1>
												<coordinate2>time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_2D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="raw_lines">
				<xs:annotation>
					<xs:documentation>Central wavelength of the raw lines</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>nm</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="line_intensities">
				<xs:annotation>
					<xs:documentation>Line gross integral intensities </xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<units>m^-2.s^-1.sr^-1</units>
						<type>dynamic</type>
						<coordinate1>../raw_lines</coordinate1>
						<coordinate2>time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_2D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="calibrated_lines">
				<xs:annotation>
					<xs:documentation>Central wavelength of the calibrated lines</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>nm</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="calibrated_line_integrals">
				<xs:annotation>
					<xs:documentation>Calibrated line gross areas integrals </xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<units>m^-2.s^-1.sr^-1</units>
						<type>dynamic</type>
						<coordinate1>../calibrated_lines</coordinate1>
												<coordinate2>time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_2D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="exposure_time">
				<xs:annotation>
					<xs:documentation>Exposure time</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="radiance_calibration">
				<xs:annotation>
					<xs:documentation>Radiance calibration</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m^-2.sr^-1</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="radiance_calibration_date">
				<xs:annotation>
					<xs:documentation>Date of the radiance calibration (yyyy_mm_dd)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="spectrometer_visible_channel_grating">
		<xs:annotation>
			<xs:documentation>Grating spectrometer</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="processed_lines">
				<xs:annotation>
					<xs:documentation>Central wavelength of the processed lines</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>nm</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="line_radiances">
				<xs:annotation>
					<xs:documentation>Calibrated, background subtracted line integrals </xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<units>m^-2.s^-1.sr^-1</units>
						<type>dynamic</type>
						<coordinate1>../processed_lines</coordinate1>
						<coordinate2>time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_2D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="wavelengths">
				<xs:annotation>
					<xs:documentation>Measured wavelengths</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>nm</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="radiance_spectra">
				<xs:annotation>
					<xs:documentation>Calibrated spectra</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<units>m^-2.s^-1.sr^-1</units>
						<type>dynamic</type>
						<coordinate1>../wavelengths</coordinate1>
						<coordinate2>time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_2D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="intensity_spectra">
				<xs:annotation>
					<xs:documentation>Intensity spectra (not calibrated)</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<units>s^-1</units>
						<type>dynamic</type>
						<coordinate1>../wavelengths</coordinate1>
						<coordinate2>time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_2D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="exposure_time">
				<xs:annotation>
					<xs:documentation>Exposure time</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="radiance_calibration">
				<xs:annotation>
					<xs:documentation>Radiance calibration</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m^-2.sr^-1</units>
						<coordinate1>../wavelengths</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="radiance_calibration_date">
				<xs:annotation>
					<xs:documentation>Date of the radiance calibration (yyyy_mm_dd)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="wavelength_calibration_date">
				<xs:annotation>
					<xs:documentation>Date of the wavelength calibration (yyyy_mm_dd)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="spectrometer_visible_channel">
		<xs:annotation>
			<xs:documentation>Charge exchange channel</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the channel</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="type" type="identifier_static">
				<xs:annotation>
					<xs:documentation>Type of spectrometer the channel is connected to (index=1: grating, 2: filter)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="line_of_sight" type="line_of_sight_2points">
				<xs:annotation>
					<xs:documentation>Description of the line of sight of the channel, given by 2 points</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="spot_diameter">
				<xs:annotation>
					<xs:documentation>Spot diameter</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="grating" type="spectrometer_visible_channel_grating">
				<xs:annotation>
					<xs:documentation>Quantities measured by the channel if connected to a grating spectrometer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="filter" type="spectrometer_visible_channel_filter">
				<xs:annotation>
					<xs:documentation>Quantities measured by the channel if connected to a filter spectrometer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validity_timed">
				<xs:annotation>
					<xs:documentation>Indicator of the validity of the channel as a function of time (0 means valid, negative values mean non-valid)</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="INT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="validity">
				<xs:annotation>
					<xs:documentation>Indicator of the validity of the channel for the whole acquisition period (0 means valid, negative values mean non-valid)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="spectrometer_visible">
		<xs:annotation>
			<xs:documentation>Spectrometer in visible light range diagnostic</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.2.2</lifecycle_version>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="channel" type="spectrometer_visible_channel" maxOccurs="240">
					<xs:annotation>
						<xs:documentation>Set of channels (lines-of-sight)</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
