PF/DD_PF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="..\DD_Support_Auto.xsd"/>
	<xs:include schemaLocation="..\DD_Support.xsd"/>
	<xs:element name="PF">
		<xs:annotation>
			<xs:documentation>Description of the active poloidal field (PF) coils, axisymmetric passive conductors, currents flowing in those and mutual electromagnetics effects; includes the limits of these systems</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IDS_Properties"/>
				<xs:element name="Coils">
					<xs:annotation>
						<xs:documentation>Active PF coils</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Names">
								<xs:annotation>
									<xs:documentation>Names of coils</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>N</axis1>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="STR_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Identifiers">
								<xs:annotation>
									<xs:documentation>IDs of coils</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>../Names</axis1>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="STR_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Resistances">
								<xs:annotation>
									<xs:documentation>Coil resistances</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>../Names</axis1>
										<units>Ohm</units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Energy_Max_Limits">
								<xs:annotation>
									<xs:documentation>Maximum Energy to be dissipated in coils</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>../Names</axis1>
										<units>Joule</units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Coil" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Axisymmetric conductor description of each coil, each containing Elements individually described cross-Section elements</xs:documentation>
																		<xs:appinfo><axis1>../Names</axis1></xs:appinfo>
</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Element_Names">
											<xs:annotation>
												<xs:documentation>Names of the elements</xs:documentation>
												<xs:appinfo>
													<type>STATIC</type>
													<axis1>N</axis1>
												</xs:appinfo>
											</xs:annotation>
											<xs:complexType>
												<xs:group ref="STR_1D"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="Element_Identifiers">
											<xs:annotation>
												<xs:documentation>IDs of the elements</xs:documentation>
												<xs:appinfo>
													<type>STATIC</type>
													<axis1>../Names</axis1>
												</xs:appinfo>
											</xs:annotation>
											<xs:complexType>
												<xs:group ref="STR_1D"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="Element_Turns_With_Sign">
											<xs:annotation>
												<xs:documentation>Sign of turn and fraction of a turn for calculating magnetic field of the Elements</xs:documentation>
												<xs:appinfo>
													<type>STATIC</type>
													<axis1>../Names</axis1>
												</xs:appinfo>
											</xs:annotation>
											<xs:complexType>
												<xs:group ref="INT_1D">
													<xs:annotation>
														<xs:appinfo>
															<axis1>../Element_Names</axis1>
														</xs:appinfo>
													</xs:annotation>
												</xs:group>
											</xs:complexType>
										</xs:element>
										<xs:element name="Element_Areas">
											<xs:annotation>
												<xs:documentation>Surface areas of the elements</xs:documentation>
												<xs:appinfo>
													<type>STATIC</type>
													<axis1>../Element_Names</axis1>
													<units>m^2</units>
												</xs:appinfo>
											</xs:annotation>
											<xs:complexType>
												<xs:group ref="FLT_1D"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="Element_Geometry" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Shape of the PF Coil Elements</xs:documentation>
												<xs:appinfo><axis1>../Element_Names</axis1></xs:appinfo>
											</xs:annotation>
																					

											<xs:complexType>
												<xs:sequence>
													<xs:element name="Type">
														<xs:annotation>
															<xs:documentation>Type used to describe a coil shape (0 for 'rzcoordinates' or 1 for 'rzdrdz') </xs:documentation>
															<xs:appinfo>
																<type>STATIC</type>
																<axis1>../Element_Names</axis1>
															</xs:appinfo>
														</xs:annotation>
														<xs:complexType>
															<xs:group ref="INT_0D"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="RZ_Coordinates">
														<xs:annotation>
															<xs:documentation>Irregular outline</xs:documentation>
															<xs:appinfo>
																<type>STATIC</type>
																<axis2>../Element_Names</axis2>
																<axis1>2</axis1>
																<units>m</units>
															</xs:appinfo>
														</xs:annotation>
														<xs:complexType>
															<xs:group ref="FLT_2D"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="RZDRDZ">
														<xs:annotation>
															<xs:documentation>4-Vector defining Centre R,Z and full extents dR, dZ </xs:documentation>
															<xs:appinfo>
																<type>STATIC</type>
																<axis1>4</axis1>
																<units>m</units>
															</xs:appinfo>
														</xs:annotation>
														<xs:complexType>
															<xs:group ref="FLT_1D"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element ref="Timebase"/>
										<xs:element name="Current">
											<xs:annotation>
												<xs:documentation>Current in the coil</xs:documentation>
												<xs:appinfo>
													<type>SIGNAL</type>
													<axis1>../Timebase</axis1>
													<units>Sec</units>
												</xs:appinfo>
											</xs:annotation>
											<xs:complexType>
												<xs:group ref="FLT_1D"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Vertical_Forces">
					<xs:annotation>
						<xs:documentation>Vertical forces on the CS+PF system</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Names">
								<xs:annotation>
									<xs:documentation>Names of Force combinations</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>N</axis1>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="STR_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Combinations">
								<xs:annotation>
									<xs:documentation>Combinations of forces</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>../../Coils/Names</axis1>
										<axis2>../Names</axis2>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_2D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Max_Limits">
								<xs:annotation>
									<xs:documentation>Vertical Force combination limits</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>../Names</axis1>
										<units>N</units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Min_Limits">
								<xs:annotation>
									<xs:documentation>Vertical Force combination limits</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>../Names</axis1>
										<units>N</units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element ref="Timebase"/>
							<xs:element name="Forces">
								<xs:annotation>
									<xs:documentation>Force combinations</xs:documentation>
									<xs:appinfo>
										<type>SIGNAL</type>
										<axis2>../Timebase</axis2>
										<axis1>../Names</axis1>
										<units>N</units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_2D"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Circuits">
					<xs:annotation>
						<xs:documentation>Circuits, connecting multiple PF coils to multiple supplies, defining the current and voltage relationships in the system</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Names">
								<xs:annotation>
									<xs:documentation>Names of circuits</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>N</axis1>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="STR_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Identifiers">
								<xs:annotation>
									<xs:documentation>IDs of circuits</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>../Names</axis1>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="STR_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Types">
								<xs:annotation>
									<xs:documentation>Types of circuit</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>../Names</axis1>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="STR_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Connections">
								<xs:annotation>
									<xs:documentation>Description of the supplies and coils connections (nodes) across each circuit. Array-3D (N_Circuits,max_nnodes,2*ncomponents), describing for each node which components are connected to it (1 if connected, 0 otherwise). There are 2 sides to each component, thus 2*ncomponents as the size of the third dimension, listing first all supplies, then all coils (in the same order as listed in PFSUPPLIES and PFCOILS). An example can be found in the data structure documentation PFconnections.pdf</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1> TBD</axis1>
										<axis2> TBD</axis2>
										<axis3> TBD</axis3>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_3D"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Supplies">
					<xs:annotation>
						<xs:documentation>PF coil power supplies</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Names">
								<xs:annotation>
									<xs:documentation>Names of the supplies</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>N</axis1>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="STR_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Identifiers">
								<xs:annotation>
									<xs:documentation>IDs of the supplies</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>../Names</axis1>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="STR_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Types">
								<xs:annotation>
									<xs:documentation>Types of supply</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>../Names</axis1>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="INT_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Resistances">
								<xs:annotation>
									<xs:documentation>Supply internal resistances</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>../Names</axis1>
										<units>Ohm</units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Delays">
								<xs:annotation>
									<xs:documentation>Pure delays in the supplies</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>../Names</axis1>
										<units>Sec</units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Filters_Numerators">
								<xs:annotation>
									<xs:documentation>Coefficients of the numerator, in increasing order : a0 + a1*s + ... + an*s^n</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>../Names</axis1>
										<axis2>N</axis2>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_2D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Filters_Denominators">
								<xs:annotation>
									<xs:documentation>Coefficients of the denominator, in increasing order : b0 + b1*s + ... + bm*s^m</xs:documentation>
									<xs:appinfo>
										<axis1>../Names</axis1>
										<axis2>N</axis2>
										<type>STATIC</type>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_2D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Current_Max_Limits">
								<xs:annotation>
									<xs:documentation>Maximum currents</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>../Names</axis1>
										<units>Amp</units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Current_Min_Limits">
								<xs:annotation>
									<xs:documentation>Minimum currents</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>../Names</axis1>
										<units>Amp</units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Voltage_Max_Limits">
								<xs:annotation>
									<xs:documentation>Minimum voltages</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>../Names</axis1>
										<units>Volt</units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Voltage_Min_Limits">
								<xs:annotation>
									<xs:documentation>Maximum voltages</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>../Names</axis1>
										<units>Volt</units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Energy_Max_Limits">
								<xs:annotation>
									<xs:documentation>Maximum Energies to be dissipated in supplies</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>../Names</axis1>
										<units>Joule</units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Supply" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>One of the many power supplies; the supply index follows the supply name convention</xs:documentation>
									<xs:appinfo><axis1>../Names</axis1></xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Voltage">
											<xs:annotation>
												<xs:documentation>Voltages at the supply output</xs:documentation>
												<xs:appinfo>
													<type>SIGNAL</type>
													<axis1>Timebase</axis1>
													<units>Volt</units>
												</xs:appinfo>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="Timebase"/>
													<xs:group ref="FLT_1D"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Current">
											<xs:annotation>
												<xs:documentation>Current at the supply output, defined positive if it flows from point 1 to point 2 of the component in the pfcircuit description</xs:documentation>
												<xs:appinfo>
													<type>SIGNAL</type>
													<axis1>Timebase</axis1>
													<units>Amp</units>
												</xs:appinfo>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="Timebase"/>
													<xs:group ref="FLT_1D"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Passive_Loops">
					<xs:annotation>
						<xs:documentation>Passive axisymmetric conductor description in the form of non-connected loops. Note that any connected loops are expressed as active coil circuits with no power supply attached.</xs:documentation>
						<xs:appinfo/>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Names">
								<xs:annotation>
									<xs:documentation>Names of loops</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>N</axis1>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="STR_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Areas">
								<xs:annotation>
									<xs:documentation>Surface areas of the passive loops</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>../Names</axis1>
										<units>m^2</units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Resistances">
								<xs:annotation>
									<xs:documentation>Passive element resistances</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>../Names</axis1>
										<units>Ohm</units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Geometry" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Shape of each Passive Loop</xs:documentation>
									<xs:appinfo>										<axis1>../Names</axis1></xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Type">
											<xs:annotation>
												<xs:documentation>Type used to describe a coil shape (0 for 'rzcoordinates' or 1 for 'rzdrdz')</xs:documentation>
												<xs:appinfo>
													<type>STATIC</type>
												</xs:appinfo>
											</xs:annotation>
											<xs:complexType>
												<xs:group ref="INT_0D"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="RZ_Coordinates">
											<xs:annotation>
												<xs:documentation>Irregular outline</xs:documentation>
												<xs:appinfo>
													<type>STATIC</type>
													<axis1>../Names</axis1>
													<axis2>2</axis2>
													<units>m</units>
												</xs:appinfo>
											</xs:annotation>
											<xs:complexType>
												<xs:group ref="FLT_2D"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="RZDRDZ">
											<xs:annotation>
												<xs:documentation>4-Vector defining Centre R,Z and full extents dR, dZ</xs:documentation>
												<xs:appinfo>
													<type>STATIC</type>
													<axis1>4</axis1>
													<units>m</units>
												</xs:appinfo>
											</xs:annotation>
											<xs:complexType>
												<xs:group ref="FLT_1D"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element ref="Timebase"/>
							<xs:element name="Currents">
								<xs:annotation>
									<xs:documentation>Passive Loop currents</xs:documentation>
									<xs:appinfo>
										<type>SIGNAL</type>
										<axis2>../Timebase</axis2>
										<axis1>../Names</axis1>
										<units>Amp</units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_2D"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Vacuum_Model">
					<xs:annotation>
						<xs:documentation>Electromagnetic Vacuum Model of the PF System, active and passive</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Names">
								<xs:annotation>
									<xs:documentation>Names of circuits [Active;Passive]</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>N</axis1>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="STR_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Inductance_Matrix">
								<xs:annotation>
									<xs:documentation>Inductance matrix between circuits</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>../Names</axis1>
										<axis2>../Names</axis2>
										<units>Henry</units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_2D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Resistance_Vector">
								<xs:annotation>
									<xs:documentation>Resistances of PF coils</xs:documentation>
									<xs:appinfo>
										<type>STATIC</type>
										<axis1>../Names</axis1>
										<units>Ohm</units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_1D"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
