PF/DD_PF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="..\Utilities\DD_Support.xsd"/>
	<xs:complexType name="PF_Coils">
		<xs:annotation>
			<xs:documentation>Active PF coils</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name">
				<xs:annotation>
					<xs:documentation>Name of the coil</xs:documentation>
					<xs:appinfo>
						<Type>STATIC</Type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Identifier">
				<xs:annotation>
					<xs:documentation>Alphanumeric identifier of coils used for convenience</xs:documentation>
					<xs:appinfo>
						<Type>STATIC</Type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Resistance">
				<xs:annotation>
					<xs:documentation>Coil resistance</xs:documentation>
					<xs:appinfo>
						<Type>STATIC</Type>
						<Units>Ohm</Units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Energy_Max_Limit">
				<xs:annotation>
					<xs:documentation>Maximum Energy to be dissipated in the coil</xs:documentation>
					<xs:appinfo>
						<Type>STATIC</Type>
						<Units>J</Units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Elements" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Each PF coil is comprised of a number of cross-section elements described  individually</xs:documentation>
					<xs:appinfo>
						<axis1>1...N_Elements</axis1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name">
							<xs:annotation>
								<xs:documentation>Name of this element of this coil</xs:documentation>
								<xs:appinfo>
									<Type>STATIC</Type>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:group ref="STR_0D"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="Identifier">
							<xs:annotation>
								<xs:documentation>Identifier of this element of this coil</xs:documentation>
								<xs:appinfo>
									<Type>STATIC</Type>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:group ref="STR_0D"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="Turns_With_Sign">
							<xs:annotation>
								<xs:documentation>Number of effective turns in the element for calculating magnetic fields of the coil; includes the sign of the number of turns</xs:documentation>
								<xs:appinfo>
									<Type>STATIC</Type>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:group ref="INT_0D"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="Area">
							<xs:annotation>
								<xs:documentation>Cross-sectional areas of the element</xs:documentation>
								<xs:appinfo>
									<Type>STATIC</Type>
									<Units>m^2</Units>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:group ref="FLT_0D"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="Geometry" type="Outline_2D_Geometry_STATIC">
							<xs:annotation>
								<xs:documentation>Cross-sectional shape of the element</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Current">
				<xs:annotation>
					<xs:documentation>Current in the coil</xs:documentation>
					<xs:appinfo>
						<Type>SIGNAL</Type>
						<Axis1>Timebase</Axis1>
						<Units>A</Units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Timebase"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Voltage">
				<xs:annotation>
					<xs:documentation>Voltage on the coil terminals</xs:documentation>
					<xs:appinfo>
						<Type>SIGNAL</Type>
						<Axis1>Timebase</Axis1>
						<Units>V</Units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Timebase"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PF">
		<xs:annotation>
			<xs:documentation>Description of the axisymmetric active poloidal field (PF) coils, passive conductors, currents flowing in those and mutual electromagnetics effects; includes the limits of these systems; includes the forces on them; does not include non-axisymmetric coil systems</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IDS_Properties"/>
				<xs:element name="Coils" type="PF_Coils" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Active PF coils</xs:documentation>
						<xs:appinfo>
							<axis1>1...N_PF_Coils</axis1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="Vertical_Forces">
					<xs:annotation>
						<xs:documentation>Vertical forces on the axisymmetric PF coil system</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Names">
								<xs:annotation>
									<xs:documentation>Names of the Force combinations</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
										<axis1>1...N_Forces</axis1>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="STR_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Combinations">
								<xs:annotation>
									<xs:documentation>Coils involved in the Force combinations</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
										<axis1>../Names</axis1>
										<Axis2>../../Coils</Axis2>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_2D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Max_Limits">
								<xs:annotation>
									<xs:documentation>Vertical Force combinations limits</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
										<axis1>../Names</axis1>
										<Units>N</Units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Min_Limits">
								<xs:annotation>
									<xs:documentation>Vertical Force combination limit</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
										<axis1>../Names</axis1>
										<Units>N</Units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Forces">
								<xs:annotation>
									<xs:documentation>Force combinations. All forces are assumed to be on the same timebase</xs:documentation>
									<xs:appinfo>
										<Type>SIGNAL</Type>
										<axis1>../Names</axis1>
										<Axis2>../Timebase</Axis2>
										<Units>N</Units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_2D"/>
								</xs:complexType>
							</xs:element>
							<xs:element ref="Timebase"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Circuits" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Circuits, connecting multiple PF coils to multiple supplies, defining the current and voltage relationships in the system</xs:documentation>
						<xs:appinfo>
							<Axis1>1...N_Circuits</Axis1>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name">
								<xs:annotation>
									<xs:documentation>Name of the circuit</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="STR_0D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Identifier">
								<xs:annotation>
									<xs:documentation>ID of the circuit</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="STR_0D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Type">
								<xs:annotation>
									<xs:documentation>Type of the circuit</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="STR_0D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Connections">
								<xs:annotation>
									<xs:documentation>Description of the supplies and coils connections (nodes) across the circuit. The matrix describing for each node (first dimension) which components are connected to it (1 if connected, 0 otherwise). There are 2 sides to each component, thus 2*ncomponents as the size of the second dimension, listing first all supplies, then all coils (in the same order as listed in SUPPLIES and COILS). An example can be found in the data structure documentation PFconnections.pdf (TBD)</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
										<Axis1>1...N_Nodes</Axis1>
										<Axis2>1...2*N_components</Axis2>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_2D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Voltage">
								<xs:annotation>
									<xs:documentation>Voltage on the circuit</xs:documentation>
									<xs:appinfo>
										<Type>SIGNAL</Type>
										<Axis1>Timebase</Axis1>
										<Units>V</Units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="Timebase"/>
										<xs:group ref="FLT_1D"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Current">
								<xs:annotation>
									<xs:documentation>Current in the circuit</xs:documentation>
									<xs:appinfo>
										<Type>SIGNAL</Type>
										<Axis1>Timebase</Axis1>
										<Units>V</Units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="Timebase"/>
										<xs:group ref="FLT_1D"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Supplies" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>PF power supplies</xs:documentation>
						<xs:appinfo>
							<axis1>1...N_PF_Supplies</axis1>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name">
								<xs:annotation>
									<xs:documentation>Name of the PF supply</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="STR_0D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Identifier">
								<xs:annotation>
									<xs:documentation>Identifier of the supply</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="STR_0D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Type">
								<xs:annotation>
									<xs:documentation>Type of the supply; TBD add free description of non-linear power supplies</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="INT_0D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Resistance">
								<xs:annotation>
									<xs:documentation>Power supply internal resistance</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
										<Units>Ohm</Units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_0D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Delay">
								<xs:annotation>
									<xs:documentation>Pure delay in the supply</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
										<Axis1>../Names</Axis1>
										<Units>s</Units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_0D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Filter_Numerator">
								<xs:annotation>
									<xs:documentation>Coefficients of the numerator, in increasing order : a0 + a1*s + ... + an*s^n; used for a linear supply description</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
										<Axis1>1...N_Numerator_Coefficients</Axis1>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Filter_Denominator">
								<xs:annotation>
									<xs:documentation>Coefficients of the denominator, in increasing order : b0 + b1*s + ... + bm*s^m; used for a linear supply description</xs:documentation>
									<xs:appinfo>
										<Axis1>1...N_Denominator_Coefficients</Axis1>
										<Type>STATIC</Type>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Current_Max_Limit">
								<xs:annotation>
									<xs:documentation>Maximum current in the supply</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
										<Units>A</Units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_0D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Current_Min_Limit">
								<xs:annotation>
									<xs:documentation>Minimum current in the supply</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
										<Units>A</Units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_0D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Voltage_Max_Limit">
								<xs:annotation>
									<xs:documentation>Maximum voltage from the supply</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
										<Units>V</Units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_0D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Voltage_Min_Limit">
								<xs:annotation>
									<xs:documentation>Minimum voltage from the supply</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
										<Units>V</Units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_0D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Current_Limiter_Gain">
								<xs:annotation>
									<xs:documentation>Gain to prevent overcurrent in a linear model of the supply</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
										<Units>V</Units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_0D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Energy_Max_Limit">
								<xs:annotation>
									<xs:documentation>Maximum energy to be dissipated in the supply during a pulse</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
										<Units>J</Units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_0D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Nonlinear_Model">
								<xs:annotation>
									<xs:documentation>Description of the nonlinear transfer function of the supply</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="STR_0D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Voltage">
								<xs:annotation>
									<xs:documentation>Voltages at the supply output</xs:documentation>
									<xs:appinfo>
										<Type>SIGNAL</Type>
										<Axis1>Timebase</Axis1>
										<Units>V</Units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="Timebase"/>
										<xs:group ref="FLT_1D"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Current">
								<xs:annotation>
									<xs:documentation>Current at the supply output, defined positive if it flows from point 1 to point 2 of the component in the pfcircuit description</xs:documentation>
									<xs:appinfo>
										<Type>SIGNAL</Type>
										<Axis1>Timebase</Axis1>
										<Units>A</Units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="Timebase"/>
										<xs:group ref="FLT_1D"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Passive_Loops">
					<xs:annotation>
						<xs:documentation>Passive axisymmetric conductor description in the form of non-connected loops; any connected loops are expressed as active coil circuits with no power supply attached.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Names">
								<xs:annotation>
									<xs:documentation>Names of the loops</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
										<axis1>1...N_Passive_Loops</axis1>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="STR_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Areas">
								<xs:annotation>
									<xs:documentation>Surface areas of the passive loops</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
										<Units>m^2</Units>
										<axis1>../Names</axis1>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Resistances">
								<xs:annotation>
									<xs:documentation>Passive elements resistances</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
										<Units>Ohm</Units>
										<axis1>../Names</axis1>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Geometries" type="Outline_2D_Geometry_STATIC" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Shapes of the Passive Loops</xs:documentation>
									<xs:appinfo>
										<axis1>../Names</axis1>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="Currents">
								<xs:annotation>
									<xs:documentation>Passive Loops currents (all Passive Loops are assumed to share the same timebase)</xs:documentation>
									<xs:appinfo>
										<Type>SIGNAL</Type>
										<Axis1>../Timebase</Axis1>
										<axis2>../Names</axis2>
										<Units>A</Units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_2D"/>
								</xs:complexType>
							</xs:element>
							<xs:element ref="Timebase"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Vacuum_Model">
					<xs:annotation>
						<xs:documentation>Electromagnetic Vacuum Model of the PF System, including both active and passive coils</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Names">
								<xs:annotation>
									<xs:documentation>Names of circuits [Active;Passive]</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
										<Axis1>1...N_Active_Passive_Circuits</Axis1>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="STR_1D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Inductance_Matrix">
								<xs:annotation>
									<xs:documentation>Inductance matrix between circuits</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
										<Axis1>../Names</Axis1>
										<Axis2>../Names</Axis2>
										<Units>Henry</Units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_2D"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Resistance_Vector">
								<xs:annotation>
									<xs:documentation>Resistances of PF coils</xs:documentation>
									<xs:appinfo>
										<Type>STATIC</Type>
										<Axis1>../Names</Axis1>
										<Units>Ohm</Units>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:group ref="FLT_1D"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Code_Parameters"/>
				<xs:element ref="Timebase"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
