Magnetics/DD_Magnetics.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Utilities/DD_Support.xsd"/>
	<xs:complexType name="Magnetics_Flux_Loops">
		<xs:annotation>
			<xs:documentation>Flux loops</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name">
				<xs:annotation>
					<xs:documentation>Name of the flux loop</xs:documentation>
					<xs:appinfo>
						<type>STATIC</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Identifier">
				<xs:annotation>
					<xs:documentation>ID of the flux loop</xs:documentation>
					<xs:appinfo>
						<type>STATIC</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Position_RZPhi">
				<xs:annotation>
					<xs:documentation>List of (R,Z,phi) points defining the position of the loop (see data structure documentation FLUXLOOPposition.pdf)</xs:documentation>
					<xs:appinfo>
						<type>STATIC</type>
						<axis1>1...3</axis1>
						<axis2>1...N_Points</axis2>
						<units>m, m, rad</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Flux">
				<xs:annotation>
					<xs:documentation>Measured flux.</xs:documentation>
					<xs:appinfo>
						<axis1>Timebase</axis1>
						<units>Wb</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Timebase"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Magnetics_Bpol_Probes">
		<xs:annotation>
			<xs:documentation>Poloidal field probes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name">
				<xs:annotation>
					<xs:documentation>Name of the probe</xs:documentation>
					<xs:appinfo>
						<type>STATIC</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Identifier">
				<xs:annotation>
					<xs:documentation>ID of the probe</xs:documentation>
					<xs:appinfo>
						<type>STATIC</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Centre_Position_RZPhi">
				<xs:annotation>
					<xs:documentation>R, Z, Phi position of coil centre</xs:documentation>
					<xs:appinfo>
						<type>STATIC</type>
						<axis1>1...3</axis1>
						<units>m, m, rad</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Poloidal_Angle">
				<xs:annotation>
					<xs:documentation>Poloidal angle of coil orientation</xs:documentation>
					<xs:appinfo>
						<type>STATIC</type>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Toroidal_Angle">
				<xs:annotation>
					<xs:documentation>Toroidal angle of coil orientation (0 if fully in the poloidal plane) </xs:documentation>
					<xs:appinfo>
						<type>STATIC</type>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Area">
				<xs:annotation>
					<xs:documentation>Area of the coil</xs:documentation>
					<xs:appinfo>
						<type>STATIC</type>
						<units>m^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Length">
				<xs:annotation>
					<xs:documentation>Length of the coil</xs:documentation>
					<xs:appinfo>
						<type>STATIC</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Turns">
				<xs:annotation>
					<xs:documentation>Turns in the coil</xs:documentation>
					<xs:appinfo>
						<type>STATIC</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Field">
				<xs:annotation>
					<xs:documentation>Measured magnetic field</xs:documentation>
					<xs:appinfo>
						<axis1>Timebase</axis1>
						<type>SIGNAL</type>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Timebase"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Magnetics_Processed_Data">
		<xs:annotation>
			<xs:documentation>Processed quantities derived from the magnetic measurements.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Method">
				<xs:annotation>
					<xs:documentation>Name of the data processing method</xs:documentation>
					<xs:appinfo>
						<type>STATIC</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Ip">
				<xs:annotation>
					<xs:documentation>Plasma current. Positive sign means anti-clockwise when viewed from above</xs:documentation>
					<xs:appinfo>
						<type>SIGNAL</type>
						<axis1>Timebase</axis1>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>	
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Timebase"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Diamagnetic_Flux">
				<xs:annotation>
					<xs:documentation>Diamagnetic flux</xs:documentation>
					<xs:appinfo>
						<type>SIGNAL</type>
						<axis1>Timebase</axis1>
						<units>Wb</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Timebase"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Magnetics">
		<xs:annotation>
			<xs:documentation>Magnetic diagnostics for equilibrium identification and plasma shape control.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IDS_Properties"/>
				<xs:element name="Flux_Loops" type="Magnetics_Flux_Loops" maxOccurs="200">
					<xs:annotation>
						<xs:documentation>Flux loops</xs:documentation>
						<xs:appinfo>
							<axis1>1...N_Flux_Loops</axis1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="Bpol_Probes" type="Magnetics_Bpol_Probes" maxOccurs="200">
					<xs:annotation>
						<xs:documentation>Poloidal field probes</xs:documentation>
						<xs:appinfo>
							<axis1>1...N_Bpol_Probes</axis1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="Processed_Data" type="Magnetics_Processed_Data" maxOccurs="10">
					<xs:annotation>
						<xs:documentation>Processed quantities derived from the magnetic measurements.</xs:documentation>
						<xs:appinfo>
							<axis1>1...N_Processed_Data</axis1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Code_Parameters"/>
				<xs:element ref="Timebase"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
