magnetics/dd_magnetics.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="magnetics_rogowski">
		<xs:annotation>
			<xs:documentation>Rogowski coil</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the coil</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="identifier">
				<xs:annotation>
					<xs:documentation>ID of the coil</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="measured_quantity" type="identifier_static">
				<xs:annotation>
					<xs:documentation>Quantity measured by the sensor</xs:documentation>
					<xs:appinfo>
						<doc_identifier>magnetics/magnetics_rogowski_measured_identifier.xml</doc_identifier>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="position" type="rzphi0d_static" maxOccurs="100">
				<xs:annotation>
					<xs:documentation>List of (R,Z,phi) points defining the position of the coil guiding centre</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="indices_compound">
				<xs:annotation>
					<xs:documentation>Indices (from the rogowski_coil array of structure) of the partial Rogoswkis used to build the coumpound signal (sum of the partial Rogoswki signals) Use only if ../measure_quantity/index = 5, leave empty otherwise</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="area">
				<xs:annotation>
					<xs:documentation>Effective area of the loop wrapped around the guiding centre. In case of multiple layers, sum of the areas of each layer</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="turns_per_metre">
				<xs:annotation>
					<xs:documentation>Number of turns per unit length. In case of multiple layers, turns are counted for a single layer</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m^-1</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="current" type="signal_flt_1d_validity">
				<xs:annotation>
					<xs:documentation>Measured current inside the Rogowski coil contour. The normal direction to the Rogowski coil is defined by the order of points in the list of guiding centre positions. The current is positive when oriented in the same direction as the normal. </xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="magnetics_flux_loop">
		<xs:annotation>
			<xs:documentation>Flux loops</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the flux loop</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="identifier">
				<xs:annotation>
					<xs:documentation>ID of the flux loop</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="type" type="identifier_static">
				<xs:annotation>
					<xs:documentation>Flux loop type</xs:documentation>
					<xs:appinfo>
						<doc_identifier>magnetics/magnetics_flux_loop_type_identifier.xml</doc_identifier>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="position" type="rzphi0d_static" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>List of (R,Z,phi) points defining the position of the loop (see data structure documentation FLUXLOOPposition.pdf)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="indices_differential">
				<xs:annotation>
					<xs:documentation>Indices (from the flux_loop array of structure) of the two flux loops used to build the flux difference flux(second index) - flux(first index). Use only if ../type/index = 6, leave empty otherwise</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...2</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="area">
				<xs:annotation>
					<xs:documentation>Effective area (ratio between flux and average magnetic field over the loop)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gm9">
				<xs:annotation>
					<xs:documentation>Integral of 1/R over the loop area (ratio between flux and magnetic rigidity R0.B0). Use only if ../type/index = 3 to 6, leave empty otherwise.</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="flux" type="signal_flt_1d_validity">
				<xs:annotation>
					<xs:documentation>Measured magnetic flux over loop in which Z component of normal to loop is directed downwards (negative grad Z direction)</xs:documentation>
					<xs:appinfo>
						<units>Wb</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="voltage" type="signal_flt_1d_validity">
				<xs:annotation>
					<xs:documentation>Measured voltage between the loop terminals</xs:documentation>
					<xs:appinfo>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="magnetics_bpol_probe_non_linear">
		<xs:annotation>
			<xs:documentation>Non-linear response of the probe</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="b_field_linear">
				<xs:annotation>
					<xs:documentation>Array of magnetic field values (corresponding to the assumption of a linear relation between magnetic field and probe coil current), for each of which the probe non-linear response is given in ../b_field_non_linear</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_field_non_linear">
				<xs:annotation>
					<xs:documentation>Magnetic field value taking into account the non-linear response of the probe</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>../b_field_linear</coordinate1>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="magnetics_bpol_probe">
		<xs:annotation>
			<xs:documentation>Poloidal field probes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the probe</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="identifier">
				<xs:annotation>
					<xs:documentation>ID of the probe</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="type" type="identifier_static">
				<xs:annotation>
					<xs:documentation>Probe type</xs:documentation>
					<xs:appinfo>
						<doc_identifier>magnetics/magnetics_probe_type_identifier.xml</doc_identifier>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="position" type="rzphi0d_static">
				<xs:annotation>
					<xs:documentation>R, Z, Phi position of the coil centre</xs:documentation>
					<xs:appinfo/>
				</xs:annotation>
			</xs:element>
			<xs:element name="poloidal_angle">
				<xs:annotation>
					<xs:documentation>Angle of the sensor normal vector (n) with respect to horizontal plane (clockwise as in cocos=11 theta-like angle). Zero if sensor normal vector fully in the horizontal plane and oriented towards increasing major radius. Values in [0 , 2Pi]</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>rad</units>
						<url>magnetics/magnetics_angles.svg</url>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="toroidal_angle">
				<xs:annotation>
					<xs:documentation>Angle of the projection of the sensor normal vector (n) in the horizontal plane with the increasing R direction (i.e. grad(R)) (angle is counter-clockwise from above as in cocos=11 phi-like angle). Values should be taken modulo pi with values within (-pi/2,pi/2]. Zero if projected sensor normal is parallel to grad(R), pi/2 if it is parallel to grad(phi).</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>rad</units>
						<url>magnetics/magnetics_angles.svg</url>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="indices_differential">
				<xs:annotation>
					<xs:documentation>Indices (from the bpol_probe array of structure) of the two probes used to build the field difference field(second index) - field(first index). Use only if ../type/index = 6, leave empty otherwise</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...2</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="bandwidth_3db">
				<xs:annotation>
					<xs:documentation>3dB bandwith (first index : lower frequency bound, second index : upper frequency bound)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...2</coordinate1>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="area">
				<xs:annotation>
					<xs:documentation>Area of each turn of the sensor; becomes effective area when multiplied by the turns</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="length">
				<xs:annotation>
					<xs:documentation>Length of the sensor along it's normal vector (n)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="turns">
				<xs:annotation>
					<xs:documentation>Turns in the coil, including sign</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="field" type="signal_flt_1d_validity">
				<xs:annotation>
					<xs:documentation>Magnetic field component in direction of sensor normal axis (n) averaged over sensor volume defined by area and length, where n = cos(poloidal_angle)*cos(toroidal_angle)*grad(R) - sin(poloidal_angle)*grad(Z) + cos(poloidal_angle)*sin(toroidal_angle)*grad(Phi)/norm(grad(Phi))</xs:documentation>
					<xs:appinfo>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="voltage" type="signal_flt_1d_validity">
				<xs:annotation>
					<xs:documentation>Voltage on the coil terminals</xs:documentation>
					<xs:appinfo>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="non_linear_response" type="magnetics_bpol_probe_non_linear">
				<xs:annotation>
					<xs:documentation>Non-linear response of the probe (typically in case of a Hall probe)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="magnetics_method">
		<xs:annotation>
			<xs:documentation>Processed quantities derived from the magnetic measurements, using various methods</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the data processing method</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ip" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Plasma current. Positive sign means anti-clockwise when viewed from above.</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="diamagnetic_flux" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Diamagnetic flux</xs:documentation>
					<xs:appinfo>
						<units>Wb</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="magnetics">
		<xs:annotation>
			<xs:documentation>Magnetic diagnostics for equilibrium identification and plasma shape control.</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>active</lifecycle_status>
				<lifecycle_version>3.24.0</lifecycle_version>
				<lifecycle_last_change>3.26.1</lifecycle_last_change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="flux_loop" type="magnetics_flux_loop" maxOccurs="200">
					<xs:annotation>
						<xs:documentation>Flux loops; partial flux loops can be described</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="bpol_probe" type="magnetics_bpol_probe" maxOccurs="200">
					<xs:annotation>
						<xs:documentation>Poloidal field probes</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
							<lifecycle_status>obsolescent</lifecycle_status>
							<lifecycle_version>3.24.0</lifecycle_version>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="b_field_pol_probe" type="magnetics_bpol_probe" maxOccurs="200">
					<xs:annotation>
						<xs:documentation>Poloidal field probes</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="b_field_tor_probe" type="magnetics_bpol_probe" maxOccurs="20">
					<xs:annotation>
						<xs:documentation>Toroidal field probes</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="rogowski_coil" type="magnetics_rogowski" maxOccurs="20">
					<xs:annotation>
						<xs:documentation>Set of Rogowski coils</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="method" type="magnetics_method" maxOccurs="10">
					<xs:annotation>
						<xs:documentation>A method generating processed quantities derived from the magnetic measurements</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
