core_sources/dd_core_sources.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Utilities/DD_Support.xsd"/>
	<xs:complexType name="core_sources_actuator_source_profiles_ions_charge_states">
		<xs:annotation>
			<xs:documentation>Source terms related to the a given charge state of the ion species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="z_min">
				<xs:annotation>
					<xs:documentation>Minimum Z of the charge state bundle</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_max">
				<xs:annotation>
					<xs:documentation>Maximum Z of the charge state bundle</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying charge state (e.g. C+, C+2 , C+3, C+4, C+5, C+6, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="n_z_source">
				<xs:annotation>
					<xs:documentation>Source term for the charge state density transport equation</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>s^-1.m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="t_z_source">
				<xs:annotation>
					<xs:documentation>Source terms for the charge state energy transport equation</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>W.m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_sources_actuator_source_profiles_ions">
		<xs:annotation>
			<xs:documentation>Source terms related to a given ion species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="a">
				<xs:annotation>
					<xs:documentation>Mass of atom</xs:documentation>
					<xs:appinfo>
						<units>Atomic Mass Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_ion">
				<xs:annotation>
					<xs:documentation>Ion charge (of the dominant ionisation state; lumped ions are allowed)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>Elementary Charge Unit</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_n">
				<xs:annotation>
					<xs:documentation>Nuclear charge</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying ion (e.g. H+, D+, T+, He+2, C+, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="n_i_source">
				<xs:annotation>
					<xs:documentation>Source term for ion density equation</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>s^-1.m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="t_i_source">
				<xs:annotation>
					<xs:documentation>Source term for the ion energy transport equation.</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>W.m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="multiple_charge_state_flag">
				<xs:annotation>
					<xs:documentation>Multiple charge state calculation flag : 0-Only one charge state is considered; 1-Multiple charge state are considered and are described in the Charge_States structure</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="charge_states" type="core_sources_actuator_source_profiles_ions_charge_states" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>Source terms related to the different charge states of the ion species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_sources_actuator_source_profiles">
		<xs:annotation>
			<xs:documentation>Source terms for a given time slice</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="grid" type="core_radial_grid">
				<xs:annotation>
					<xs:documentation>Radial grid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_e_source">
				<xs:annotation>
					<xs:documentation>Source term for electron density equation</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>s^-1.m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="t_e_source">
				<xs:annotation>
					<xs:documentation>Source term for electron energy equation</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>W.m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="t_i_average_source">
				<xs:annotation>
					<xs:documentation>Source term for the total ion energy equation</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>W.m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="momentum_tor_source">
				<xs:annotation>
					<xs:documentation>Source term for total toroidal momentum equation</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>kg.m^-1.s^-2</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="conductivity_parallel">
				<xs:annotation>
					<xs:documentation>Parallel conductivity induced by this actuator</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>ohm^-1.m^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ions" type="core_sources_actuator_source_profiles_ions" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Source terms related to the different ions species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_sources_actuator">
		<xs:annotation>
			<xs:documentation>Source terms for a given actuator</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the source term</xs:documentation>
					<xs:appinfo>
						<units>-</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="profiles" type="core_sources_actuator_source_profiles" maxOccurs="100">
				<xs:annotation>
					<xs:documentation>Source profiles for various time slices</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="core_sources">
		<xs:annotation>
			<xs:documentation>Core plasma source terms (for the transport equations)</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3_0.0</lifecycle_version>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="vacuum_toroidal_field" type="b_tor_vacuum_1">
					<xs:annotation>
						<xs:documentation>Characteristics of the vacuum toroidal field (used in Rho_Tor definition and in the normalization of current densities)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="source" type="core_sources_actuator" maxOccurs="10">
					<xs:annotation>
						<xs:documentation>Set of source terms</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
