Core_Sources/DD_Core_Sources.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Utilities/DD_Support.xsd"/>
	<xs:complexType name="Core_Sources_Actuators_Ions_Charge_States">
		<xs:annotation>
			<xs:documentation>Source terms related to the a given charge state of the ion species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Z_Min">
				<xs:annotation>
					<xs:documentation>Minimum Z of the charge state bundle</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>CONSTANT</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Z_Max">
				<xs:annotation>
					<xs:documentation>Maximum Z of the charge state bundle</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>CONSTANT</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Label">
				<xs:annotation>
					<xs:documentation>String identifying charge state (e.g. C+, C+2 , C+3, C+4, C+5, C+6, ...)</xs:documentation>
					<xs:appinfo>
						<type>CONSTANT</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Nz_Source">
				<xs:annotation>
					<xs:documentation>Density of the charge state considered (thermal+non-thermal)</xs:documentation>
					<xs:appinfo>
						<axis1>../../../../Rho_Tor_Norm</axis1>
						<axis2>../../../../Timebase</axis2>
						<units>s^-1.m^-3</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Tz_Source">
				<xs:annotation>
					<xs:documentation>Temperature of the charge state considered</xs:documentation>
					<xs:appinfo>
						<axis1>../../../../Rho_Tor_Norm</axis1>
						<axis2>../../../../Timebase</axis2>
						<units>W.m^-3</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Sources_Actuators_Ions">
		<xs:annotation>
			<xs:documentation>Source terms related to a given ion species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="A">
				<xs:annotation>
					<xs:documentation>Mass of atom</xs:documentation>
					<xs:appinfo>
						<units>Atomic Mass Unit</units>
						<type>CONSTANT</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Zion">
				<xs:annotation>
					<xs:documentation>Ion charge (of the dominant ionisation state; lumped ions are allowed)</xs:documentation>
					<xs:appinfo>
						<type>CONSTANT</type>
						<units>Elementary Charge Unit</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Zn">
				<xs:annotation>
					<xs:documentation>Nuclear charge</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>CONSTANT</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Label">
				<xs:annotation>
					<xs:documentation>String identifying ion (e.g. H+, D+, T+, He+2, C+, ...)</xs:documentation>
					<xs:appinfo>
						<type>CONSTANT</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Ni_Source">
				<xs:annotation>
					<xs:documentation>Source term for ion density equation</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../../Timebase</axis2>
						<units>s^-1.m^-3</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Ti_Source">
				<xs:annotation>
					<xs:documentation>Source term for the ion energy transport equation.</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../../Timebase</axis2>
						<units>W.m^-3</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Multiple_Charge_State_Flag">
				<xs:annotation>
					<xs:documentation>Multiple charge state calculation flag : 0-Only one charge state is considered; 1-Multiple charge state are considered and are described in the Charge_States structure</xs:documentation>
					<xs:appinfo>
						<type>CONSTANT</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Charge_States" type="Core_Sources_Actuators_Ions_Charge_States" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>Source terms related to the different charge states of the ion species</xs:documentation>
					<xs:appinfo>
						<axis1>1...N_Charge_States</axis1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Sources_Actuators">
		<xs:annotation>
			<xs:documentation>Source terms for a given model</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name">
				<xs:annotation>
					<xs:documentation>Name of the actuator</xs:documentation>
					<xs:appinfo>
						<units>-</units>
						<type>CONSTANT</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Conductivity_Parallel">
				<xs:annotation>
					<xs:documentation>Parallel conductivity induced by this actuator</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>ohm^-1.m^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Ne_Source">
				<xs:annotation>
					<xs:documentation>Source term for electron density equation</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>s^-1.m^-3</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Te_Source">
				<xs:annotation>
					<xs:documentation>Source term for electron energy equation</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>W.m^-3</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Ti_Average_Source">
				<xs:annotation>
					<xs:documentation>Source term for the total ion energy equation</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>W.m^-3</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Momentum_Tor_Source">
				<xs:annotation>
					<xs:documentation>Source term for total toroidal momentum equation</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>kg.m^-1.s^-2</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Ions" type="Core_Sources_Actuators_Ions" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Source terms related to the different ions species</xs:documentation>
					<xs:appinfo>
						<axis1>1...N_Ions</axis1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Core_Sources">
		<xs:annotation>
			<xs:documentation>Core plasma source terms (for the transport equations)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IDS_Properties"/>
				<xs:element name="Rho_Tor_Norm">
					<xs:annotation>
						<xs:documentation>Normalised toroidal flux coordinate. The normalizing value for Rho_Tor_Norm, is the toroidal flux coordinate at the equilibrium boundary (LCFS or 99.x % of the LCFS in case of a fixed boundary equilibium calculation) </xs:documentation>
						<xs:appinfo>
							<type>SIGNAL</type>
							<axis1>1...N_Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Vacuum_Toroidal_Field" type="B_Tor_Vacuum_1">
					<xs:annotation>
						<xs:documentation>Characteristics of the vacuum toroidal field (used in Rho_Tor definition and in the normalization of current densities)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Actuators" type="Core_Sources_Actuators" maxOccurs="10">
					<xs:annotation>
						<xs:documentation>Source is described by a combination of various actuators. All actuators provide their values on the same Rho_Tor_Norm and Timebase grids.</xs:documentation>
						<xs:appinfo>
							<axis1>1...N_Actuators</axis1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Code_Parameters"/>
				<xs:element ref="Timebase"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
