gyrokinetics/dd_gyrokinetics.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="gyrokinetics_species">
		<xs:annotation>
			<xs:documentation>List of species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="charge_norm">
				<xs:annotation>
					<xs:documentation>Normalised charge</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="mass_norm">
				<xs:annotation>
					<xs:documentation>Normalised mass</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="density_norm">
				<xs:annotation>
					<xs:documentation>Normalised density</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="density_log_gradient_norm">
				<xs:annotation>
					<xs:documentation>Normalised logarithmic gradient (with respect to r_minor_norm) of the density</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="temperature_norm">
				<xs:annotation>
					<xs:documentation>Normalised temperature</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="temperature_log_gradient_norm">
				<xs:annotation>
					<xs:documentation>Normalised logarithmic gradient (with respect to r_minor_norm) of the temperature</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="velocity_tor_gradient_norm">
				<xs:annotation>
					<xs:documentation>Normalised gradient (with respect to r_minor_norm) of the toroidal velocity</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="gyrokinetics_flux_surface">
		<xs:annotation>
			<xs:documentation>Flux surface characteristics</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="r_minor_norm">
				<xs:annotation>
					<xs:documentation>Normalised minor radius of the flux surface of interest = 1/2 * (max(R) - min(R))/L_ref</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="elongation">
				<xs:annotation>
					<xs:documentation>Elongation</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="triangularity_upper">
				<xs:annotation>
					<xs:documentation>Upper triangularity</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="triangularity_lower">
				<xs:annotation>
					<xs:documentation>Lower triangularity</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="q">
				<xs:annotation>
					<xs:documentation>Safety factor</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="magnetic_shear_r_minor">
				<xs:annotation>
					<xs:documentation>Magnetic shear, defined as r_minor_norm/q . dq/dr_minor_norm (different definition from the equilibrium IDS)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pressure_gradient_norm">
				<xs:annotation>
					<xs:documentation>Normalised pressure gradient (derivative with respect to r_minor_norm)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ip_sign">
				<xs:annotation>
					<xs:documentation>Sign of the plasma current</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_field_tor_sign">
				<xs:annotation>
					<xs:documentation>Sign of the toroidal magnetic field</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="shape_coefficients_c">
				<xs:annotation>
					<xs:documentation>'c' coefficients in the formula defining the shape of the flux surface</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dc_dr_minor_norm">
				<xs:annotation>
					<xs:documentation>Derivative of the 'c' shape coefficients with respect to r_minor_norm</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
						<coordinate1>../shape_coefficients_c</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="shape_coefficients_s">
				<xs:annotation>
					<xs:documentation>'s' coefficients in the formula defining the shape of the flux surface</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ds_dr_minor_norm">
				<xs:annotation>
					<xs:documentation>Derivative of the 's' shape coefficients with respect to r_minor_norm</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
						<coordinate1>../shape_coefficients_s</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="gyrokinetics_input_species_global">
		<xs:annotation>
			<xs:documentation>Species global parameters</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="beta_reference">
				<xs:annotation>
					<xs:documentation>Reference plasma beta (see detailed documentation at the root of the IDS)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="velocity_tor_norm">
				<xs:annotation>
					<xs:documentation>Normalised toroidal velocity of species (all species are assumed to have a purely toroidal velocity with a common toroidal angular frequency)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="zeff">
				<xs:annotation>
					<xs:documentation>Effective charge</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="debye_length_reference">
				<xs:annotation>
					<xs:documentation>Debye length computed from the reference quantities (see detailed documentation at the root of the IDS)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="shearing_rate_norm">
				<xs:annotation>
					<xs:documentation>Normalised ExB shearing rate (for non-linear runs only)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="gyrokinetics_model">
		<xs:annotation>
			<xs:documentation>Description of the GK model assumptions</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="include_centrifugal_effects">
				<xs:annotation>
					<xs:documentation>Flag = 1 if centrifugal effects are retained, 0 otherwise</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="include_a_field_parallel">
				<xs:annotation>
					<xs:documentation>Flag = 1 if fluctuations of the parallel vector potential are retained, 0 otherwise</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="include_b_field_parallel">
				<xs:annotation>
					<xs:documentation>Flag = 1 if fluctuations of the parallel magnetic field are retained, 0 otherwise</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="inconsistent_curvature_drift">
				<xs:annotation>
					<xs:documentation>Flag = 1 if the beta_prime contribution to the curvature drift is neglected, 0 otherwise. Only allowed in combination with the neglect of parallel magnetic field fluctuations</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="collisions_pitch_only">
				<xs:annotation>
					<xs:documentation>Flag = 1 if only pitch-angle scattering is retained, 0 otherwise</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="collisions_momentum_conservation">
				<xs:annotation>
					<xs:documentation>Flag = 1 if the collision operator conserves momentum, 0 otherwise</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="collisions_energy_conservation">
				<xs:annotation>
					<xs:documentation>Flag = 1 if the collision operator conserves energy, 0 otherwise</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="collisions_finite_larmor_radius">
				<xs:annotation>
					<xs:documentation>Flag = 1 if finite larmor radius effects are retained in the collision operator, 0 otherwise</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="initial_value_run">
				<xs:annotation>
					<xs:documentation>Flag = 1 if this is an initial value run, 0 for an eigenvalue run</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="non_linear_run">
				<xs:annotation>
					<xs:documentation>Flag = 1 if this is a non-linear run, 0 for a linear run</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time_interval_norm">
				<xs:annotation>
					<xs:documentation>Normalised time interval used to average fluxes and moments from non-linear runs</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
						<coordinate1>1...2</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="gyrokinetics_moments">
		<xs:annotation>
			<xs:documentation>Turbulent moments for a given eigenmode and a given species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="density_real">
				<xs:annotation>
					<xs:documentation>Normalised density (real part)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
						<coordinate1>../../../poloidal_angle</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="density_imaginary">
				<xs:annotation>
					<xs:documentation>Normalised density (imaginary part)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
						<coordinate1>../../../poloidal_angle</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="density_gyroaveraged_real">
				<xs:annotation>
					<xs:documentation>Normalised density (gyroaveraged, real part) </xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
						<coordinate1>../../../poloidal_angle</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="density_gyroaveraged_imaginary">
				<xs:annotation>
					<xs:documentation>Normalised density (gyroaveraged, imaginary part) </xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
						<coordinate1>../../../poloidal_angle</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="velocity_parallel_real">
				<xs:annotation>
					<xs:documentation>Normalised parallel velocity (real part)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
						<coordinate1>../../../poloidal_angle</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="velocity_parallel_imaginary">
				<xs:annotation>
					<xs:documentation>Normalised parallel velocity (imaginary part)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
						<coordinate1>../../../poloidal_angle</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="velocity_parallel_gyroaveraged_real">
				<xs:annotation>
					<xs:documentation>Normalised parallel velocity (gyroaveraged, real part) </xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
						<coordinate1>../../../poloidal_angle</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="velocity_parallel_gyroaveraged_imaginary">
				<xs:annotation>
					<xs:documentation>Normalised parallel velocity (gyroaveraged, imaginary part) </xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
						<coordinate1>../../../poloidal_angle</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="temperature_parallel_real">
				<xs:annotation>
					<xs:documentation>Normalised parallel temperature (real part)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
						<coordinate1>../../../poloidal_angle</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="temperature_parallel_imaginary">
				<xs:annotation>
					<xs:documentation>Normalised parallel temperature (imaginary part)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
						<coordinate1>../../../poloidal_angle</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="temperature_parallel_gyroaveraged_real">
				<xs:annotation>
					<xs:documentation>Normalised parallel temperature (gyroaveraged, real part) </xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
						<coordinate1>../../../poloidal_angle</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="temperature_parallel_gyroaveraged_imaginary">
				<xs:annotation>
					<xs:documentation>Normalised parallel temperature (gyroaveraged, imaginary part) </xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
						<coordinate1>../../../poloidal_angle</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="temperature_perpendicular_real">
				<xs:annotation>
					<xs:documentation>Normalised perpendicular temperature (real part)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
						<coordinate1>../../../poloidal_angle</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="temperature_perpendicular_imaginary">
				<xs:annotation>
					<xs:documentation>Normalised perpendicular temperature (imaginary part)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
						<coordinate1>../../../poloidal_angle</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="temperature_perpendicular_norm_gyroaveraged_real">
				<xs:annotation>
					<xs:documentation>Normalised perpendicular temperature (gyroaveraged, real part) </xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
						<coordinate1>../../../poloidal_angle</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="temperature_perpendicular_gyroaveraged_imaginary">
				<xs:annotation>
					<xs:documentation>Normalised perpendicular temperature (gyroaveraged, imaginary part) </xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
						<coordinate1>../../../poloidal_angle</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="gyrokinetics_fluxes">
		<xs:annotation>
			<xs:documentation>Turbulent fluxes for a given eigenmode and a given species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="particles_phi_potential">
				<xs:annotation>
					<xs:documentation>Contribution of the perturbed electrostatic potential to the normalised particle flux</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="particles_a_field_parallel">
				<xs:annotation>
					<xs:documentation>Contribution of the perturbed parallel electromagnetic potential to the normalised particle flux</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="particles_b_field_parallel">
				<xs:annotation>
					<xs:documentation>Contribution of the perturbed parallel magnetic field to the normalised particle flux</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="energy_phi_potential">
				<xs:annotation>
					<xs:documentation>Contribution of the perturbed electrostatic potential to the normalised energy flux</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="energy_a_field_parallel">
				<xs:annotation>
					<xs:documentation>Contribution of the perturbed parallel electromagnetic potential to the normalised energy flux</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="energy_b_field_parallel">
				<xs:annotation>
					<xs:documentation>Contribution of the perturbed parallel magnetic field to the normalised energy flux</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="momentum_tor_parallel_phi_potential">
				<xs:annotation>
					<xs:documentation>Contribution of the perturbed electrostatic potential to the parallel component of the normalised toroidal momentum flux</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="momentum_tor_parallel_a_field_parallel">
				<xs:annotation>
					<xs:documentation>Contribution of the perturbed parallel electromagnetic potential to the parallel component of the normalised toroidal momentum flux</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="momentum_tor_parallel_b_field_parallel">
				<xs:annotation>
					<xs:documentation>Contribution of the perturbed parallel magnetic field to the parallel component of the normalised toroidal momentum flux</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="momentum_tor_perpendicular_phi_potential">
				<xs:annotation>
					<xs:documentation>Contribution of the perturbed electrostatic potential to the perpendicular component of the normalised toroidal momentum flux</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="momentum_tor_perpendicular_a_field_parallel">
				<xs:annotation>
					<xs:documentation>Contribution of the perturbed parallel electromagnetic potential to the perpendicular component of the normalised toroidal momentum flux</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="momentum_tor_perpendicular_b_field_parallel">
				<xs:annotation>
					<xs:documentation>Contribution of the perturbed parallel magnetic field to the perpendicular component of the normalised toroidal momentum flux</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="gyrokinetics_fluxes_moments">
		<xs:annotation>
			<xs:documentation>Turbulent fluxes and moments for a given eigenmode and a given species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="moments_norm_rotating_frame" type="gyrokinetics_moments">
				<xs:annotation>
					<xs:documentation>Moments (normalised) of the perturbed distribution function defined in the rotating frame</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fluxes_norm" type="gyrokinetics_fluxes">
				<xs:annotation>
					<xs:documentation>Normalised fluxes in the laboratory frame</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="gyrokinetics_eigenmode">
		<xs:annotation>
			<xs:documentation>Output of the GK calculation for a given eigenmode</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="growth_rate_norm">
				<xs:annotation>
					<xs:documentation>Growth rate</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="frequency_norm">
				<xs:annotation>
					<xs:documentation>Frequency</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="growth_rate_tolerance">
				<xs:annotation>
					<xs:documentation>Relative tolerance on the growth rate (convergence of the simulation)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="phi_potential_perturbed_weight">
				<xs:annotation>
					<xs:documentation>Amplitude of the perturbed electrostatic potential normalised to the sum of amplitudes of all perturbed fields</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="phi_potential_perturbed_parity">
				<xs:annotation>
					<xs:documentation>Parity of the perturbed electrostatic potential with respect to theta = 0 (poloidal angle)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="a_field_parallel_perturbed_weight">
				<xs:annotation>
					<xs:documentation>Amplitude of the perturbed parallel vector potential normalised to the sum of amplitudes of all perturbed fields</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="a_field_parallel_perturbed_parity">
				<xs:annotation>
					<xs:documentation>Parity of the perturbed parallel vector potential with respect to theta = 0 (poloidal angle)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_field_parallel_perturbed_weight">
				<xs:annotation>
					<xs:documentation>Amplitude of the perturbed parallel magnetic field normalised to the sum of amplitudes of all perturbed fields</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_field_parallel_perturbed_parity">
				<xs:annotation>
					<xs:documentation>Parity of the perturbed parallel magnetic field with respect to theta = 0 (poloidal angle)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="poloidal_angle">
				<xs:annotation>
					<xs:documentation>Poloidal angle grid (see detailed documentation at the root of the IDS)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<coordinate1>1...N</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="phi_potential_perturbed_norm_real">
				<xs:annotation>
					<xs:documentation>Normalised perturbed electrostatic potential (real part)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<coordinate1>../poloidal_angle</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="phi_potential_perturbed_norm_imaginary">
				<xs:annotation>
					<xs:documentation>Normalised perturbed electrostatic potential (imaginary part)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<coordinate1>../poloidal_angle</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="a_field_parallel_perturbed_norm_real">
				<xs:annotation>
					<xs:documentation>Normalised perturbed parallel vector potential (real part)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<coordinate1>../poloidal_angle</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="a_field_parallel_perturbed_norm_imaginary">
				<xs:annotation>
					<xs:documentation>Normalised perturbed parallel vector potential (imaginary part)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<coordinate1>../poloidal_angle</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_field_parallel_perturbed_norm_real">
				<xs:annotation>
					<xs:documentation>Normalised perturbed parallel magnetic field (real part)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<coordinate1>../poloidal_angle</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_field_parallel_perturbed_norm_imaginary">
				<xs:annotation>
					<xs:documentation>Normalised perturbed parallel magnetic field (imaginary part)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<coordinate1>../poloidal_angle</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="fluxes_moments" type="gyrokinetics_fluxes_moments" maxOccurs="10">
				<xs:annotation>
					<xs:appinfo>
						<coordinate1>../../../species</coordinate1>
					</xs:appinfo>
					<xs:documentation>Fluxes and moments of the perturbed distribution function, for this eigenmode and for each species</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="gyrokinetics_wavevector">
		<xs:annotation>
			<xs:documentation>Components of the linear mode wavevector</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="radial_component_norm">
				<xs:annotation>
					<xs:documentation>Normalised radial component of the wavevector</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="binormal_component_norm">
				<xs:annotation>
					<xs:documentation>Normalised binormal component of the wavevector</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="poloidal_turns">
				<xs:annotation>
					<xs:documentation>Number of poloidal turns considered in the flux-tube simulation</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="eigenmode" type="gyrokinetics_eigenmode" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Set of eigenmode for this wavector</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="gyrokinetics">
		<xs:annotation>
			<xs:documentation>Description of a gyrokinetic simulation (delta-f, flux-tube). All quantities within this IDS are normalised (apart from time), thus independent of rhostar, consistently with the local approximation and
a spectral representation is assumed in the perpendicular plane (i.e. homogeneous turbulence). All quantities are given in the laboratory frame, except the moments of the perturbed distribution function which are given in the rotating frame.</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.22.0</lifecycle_version>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="tag" type="entry_tag" maxOccurs="10">
					<xs:annotation>
						<xs:documentation>Set of tags to which this entry belongs</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="flux_surface" type="gyrokinetics_flux_surface">
					<xs:annotation>
						<xs:documentation>Flux surface characteristics</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="model" type="gyrokinetics_model">
					<xs:annotation>
						<xs:documentation>Assumptions of the GK calculations</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="species_all" type="gyrokinetics_input_species_global">
					<xs:annotation>
						<xs:documentation>Physical quantities common to all species</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="species" type="gyrokinetics_species" maxOccurs="10">
					<xs:annotation>
						<xs:documentation>Set of species (including electrons) used in the calculation and related quantities</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="wavevector" type="gyrokinetics_wavevector" maxOccurs="10">
					<xs:annotation>
						<xs:documentation>Set of wavevectors</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="collisionality_norm">
					<xs:annotation>
						<xs:documentation>Normalised collisionality between two species</xs:documentation>
						<xs:appinfo>
							<type>constant</type>
							<coordinate1>../species</coordinate1>
							<coordinate2>../species</coordinate2>
							<units>-</units>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="fluxes_integrated_norm" type="gyrokinetics_fluxes" maxOccurs="10">
					<xs:annotation>
						<xs:documentation>Normalised fluxes integrated over the kx and ky grids used in a non-linear run (therefore they have no dependence on the wavevector) in the laboratory frame, for a given species</xs:documentation>
						<xs:appinfo>
							<coordinate1>../species</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
