DD_Support_Auto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Jonathan Bryan Lister (EPFL-SB-CRPP) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="DD_Support.xsd"/>
	<xs:group name="INT_1D">
		<xs:annotation>
			<xs:documentation>1-dimension integer Data Item</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Class_of" type="xs:string" fixed="INT_1D">
				<xs:annotation>
					<xs:documentation>Class of Data Item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Data" type="int_1d_type">
				<xs:annotation>
					<xs:documentation>The data content of this node</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="Data_Properties">
				<xs:annotation>
					<xs:documentation>General properties of a Data Item</xs:documentation>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
	</xs:group>
	<xs:group name="INT_2D">
		<xs:annotation>
			<xs:documentation>2-dimension integer Data Item</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Class_of" type="xs:string" fixed="INT_2D">
				<xs:annotation>
					<xs:documentation>Class of Data Item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Data" type="int_2d_type">
				<xs:annotation>
					<xs:documentation>The data content of this node</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="Data_Properties">
				<xs:annotation>
					<xs:documentation>General properties of a Data Item</xs:documentation>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
	</xs:group>
	<xs:group name="INT_3D">
		<xs:annotation>
			<xs:documentation>3-dimension integer Data Item</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Class_of" type="xs:string" fixed="INT_3D">
				<xs:annotation>
					<xs:documentation>Class of Data Item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Data" type="int_3d_type">
				<xs:annotation>
					<xs:documentation>The data content of this node</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="Data_Properties">
				<xs:annotation>
					<xs:documentation>General properties of a Data Item</xs:documentation>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
	</xs:group>
	<xs:group name="FLT_1D">
		<xs:annotation>
			<xs:documentation>1-dimension float Data Item</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Class_of" type="xs:string" fixed="FLT_1D">
				<xs:annotation>
					<xs:documentation>Class of Data Item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Data" type="flt_1d_type">
				<xs:annotation>
					<xs:documentation>The data content of this node</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="Data_Properties">
				<xs:annotation>
					<xs:documentation>General properties of a Data Item</xs:documentation>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
	</xs:group>
	<xs:group name="FLT_2D">
		<xs:annotation>
			<xs:documentation>2-dimension float Data Item</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Class_of" type="xs:string" fixed="FLT_2D">
				<xs:annotation>
					<xs:documentation>Class of Data Item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Data" type="flt_2d_type">
				<xs:annotation>
					<xs:documentation>The data content of this node</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="Data_Properties">
				<xs:annotation>
					<xs:documentation>General properties of a Data Item</xs:documentation>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
	</xs:group>
	<xs:group name="FLT_3D">
		<xs:annotation>
			<xs:documentation>3-dimension float Data Item</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Class_of" type="xs:string" fixed="FLT_3D">
				<xs:annotation>
					<xs:documentation>Class of Data Item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Data" type="flt_3d_type">
				<xs:annotation>
					<xs:documentation>The data content of this node</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="Data_Properties">
				<xs:annotation>
					<xs:documentation>General properties of a Data Item</xs:documentation>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
	</xs:group>
	<xs:group name="FLT_4D">
		<xs:annotation>
			<xs:documentation>4-dimension float Data Item</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Class_of" type="xs:string" fixed="FLT_4D">
				<xs:annotation>
					<xs:documentation>Class of Data Item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Data" type="flt_4d_type">
				<xs:annotation>
					<xs:documentation>The data content of this node</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="Data_Properties">
				<xs:annotation>
					<xs:documentation>General properties of a Data Item</xs:documentation>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
	</xs:group>
	<xs:group name="FLT_5D">
		<xs:annotation>
			<xs:documentation>5-dimension float Data Item</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Class_of" type="xs:string" fixed="FLT_5D">
				<xs:annotation>
					<xs:documentation>Class of Data Item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Data" type="flt_5d_type">
				<xs:annotation>
					<xs:documentation>The data content of this node</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="Data_Properties">
				<xs:annotation>
					<xs:documentation>General properties of a Data Item</xs:documentation>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
	</xs:group>
	<xs:group name="FLT_6D">
		<xs:annotation>
			<xs:documentation>6-dimension float Data Item</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Class_of" type="xs:string" fixed="FLT_6D">
				<xs:annotation>
					<xs:documentation>Class of Data Item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Data" type="flt_6d_type">
				<xs:annotation>
					<xs:documentation>The data content of this node</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="Data_Properties">
				<xs:annotation>
					<xs:documentation>General properties of a Data Item</xs:documentation>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
	</xs:group>
	<xs:group name="FLT_7D">
		<xs:annotation>
			<xs:documentation>7-dimension float Data Item</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Class_of" type="xs:string" fixed="FLT_7D">
				<xs:annotation>
					<xs:documentation>Class of Data Item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Data" type="flt_7d_type">
				<xs:annotation>
					<xs:documentation>The data content of this node</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="Data_Properties">
				<xs:annotation>
					<xs:documentation>General properties of a Data Item</xs:documentation>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
	</xs:group>
	<xs:group name="STR_1D">
		<xs:annotation>
			<xs:documentation>1-dimension string Data Item</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Class_of" type="xs:string" fixed="STR_1D">
				<xs:annotation>
					<xs:documentation>Class of Data Item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Data" type="str_1d_type">
				<xs:annotation>
					<xs:documentation>The data content of this node</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="Data_Properties">
				<xs:annotation>
					<xs:documentation>General properties of a Data Item</xs:documentation>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
	</xs:group>
	<xs:group name="STR_2D">
		<xs:annotation>
			<xs:documentation>2-dimension string Data Item</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Class_of" type="xs:string" fixed="STR_2D">
				<xs:annotation>
					<xs:documentation>Class of Data Item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Data" type="str_2d_type">
				<xs:annotation>
					<xs:documentation>The data content of this node</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="Data_Properties">
				<xs:annotation>
					<xs:documentation>General properties of a Data Item</xs:documentation>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
	</xs:group>
	<xs:group name="CPX_1D">
		<xs:annotation>
			<xs:documentation>1-dimension complex Data Item</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Class_of" type="xs:string" fixed="CPX_1D">
				<xs:annotation>
					<xs:documentation>Class of Data Item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Data" type="cpx_1d_type">
				<xs:annotation>
					<xs:documentation>The data content of this node</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="Data_Properties">
				<xs:annotation>
					<xs:documentation>General properties of a Data Item</xs:documentation>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
	</xs:group>
	<xs:group name="CPX_2D">
		<xs:annotation>
			<xs:documentation>2-dimension complex Data Item</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Class_of" type="xs:string" fixed="CPX_2D">
				<xs:annotation>
					<xs:documentation>Class of Data Item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Data" type="cpx_2d_type">
				<xs:annotation>
					<xs:documentation>The data content of this node</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="Data_Properties">
				<xs:annotation>
					<xs:documentation>General properties of a Data Item</xs:documentation>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
	</xs:group>
</xs:schema>
