neutron_diagnostic/dd_neutron_diagnostic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!-- edited with KWrite by Andrei Kovalev (ITER ORGANIZATION) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="neutron_diagnostic_characteristics_reaction_mode">
		<xs:sequence>
			<xs:element name="index">
				<xs:annotation>
					<xs:documentation>Index of Measuring Mode</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of Measuring Mode</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="count_limit_max">
				<xs:annotation>
					<xs:documentation>Maximum count limit of recent Measuring Mode and plasma reaction</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>cps</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="count_limit_min">
				<xs:annotation>
					<xs:documentation>Minimum count limit of recent Measuring Mode and plasma reaction</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>cps</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_characteristics_reaction">
		<xs:sequence>
			<xs:element name="index">
				<xs:annotation>
					<xs:documentation>Index of plasma reaction type</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="error">
				<xs:annotation>
					<xs:documentation>Diagnostic's relative uncertainty for recent plasma reaction</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="probability_overlap">
				<xs:annotation>
					<xs:documentation>Pulse probability overlap for recent plasma reaction</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="mode" type="neutron_diagnostic_characteristics_reaction_mode" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Characteristics of counting linear limits in recent Measuring modes for recent Plasma reaction type</xs:documentation>
					<xs:appinfo>
						<coordinate1>index</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_characteristics">
		<xs:sequence>
			<xs:element name="dead_time">
				<xs:annotation>
					<xs:documentation>Dead time of detectors</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pulse_length">
				<xs:annotation>
					<xs:documentation>Lower counting limit of recent Measuring Mode and plasma reaction</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="reaction" type="neutron_diagnostic_characteristics_reaction" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Plasma reaction (1 -'DT'; 2 - 'DD')</xs:documentation>
					<xs:appinfo>
						<coordinate1>index</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_detectors_radiation">
		<xs:sequence>
			<xs:element name="index">
				<xs:annotation>
					<xs:documentation>Index of radiation type</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="converter_name">
				<xs:annotation>
					<xs:documentation>Name of detector's converter for resent particle</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="converter_volume">
				<xs:annotation>
					<xs:documentation>Volume of detector's converter for resent particle</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m^3</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="converter_nuclear_density">
				<xs:annotation>
					<xs:documentation>Nuclear density of detector's converter for resent particle</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="converter_temperature">
				<xs:annotation>
					<xs:documentation>Temperature of detector's converter</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../../time</coordinate1>
						<units>K</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_detectors_mode">
		<xs:sequence>
			<xs:element name="index">
				<xs:annotation>
					<xs:documentation>Index of Measuring Mode.  TO BE REMOVED: the mode index is provided by the index of the mode array above.</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of Measuring Mode</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="counting">
				<xs:annotation>
					<xs:documentation>Counting in Measuring Mode in Dynamic</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../../time</coordinate1>
						<units>cps</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_detectors">
		<xs:sequence>
			<xs:element name="index">
				<xs:annotation>
					<xs:documentation>Number of Detector. TO BE REMOVED: the detector index is provided by the index of the detector array above.</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of Detector</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="radiation" type="neutron_diagnostic_detectors_radiation" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Radiation type on detector's converter (1 - 'neutrons'; 2 - 'gamma-rays')</xs:documentation>
					<xs:appinfo>
						<coordinate1>index</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="position" type="rzphi0d_static">
				<xs:annotation>
					<xs:documentation>Detector Position Data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mode" type="neutron_diagnostic_detectors_mode" maxOccurs="50">
				<xs:annotation>
					<xs:documentation>Measuring Mode Properties and Data</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>index</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_synthetic_signals">
		<xs:sequence>
			<xs:element name="total_neutron_flux">
				<xs:annotation>
					<xs:documentation>Total Neutron Flux in Dynamic</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../time</coordinate1>
						<units>s^-1</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="fusion_power">
				<xs:annotation>
					<xs:documentation>Fusion Power</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../time</coordinate1>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_unit_source_radiation_reaction">
		<xs:sequence>
			<xs:element name="index">
				<xs:annotation>
					<xs:documentation>Index of plasma reaction type. To be removed, since it is given by the index of the reaction array above.</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="energy">
				<xs:annotation>
					<xs:documentation>Energy boundaries for Detector Radiator Flux</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="flux">
				<xs:annotation>
					<xs:documentation>Radiation flux from Unit Ring Source in recent detector's converter (1 - Number of Detector, 2 - Energy of particles)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../../../unit_source(:)/energy(:)</coordinate2>
						<units>m^-2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="d2flux_drdz">
				<xs:annotation>
					<xs:documentation>Second deriviation of Radiation flux from Unit Ring Source in recent detector's converter for "spline" reconstruction(1 - Number of Detector, 2 - Energy of particles)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../../../unit_source(:)/energy(:)</coordinate2>
						<units>m^-4</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="reaction_rate">
				<xs:annotation>
					<xs:documentation>Reaction Rate on converter's material from Unit Ring Source in recent detector's converter (1 - Number of Detector, 2 - Energy of particles)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../../../unit_source(:)/energy(:)</coordinate2>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="sensitivity">
				<xs:annotation>
					<xs:documentation>Sensitivity of converter's material in recent detector's converter (1 - Number of Detector, 2 - Energy of particles)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../../../unit_source(:)/energy(:)</coordinate2>
						<units>cps.m^2.s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_unit_source_radiation">
		<xs:sequence>
			<xs:element name="index">
				<xs:annotation>
					<xs:documentation>Index of radiation type. TO BE REMOVED, since it is given by the index of the radiation array above.</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="reaction" type="neutron_diagnostic_unit_source_radiation_reaction" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Plasma reaction (1 - 'DT'; 2 - 'DD')</xs:documentation>
					<xs:appinfo>
						<coordinate1>index</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_unit_source">
		<xs:annotation>
			<xs:documentation>Unit ring sources distribution</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="position" type="rz0d_static">
				<xs:annotation>
					<xs:documentation>Position of ring unit sources inside ITER vacuum vessel</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="radiation" type="neutron_diagnostic_unit_source_radiation" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Radiation type on detector's converter (1 - 'neutrons'; 2 - 'gamma-rays')</xs:documentation>
					<xs:appinfo>
						<coordinate1>index</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="neutron_diagnostic">
		<xs:annotation>
			<xs:documentation>Neutron diagnostic such as DNFM, NFM or MFC</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.6.0</lifecycle_version>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="characteristics" type="neutron_diagnostic_characteristics">
					<xs:annotation>
						<xs:documentation>Description of Diagnostic's module detection characteristics for differen plasma modes based on Design Description</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="detectors" type="neutron_diagnostic_detectors" maxOccurs="50">
					<xs:annotation>
						<xs:documentation>Description of Detectors properties and Data in Neutron Diagnostic Module</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="synthetic_signals" type="neutron_diagnostic_synthetic_signals">
					<xs:annotation>
						<xs:documentation>Output Data from Neutron Diagnostic's Module</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="unit_source" type="neutron_diagnostic_unit_source" maxOccurs="50">
					<xs:annotation>
						<xs:documentation>Unit ring sources description</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
