neutron_diagnostic/dd_neutron_diagnostic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!-- edited with KWrite by Andrei Kovalev (ITER ORGANIZATION) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="neutron_diagnostic_temperature_sensor">
		<xs:annotation>
			<xs:documentation>Temperature sensor</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="power_switch">
				<xs:annotation>
					<xs:documentation>Power switch (1=on, 0=off)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="temperature">
				<xs:annotation>
					<xs:documentation>Temperature measured by the sensor</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>time</coordinate1>
						<units>K</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_b_field_sensor">
		<xs:annotation>
			<xs:documentation>Magnetic field sensor</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="power_switch">
				<xs:annotation>
					<xs:documentation>Power switch (1=on, 0=off)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_field">
				<xs:annotation>
					<xs:documentation>Magnetic field measured by the sensor</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>time</coordinate1>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_test_generator">
		<xs:annotation>
			<xs:documentation>Test generator</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="power_switch">
				<xs:annotation>
					<xs:documentation>Power switch (1=on, 0=off)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="shape" type="identifier">
				<xs:annotation>
					<xs:documentation>Signal shape. Index : 1 – rectangular, 2 – gaussian</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rise_time">
				<xs:annotation>
					<xs:documentation>Peak rise time</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="fall_time">
				<xs:annotation>
					<xs:documentation>Peak fall time</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="frequency">
				<xs:annotation>
					<xs:documentation>Generated signal frequency</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>time</coordinate1>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="amplitude">
				<xs:annotation>
					<xs:documentation>Generated signal amplitude</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>time</coordinate1>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_supply">
		<xs:annotation>
			<xs:documentation>Power supply</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="power_switch">
				<xs:annotation>
					<xs:documentation>Power switch (1=on, 0=off)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="voltage_set">
				<xs:annotation>
					<xs:documentation>Voltage set</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>time</coordinate1>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="voltage_out">
				<xs:annotation>
					<xs:documentation>Voltage at the supply output</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>time</coordinate1>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_adc">
		<xs:annotation>
			<xs:documentation>ADC</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="power_switch">
				<xs:annotation>
					<xs:documentation>Power switch (1=on, 0=off)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="discriminator_level_lower">
				<xs:annotation>
					<xs:documentation>Lower level discriminator of ADC</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="discriminator_level_upper">
				<xs:annotation>
					<xs:documentation>Upper level discriminator of ADC</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="sampling_rate">
				<xs:annotation>
					<xs:documentation>Number of samples recorded per second</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="bias">
				<xs:annotation>
					<xs:documentation>ADC signal bias</xs:documentation>
					<xs:appinfo>
						<units>V</units>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="input_range">
				<xs:annotation>
					<xs:documentation>ADC input range</xs:documentation>
					<xs:appinfo>
						<units>V</units>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="impedance">
				<xs:annotation>
					<xs:documentation>ADC impedance</xs:documentation>
					<xs:appinfo>
						<units>ohm</units>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_characteristics_reaction_mode">
		<xs:sequence>
			<xs:element name="index">
				<xs:annotation>
					<xs:documentation>Index of Measuring Mode</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of Measuring Mode</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="count_limit_max">
				<xs:annotation>
					<xs:documentation>Maximum count limit of recent Measuring Mode and plasma reaction</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>cps</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="count_limit_min">
				<xs:annotation>
					<xs:documentation>Minimum count limit of recent Measuring Mode and plasma reaction</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>cps</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_characteristics_reaction">
		<xs:sequence>
			<xs:element name="index">
				<xs:annotation>
					<xs:documentation>Index of plasma reaction type</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="error">
				<xs:annotation>
					<xs:documentation>Diagnostic's relative uncertainty for recent plasma reaction</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="probability_overlap">
				<xs:annotation>
					<xs:documentation>Pulse probability overlap for recent plasma reaction</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="mode" type="neutron_diagnostic_characteristics_reaction_mode" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Characteristics of counting linear limits in recent Measuring modes for recent Plasma reaction type</xs:documentation>
					<xs:appinfo>
						<coordinate1>index</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_characteristics">
		<xs:sequence>
			<xs:element name="dead_time">
				<xs:annotation>
					<xs:documentation>Dead time of detectors</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pulse_length">
				<xs:annotation>
					<xs:documentation>Lower counting limit of recent Measuring Mode and plasma reaction</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="reaction" type="neutron_diagnostic_characteristics_reaction" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Plasma reaction (1 -'DT'; 2 - 'DD')</xs:documentation>
					<xs:appinfo>
						<coordinate1>index</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_detectors_radiation">
		<xs:sequence>
			<xs:element name="index">
				<xs:annotation>
					<xs:documentation>Index of radiation type</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="converter_name">
				<xs:annotation>
					<xs:documentation>Name of detector's converter for resent particle</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="converter_volume">
				<xs:annotation>
					<xs:documentation>Volume of detector's converter for resent particle</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m^3</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="converter_nuclear_density">
				<xs:annotation>
					<xs:documentation>Nuclear density of detector's converter for resent particle</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="converter_temperature">
				<xs:annotation>
					<xs:documentation>Temperature of detector's converter</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../../time</coordinate1>
						<units>K</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_detectors_mode">
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of Measuring Mode</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="counting">
				<xs:annotation>
					<xs:documentation>Counting in Measuring Mode in Dynamic</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../../time</coordinate1>
						<units>cps</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_detectors">
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of Detector</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="radiation" type="neutron_diagnostic_detectors_radiation" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Radiation type on detector's converter (1 - 'neutrons'; 2 - 'gamma-rays')</xs:documentation>
					<xs:appinfo>
						<coordinate1>index</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="position" type="rzphi0d_static">
				<xs:annotation>
					<xs:documentation>Detector Position Data SHOULD BE REMOVED, REDUNDANT WITH THE NEW DETECTOR DESCRIPTION</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="detector" type="detector_aperture">
				<xs:annotation>
					<xs:documentation>Detector description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="aperture" type="detector_aperture" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Description of a set of collimating apertures</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="mode" type="neutron_diagnostic_detectors_mode" maxOccurs="50">
				<xs:annotation>
					<xs:documentation>Measuring Mode Properties and Data</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>index</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy_band" type="detector_energy_band" maxOccurs="8">
				<xs:annotation>
					<xs:documentation>Set of energy bands in which neutrons are counted by the detector</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="start_time">
				<xs:annotation>
					<xs:documentation>Time stamp of the moment diagnostic starts recording data</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="end_time">
				<xs:annotation>
					<xs:documentation>Time stamp of the moment diagnostic ends recording data</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="spectrum_sampling_time">
				<xs:annotation>
					<xs:documentation>Sampling time used to obtain one spectrum time slice</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="amplitude_raw">
				<xs:annotation>
					<xs:documentation>Raw amplitude of the measured signal</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<units>V</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="amplitude_peak">
				<xs:annotation>
					<xs:documentation>Processed peak amplitude of the measured signal</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<units>V</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="spectrum_total">
				<xs:annotation>
					<xs:documentation>Detected count per energy channel, integrated over the whole acquisition duration</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<coordinate1>../energy_band</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="spectrum">
				<xs:annotation>
					<xs:documentation>Detected count per energy channel as a function of time</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../energy_band</coordinate1>
						<coordinate2>time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="INT_2D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="adc" type="neutron_diagnostic_adc">
				<xs:annotation>
					<xs:documentation>Description of analogic-digital converter</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="supply_high_voltage" type="neutron_diagnostic_supply">
				<xs:annotation>
					<xs:documentation>Description of high voltage power supply</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="supply_low_voltage" type="neutron_diagnostic_supply">
				<xs:annotation>
					<xs:documentation>Description of low voltage power supply</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="test_generator" type="neutron_diagnostic_test_generator">
				<xs:annotation>
					<xs:documentation>Test generator characteristics</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="b_field_sensor" type="neutron_diagnostic_test_generator">
				<xs:annotation>
					<xs:documentation>Magnetic field sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="temperature_sensor" type="neutron_diagnostic_test_generator">
				<xs:annotation>
					<xs:documentation>Temperature sensor</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_synthetic_signals">
		<xs:sequence>
			<xs:element name="total_neutron_flux">
				<xs:annotation>
					<xs:documentation>Total Neutron Flux in Dynamic</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../time</coordinate1>
						<units>s^-1</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="fusion_power">
				<xs:annotation>
					<xs:documentation>Fusion Power</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../time</coordinate1>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_unit_source_radiation_reaction">
		<xs:sequence>
			<xs:element name="index">
				<xs:annotation>
					<xs:documentation>Index of plasma reaction type. To be removed, since it is given by the index of the reaction array above.</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="energy">
				<xs:annotation>
					<xs:documentation>Energy boundaries for Detector Radiator Flux</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="flux">
				<xs:annotation>
					<xs:documentation>Radiation flux from Unit Ring Source in recent detector's converter (1 - Number of Detector, 2 - Energy of particles)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../../../unit_source(:)/energy(:)</coordinate2>
						<units>m^-2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="d2flux_drdz">
				<xs:annotation>
					<xs:documentation>Second deriviation of Radiation flux from Unit Ring Source in recent detector's converter for "spline" reconstruction(1 - Number of Detector, 2 - Energy of particles)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../../../unit_source(:)/energy(:)</coordinate2>
						<units>m^-4</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="reaction_rate">
				<xs:annotation>
					<xs:documentation>Reaction Rate on converter's material from Unit Ring Source in recent detector's converter (1 - Number of Detector, 2 - Energy of particles)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../../../unit_source(:)/energy(:)</coordinate2>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="sensitivity">
				<xs:annotation>
					<xs:documentation>Sensitivity of converter's material in recent detector's converter (1 - Number of Detector, 2 - Energy of particles)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../../../unit_source(:)/energy(:)</coordinate2>
						<units>cps.m^2.s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_unit_source_radiation">
		<xs:sequence>
			<xs:element name="index">
				<xs:annotation>
					<xs:documentation>Index of radiation type. TO BE REMOVED, since it is given by the index of the radiation array above.</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="reaction" type="neutron_diagnostic_unit_source_radiation_reaction" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Plasma reaction (1 - 'DT'; 2 - 'DD')</xs:documentation>
					<xs:appinfo>
						<coordinate1>index</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="neutron_diagnostic_unit_source">
		<xs:annotation>
			<xs:documentation>Unit ring sources distribution</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="position" type="rz0d_static">
				<xs:annotation>
					<xs:documentation>Position of ring unit sources inside ITER vacuum vessel</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="radiation" type="neutron_diagnostic_unit_source_radiation" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Radiation type on detector's converter (1 - 'neutrons'; 2 - 'gamma-rays')</xs:documentation>
					<xs:appinfo>
						<coordinate1>index</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="neutron_diagnostic">
		<xs:annotation>
			<xs:documentation>Neutron diagnostic such as DNFM, NFM or MFC</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.6.0</lifecycle_version>
				<lifecycle_last_change>3.6.1</lifecycle_last_change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="characteristics" type="neutron_diagnostic_characteristics">
					<xs:annotation>
						<xs:documentation>Description of Diagnostic's module detection characteristics for differen plasma modes based on Design Description</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="detectors" type="neutron_diagnostic_detectors" maxOccurs="50">
					<xs:annotation>
						<xs:documentation>Description of Detectors properties and Data in Neutron Diagnostic Module</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="synthetic_signals" type="neutron_diagnostic_synthetic_signals">
					<xs:annotation>
						<xs:documentation>Output Data from Neutron Diagnostic's Module</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="unit_source" type="neutron_diagnostic_unit_source" maxOccurs="50">
					<xs:annotation>
						<xs:documentation>Unit ring sources description</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
