divertors/dd_divertors.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="divertor_target_two_point_model">
		<xs:annotation>
			<xs:documentation>Two point model for a given divertor target</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="t_e_target">
				<xs:annotation>
					<xs:documentation>Electron temperature at divertor target</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="n_e_target">
				<xs:annotation>
					<xs:documentation>Electron density at divertor target</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="sol_heat_decay_length">
				<xs:annotation>
					<xs:documentation>Heat flux decay length in SOL at divertor entrance, mapped to the mid-plane, this is the lambda_q parameter defined in reference T. Eich et al, Nucl. Fusion 53 (2013) 093031</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="sol_heat_spreading_length">
				<xs:annotation>
					<xs:documentation>Heat flux spreading length in SOL at equatorial mid-plane, this is the S power spreading parameter defined in reference T. Eich et al, Nucl. Fusion 53 (2013) 093031. Relevant only for attached plasmas.</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="divertor_sol_current">
		<xs:annotation>
			<xs:documentation>Divertor poloidal SOL current measurement</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the measured signal</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="identifier">
				<xs:annotation>
					<xs:documentation>Alphanumeric identifier of the measured signal</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="divertor_target">
		<xs:annotation>
			<xs:documentation>Divertor target description</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the target</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="identifier">
				<xs:annotation>
					<xs:documentation>Alphanumeric identifier of target</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="heat_flux_steady_limit_max">
				<xs:annotation>
					<xs:documentation>Maximum steady state heat flux allowed on divertor target surface (engineering design limit)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>W.m^-2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="temperature_limit_max">
				<xs:annotation>
					<xs:documentation>Maximum surface target temperature allowed to prevent damage (melting, recrystallization, sublimation, etc...)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>K</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="t_e_target_sputtering_limit_max">
				<xs:annotation>
					<xs:documentation>Maximum plasma temperature allowed on the divertor target to avoid excessive sputtering</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_flux_peak" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Peak power flux on the divertor target surface</xs:documentation>
					<xs:appinfo>
						<units>W.m^-2</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="flux_expansion" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Magnetic flux expansion as defined by Stangeby : ratio between the poloidal field at the midplane separatrix and the poloidal field at the strike-point see formula attached, where u means upstream (midplane separatrix) and t means at divertor target (downstream).</xs:documentation>
					<xs:appinfo>
						<units>-</units>
						<url>divertors/flux_expansion.png</url>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="two_point_model" type="divertor_target_two_point_model" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Description of SOL according to the two point model, the downstream point being on this target, for various time slices</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="tilt_angle_pol" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Angle between field lines projected in poloidal plane and target, measured clockwise from the target to the projected field lines</xs:documentation>
					<xs:appinfo>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="extension_r">
				<xs:annotation>
					<xs:documentation>Target length projected on the major radius axis</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="extension_z">
				<xs:annotation>
					<xs:documentation>Target length projected on the height axis</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="wetted_area" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Wetted area of the target, defined by the SOL heat flux decay length (lambda_q) mapped to the target using flux expansion and spreading factor and the target toroidal circumference. In other words, this is the area getting heat flux from the maximum value down to one e-fold decay.</xs:documentation>
					<xs:appinfo>
						<units>m^-2</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_incident_fraction" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Power fraction incident on the target (normalized to the total power incident on the divertor)</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_incident" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Total power incident on this target. This power is split in the various physical categories listed below</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_conducted" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Power conducted by the plasma on this divertor target</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_convected" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Power convected by the plasma on this divertor target</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_radiated" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Net radiated power on this divertor target (incident - reflected)</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_black_body" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Black body radiated power emitted from this divertor target (emissivity is included)</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_neutrals" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Net power from neutrals on this divertor target (positive means power is deposited on the target)</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_recombination_plasma" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Power deposited on this divertor target due to recombination of plasma ions</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_recombination_neutrals" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Power deposited on this divertor target due to recombination of neutrals into a ground state (e.g. molecules)</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_currents" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Power deposited on this divertor target due to electric currents (positive means power is deposited on the target)</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="divertor">
		<xs:annotation>
			<xs:documentation>Divertor description</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the divertor</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="identifier">
				<xs:annotation>
					<xs:documentation>Alphanumeric identifier of divertor</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="target" type="divertor_target" maxOccurs="6">
				<xs:annotation>
					<xs:documentation>Set of divertor targets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="wetted_area" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Wetted area of the divertor (sum over all targets)</xs:documentation>
					<xs:appinfo>
						<units>m^-2</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_incident" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Total power incident on the divertor (sum over all targets). This power is split in the various physical categories listed below</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_conducted" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Power conducted by the plasma on the divertor targets (sum over all targets)</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_convected" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Power convected by the plasma on the divertor targets (sum over all targets)</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_radiated" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Net radiated power on the divertor targets (incident - reflected) (sum over all targets)</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_black_body" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Black body radiated power emitted from the divertor targets (emissivity is included) (sum over all targets)</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_neutrals" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Net power from neutrals on the divertor targets (positive means power is deposited on the target) (sum over all targets)</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_recombination_plasma" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Power deposited on the divertor targets due to recombination of plasma ions (sum over all targets)</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_recombination_neutrals" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Power deposited on the divertor targets due to recombination of neutrals into a ground state (e.g. molecules) (sum over all targets)</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="power_currents" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Power deposited on the divertor targets due to electric currents (positive means power is deposited on the target) (sum over all targets)</xs:documentation>
					<xs:appinfo>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="particle_flux_recycled_total" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Total recycled particle flux from  the divertor (in equivalent electrons)</xs:documentation>
					<xs:appinfo>
						<units>s^-1</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="divertors">
		<xs:annotation>
			<xs:documentation>Description of divertors</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.31.0</lifecycle_version>
				<lifecycle_last_change>3.31.0</lifecycle_last_change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="divertor" type="divertor" maxOccurs="8">
					<xs:annotation>
						<xs:documentation>Set of divertors</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="poloidal_sol_current" type="divertor_sol_current" maxOccurs="20">
					<xs:annotation>
						<xs:documentation>Set of axisymmetric divertor tiles through which poloidal currents in SOL are measured using shunt resistances. Tiles are modelled as piecewise straight line segments in the poloidal plane.</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
