camera_visible/dd_camera_visible.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="camera_visible_geometry_matrix">
		<xs:annotation>
			<xs:documentation>Geometry matrix of the camera</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="data">
				<xs:annotation>
					<xs:documentation>The Ray Transfer Matrix (RTM, or geometry matrix) here provides transformation of the signal from each individual unit light source (voxel) to each pixel of the receiver (detector). The emission profile has  [photons.m^-3.s^-1.sr^-1] units and radiance signal has [photons.m^-2.s^-1.sr^-1] units. So the RTM has [m] units. The first two dimension correspond to the detector pixels : first dimension : line index (horizontal axis); second dimension: column index (vertical axis). The last three dimensions correspond to the light emission grid : Third dimension: Major radius. Fourth dimension: Height. Fifth dimension: Toroidal angle.</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
						<coordinate1_same_as>../../frame/image_raw</coordinate1_same_as>
						<coordinate2>1...N</coordinate2>
						<coordinate2_same_as>../../frame/image_raw</coordinate2_same_as>
						<units>m</units>
						<coordinate3>../emission_grid/r</coordinate3>
						<coordinate4>../emission_grid/z</coordinate4>
						<coordinate5>../emission_grid/phi</coordinate5>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_5D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="voxel_map">
				<xs:annotation>
					<xs:documentation>Voxel map for geometry matrix. The cells with same number are merged in the computation into a single emission source meta-cell. Cells with number -1 are excluded. Count starts from 0.</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>../emission_grid/r</coordinate1>
						<coordinate2>../emission_grid/z</coordinate2>
						<coordinate3>../emission_grid/phi</coordinate3>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="emission_grid" type="rzphi1d_static">
				<xs:annotation>
					<xs:documentation>Grid defining the light emission cells</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="camera_visible_frame">
		<xs:annotation>
			<xs:documentation>Frame of a camera</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="image_raw">
				<xs:annotation>
					<xs:documentation>Raw image (unprocessed) (digital levels). First dimension : line index (horizontal axis). Second dimension: column index (vertical axis).</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>1...N</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="radiance">
				<xs:annotation>
					<xs:documentation>Radiance image. First dimension : line index (horizontal axis). Second dimension: column index (vertical axis).</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate1_same_as>../image_raw</coordinate1_same_as>
						<coordinate2>1...N</coordinate2>
						<coordinate2_same_as>../image_raw</coordinate2_same_as>
						<units>photons.m^-2.s^-1.sr^-1</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="camera_visible_detector">
		<xs:annotation>
			<xs:documentation>Detector for a visible camera</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="pixel_to_alpha">
				<xs:annotation>
					<xs:documentation>Alpha angle of each pixel in the horizontal axis</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>rad</units>
						<coordinate1>1...N</coordinate1>
						<coordinate1_same_as>../frame/image_raw</coordinate1_same_as>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pixel_to_beta">
				<xs:annotation>
					<xs:documentation>Beta angle of each pixel in the vertical axis</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>rad</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="wavelength_lower">
				<xs:annotation>
					<xs:documentation>Lower bound of the detector wavelength range</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="wavelength_upper">
				<xs:annotation>
					<xs:documentation>Upper bound of the detector wavelength range</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="counts_to_radiance">
				<xs:annotation>
					<xs:documentation>Counts to radiance factor, for each pixel of the detector. Includes both the transmission losses in the relay optics and the quantum efficiency of the camera itself, integrated over the wavelength range</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
						<coordinate1_same_as>../frame/image_raw</coordinate1_same_as>
						<coordinate2>1...N</coordinate2>
						<coordinate2_same_as>../frame/image_raw</coordinate2_same_as>
						<units>photons.m^-2.s^-1.sr^-1.counts^-1</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="exposure_time">
				<xs:annotation>
					<xs:documentation>Exposure time</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="noise">
				<xs:annotation>
					<xs:documentation>Detector noise (e.g. read-out noise) (rms counts per second exposure time)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="frame" type="camera_visible_frame" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Set of frames</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="geometry_matrix" type="camera_visible_geometry_matrix">
				<xs:annotation>
					<xs:documentation>Description of geometry matrix (ray transfer matrix)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="camera_visible_channel">
		<xs:annotation>
			<xs:documentation>Channel of a camera</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the channel</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="aperture" type="detector_aperture" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Description of apertures between plasma and the detectors (position, outline shape and orientation)</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="viewing_angle_alpha_bounds">
				<xs:annotation>
					<xs:documentation>Minimum and maximum values of alpha angle of the field of view, where alpha is the agle between the axis X3 and projection of the chord of view  on the plane X1X3 counted clockwise from the top view of X2 axis. X1, X2, X3 are the ones of the first aperture (i.e. the closest to the plasma).</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>rad</units>
						<coordinate1>1...2</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="viewing_angle_beta_bounds">
				<xs:annotation>
					<xs:documentation>Minimum and maximum values of beta angle of the field of view, where beta is the angle between the axis X3 and projection of the chord of view on the plane X2X3 counted clockwise from the top view of X1 axis. X1, X2, X3 are the ones of the first aperture (i.e. the closest to the plasma).</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>rad</units>
						<coordinate1>1...2</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="detector" type="camera_visible_detector" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>Set of detectors</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="camera_visible">
		<xs:annotation>
			<xs:documentation>Camera in the visible light range</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.26.1</lifecycle_version>
				<lifecycle_last_change>3.26.1</lifecycle_last_change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="name">
					<xs:annotation>
						<xs:documentation>Name of the camera</xs:documentation>
						<xs:appinfo>
							<type>static</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="STR_0D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="channel" type="camera_visible_channel" maxOccurs="20">
					<xs:annotation>
						<xs:documentation>Set of channels  (a front aperture, possibly followed by others, viewing the plasma recorded by one or more detectors e.g. for different wavelength ranges)</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
