distribution_sources/dd_distribution_sources.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Utilities/DD_Support.xsd"/>
	<xs:complexType name="distribution_sources_source_ggd">
		<xs:annotation>
			<xs:documentation>Source terms for a given time slice, using a GGD representation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="grid" type="generic_grid_dynamic">
				<xs:annotation>
					<xs:documentation>Grid description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="particles" type="generic_grid_scalar">
				<xs:annotation>
					<xs:documentation>Source density of particles in phase space</xs:documentation>
					<xs:appinfo>
						<units>(m.s^-1)^-3.m^-3.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="discrete">
				<xs:annotation>
					<xs:documentation>List of indices of grid spaces (refers to ../grid/space) for which the source is discretely distributed. For example consider a source of 3.5 MeV alpha particles provided on a grid with two coordinates (spaces); rho_tor and energy. To specify that the source is given at energies exactly equal to 3.5 MeV, let discret have length 1 and set discrete(1)=2 since energy is dimension number 2. The source is then proportional to delta( 1 - energy / 3.5MeV ), where delta is the direct delta distribution. Discrete dimensions can only be used when the grid is rectangular.</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="distribution_sources_source_markers">
		<xs:annotation>
			<xs:documentation>Test particles for a given time slice</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="coordinate_identifier" type="identifier_dynamic_aos3" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Set of coordinate identifiers, coordinates on which the markers are represented</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>W.m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="weights">
				<xs:annotation>
					<xs:documentation>Weight of the markers, i.e. number of real particles represented by each marker. The dimension of the vector correspond to the number of markers</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>-</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="positions">
				<xs:annotation>
					<xs:documentation>Position of the markers in the set of coordinates. The first dimension corresponds to the number of markers, the second dimension to the set of coordinates</xs:documentation>
					<xs:appinfo>
						<coordinate1>../weights</coordinate1>
						<coordinate2>../coordinate_identifier</coordinate2>
						<units>mixed</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="distribution_sources_source_profiles_1d">
		<xs:annotation>
			<xs:documentation>Radial profile of source terms for a given time slice</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="grid" type="core_radial_grid">
				<xs:annotation>
					<xs:documentation>Radial grid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy">
				<xs:annotation>
					<xs:documentation>Source term for the energy transport equation</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>W.m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="momentum_tor">
				<xs:annotation>
					<xs:documentation>Source term for the toroidal momentum equation</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>N.m^-2</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="particles">
				<xs:annotation>
					<xs:documentation>Source term for the density transport equation</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>s^-1.m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="distribution_sources_source_global_quantities_magnetic_axis">
		<xs:annotation>
			<xs:documentation>R, Z at magnetic axis, dynamic within a type 3 array of structure (index on time)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="r">
				<xs:annotation>
					<xs:documentation>Major radius of the magnetic axis</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z">
				<xs:annotation>
					<xs:documentation>Height of the magnetic axis</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="distribution_sources_source_global_quantities">
		<xs:annotation>
			<xs:documentation>Global quantities of distribution_source for a given time slice</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="power">
				<xs:annotation>
					<xs:documentation>Total power of the source</xs:documentation>
					<xs:appinfo>
						<units>W</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="torque_tor">
				<xs:annotation>
					<xs:documentation>Total toroidal torque of the source</xs:documentation>
					<xs:appinfo>
						<units>N.m</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="particles">
				<xs:annotation>
					<xs:documentation>Particle source rate</xs:documentation>
					<xs:appinfo>
						<units>s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="magnetic_axis" type="distribution_sources_source_global_quantities_magnetic_axis">
				<xs:annotation>
					<xs:documentation>Magnetic axis position (used to define a poloidal angle)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vacuum_toroidal_field" type="b_tor_vacuum_aos3">
				<xs:annotation>
					<xs:documentation>Characteristics of the vacuum toroidal field (used in rho_tor definition)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="distribution_sources_source_species">
		<xs:annotation>
			<xs:documentation>Species produced by this source term</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type" type="identifier">
				<xs:annotation>
					<xs:documentation>Species type. index=1 for electron; index=2 for ion species in a single/average state (refer to ion structure); index=3 for ion species in a particular state (refer to ion and ion/state structures); index=4 for neutron; index=5 for photon</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ion" type="plasma_composition_ions">
				<xs:annotation>
					<xs:documentation>Description of the ion species, used if type/index = 2 or 3</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="distribution_sources_source">
		<xs:annotation>
			<xs:documentation>Source terms for a given actuator</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier" type="identifier" maxOccurs="32">
				<xs:annotation>
					<xs:documentation>Source term identifier. List of identifiers for the source, in term the type and name of the injectors and reactions that provide the source, along with an index separating sources with the same name and type. Possible content for type: NBI or reaction names. The field name should either be taken from nbi/nbi_unit(*)/name, or describe the populations involved in the reaction, e.g. fast-thermal; the field index should separate different sources generated from a single injector or reaction.</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="gyro_type">
				<xs:annotation>
					<xs:documentation>Defines how to interpret the spatial coordinates: 1 = given at the actual particle birth point; 2 =given at the gyro centre of the birth point</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="species" type="distribution_sources_source_species">
				<xs:annotation>
					<xs:documentation>Species injected or consumed by this source/sink</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="global_quantities" type="distribution_sources_source_global_quantities" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Global quantities for various time slices</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="profiles_1d" type="distribution_sources_source_profiles_1d" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source radial profiles (flux surface averaged quantities) for various time slices</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ggd" type="distribution_sources_source_ggd" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source terms in phase space (real space, velocity space, spin state), represented using the ggd, for various time slices</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="markers" type="distribution_sources_source_markers" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source given as a set of markers (test particles) born per second.</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="distribution_sources">
		<xs:annotation>
			<xs:documentation>Sources of particles for input to kinetic equations, e.g. Fokker-Planck calculation. The sources could originate from e.g. NBI or fusion reactions.</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.3.0</lifecycle_version>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="source" type="distribution_sources_source" maxOccurs="10">
					<xs:annotation>
						<xs:documentation>Set of source/sink terms. A source/sink term corresponds to the particle source due to an NBI injection unit, a nuclear reaction or any combination of them (described in "identifier")</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
