temporary/dd_temporary.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="..\utilities\dd_support.xsd"/>
	<xs:complexType name="temporary_constant_quantities_float_0d">
		<xs:annotation>
			<xs:documentation>Temporary constant Float_0D</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="FLT_0D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="description" type="str_type">
				<xs:annotation>
					<xs:documentation>Description</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="temporary_constant_quantities_string_0d">
		<xs:annotation>
			<xs:documentation>Temporary constant STR_0D</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="STR_0D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="description" type="str_type">
				<xs:annotation>
					<xs:documentation>Description</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="temporary_constant_quantities_float_1d">
		<xs:annotation>
			<xs:documentation>Temporary constant Float_1D</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="description" type="str_type">
				<xs:annotation>
					<xs:documentation>Description</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="temporary_dynamic_quantities_float_1d">
		<xs:annotation>
			<xs:documentation>Temporary dynamic Float_1D</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>mixed</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="FLT_1D"/>
						<xs:element ref="time"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="description" type="str_type">
				<xs:annotation>
					<xs:documentation>Description</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="temporary_dynamic_quantities_float_2d">
		<xs:annotation>
			<xs:documentation>Temporary dynamic Float_2D</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>mixed</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="FLT_2D"/>
						<xs:element ref="time"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="description" type="str_type">
				<xs:annotation>
					<xs:documentation>Description</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="temporary_constant_quantities">
		<xs:annotation>
			<xs:documentation>constant quantities</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="float_0d" type="temporary_constant_quantities_float_0d" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>Temporary Float_0D</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>mixed</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="float_1d" type="temporary_constant_quantities_float_1d" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>Temporary Float_1D</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>mixed</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="string_0d" type="temporary_constant_quantities_string_0d" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>Temporary String_0D</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="temporary_dynamic_quantities">
		<xs:annotation>
			<xs:documentation>dynamic quantities</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="float_1d" type="temporary_dynamic_quantities_float_1d" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>Temporary Float_1D</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>mixed</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="float_2d" type="temporary_dynamic_quantities_float_2d" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>Temporary Float_2D</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>mixed</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="temporary">
		<xs:annotation>
			<xs:documentation>Storage of undeclared data model components</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>Draft</lifecycle_status>
				<lifecycle_version>2.0</lifecycle_version>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="constant_quantities" type="temporary_constant_quantities">
					<xs:annotation>
						<xs:documentation>constant quantities</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dynamic_quantities" type="temporary_dynamic_quantities">
					<xs:annotation>
						<xs:documentation>Dynamic quantities</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
