spectrometer_x_rays_crystal/dd_spectrometer_x_rays_crystal.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="spectrometer_x_crystal_filter">
		<xs:annotation>
			<xs:documentation>Characteristics of the filter window</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="material">
				<xs:annotation>
					<xs:documentation>Material of the filter window</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="thickness">
				<xs:annotation>
					<xs:documentation>Thickness of the filter window</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="spectrometer_x_crystal_camera">
		<xs:annotation>
			<xs:documentation>Characteristics of the camera used</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="pixel_dimensions">
				<xs:annotation>
					<xs:documentation>Pixel dimension in each direction (horizontal, vertical)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...2</coordinate1>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pixel_n">
				<xs:annotation>
					<xs:documentation>Number of pixels in each direction (horizontal, vertical)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...2</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="camera_dimensions">
				<xs:annotation>
					<xs:documentation>Total camera dimension in each direction (horizontal, vertical)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...2</coordinate1>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="center" type="rzphi0d_static">
				<xs:annotation>
					<xs:documentation>Position of the camera center</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x3_unit_vector" type="xyz0d_static">
				<xs:annotation>
					<xs:documentation>Components of the X3 direction unit vector in the (X,Y,Z) coordinate system, where X is the major radius axis for phi = 0, Y is the major radius axis for phi = pi/2, and Z is the height axis. The X3 axis is normal to the camera plane and oriented towards the plasma.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="spectrometer_x_crystal_crystal">
		<xs:annotation>
			<xs:documentation>Characteristics of the crystal used</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="geometry_type" type="identifier_static">
				<xs:annotation>
					<xs:documentation>Geometry of the crystal</xs:documentation>
					<xs:appinfo>
						<doc_identifier>spectrometer_x_rays_crystal/spectrometer_x_rays_crystal_geometry_identifier.xml</doc_identifier>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="material">
				<xs:annotation>
					<xs:documentation>Material of the crystal</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="width">
				<xs:annotation>
					<xs:documentation>Horizontal width of the crystal</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="height">
				<xs:annotation>
					<xs:documentation>Height of the crystal (vertical direction)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="curvature_horizontal">
				<xs:annotation>
					<xs:documentation>Radius of curvature in the horizontal direction, to be filled only for shape/index = 2, 3 or 4</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="angular_span_horizontal">
				<xs:annotation>
					<xs:documentation>Angular span in the horizontal direction, to be filled only for geometry_type/index = 2, 3 or 4</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="curvature_vertical">
				<xs:annotation>
					<xs:documentation>Radius of curvature in the vertical direction, to be filled only for geometry_type/index = 4</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="angular_span_vertical">
				<xs:annotation>
					<xs:documentation>Angular span in the vertical direction, to be filled only for geometry_type/index = 4</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="summit" type="rzphi0d_static">
				<xs:annotation>
					<xs:documentation>Position of the middle point on the crystal surface</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x3_unit_vector" type="xyz0d_static">
				<xs:annotation>
					<xs:documentation>Components of the X3 direction unit vector in the (X,Y,Z) coordinate system, where X is the major radius axis for phi = 0, Y is the major radius axis for phi = pi/2, and Z is the height axis. The X3 axis is normal to the crystal plane and oriented towards the plasma.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wavelength_bragg">
				<xs:annotation>
					<xs:documentation>Bragg wavelength of the crystal</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="angle_bragg">
				<xs:annotation>
					<xs:documentation>Bragg angle of the crystal</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="spectrometer_x_crystal_frame">
		<xs:annotation>
			<xs:documentation>Frame of a camera</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="photon_count">
				<xs:annotation>
					<xs:documentation>Detected photon count per unit time on each pixel of the frame</xs:documentation>
					<xs:appinfo>
						<units>(counts).s^-1</units>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate1_same_as>../../wavelength_frames</coordinate1_same_as>
						<coordinate2>../../z_frames</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="spectrometer_x_crystal">
		<xs:annotation>
			<xs:documentation>X-crystal spectrometer diagnostic</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.24.1</lifecycle_version>
				<lifecycle_last_change>3.24.1</lifecycle_last_change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="integration_time">
					<xs:annotation>
						<xs:documentation>Integration time of the measurement</xs:documentation>
						<xs:appinfo>
							<type>static</type>
							<units>s</units>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_0D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="energy_bound_lower">
					<xs:annotation>
						<xs:documentation>Lower energy bound for the photon detection, for each pixel (horizontal, vertical)</xs:documentation>
						<xs:appinfo>
							<type>static</type>
							<units>eV</units>
							<coordinate1>1...N</coordinate1>
							<coordinate1_same_as>../wavelength_frames</coordinate1_same_as>
							<coordinate2>../z_frames</coordinate2>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="energy_bound_upper">
					<xs:annotation>
						<xs:documentation>Upper energy bound for the photon detection, for each pixel (horizontal, vertical)</xs:documentation>
						<xs:appinfo>
							<type>static</type>
							<units>eV</units>
							<coordinate1>1...N</coordinate1>
							<coordinate1_same_as>../wavelength_frames</coordinate1_same_as>
							<coordinate2>../z_frames</coordinate2>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="crystal" type="spectrometer_x_crystal_crystal">
					<xs:annotation>
						<xs:documentation>Characteristics of the crystal used</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="filter_window" type="spectrometer_x_crystal_filter">
					<xs:annotation>
						<xs:documentation>Characteristics of the filter window</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="camera" type="spectrometer_x_crystal_camera">
					<xs:annotation>
						<xs:documentation>Characteristics of the camera used</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="z_frames">
					<xs:annotation>
						<xs:documentation>Height of the observed zone at the focal plane in the plasma, corresponding to the vertical dimension of the frame</xs:documentation>
						<xs:appinfo>
							<type>static</type>
							<coordinate1>1...N</coordinate1>
							<units>m</units>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_1D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="wavelength_frames">
					<xs:annotation>
						<xs:documentation>Wavelength of incoming photons on each pixel of the frames, mainly varying accross the horizontal dimension of the frame. However a 2D map of the wavelength is given since it is not constant vertically due to the elliptical curvature of the photon iso-surfaces</xs:documentation>
						<xs:appinfo>
							<type>static</type>
							<coordinate1>1...N</coordinate1>
							<coordinate2>../z_frames</coordinate2>
							<units>m</units>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="frame" type="spectrometer_x_crystal_frame" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Set of frames</xs:documentation>
						<xs:appinfo>
							<coordinate1>time</coordinate1>
							<type>dynamic</type>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="t_i_proxy" type="signal_flt_2d_validity">
					<xs:annotation>
						<xs:documentation>Ion temperature (proxy estimated directly from the camera, without tomographic inversion)</xs:documentation>
						<xs:appinfo>
							<units>eV</units>
							<coordinate1>../z_frames</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="t_e_proxy" type="signal_flt_2d_validity">
					<xs:annotation>
						<xs:documentation>Electron temperature (proxy estimated directly from the camera, without tomographic inversion)</xs:documentation>
						<xs:appinfo>
							<units>eV</units>
							<coordinate1>../z_frames</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="velocity_tor_proxy" type="signal_flt_2d_validity">
					<xs:annotation>
						<xs:documentation>Toroidal velocity (proxy estimated directly from the camera, without tomographic inversion)</xs:documentation>
						<xs:appinfo>
							<units>m.s^-1</units>
							<coordinate1>../z_frames</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
