tf/dd_tf.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="tf_coil_conductor_elements">
		<xs:annotation>
			<xs:documentation>Elements descibring the conductor contour</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="names">
				<xs:annotation>
					<xs:documentation>Name or description of every element</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="types">
				<xs:annotation>
					<xs:documentation>Type of every element: 1: line segment, its ends are given by the start and end points; index = 2: arc of a circle</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>../names</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="start_points" type="rzphi1d_static">
				<xs:annotation>
					<xs:documentation>Position of the start point of every element</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="end_points" type="rzphi1d_static">
				<xs:annotation>
					<xs:documentation>Position of the end point of every element</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="centres" type="rzphi1d_static">
				<xs:annotation>
					<xs:documentation>Position of the centre of the arc of a circle of every element (meaningful only if type/index = 2, fill with default/empty value otherwise)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tf_coil_conductor">
		<xs:annotation>
			<xs:documentation>Description of a conductor</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="elements" type="tf_coil_conductor_elements">
				<xs:annotation>
					<xs:documentation>Set of geometrical elements (line segments and/or arcs of a circle) describing the contour of the TF conductor centre</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cross_section" type="delta_rzphi1d_static">
				<xs:annotation>
					<xs:documentation>The cross-section perpendicular to the TF conductor contour is described by a series of contour points, given by their relative position with respect to the start point of the first element. This cross-section is assumed constant for all elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="resistance">
				<xs:annotation>
					<xs:documentation>conductor resistance</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>Ohm</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="current">
				<xs:annotation>
					<xs:documentation>Current in the conductor</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>time</coordinate1>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="voltage">
				<xs:annotation>
					<xs:documentation>Voltage on the conductor terminals</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>time</coordinate1>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tf_coil">
		<xs:annotation>
			<xs:documentation>Description of a given coil</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="conductor" type="tf_coil_conductor" maxOccurs="20">
				<xs:annotation>
					<xs:documentation>Set of conductors inside the coil. The structure can be used with size 1 for a simplified description as a single conductor. A conductor is composed of several elements, serially connected, i.e. transporting the same current.</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="turns">
				<xs:annotation>
					<xs:documentation>Number of total turns in a toroidal field coil. May be a fraction when describing the coil connections.</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="resistance">
				<xs:annotation>
					<xs:documentation>Coil resistance</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>Ohm</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="current">
				<xs:annotation>
					<xs:documentation>Current in the coil</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>time</coordinate1>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="voltage">
				<xs:annotation>
					<xs:documentation>Voltage on the coil terminals</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>time</coordinate1>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="tf">
		<xs:annotation>
			<xs:documentation>Toroidal field coils</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.0.0</lifecycle_version>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="is_periodic">
					<xs:annotation>
						<xs:documentation>Flag indicating whether coils are described one by one in the coil() structure (flag=0) or whether the coil structure represents only coils having different characteristics (flag = 1, n_coils must be filled in that case). In the latter case, the coil() sequence is repeated periodically around the torus.</xs:documentation>
						<xs:appinfo>
							<type>static</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="INT_0D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="coils_n">
					<xs:annotation>
						<xs:documentation>Number of coils around the torus, in case is_periodic = 1</xs:documentation>
						<xs:appinfo>
							<type>static</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="INT_0D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="coil" type="tf_coil" maxOccurs="32">
					<xs:annotation>
						<xs:documentation>Set of coils around the tokamak</xs:documentation>
						<xs:appinfo>
							<type>static</type>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="b_tor_vacuum_r">
					<xs:annotation>
						<xs:documentation>Vacuum field times major radius in the toroidal field magnet. Positive sign means anti-clockwise when viewed from above</xs:documentation>
						<xs:appinfo>
							<type>dynamic</type>
							<coordinate1>time</coordinate1>
							<units>T.m</units>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="time"/>
							<xs:group ref="FLT_1D"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
