TF/DD_TF.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="D:\Documents and settings\FI144135\Mes documents\Travail\ITERIS\Task Order 2\Data Model\datamodel_ITERHPC\trunk\Utilities\DD_Support_v2.xsd"/>
	<xs:element name="TF">
		<xs:annotation>
			<xs:documentation>Toroidal field coils (all assumed to be identical). If individual description of coil is needed, use the same description as in PF IDS.</xs:documentation>
			<xs:appinfo>machine description</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IDS_Properties"/>
				<xs:element name="N_Turns">
					<xs:annotation>
						<xs:documentation>Number of total turns in a toroidal field coil</xs:documentation>
						<xs:appinfo>
							<type>STATIC</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="INT_0D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="N_Coils">
					<xs:annotation>
						<xs:documentation>Number of coils around the tokamak</xs:documentation>
						<xs:appinfo>
							<type>STATIC</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="INT_0D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Current">
					<xs:annotation>
						<xs:documentation>Current in the coil</xs:documentation>
						<xs:appinfo>
							<type>SIGNAL</type>
							<axis1>Timebase</axis1>
							<units>A</units>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Timebase"/>
							<xs:group ref="FLT_1D"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Voltage">
					<xs:annotation>
						<xs:documentation>Voltage on the coil terminals</xs:documentation>
						<xs:appinfo>
							<type>SIGNAL</type>
							<axis1>Timebase</axis1>
							<units>V</units>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Timebase"/>
							<xs:group ref="FLT_1D"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="B_Tor_Vacuum_R">
					<xs:annotation>
						<xs:documentation>Vacuum field times major radius in the toroidal field magnet. Positive sign means anti-clockwise when viewed from above</xs:documentation>
						<xs:appinfo>
							<type>SIGNAL</type>
							<axis1>Timebase</axis1>
							<units>T.m</units>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Timebase"/>
							<xs:group ref="FLT_1D"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Timebase"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
