charge_exchange/dd_charge_exchange.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="charge_exchange_channel">
		<xs:annotation>
			<xs:documentation>Charge exchange channel</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the channel</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="identifier">
				<xs:annotation>
					<xs:documentation>ID of the channel</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="a">
				<xs:annotation>
					<xs:documentation>Mass of atom of the emmitting impurity for this channel</xs:documentation>
					<xs:appinfo>
						<units>Atomic Mass Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_ion">
				<xs:annotation>
					<xs:documentation>Ion charge of the emmitting impurity for this channel</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>Elementary Charge Unit</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_n">
				<xs:annotation>
					<xs:documentation>Nuclear charge of the emmitting impurity for this channel</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying the emmitting impurity (e.g. H+, D+, T+, He+2, C+6, ...) for this channel</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="position" type="rzphi1d_dynamic_aos1">
				<xs:annotation>
					<xs:documentation>Position of the measurements</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="temperature">
				<xs:annotation>
					<xs:documentation>Ion temperature (of the emmitting impurity)</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<units>eV</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="velocity_tor">
				<xs:annotation>
					<xs:documentation>Toroidal velocity (of the emmitting impurity) (oriented counter-clockwise when seen from above)</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="velocity_pol">
				<xs:annotation>
					<xs:documentation>Poloidal velocity (of the emmitting impurity) (oriented clockwise when seen from front)</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="charge_exchange">
		<xs:annotation>
			<xs:documentation>Charge exchange spectroscopy diagnostic</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.0.4</lifecycle_version>
				<lifecycle_last_change>3.17.1</lifecycle_last_change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="channel" type="charge_exchange_channel" maxOccurs="100">
					<xs:annotation>
						<xs:documentation>Set of channels (lines-of-sight)</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
