waves/dd_waves.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Utilities/DD_Support.xsd"/>
	<xs:complexType name="waves_coherent_wave_global_quantities_ion_state">
		<xs:annotation>
			<xs:documentation>Global quantities related to a given ion species state</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="z_min">
				<xs:annotation>
					<xs:documentation>Minimum Z of the charge state bundle (z_min = z_max = 0 for a neutral)</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_max">
				<xs:annotation>
					<xs:documentation>Maximum Z of the charge state bundle (equal to z_min if no bundle)</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying charge state (e.g. C+, C+2 , C+3, C+4, C+5, C+6, ...)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="electron_configuration">
				<xs:annotation>
					<xs:documentation>Configuration of atomic orbitals of this state, e.g. 1s2-2s1</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="vibrational_level">
				<xs:annotation>
					<xs:documentation>Vibrational level (can be bundled)</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="vibrational_mode">
				<xs:annotation>
					<xs:documentation>Vibrational mode of this state, e.g. "A_g". Need to define, or adopt a standard nomenclature.</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_thermal">
				<xs:annotation>
					<xs:documentation>Wave power absorbed by the thermal particle population</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_thermal_n_tor">
				<xs:annotation>
					<xs:documentation>Wave power absorbed by the thermal particle population per toroidal mode number</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
						<coordinate1>../../../n_tor</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_fast">
				<xs:annotation>
					<xs:documentation>Wave power absorbed by the fast particle population</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_fast_n_tor">
				<xs:annotation>
					<xs:documentation>Wave power absorbed by the fast particle population per toroidal mode number</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
						<coordinate1>../../../n_tor</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="waves_coherent_wave_global_quantities_ion">
		<xs:annotation>
			<xs:documentation>Global quantities related to a given ion species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="element" type="plasma_composition_neutral_element" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of elements forming the atom or molecule</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="z_ion">
				<xs:annotation>
					<xs:documentation>Ion charge (of the dominant ionisation state; lumped ions are allowed).</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>Elementary Charge Unit</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying the species (e.g. H+, D+, T+, He+2, C+, D2, DT, CD4, ...)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_thermal">
				<xs:annotation>
					<xs:documentation>Wave power absorbed by the thermal particle population</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_thermal_n_tor">
				<xs:annotation>
					<xs:documentation>Wave power absorbed by the thermal particle population per toroidal mode number</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
						<coordinate1>../../n_tor</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_fast">
				<xs:annotation>
					<xs:documentation>Wave power absorbed by the fast particle population</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_fast_n_tor">
				<xs:annotation>
					<xs:documentation>Wave power absorbed by the fast particle population per toroidal mode number</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
						<coordinate1>../../n_tor</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="multiple_states_flag">
				<xs:annotation>
					<xs:documentation>Multiple state calculation flag : 0-Only one state is considered; 1-Multiple states are considered and are described in the state structure</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="distribution_assumption">
				<xs:annotation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
					<xs:documentation>Assumption on the distribution function used by the wave solver to calculate the power deposition on this species: 0 = Maxwellian (linear absorption); 1 = quasi-linear (F given by a distributions IDS). </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="state" type="waves_coherent_wave_global_quantities_ion_state" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Collisional exchange with the various states of the ion species (ionisation, energy, excitation, ...)</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N_charge_states</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="waves_coherent_wave_global_quantities_electrons">
		<xs:annotation>
			<xs:documentation>Global quantities related to electrons</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="power_thermal">
				<xs:annotation>
					<xs:documentation>Wave power absorbed by the thermal particle population</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_thermal_n_tor">
				<xs:annotation>
					<xs:documentation>Wave power absorbed by the thermal particle population per toroidal mode number</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
						<coordinate1>../../n_tor</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_fast">
				<xs:annotation>
					<xs:documentation>Wave power absorbed by the fast particle population</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_fast_n_tor">
				<xs:annotation>
					<xs:documentation>Wave power absorbed by the fast particle population per toroidal mode number</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
						<coordinate1>../../n_tor</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="distribution_assumption">
				<xs:annotation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
					<xs:documentation>Assumption on the distribution function used by the wave solver to calculate the power deposition on this species: 0 = Maxwellian (linear absorption); 1 = quasi-linear (F given by a distributions IDS). </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="waves_coherent_wave_profiles_1d">
		<xs:annotation>
			<xs:documentation>Radial profiles (RF waves) for a given time slice</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="grid" type="core_radial_grid">
				<xs:annotation>
					<xs:documentation>Radial grid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_tor">
				<xs:annotation>
					<xs:documentation>Toroidal mode numbers</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_density">
				<xs:annotation>
					<xs:documentation>Flux surface averaged total absorbed wave power density (electrons + ion + fast populations)</xs:documentation>
					<xs:appinfo>
						<units>W.m^-3</units>
						<type>dynamic</type>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_density_n_tor">
				<xs:annotation>
					<xs:documentation>Flux surface averaged absorbed wave power density per toroidal mode number</xs:documentation>
					<xs:appinfo>
						<units>W.m^-3</units>
						<type>dynamic</type>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<coordinate2>../n_tor</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="current_tor_inside">
				<xs:annotation>
					<xs:documentation>Wave driven toroidal current from a stand alone calculation (not consistent with other sources), inside a flux surface</xs:documentation>
					<xs:appinfo>
						<units>A</units>
						<type>dynamic</type>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="current_tor_inside_n_tor">
				<xs:annotation>
					<xs:documentation>Wave driven toroidal current from a stand alone calculation (not consistent with other sources), inside a flux surface, per toroidal mode number</xs:documentation>
					<xs:appinfo>
						<units>A</units>
						<type>dynamic</type>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<coordinate2>../n_tor</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="electrons" type="waves_coherent_wave_global_quantities_electrons">
				<xs:annotation>
					<xs:documentation>Quantities related to the electrons</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ion" type="waves_coherent_wave_global_quantities_ion" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quantities related to the different ion species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="waves_coherent_wave_global_quantities">
		<xs:annotation>
			<xs:documentation>Global quantities (RF waves) for a given time slice</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="frequency">
				<xs:annotation>
					<xs:documentation>Wave frequency</xs:documentation>
					<xs:appinfo>
						<units>Hz</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="n_tor">
				<xs:annotation>
					<xs:documentation>Toroidal mode numbers</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power">
				<xs:annotation>
					<xs:documentation>Total absorbed wave power</xs:documentation>
					<xs:appinfo>
						<units>W</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_n_tor">
				<xs:annotation>
					<xs:documentation>Absorbed wave power per toroidal mode number</xs:documentation>
					<xs:appinfo>
						<units>W</units>
						<type>dynamic</type>
						<coordinate1>../n_tor</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="current_tor">
				<xs:annotation>
					<xs:documentation>Wave driven toroidal current from a stand alone calculation (not consistent with other sources)</xs:documentation>
					<xs:appinfo>
						<units>A</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="current_tor_n_tor">
				<xs:annotation>
					<xs:documentation>Wave driven toroidal current from a stand alone calculation (not consistent with other sources) per toroidal mode number</xs:documentation>
					<xs:appinfo>
						<units>A</units>
						<type>dynamic</type>
						<coordinate1>../n_tor</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="electrons" type="waves_coherent_wave_global_quantities_electrons">
				<xs:annotation>
					<xs:documentation>Quantities related to the electrons</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ion" type="waves_coherent_wave_global_quantities_ion" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quantities related to the different ion species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="waves_coherent_wave">
		<xs:annotation>
			<xs:documentation>Source terms for a given actuator</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier" type="waves_coherent_wave_identifier">
				<xs:annotation>
					<xs:documentation>Identifier of the coherent wave, in terms of the type and name of the antenna driving the wave and an index separating waves driven by the same antenna.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wave_solver_type" type="identifier">
				<xs:annotation>
					<xs:documentation>Type of wave deposition solver used for this wave. Index = 1 for beam/ray tracing; index = 2 for full wave</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="global_quantities" type="waves_coherent_wave_global_quantities" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Global quantities for various time slices</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="profiles_1d" type="waves_coherent_wave_profiles_1d" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source radial profiles (flux surface averaged quantities) for various time slices</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="waves">
		<xs:annotation>
			<xs:documentation>RF wave propagation and deposition</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.5.0</lifecycle_version>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="coherent_wave" type="waves_coherent_wave" maxOccurs="10">
					<xs:annotation>
						<xs:documentation>Wave description for each frequency</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="vacuum_toroidal_field" type="b_tor_vacuum_1">
					<xs:annotation>
						<xs:documentation>Characteristics of the vacuum toroidal field (used in rho_tor definition)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="magnetic_axis" type="rz1d_dynamic_1">
					<xs:annotation>
						<xs:documentation>Magnetic axis position (used to define a poloidal angle for the 2D profiles)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
