error_b_field/dd_error_b_field.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="UTF-8" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="UTF-8" ?>
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="error_b_field_surface">
		<xs:annotation>
			<xs:documentation>Fourier decompositions of the normal components of the B-field for a given control surface</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="outline" type="rz1d_constant">
				<xs:annotation>
					<xs:documentation>Set of points defining the surface in a poloidal plane. The surface then extends in the toroidal direction in an axisymmetric way</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="normal_vector" type="rz1d_constant">
				<xs:annotation>
					<xs:documentation>Components of the normal vector to the surface, given on each point of the surface</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="phi">
				<xs:annotation>
					<xs:documentation>Toroidal angle array, on which the Fourier decomposition is carried out</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>rad</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="n_tor">
				<xs:annotation>
					<xs:documentation>Toroidal mode number</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_field_r">
				<xs:annotation>
					<xs:documentation>R component of the vacuum error magnetic field on the various surface points</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>T</units>
						<coordinate1>../outline/r</coordinate1>
						<coordinate2>../phi</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_field_z">
				<xs:annotation>
					<xs:documentation>Z component of the vacuum error magnetic field on the various surface points</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>T</units>
						<coordinate1>../outline/r</coordinate1>
						<coordinate2>../phi</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_field_phi">
				<xs:annotation>
					<xs:documentation>Toroidal component of the vacuum error magnetic field on the various surface points</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>T</units>
						<coordinate1>../outline/r</coordinate1>
						<coordinate2>../phi</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_field_normal">
				<xs:annotation>
					<xs:documentation>Normal component of the vacuum error magnetic field on the various surface points</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>T</units>
						<coordinate1>../outline/r</coordinate1>
						<coordinate2>../phi</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_field_normal_fourier">
				<xs:annotation>
					<xs:documentation>Fourier coefficients of the normal component of the vacuum error magnetic field on the various surface points</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>T</units>
						<coordinate1>../outline/r</coordinate1>
						<coordinate2>../n_tor</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="error_b_field_static">
		<xs:annotation>
			<xs:documentation>Static description of the error field on a 3D grid</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the scenario/configuration</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="grid" type="rzphi1d_grid">
				<xs:annotation>
					<xs:documentation>3D grid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="b_field_r">
				<xs:annotation>
					<xs:documentation>R component of the vacuum error magnetic field</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>T</units>
						<coordinate1>../grid/r</coordinate1>
						<coordinate2>../grid/z</coordinate2>
						<coordinate3>../grid/phi</coordinate3>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_field_z">
				<xs:annotation>
					<xs:documentation>Z component of the vacuum error magnetic field</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>T</units>
						<coordinate1>../grid/r</coordinate1>
						<coordinate2>../grid/z</coordinate2>
						<coordinate3>../grid/phi</coordinate3>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_field_phi">
				<xs:annotation>
					<xs:documentation>Toroidal component of the vacuum error magnetic field</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>T</units>
						<coordinate1>../grid/r</coordinate1>
						<coordinate2>../grid/z</coordinate2>
						<coordinate3>../grid/phi</coordinate3>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="error_b_field">
		<xs:annotation>
			<xs:documentation>Vacuum 3d error magnetic field (the full 3d magnetic field with the axisymmetric components subtracted)</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.39.0</lifecycle_version>
				<lifecycle_last_change>3.39.0</lifecycle_last_change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="field_map" type="error_b_field_static">
					<xs:annotation>
						<xs:documentation>Static description of the error field map for a given  scenario/machine configuration</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="control_surface" type="error_b_field_surface" maxOccurs="20">
					<xs:annotation>
						<xs:documentation>Magnetic field components and Fourier decomposition of the normal components of the magnetic field for a set of given control surfaces </xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
