coils_non_axisymmetric/dd_coils_non_axisymmetric.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="UTF-8" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="normal_binormal_static">
		<xs:annotation>
			<xs:documentation>Structure for list of normal, binormal positions (1D, static)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="normal">
				<xs:annotation>
					<xs:documentation>Coordinate along the normal axis</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="binormal">
				<xs:annotation>
					<xs:documentation>Coordinates along the binormal axis</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
						<coordinate1>../normal</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="coil_cross_section">
		<xs:annotation>
			<xs:documentation>Coil cross-section</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="geometry_type" type="identifier_static">
				<xs:annotation>
					<xs:documentation>Geometry type used to describe the cross section of this element. The conductor centre is given by the ../../elements description.</xs:documentation>
					<xs:appinfo>
						<doc_identifier>utilities/surface_geometry_identifier.xml</doc_identifier>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="width">
				<xs:annotation>
					<xs:documentation>Full width of the rectangle or square in the normal direction, when geometry_type/index = 3 or 4. Diameter of the circle when geometry_type/index = 2. Outer diameter of the annulus in case geometry_type/index = 5</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="height">
				<xs:annotation>
					<xs:documentation>Full height of the rectangle in the binormal direction, used only if geometry_type/index = 3</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="radius_inner">
				<xs:annotation>
					<xs:documentation>Inner radius of the annulus, used only if geometry_type/index = 5</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="outline" type="normal_binormal_static">
				<xs:annotation>
					<xs:documentation>Polygonal outline of the cross section in the (normal, binormal) coordinate system. Do NOT repeat the first point.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="surface">
				<xs:annotation>
					<xs:documentation>Surface of the conductor cross-section, derived from the above geometric data</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="coil_na_rzphi1d_static">
		<xs:annotation>
			<xs:documentation>Structure for list of R, Z, Phi positions (1D, static), with a reference to the types coordinate specific to this IDS</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="r">
				<xs:annotation>
					<xs:documentation>Major radius</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
						<coordinate1>../../types</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z">
				<xs:annotation>
					<xs:documentation>Height</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
						<coordinate1>../../types</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="phi">
				<xs:annotation>
					<xs:documentation>Toroidal angle (oriented counter-clockwise when viewing from above)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>rad</units>
						<coordinate1>../../types</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="coil_conductor_elements">
		<xs:annotation>
			<xs:documentation>Elements descibring the conductor contour</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="types">
				<xs:annotation>
					<xs:documentation>Type of every element: 1: line segment, its ends are given by the start and end points; index = 2: arc of a circle; index = 3: full circle</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="start_points" type="coil_na_rzphi1d_static">
				<xs:annotation>
					<xs:documentation>Position of the start point of every element</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="intermediate_points" type="coil_na_rzphi1d_static">
				<xs:annotation>
					<xs:documentation>Position of an intermediate point along the circle or arc of circle, for every element, providing the orientation of the element (must define with the corresponding start point an aperture angle strictly inferior to PI). In the case of a line segment (../types/index=1), fill this node with a point defining the element's normal axis (see documentation of ../elements)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="end_points" type="coil_na_rzphi1d_static">
				<xs:annotation>
					<xs:documentation>Position of the end point of every element. Meaningful only if type/index = 1 or 2, fill with default/empty value otherwise</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="centres" type="coil_na_rzphi1d_static">
				<xs:annotation>
					<xs:documentation>Position of the centre of the arc of a circle of every element (meaningful only if type/index = 2 or 3, fill with default/empty value otherwise)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="coil_conductor">
		<xs:annotation>
			<xs:documentation>Description of a conductor</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="elements" type="coil_conductor_elements">
				<xs:annotation>
					<xs:documentation>Set of geometrical elements (line segments and/or arcs of a circle) describing the contour of the conductor centre. We define a coordinate system associated to each element as follows: for the arc and circle elements: binormal = (start point - center) x (intermediate point - center). This vector points in the direction of the circle / arc axis. normal = (center - point on curve). The normal vector will rotate as the point moves around the curve. Tangent = normal x binormal. For the line element we require an extra point, using the currently redundant intermediate point to define the line element's normal axis. The local coordinates for the line element then become: tangent = end point - start point; normal = intermediate point - start point; binormal = tangent x normal. It is assumed that all the axes above are normalized such that they have a unit length.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cross_section" type="coil_cross_section" maxOccurs="50">
				<xs:annotation>
					<xs:documentation>The cross-section perpendicular to the conductor contour is described by a series of contour points, given by their relative position with respect to the start point of each element. If the size of this array of structure is equal to 1, then the cross-section is given only for the first element and translated along the conductor elements. Otherwise, it's given explictly for each element, allowing to describe changes of the cross section shape</xs:documentation>
					<xs:appinfo>
						<introduced_after_version>3.39.0</introduced_after_version>
						<coordinate1>../elements/types OR 1...1</coordinate1>
						<change_nbc_version>3.40.0</change_nbc_version>
						<change_nbc_description>type_changed</change_nbc_description>
						<change_nbc_previous_type>delta_rzphi1d_static</change_nbc_previous_type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="resistance">
				<xs:annotation>
					<xs:documentation>conductor resistance</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>Ohm</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="voltage" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Voltage on the conductor terminals. Sign convention : positive when the current flows in the direction in which conductor elements are ordered (from start to end for a positive polarity coil)</xs:documentation>
					<xs:appinfo>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="coil">
		<xs:annotation>
			<xs:documentation>Description of a given coil</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the coil</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="identifier">
				<xs:annotation>
					<xs:documentation>Alphanumeric identifier of coil</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="conductor" type="coil_conductor" maxOccurs="20">
				<xs:annotation>
					<xs:documentation>Set of conductors inside the coil. The structure can be used with size 1 for a simplified description as a single conductor. A conductor is composed of several elements, serially connected, i.e. transporting the same current.</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="turns">
				<xs:annotation>
					<xs:documentation>Number of total turns in the coil. May be a fraction when describing the coil connections.</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="resistance">
				<xs:annotation>
					<xs:documentation>Coil resistance</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>Ohm</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="current" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Current in one turn of the coil (to be multiplied by the number of turns to calculate the magnetic field generated). Sign convention : a positive current flows in the direction in which conductor elements are ordered (from start to end for a positive polarity coil)</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="voltage" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Voltage on the coil terminals. Sign convention : positive when the current flows in the direction in which conductor elements are ordered (from start to end for a positive polarity coil)</xs:documentation>
					<xs:appinfo>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="coils_non_axisymmetric">
		<xs:annotation>
			<xs:documentation>Non axisymmetric active coils system (e.g. ELM control coils, error field correction coils, ...)</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.19.1</lifecycle_version>
				<lifecycle_last_change>3.40.0</lifecycle_last_change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="coil" type="coil" maxOccurs="32">
					<xs:annotation>
						<xs:documentation>Set of coils</xs:documentation>
						<xs:appinfo>
							<type>static</type>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="latency">
					<xs:annotation>
						<xs:documentation>Upper bound of the delay between input command received from the RT network and actuator starting to react. Applies globally to the system described by this IDS unless specific latencies (e.g. channel-specific or antenna-specific) are provided at a deeper level in the IDS structure.</xs:documentation>
						<xs:appinfo>
							<type>static</type>
							<units>s</units>
							<introduced_after_version>3.32.1</introduced_after_version>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_0D"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
