refractometer/dd_refractometer.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="refractometer_channel">
		<xs:annotation>
			<xs:documentation>refractometer channel</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the channel</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="identifier">
				<xs:annotation>
					<xs:documentation>ID of the channel</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="mode">
				<xs:annotation>
					<xs:documentation>Detection mode "X" or "O"</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="line_of_sight" type="line_of_sight_2points">
				<xs:annotation>
					<xs:documentation>Description of the line of sight. The first point corresponds to the probing wave emission point. The second point corresponds to the probing wave detection point</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sweep_time">
				<xs:annotation>
					<xs:documentation>Duration of a sweep</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="frequencies">
				<xs:annotation>
					<xs:documentation>Array of frequencies scanned during a sweep</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>Hz</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="phase" type="signal_flt_2d">
				<xs:annotation>
					<xs:documentation>Measured phase of the envelope of the probing signal for each frequency and time slice (corresponding to the begin time of a sweep), relative to the phase at launch</xs:documentation>
					<xs:appinfo>
						<coordinate1>../frequencies</coordinate1>
						<coordinate2>time</coordinate2>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_e_line" type="signal_flt_1d">
				<xs:annotation>
					<xs:documentation>Integral of the electron density along the line of sight, deduced from the envelope phase measurements</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<units>m^-2</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="phase_quadrature" type="signal_flt_2d">
				<xs:annotation>
					<xs:documentation>In-phase and Quadrature components of the analysed signal. They are returned by an IQ-detector, that takes carrying and reference signals as the input and yields I and Q components. These are respectively stored as the first and the second index of the first dimension of the data child.</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...2</coordinate1>
						<coordinate2>time</coordinate2>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="refractometer">
		<xs:annotation>
			<xs:documentation>Density profile refractometer diagnostic</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.31.0</lifecycle_version>
				<lifecycle_last_change>3.31.0</lifecycle_last_change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="type">
					<xs:annotation>
						<xs:documentation>Type of refractometer (differential, impulse, ...)</xs:documentation>
						<xs:appinfo>
							<type>static</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="STR_0D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="channel" type="refractometer_channel" maxOccurs="5">
					<xs:annotation>
						<xs:documentation>Set of channels, e.g. different reception antennas or frequency bandwidths of the refractometer</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
