edge_sources/dd_edge_sources.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Utilities/DD_Support.xsd"/>
	<xs:complexType name="edge_sources_source_ggd_neutral_state">
		<xs:annotation>
			<xs:documentation>Source terms related to the a given state of the neutral species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying state</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="vibrational_level">
				<xs:annotation>
					<xs:documentation>Vibrational level (can be bundled)</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="vibrational_mode">
				<xs:annotation>
					<xs:documentation>Vibrational mode of this state, e.g. "A_g". Need to define, or adopt a standard nomenclature.</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="electron_configuration">
				<xs:annotation>
					<xs:documentation>Configuration of atomic orbitals of this state, e.g. 1s2-2s1</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="neutral_type" type="identifier">
				<xs:annotation>
					<xs:documentation>Neutral type, in terms of energy. ID =1: cold; 2: thermal; 3: fast; 4: NBI</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="particles" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source term for the charge state density transport equation</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>s^-1.m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source terms for the charge state energy transport equation</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>W.m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="momentum" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source term for momentum equations, on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>kg.m^-1.s^-2</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="edge_sources_source_ggd_ion_state">
		<xs:annotation>
			<xs:documentation>Source terms related to the a given state of the ion species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="z_min">
				<xs:annotation>
					<xs:documentation>Minimum Z of the charge state bundle</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_max">
				<xs:annotation>
					<xs:documentation>Maximum Z of the charge state bundle</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying charge state (e.g. C+, C+2 , C+3, C+4, C+5, C+6, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="vibrational_level">
				<xs:annotation>
					<xs:documentation>Vibrational level (can be bundled)</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="vibrational_mode">
				<xs:annotation>
					<xs:documentation>Vibrational mode of this state, e.g. "A_g". Need to define, or adopt a standard nomenclature.</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="electron_configuration">
				<xs:annotation>
					<xs:documentation>Configuration of atomic orbitals of this state, e.g. 1s2-2s1</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="particles" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source term for the charge state density transport equation</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>s^-1.m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source terms for the charge state energy transport equation</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>W.m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="momentum" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source term for momentum equations, on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>kg.m^-1.s^-2</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="edge_sources_source_ggd_ion">
		<xs:annotation>
			<xs:documentation>Source terms related to a given ion species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="element" type="plasma_composition_neutral_element" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of elements forming the atom or molecule</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="z_ion">
				<xs:annotation>
					<xs:documentation>Ion charge (of the dominant ionisation state; lumped ions are allowed)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>Elementary Charge Unit</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying ion (e.g. H+, D+, T+, He+2, C+, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="neutral_index">
				<xs:annotation>
					<xs:documentation>Index of the corresponding neutral species in the ../../neutral array</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="particles" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source term for ion density equation, on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>s^-1.m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source term for the ion energy transport equation, on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>W.m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="momentum" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source term for momentum equations (sum over states when multiple states are considered), on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>kg.m^-1.s^-2</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="multiple_states_flag">
				<xs:annotation>
					<xs:documentation>Multiple states calculation flag : 0-Only one state is considered; 1-Multiple states are considered and are described in the state structure</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="state" type="edge_sources_source_ggd_ion_state" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source terms related to the different charge states of the species (ionisation, energy, excitation, ...)</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="edge_sources_source_ggd_neutral">
		<xs:annotation>
			<xs:documentation>Source terms related to a given neutral species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="element" type="plasma_composition_neutral_element" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of elements forming the atom or molecule</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying neutral (e.g. H, D, T, He, C, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ion_index">
				<xs:annotation>
					<xs:documentation>Index of the corresponding ion species in the ../../ion array</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="particles" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source term for ion density equation, on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>s^-1.m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source term for the ion energy transport equation, on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>W.m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="momentum" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source term for momentum equations (sum over states when multiple states are considered), on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>kg.m^-1.s^-2</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="multiple_states_flag">
				<xs:annotation>
					<xs:documentation>Multiple states calculation flag : 0-Only one state is considered; 1-Multiple states are considered and are described in the state structure</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="state" type="edge_sources_source_ggd_neutral_state" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source terms related to the different charge states of the species (energy, excitation, ...)</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="edge_sources_source_ggd_electrons">
		<xs:annotation>
			<xs:documentation>Source terms related to electrons</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="particles" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source term for electron density equation, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m^-3.s^-1</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source term for the electron energy equation, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>W.m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="edge_sources_source_ggd">
		<xs:annotation>
			<xs:documentation>Source terms for a given time slice</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="electrons" type="edge_sources_source_ggd_electrons">
				<xs:annotation>
					<xs:documentation>Sources for electrons</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ion" type="edge_sources_source_ggd_ion" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source terms related to the different ion species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="neutral" type="edge_sources_source_ggd_neutral" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source terms related to the different neutral species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="total_ion_energy" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source term for the total (summed over ion  species) energy equation, on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>W.m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="momentum" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source term for total momentum equations, on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>kg.m^-1.s^-2</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="current" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Current density source</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>A.m^-2</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="edge_sources_source">
		<xs:annotation>
			<xs:documentation>Source terms for a given actuator</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier" type="identifier">
				<xs:annotation>
					<xs:documentation>Source term identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="grid_ggd" type="generic_grid_dynamic" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Grid (using the Generic Grid Description), for various time slices. The timebase of this array of structure must be a subset of the ggd timebase</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ggd" type="edge_sources_source_ggd" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Source terms represented using the general grid description, for various time slices</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="edge_sources">
		<xs:annotation>
			<xs:documentation>Edge plasma sources. Energy terms correspond to the full kinetic energy equation (i.e. the energy flux takes into account the energy transported by the particle flux)</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.2.1</lifecycle_version>
				<lifecycle_last_change>3.3.1</lifecycle_last_change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="source" type="edge_sources_source" maxOccurs="15">
					<xs:annotation>
						<xs:documentation>Set of source terms</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
