mhd_linear/dd_mhd_linear.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Utilities/DD_Support.xsd"/>
	<xs:complexType name="complex_2d_dynamic_aos_mhd_linear_vector">
		<xs:annotation>
			<xs:documentation>Structure (temporary) for real and imaginary part, while waiting for the implementation of complex numbers, dynamic within a type 3 array of structure (index on time))</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="real">
				<xs:annotation>
					<xs:documentation>Real part</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
						<coordinate1>../../../grid/dim1</coordinate1>
						<coordinate2>../../../grid/dim2</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="imaginary">
				<xs:annotation>
					<xs:documentation>Imaginary part</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
						<coordinate1>../../../grid/dim1</coordinate1>
						<coordinate2>../../../grid/dim2</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="complex_2d_dynamic_aos_mhd_scalar">
		<xs:annotation>
			<xs:documentation>Structure (temporary) for real and imaginary part, while waiting for the implementation of complex numbers, dynamic within a type 3 array of structure (index on time))</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="real">
				<xs:annotation>
					<xs:documentation>Real part</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
						<coordinate1>../../grid/dim1</coordinate1>
						<coordinate2>../../grid/dim2</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="imaginary">
				<xs:annotation>
					<xs:documentation>Imaginary part</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
						<coordinate1>../../grid/dim1</coordinate1>
						<coordinate2>../../grid/dim2</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mhd_linear_vector">
		<xs:annotation>
			<xs:documentation>Vector structure for the MHD IDS</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="coordinate1" type="complex_2d_dynamic_aos_mhd_linear_vector">
				<xs:annotation>
					<xs:documentation>First coordinate (radial)</xs:documentation>
					<xs:appinfo>
						<units>as parent</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="coordinate2" type="complex_2d_dynamic_aos_mhd_linear_vector">
				<xs:annotation>
					<xs:documentation>Second coordinate (poloidal)</xs:documentation>
					<xs:appinfo>
						<units>as parent</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="coordinate3" type="complex_2d_dynamic_aos_mhd_linear_vector">
				<xs:annotation>
					<xs:documentation>Third coordinate (toroidal)</xs:documentation>
					<xs:appinfo>
						<units>as parent</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mhd_linear_time_slice_toroidal_mode_vacuum">
		<xs:annotation>
			<xs:documentation>MHD modes in the vacuum</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="grid_type" type="identifier">
				<xs:annotation>
					<xs:documentation>Selection of one of a set of grid types</xs:documentation>
					<xs:appinfo>
						<doc_identifier>utilities/poloidal_plane_coordinates_identifier.xml</doc_identifier>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="grid" type="equilibrium_profiles_2d_grid">
				<xs:annotation>
					<xs:documentation>Definition of the 2D grid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="a_field_perturbed" type="mhd_linear_vector">
				<xs:annotation>
					<xs:documentation>Pertubed vector potential for given toroidal mode number</xs:documentation>
					<xs:appinfo>
						<units>T.m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="b_field_perturbed" type="mhd_linear_vector">
				<xs:annotation>
					<xs:documentation>Pertubed magnetic field for given toroidal mode number</xs:documentation>
					<xs:appinfo>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mhd_linear_time_slice_toroidal_mode_plasma">
		<xs:annotation>
			<xs:documentation>MHD modes in the confined plasma</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="grid_type" type="identifier">
				<xs:annotation>
					<xs:documentation>Selection of one of a set of grid types</xs:documentation>
					<xs:appinfo>
						<doc_identifier>utilities/poloidal_plane_coordinates_identifier.xml</doc_identifier>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="grid" type="equilibrium_profiles_2d_grid">
				<xs:annotation>
					<xs:documentation>Definition of the 2D grid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="displacement_perpendicular" type="complex_2d_dynamic_aos_mhd_scalar">
				<xs:annotation>
					<xs:documentation>Perpendicular displacement of the modes</xs:documentation>
					<xs:appinfo>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="displacement_parallel" type="complex_2d_dynamic_aos_mhd_scalar">
				<xs:annotation>
					<xs:documentation>Parallel displacement of the modes</xs:documentation>
					<xs:appinfo>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="tau_alfven">
				<xs:annotation>
					<xs:documentation>Alven time=R/vA=R0 sqrt(mi ni(rho))/B0</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../grid/dim1</coordinate1>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="tau_resistive">
				<xs:annotation>
					<xs:documentation>Resistive time = mu_0 rho*rho/1.22/eta_neo</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../grid/dim1</coordinate1>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="a_field_perturbed" type="mhd_linear_vector">
				<xs:annotation>
					<xs:documentation>Pertubed vector potential for given toroidal mode number</xs:documentation>
					<xs:appinfo>
						<units>T.m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="b_field_perturbed" type="mhd_linear_vector">
				<xs:annotation>
					<xs:documentation>Pertubed magnetic field for given toroidal mode number</xs:documentation>
					<xs:appinfo>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="velocity_perturbed" type="mhd_linear_vector">
				<xs:annotation>
					<xs:documentation>Pertubed velocity for given toroidal mode number</xs:documentation>
					<xs:appinfo>
						<units>m/s</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pressure_perturbed" type="complex_2d_dynamic_aos_mhd_scalar">
				<xs:annotation>
					<xs:documentation>Perturbed pressure for given toroidal mode number</xs:documentation>
					<xs:appinfo>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="mass_density_perturbed" type="complex_2d_dynamic_aos_mhd_scalar">
				<xs:annotation>
					<xs:documentation>Perturbed mass density for given toroidal mode number</xs:documentation>
					<xs:appinfo>
						<units>kg.m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="temperature_perturbed" type="complex_2d_dynamic_aos_mhd_scalar">
				<xs:annotation>
					<xs:documentation>Perturbed temperature for given toroidal mode number</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mhd_linear_time_slice_toroidal_modes">
		<xs:annotation>
			<xs:documentation>Vector of toroidal modes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="n_tor">
				<xs:annotation>
					<xs:documentation>Toroidal mode number of the MHD mode</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="growthrate">
				<xs:annotation>
					<xs:documentation>Linear growthrate of the mode</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="frequency">
				<xs:annotation>
					<xs:documentation>Frequency of the mode</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="plasma" type="mhd_linear_time_slice_toroidal_mode_plasma">
				<xs:annotation>
					<xs:documentation>MHD modes in the confined plasma</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vacuum" type="mhd_linear_time_slice_toroidal_mode_vacuum">
				<xs:annotation>
					<xs:documentation>MHD modes in the vacuum</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mhd_linear_time_slice">
		<xs:annotation>
			<xs:documentation>Time slice description of linear MHD stability</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="toroidal_mode" type="mhd_linear_time_slice_toroidal_modes" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Vector of toroidal modes</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="mhd_linear">
		<xs:annotation>
			<xs:documentation>Magnetohydronamic linear stability</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.0.4</lifecycle_version>
				<lifecycle_last_change>3.11.0</lifecycle_last_change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="vacuum_toroidal_field" type="b_tor_vacuum_1">
					<xs:annotation>
						<xs:documentation>Characteristics of the vacuum toroidal field (used in rho_tor definition and in the normalization of current densities)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="time_slice" type="mhd_linear_time_slice" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Core plasma radial profiles for various time slices</xs:documentation>
						<xs:appinfo>
							<coordinate1>time</coordinate1>
							<type>dynamic</type>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
