PFactive/DD_PFactive.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="..\Utilities\DD_Support.xsd"/>
	<xs:complexType name="pf_supplies">
		<xs:annotation>
			<xs:documentation>PF power supplies</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the PF supply</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="identifier">
				<xs:annotation>
					<xs:documentation>Identifier of the supply</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="type">
				<xs:annotation>
					<xs:documentation>Type of the supply; TBD add free description of non-linear power supplies</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="resistance">
				<xs:annotation>
					<xs:documentation>Power supply internal resistance</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>Ohm</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="delay">
				<xs:annotation>
					<xs:documentation>Pure delay in the supply</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="filter_numerator">
				<xs:annotation>
					<xs:documentation>Coefficients of the numerator, in increasing order : a0 + a1*s + ... + an*s^n; used for a linear supply description</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="filter_denominator">
				<xs:annotation>
					<xs:documentation>Coefficients of the denominator, in increasing order : b0 + b1*s + ... + bm*s^m; used for a linear supply description</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="current_limit_max">
				<xs:annotation>
					<xs:documentation>Maximum current in the supply</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="current_limit_min">
				<xs:annotation>
					<xs:documentation>Minimum current in the supply</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="voltage_limit_max">
				<xs:annotation>
					<xs:documentation>Maximum voltage from the supply</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="voltage_limit_min">
				<xs:annotation>
					<xs:documentation>Minimum voltage from the supply</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="current_limiter_gain">
				<xs:annotation>
					<xs:documentation>Gain to prevent overcurrent in a linear model of the supply</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="energy_limit_max">
				<xs:annotation>
					<xs:documentation>Maximum energy to be dissipated in the supply during a pulse</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>J</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="nonlinear_model">
				<xs:annotation>
					<xs:documentation>Description of the nonlinear transfer function of the supply</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="voltage">
				<xs:annotation>
					<xs:documentation>Voltage at the supply output</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>time</coordinate1>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="current">
				<xs:annotation>
					<xs:documentation>Current at the supply output, defined positive if it flows from point 1 to point 2 of the component in the pfcircuit description</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>time</coordinate1>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pf_circuits">
		<xs:annotation>
			<xs:documentation>Circuits, connecting multiple PF coils to multiple supplies, defining the current and voltage relationships in the system</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the circuit</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="identifier">
				<xs:annotation>
					<xs:documentation>ID of the circuit</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="type">
				<xs:annotation>
					<xs:documentation>Type of the circuit</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="connections">
				<xs:annotation>
					<xs:documentation>Description of the supplies and coils connections (nodes) across the circuit. The matrix describing for each node (first dimension) which components are connected to it (1 if connected, 0 otherwise). There are 2 sides to each component, thus 2*ncomponents as the size of the second dimension, listing first all supplies, then all coils (in the same order as listed in SUPPLIES and COILS). An example can be found in the data structure documentation PFconnections.pdf (TBD)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>1...2*N</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="voltage">
				<xs:annotation>
					<xs:documentation>Voltage on the circuit</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>time</coordinate1>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="current">
				<xs:annotation>
					<xs:documentation>Current in the circuit</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>time</coordinate1>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pf_coils_elements">
		<xs:annotation>
			<xs:documentation>Each PF coil is comprised of a number of cross-section elements described  individually</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of this element of this coil</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="identifier">
				<xs:annotation>
					<xs:documentation>Identifier of this element of this coil</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="turns_with_sign">
				<xs:annotation>
					<xs:documentation>Number of effective turns in the element for calculating magnetic fields of the coil; includes the sign of the number of turns</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="area">
				<xs:annotation>
					<xs:documentation>Cross-sectional areas of the element</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="geometry" type="outline_2d_geometry_static">
				<xs:annotation>
					<xs:documentation>Cross-sectional shape of the element</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pf_coils">
		<xs:annotation>
			<xs:documentation>Active PF coils</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the coil</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="identifier">
				<xs:annotation>
					<xs:documentation>Alphanumeric identifier of coils used for convenience</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="resistance">
				<xs:annotation>
					<xs:documentation>Coil resistance</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>Ohm</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="energy_limit_max">
				<xs:annotation>
					<xs:documentation>Maximum Energy to be dissipated in the coil</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>J</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="element" type="pf_coils_elements" maxOccurs="20">
				<xs:annotation>
					<xs:documentation>Each PF coil is comprised of a number of cross-section elements described  individually</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="current">
				<xs:annotation>
					<xs:documentation>Current in the coil</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>time</coordinate1>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="voltage">
				<xs:annotation>
					<xs:documentation>Voltage on the coil terminals</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>time</coordinate1>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pf_vertical_forces">
		<xs:annotation>
			<xs:documentation>Vertical forces on the axisymmetric PF+CS coil system</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the force combination</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="combination">
				<xs:annotation>
					<xs:documentation>Coils involved in the force combinations ???</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="limit_max">
				<xs:annotation>
					<xs:documentation>Vertical force combination limit</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>N</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="limit_min">
				<xs:annotation>
					<xs:documentation>Vertical force combination limit</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>N</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="force">
				<xs:annotation>
					<xs:documentation>Force </xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../time</coordinate1>
						<units>N</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="pfactive">
		<xs:annotation>
			<xs:documentation>Description of the axisymmetric active poloidal field (PF) coils and supplies; includes the limits of these systems; includes the forces on them; does not include non-axisymmetric coil systems</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="coil" type="pf_coils" maxOccurs="20">
					<xs:annotation>
						<xs:documentation>Active PF coils</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="vertical_force" type="pf_vertical_forces" maxOccurs="10">
					<xs:annotation>
						<xs:documentation>Vertical forces on the axisymmetric PF coil system</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="circuit" type="pf_circuits" maxOccurs="20">
					<xs:annotation>
						<xs:documentation>Circuits, connecting multiple PF coils to multiple supplies, defining the current and voltage relationships in the system</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="supply" type="pf_supplies" maxOccurs="20">
					<xs:annotation>
						<xs:documentation>PF power supplies</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
