transport_solver_numerics/dd_transport_solver_numerics.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="numerics_profiles_1d_derivatives_charge_state_d">
		<xs:annotation>
			<xs:documentation>Quantities related to a given charge state, derivatives with respect to a given quantity</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="temperature">
				<xs:annotation>
					<xs:documentation>Temperature</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../grid/rho_tor_norm</coordinate1>
						<units>eV</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="density">
				<xs:annotation>
					<xs:documentation>Density (thermal+non-thermal)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../grid/rho_tor_norm</coordinate1>
						<units>m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="density_fast">
				<xs:annotation>
					<xs:documentation>Density of fast (non-thermal) particles</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../grid/rho_tor_norm</coordinate1>
						<units>m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pressure">
				<xs:annotation>
					<xs:documentation>Pressure</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pressure_fast_perpendicular">
				<xs:annotation>
					<xs:documentation>Fast (non-thermal) perpendicular pressure</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pressure_fast_parallel">
				<xs:annotation>
					<xs:documentation>Fast (non-thermal) parallel pressure</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="velocity_tor">
				<xs:annotation>
					<xs:documentation>Toroidal velocity</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../grid/rho_tor_norm</coordinate1>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="velocity_pol">
				<xs:annotation>
					<xs:documentation>Poloidal velocity</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../grid/rho_tor_norm</coordinate1>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_profiles_1d_derivatives_charge_state">
		<xs:annotation>
			<xs:documentation>Quantities related to a given charge state</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="z_min">
				<xs:annotation>
					<xs:documentation>Minimum Z of the charge state bundle</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_max">
				<xs:annotation>
					<xs:documentation>Maximum Z of the charge state bundle</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying charge state (e.g. C+, C+2 , C+3, C+4, C+5, C+6, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="vibrational_level">
				<xs:annotation>
					<xs:documentation>Vibrational level (can be bundled)</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="vibrational_mode">
				<xs:annotation>
					<xs:documentation>Vibrational mode of this state, e.g. "A_g". Need to define, or adopt a standard nomenclature.</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="is_neutral">
				<xs:annotation>
					<xs:documentation>Flag specifying if this state corresponds to a neutral (1) or not (0)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="neutral_type" type="identifier">
				<xs:annotation>
					<xs:documentation>Neutral type (if the considered state is a neutral), in terms of energy. ID =1: cold; 2: thermal; 3: fast; 4: NBI</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="electron_configuration">
				<xs:annotation>
					<xs:documentation>Configuration of atomic orbitals of this state, e.g. 1s2-2s1</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="d_drho_tor_norm" type="numerics_profiles_1d_derivatives_charge_state_d">
				<xs:annotation>
					<xs:documentation>Derivatives with respect to the normalised toroidal flux</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="d2_drho_tor_norm2" type="numerics_profiles_1d_derivatives_charge_state_d">
				<xs:annotation>
					<xs:documentation>Second derivatives with respect to the normalised toroidal flux</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="d_dt" type="numerics_profiles_1d_derivatives_charge_state_d">
				<xs:annotation>
					<xs:documentation>Derivatives with respect to time</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_profiles_1d_derivatives_ion_d">
		<xs:annotation>
			<xs:documentation>Quantities related to an ion species, derivatives with respect to a given quantity</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="temperature">
				<xs:annotation>
					<xs:documentation>Temperature (average over charge states when multiple charge states are considered)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>eV</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="density">
				<xs:annotation>
					<xs:documentation>Density (thermal+non-thermal) (sum over charge states when multiple charge states are considered)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="density_fast">
				<xs:annotation>
					<xs:documentation>Density of fast (non-thermal) particles (sum over charge states when multiple charge states are considered)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pressure">
				<xs:annotation>
					<xs:documentation>Pressure (average over charge states when multiple charge states are considered)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pressure_fast_perpendicular">
				<xs:annotation>
					<xs:documentation>Fast (non-thermal) perpendicular pressure  (average over charge states when multiple charge states are considered)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pressure_fast_parallel">
				<xs:annotation>
					<xs:documentation>Fast (non-thermal) parallel pressure  (average over charge states when multiple charge states are considered)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="velocity_tor">
				<xs:annotation>
					<xs:documentation>Toroidal velocity (average over charge states when multiple charge states are considered)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="velocity_pol">
				<xs:annotation>
					<xs:documentation>Poloidal velocity (average over charge states when multiple charge states are considered)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_profiles_1d_derivatives_ion">
		<xs:annotation>
			<xs:documentation>Quantities related to an ion species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="a">
				<xs:annotation>
					<xs:documentation>Mass of atom</xs:documentation>
					<xs:appinfo>
						<units>Atomic Mass Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_ion">
				<xs:annotation>
					<xs:documentation>Ion charge (of the dominant ionisation state; lumped ions are allowed)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>Elementary Charge Unit</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_n">
				<xs:annotation>
					<xs:documentation>Nuclear charge</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying ion (e.g. H+, D+, T+, He+2, C+, ...)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="d_drho_tor_norm" type="numerics_profiles_1d_derivatives_ion_d">
				<xs:annotation>
					<xs:documentation>Derivatives with respect to the normalised toroidal flux</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="d2_drho_tor_norm2" type="numerics_profiles_1d_derivatives_ion_d">
				<xs:annotation>
					<xs:documentation>Second derivatives with respect to the normalised toroidal flux</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="d_dt" type="numerics_profiles_1d_derivatives_ion_d">
				<xs:annotation>
					<xs:documentation>Derivatives with respect to time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="multiple_states_flag">
				<xs:annotation>
					<xs:documentation>Multiple state calculation flag : 0-Only one state is considered; 1-Multiple states are considered and are described in the state structure</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="state" type="numerics_profiles_1d_derivatives_charge_state" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quantities related to the different states of the species (ionisation, energy, excitation, ...)</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N_charge_states</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_profiles_1d_derivatives_electrons_d">
		<xs:annotation>
			<xs:documentation>Quantities related to electrons, derivatives with respect to a given quantity</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="temperature">
				<xs:annotation>
					<xs:documentation>Temperature</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>eV</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="density">
				<xs:annotation>
					<xs:documentation>Density (thermal+non-thermal)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="density_fast">
				<xs:annotation>
					<xs:documentation>Density of fast (non-thermal) particles</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pressure">
				<xs:annotation>
					<xs:documentation>Pressure</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pressure_fast_perpendicular">
				<xs:annotation>
					<xs:documentation>Fast (non-thermal) perpendicular pressure</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pressure_fast_parallel">
				<xs:annotation>
					<xs:documentation>Fast (non-thermal) parallel pressure</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="velocity_tor">
				<xs:annotation>
					<xs:documentation>Toroidal velocity</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="velocity_pol">
				<xs:annotation>
					<xs:documentation>Poloidal velocity</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_profiles_1d_derivatives_electrons">
		<xs:annotation>
			<xs:documentation>Quantities related to electrons</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="d_drho_tor_norm" type="numerics_profiles_1d_derivatives_electrons_d">
				<xs:annotation>
					<xs:documentation>Derivatives with respect to the normalised toroidal flux</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="d2_drho_tor_norm2" type="numerics_profiles_1d_derivatives_electrons_d">
				<xs:annotation>
					<xs:documentation>Second derivatives with respect to the normalised toroidal flux</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="d_dt" type="numerics_profiles_1d_derivatives_electrons_d">
				<xs:annotation>
					<xs:documentation>Derivatives with respect to time</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_profiles_1d_derivatives_total_ions">
		<xs:annotation>
			<xs:documentation>Quantities related to total ion quantities, derivatives with respect to a given quantity</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="n_i_total_over_n_e">
				<xs:annotation>
					<xs:documentation>Ratio of total ion density (sum over species and charge states) over electron density. (thermal+non-thermal)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>-</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pressure_ion_total">
				<xs:annotation>
					<xs:documentation>Total thermal ion pressure</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_profiles_1d_derivatives">
		<xs:annotation>
			<xs:documentation>Radial profiles derivatives for a given time slice</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="grid" type="core_radial_grid">
				<xs:annotation>
					<xs:documentation>Radial grid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="electrons" type="numerics_profiles_1d_derivatives_electrons">
				<xs:annotation>
					<xs:documentation>Quantities related to the electrons</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ion" type="numerics_profiles_1d_derivatives_ion" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quantities related to the different ion species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="d_drho_tor_norm" type="numerics_profiles_1d_derivatives_total_ions">
				<xs:annotation>
					<xs:documentation>Derivatives of total ion quantities with respect to the normalised toroidal flux</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="d2_drho_tor_norm2" type="numerics_profiles_1d_derivatives_total_ions">
				<xs:annotation>
					<xs:documentation>Second derivatives of total ion quantities with respect to the normalised toroidal flux</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="d_dt" type="numerics_profiles_1d_derivatives_total_ions">
				<xs:annotation>
					<xs:documentation>Derivatives of total ion quantities with respect to time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dpsi_dt">
				<xs:annotation>
					<xs:documentation>Derivative of the poloidal flux profile with respect to time</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<type>dynamic</type>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dpsi_dt_cphi">
				<xs:annotation>
					<xs:documentation>Derivative of the poloidal flux profile with respect to time, at constant toroidal flux</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<type>dynamic</type>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dpsi_dt_crho_tor_norm">
				<xs:annotation>
					<xs:documentation>Derivative of the poloidal flux profile with respect to time, at constant normalised toroidal flux coordinate</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<type>dynamic</type>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="drho_tor_dt">
				<xs:annotation>
					<xs:documentation>Partial derivative of the toroidal flux coordinate profile with respect to time</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<type>dynamic</type>
						<units>m.s^-1</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="d_dvolume_drho_tor_dt">
				<xs:annotation>
					<xs:documentation>Partial derivative with respect to time of the derivative of the volume with respect to the toroidal flux coordinate</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<type>dynamic</type>
						<units>m^2.s^-1</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dpsi_drho_tor">
				<xs:annotation>
					<xs:documentation>Derivative of the poloidal flux profile with respect to the toroidal flux coordinate</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<type>dynamic</type>
						<units>Wb.m^-1</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="d2psi_drho_tor2">
				<xs:annotation>
					<xs:documentation>Second derivative of the poloidal flux profile with respect to the toroidal flux coordinate</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<type>dynamic</type>
						<units>Wb.m^-2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_restart">
		<xs:annotation>
			<xs:documentation>Description of a restart file</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="names">
				<xs:annotation>
					<xs:documentation>Names of the restart files</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="descriptions">
				<xs:annotation>
					<xs:documentation>Descriptions of the restart files</xs:documentation>
					<xs:appinfo>
						<coordinate1>../names</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_bc_1d_current">
		<xs:annotation>
			<xs:documentation>Boundary conditions for the current diffusion equation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier" type="identifier">
				<xs:annotation>
					<xs:documentation>Identifier of the boundary condition type. ID = 1: poloidal flux; 2: ip; 3: loop voltage; 4: undefined; 5: generic boundary condition y expressed as a1y'+a2y=a3. 6: equation not solved; </xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>eV</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value of the boundary condition. For ID = 1 to 3, only the first position in the vector is used. For ID = 5, all three positions are used, meaning respectively a1, a2, a3. </xs:documentation>
					<xs:appinfo>
						<units>mixed</units>
						<type>dynamic</type>
						<coordinate1>1...3</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="rho_tor_norm">
				<xs:annotation>
					<xs:documentation>Position, in normalised toroidal flux, at which the boundary condition is imposed. Outside this position, the value of the data are considered to be prescribed.</xs:documentation>
					<xs:appinfo>
						<units>-</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_bc_ggd_current">
		<xs:annotation>
			<xs:documentation>Boundary conditions for the current diffusion equation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier" type="identifier">
				<xs:annotation>
					<xs:documentation>Identifier of the boundary condition type. List of options TBD.</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>eV</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="grid_index">
				<xs:annotation>
					<xs:documentation>Index of the grid used to represent this quantity</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="grid_subset_index">
				<xs:annotation>
					<xs:documentation>Index of the grid subset the data is provided on</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="values">
				<xs:annotation>
					<xs:documentation>List of vector components, one list per element in the grid subset. First dimenstion: element index. Second dimension: vector component index (for ID = 1 to 3, only the first position in the vector is used. For ID = 5, all three positions are used, meaning respectively a1, a2, a3)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>1...N</coordinate2>
						<units>mixed</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_bc_ggd_bc">
		<xs:annotation>
			<xs:documentation>Boundary conditions for a given transport equation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier" type="identifier">
				<xs:annotation>
					<xs:documentation>Identifier of the boundary condition type. List of options TBD.</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>eV</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="grid_index">
				<xs:annotation>
					<xs:documentation>Index of the grid used to represent this quantity</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="grid_subset_index">
				<xs:annotation>
					<xs:documentation>Index of the grid subset the data is provided on</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="values">
				<xs:annotation>
					<xs:documentation>List of vector components, one list per element in the grid subset. First dimenstion: element index. Second dimension: vector component index (for ID = 1 to 3, only the first position in the vector is used. For ID = 5, all three positions are used, meaning respectively a1, a2, a3)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>1...N</coordinate2>
						<units>mixed</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_bc_1d_bc">
		<xs:annotation>
			<xs:documentation>Boundary conditions for a given transport equation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier" type="identifier">
				<xs:annotation>
					<xs:documentation>Identifier of the boundary condition type. ID = 1: value of the field y; 2: radial derivative of the field (-dy/drho_tor); 3: scale length of the field y/(-dy/drho_tor); 4: flux; 5: generic boundary condition y expressed as a1y'+a2y=a3. 6: equation not solved; </xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>eV</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Value of the boundary condition. For ID = 1 to 4, only the first position in the vector is used. For ID = 5, all three positions are used, meaning respectively a1, a2, a3. </xs:documentation>
					<xs:appinfo>
						<units>mixed</units>
						<type>dynamic</type>
						<coordinate1>1...3</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="rho_tor_norm">
				<xs:annotation>
					<xs:documentation>Position, in normalised toroidal flux, at which the boundary condition is imposed. Outside this position, the value of the data are considered to be prescribed.</xs:documentation>
					<xs:appinfo>
						<units>-</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_bc_1d_electrons">
		<xs:annotation>
			<xs:documentation>Boundary conditions for the electron related transport equations</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="particles" type="numerics_bc_1d_bc">
				<xs:annotation>
					<xs:documentation>Boundary condition for the electron density equation (density if ID = 1) </xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>m^-3.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy" type="numerics_bc_1d_bc">
				<xs:annotation>
					<xs:documentation>Boundary condition for the electron energy equation (temperature if ID = 1) </xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>W.m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_bc_ggd_electrons">
		<xs:annotation>
			<xs:documentation>Boundary conditions for the electron related transport equations</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="particles" type="numerics_bc_ggd_bc" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Boundary condition for the electron density equation (density if ID = 1), on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m^-3.s^-1</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy" type="numerics_bc_ggd_bc" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Boundary condition for the electron energy equation (temperature if ID = 1), on various grid subsets </xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>W.m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_bc_1d_ion_charge_state">
		<xs:annotation>
			<xs:documentation>Boundary conditions for a given charge state related transport equations</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="z_min">
				<xs:annotation>
					<xs:documentation>Minimum Z of the charge state bundle</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_max">
				<xs:annotation>
					<xs:documentation>Maximum Z of the charge state bundle</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying charge state (e.g. C+, C+2 , C+3, C+4, C+5, C+6, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="vibrational_level">
				<xs:annotation>
					<xs:documentation>Vibrational level (can be bundled)</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="vibrational_mode">
				<xs:annotation>
					<xs:documentation>Vibrational mode of this state, e.g. "A_g". Need to define, or adopt a standard nomenclature.</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="is_neutral">
				<xs:annotation>
					<xs:documentation>Flag specifying if this state corresponds to a neutral (1) or not (0)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="neutral_type" type="identifier">
				<xs:annotation>
					<xs:documentation>Neutral type (if the considered state is a neutral), in terms of energy. ID =1: cold; 2: thermal; 3: fast; 4: NBI</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="electron_configuration">
				<xs:annotation>
					<xs:documentation>Configuration of atomic orbitals of this state, e.g. 1s2-2s1</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="particles" type="numerics_bc_1d_bc">
				<xs:annotation>
					<xs:documentation>Boundary condition for the charge state density equation (density if ID = 1) </xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>m^-3.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy" type="numerics_bc_1d_bc">
				<xs:annotation>
					<xs:documentation>Boundary condition for the charge state energy equation (temperature if ID = 1) </xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>W.m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_bc_ggd_ion_charge_state">
		<xs:annotation>
			<xs:documentation>Boundary conditions for a given charge state related transport equations</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="z_min">
				<xs:annotation>
					<xs:documentation>Minimum Z of the charge state bundle</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_max">
				<xs:annotation>
					<xs:documentation>Maximum Z of the charge state bundle</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying charge state (e.g. C+, C+2 , C+3, C+4, C+5, C+6, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="vibrational_level">
				<xs:annotation>
					<xs:documentation>Vibrational level (can be bundled)</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="vibrational_mode">
				<xs:annotation>
					<xs:documentation>Vibrational mode of this state, e.g. "A_g". Need to define, or adopt a standard nomenclature.</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="is_neutral">
				<xs:annotation>
					<xs:documentation>Flag specifying if this state corresponds to a neutral (1) or not (0)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="neutral_type" type="identifier">
				<xs:annotation>
					<xs:documentation>Neutral type (if the considered state is a neutral), in terms of energy. ID =1: cold; 2: thermal; 3: fast; 4: NBI</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="electron_configuration">
				<xs:annotation>
					<xs:documentation>Configuration of atomic orbitals of this state, e.g. 1s2-2s1</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="particles" type="numerics_bc_ggd_bc" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Boundary condition for the charge state density equation (density if ID = 1), on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m^-3.s^-1</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy" type="numerics_bc_ggd_bc" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Boundary condition for the charge state energy equation (temperature if ID = 1), on various grid subsets </xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>W.m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_bc_1d_ion">
		<xs:annotation>
			<xs:documentation>Boundary conditions for a given ion species related transport equations</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="a">
				<xs:annotation>
					<xs:documentation>Mass of atom</xs:documentation>
					<xs:appinfo>
						<units>Atomic Mass Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_ion">
				<xs:annotation>
					<xs:documentation>Ion charge (of the dominant ionisation state; lumped ions are allowed)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>Elementary Charge Unit</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_n">
				<xs:annotation>
					<xs:documentation>Nuclear charge</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying ion (e.g. H+, D+, T+, He+2, C+, ...)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="particles" type="numerics_bc_1d_bc">
				<xs:annotation>
					<xs:documentation>Boundary condition for the ion density equation (density if ID = 1) </xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>m^-3.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy" type="numerics_bc_1d_bc">
				<xs:annotation>
					<xs:documentation>Boundary condition for the ion energy equation (temperature if ID = 1) </xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>W.m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="multiple_states_flag">
				<xs:annotation>
					<xs:documentation>Multiple states calculation flag : 0-Only one state is considered; 1-Multiple states are considered and are described in the state structure</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="state" type="numerics_bc_1d_ion_charge_state" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quantities related to the different states of the species (ionisation, energy, excitation, ...)</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_bc_ggd_ion">
		<xs:annotation>
			<xs:documentation>Boundary conditions for a given ion species related transport equations</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="a">
				<xs:annotation>
					<xs:documentation>Mass of atom</xs:documentation>
					<xs:appinfo>
						<units>Atomic Mass Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_ion">
				<xs:annotation>
					<xs:documentation>Ion charge (of the dominant ionisation state; lumped ions are allowed)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>Elementary Charge Unit</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_n">
				<xs:annotation>
					<xs:documentation>Nuclear charge</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying ion (e.g. H+, D+, T+, He+2, C+, ...)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="particles" type="numerics_bc_ggd_bc" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Boundary condition for the ion density equation (density if ID = 1), on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m^-3.s^-1</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy" type="numerics_bc_ggd_bc" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Boundary condition for the ion energy equation (temperature if ID = 1), on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>W.m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="multiple_states_flag">
				<xs:annotation>
					<xs:documentation>Multiple states calculation flag : 0-Only one state is considered; 1-Multiple states are considered and are described in the state structure</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="state" type="numerics_bc_ggd_ion_charge_state" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quantities related to the different states of the species (ionisation, energy, excitation, ...)</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_bc_1d">
		<xs:annotation>
			<xs:documentation>Boundary conditions of radial transport equations for a given time slice</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="current" type="numerics_bc_1d_current">
				<xs:annotation>
					<xs:documentation>Boundary condition for the current diffusion equation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="electrons" type="numerics_bc_1d_electrons">
				<xs:annotation>
					<xs:documentation>Quantities related to the electrons</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ion" type="numerics_bc_1d_ion" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quantities related to the different ion species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy_ion_total" type="numerics_bc_1d_bc">
				<xs:annotation>
					<xs:documentation>Boundary condition for the ion total (sum over ion species) energy equation (temperature if ID = 1) </xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>W.m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="momentum_tor" type="numerics_bc_1d_bc">
				<xs:annotation>
					<xs:documentation>Boundary condition for the total plasma toroidal momentum equation (summed over ion species and electrons) (momentum if ID = 1) </xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>kg.m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_bc_ggd">
		<xs:annotation>
			<xs:documentation>Boundary conditions of radial transport equations for a given time slice</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="grid" type="generic_grid_dynamic">
				<xs:annotation>
					<xs:documentation>Grid description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="current" type="numerics_bc_ggd_current" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Boundary condition for the current diffusion equation, on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="electrons" type="numerics_bc_ggd_electrons">
				<xs:annotation>
					<xs:documentation>Quantities related to the electrons</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ion" type="numerics_bc_ggd_ion" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quantities related to the different ion species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_convergence_equations_single">
		<xs:annotation>
			<xs:documentation>Convergence details of a given transport equation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="iterations_n">
				<xs:annotation>
					<xs:documentation>Number of iterations carried out in the convergence loop</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_convergence_equations_ion_charge_state">
		<xs:annotation>
			<xs:documentation>Boundary conditions for a given charge state related transport equations</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="z_min">
				<xs:annotation>
					<xs:documentation>Minimum Z of the charge state bundle</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_max">
				<xs:annotation>
					<xs:documentation>Maximum Z of the charge state bundle</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying charge state (e.g. C+, C+2 , C+3, C+4, C+5, C+6, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="vibrational_level">
				<xs:annotation>
					<xs:documentation>Vibrational level (can be bundled)</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="vibrational_mode">
				<xs:annotation>
					<xs:documentation>Vibrational mode of this state, e.g. "A_g". Need to define, or adopt a standard nomenclature.</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="is_neutral">
				<xs:annotation>
					<xs:documentation>Flag specifying if this state corresponds to a neutral (1) or not (0)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="neutral_type" type="identifier">
				<xs:annotation>
					<xs:documentation>Neutral type (if the considered state is a neutral), in terms of energy. ID =1: cold; 2: thermal; 3: fast; 4: NBI</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="electron_configuration">
				<xs:annotation>
					<xs:documentation>Configuration of atomic orbitals of this state, e.g. 1s2-2s1</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="particles" type="numerics_convergence_equations_single">
				<xs:annotation>
					<xs:documentation>Convergence details of the charge state density equation</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>m^-3.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy" type="numerics_convergence_equations_single">
				<xs:annotation>
					<xs:documentation>Convergence details of the charge state energy equation </xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>W.m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_convergence_equations_ion">
		<xs:annotation>
			<xs:documentation>Convergence details of a given ion species related transport equations</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="a">
				<xs:annotation>
					<xs:documentation>Mass of atom</xs:documentation>
					<xs:appinfo>
						<units>Atomic Mass Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_ion">
				<xs:annotation>
					<xs:documentation>Ion charge (of the dominant ionisation state; lumped ions are allowed)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>Elementary Charge Unit</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_n">
				<xs:annotation>
					<xs:documentation>Nuclear charge</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying ion (e.g. H+, D+, T+, He+2, C+, ...)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="particles" type="numerics_convergence_equations_single">
				<xs:annotation>
					<xs:documentation>Convergence details of the  ion density equation</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>m^-3.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy" type="numerics_convergence_equations_single">
				<xs:annotation>
					<xs:documentation>Convergence details of the ion energy equation</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>W.m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="multiple_states_flag">
				<xs:annotation>
					<xs:documentation>Multiple state calculation flag : 0-Only one state is considered; 1-Multiple states are considered and are described in the state structure</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="state" type="numerics_convergence_equations_ion_charge_state" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Convergence details of the related to the different states transport equations</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_convergence_equations_electrons">
		<xs:annotation>
			<xs:documentation>Convergence details for the electron related equations</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="particles" type="numerics_convergence_equations_single">
				<xs:annotation>
					<xs:documentation>Convergence details of the electron density equation</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>m^-3.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy" type="numerics_convergence_equations_single">
				<xs:annotation>
					<xs:documentation>Convergence details of the electron energy equation</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>W.m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_convergence_equations">
		<xs:annotation>
			<xs:documentation>Convergence details of a given transport equation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="current" type="numerics_convergence_equations_single">
				<xs:annotation>
					<xs:documentation>Convergence details of the current diffusion equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="electrons" type="numerics_convergence_equations_electrons">
				<xs:annotation>
					<xs:documentation>Quantities related to the electrons</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ion" type="numerics_convergence_equations_ion" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quantities related to the different ion species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy_ion_total" type="numerics_convergence_equations_single">
				<xs:annotation>
					<xs:documentation>Convergence details of the ion total (sum over ion species) energy equation </xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>W.m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numerics_convergence">
		<xs:annotation>
			<xs:documentation>Convergence details</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="time_step">
				<xs:annotation>
					<xs:documentation>Internal time step used by the transport solver (assuming all transport equations are solved with the same time step)</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
						<coordinate1>time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="equations" type="numerics_convergence_equations" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Convergence details of the transport equations, for various time slices</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="transport_solver_numerics">
		<xs:annotation>
			<xs:documentation>Numerical quantities used by transport solvers and convergence details</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.1.0</lifecycle_version>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="derivatives_1d" type="numerics_profiles_1d_derivatives" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Radial profiles derivatives for various time slices</xs:documentation>
						<xs:appinfo>
							<coordinate1>time</coordinate1>
							<type>dynamic</type>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="boundary_conditions_1d" type="numerics_bc_1d" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Boundary conditions of the radial transport equations for various time slices</xs:documentation>
						<xs:appinfo>
							<coordinate1>time</coordinate1>
							<type>dynamic</type>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="boundary_conditions_ggd" type="numerics_bc_ggd" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Boundary conditions of the transport equations, provided on the GGD, for various time slices</xs:documentation>
						<xs:appinfo>
							<coordinate1>time</coordinate1>
							<type>dynamic</type>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="convergence" type="numerics_convergence">
					<xs:annotation>
						<xs:documentation>Convergence details</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="vacuum_toroidal_field" type="b_tor_vacuum_1">
					<xs:annotation>
						<xs:documentation>Characteristics of the vacuum toroidal field (used in rho_tor definition and in the normalization of current densities)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="restart_files" type="numerics_restart" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Set of code-specific restart files for a given time slice. These files are managed by a physical application to ensure its restart during long simulations</xs:documentation>
						<xs:appinfo>
							<coordinate1>time</coordinate1>
							<type>dynamic</type>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
