Core_Profiles/DD_Core_Profiles.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Utilities/DD_Support.xsd"/>
	<xs:complexType name="Core_Profiles_Global">
		<xs:annotation>
			<xs:documentation>Various global quantities calculated from the fields solved in the transport equations and from the Derived Profiles</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Current_Total">
				<xs:annotation>
					<xs:documentation>Total plasma current</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<units>A</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Current_Non_Inductive">
				<xs:annotation>
					<xs:documentation>Total non-inductive parallel current</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<units>A</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Current_Bootstrap">
				<xs:annotation>
					<xs:documentation>Bootstrap parallel current</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<units>A</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="V_Loop">
				<xs:annotation>
					<xs:documentation>Toroidal loop voltage</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<units>V</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="li_3">
				<xs:annotation>
					<xs:documentation>Internal inductance</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Beta_Tor">
				<xs:annotation>
					<xs:documentation>Toroidal beta (ratio of kinetic to magnetic pressure)</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Beta_Tor_Norm">
				<xs:annotation>
					<xs:documentation>Normalised toroidal beta</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Beta_Pol">
				<xs:annotation>
					<xs:documentation>Poloidal beta</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Energy_Diamagnetic">
				<xs:annotation>
					<xs:documentation>Plasma energy content = 3/2 * int(p,dV) with p being the total pressure (Pressure_Thermal + Pressure_Perpendicular)</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<units>A</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Core_Profiles">
		<xs:annotation>
			<xs:documentation>Core plasma 1D profiles. TBD: toroidal and poloidal velocities. Errorbars to be added.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IDS_Properties"/>
				<xs:element name="Rho_Tor_Norm">
					<xs:annotation>
						<xs:documentation>Normalised toroidal flux coordinate. The normalizing value for Rho_Tor_Norm, is the toroidal flux coordinate at the equilibrium boundary (LCFS or 99.x % of the LCFS in case of a fixed boundary equilibium calculation) </xs:documentation>
						<xs:appinfo>
							<type>SIGNAL</type>
							<axis1>1...N_Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Vacuum_Toroidal_Field" type="B_Tor_Vacuum">
					<xs:annotation>
						<xs:documentation>Characteristics of the vacuum toroidal field (used in Rho_Tor definition and in the normalization of current densities)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Plasma_Composition"/>
				<xs:element name="Psi">
					<xs:annotation>
						<xs:documentation>Poloidal magnetic flux</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
							<units>Wb</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Te">
					<xs:annotation>
						<xs:documentation>Electron temperature</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
							<units>eV</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Ti">
					<xs:annotation>
						<xs:documentation>Ion temperature</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Plasma_Composition/Ions</axis2>
							<axis3>../Timebase</axis3>
							<units>eV</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_3D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Ne">
					<xs:annotation>
						<xs:documentation>Electron density (thermal+non-thermal)</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
							<units>m^-3</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Ne_Fast">
					<xs:annotation>
						<xs:documentation>Density of fast (non-thermal) electrons</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
							<units>m^-3</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Ni">
					<xs:annotation>
						<xs:documentation>Ion density (thermal+non-thermal)</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Plasma_Composition/Ions</axis2>
							<axis3>../Timebase</axis3>
							<units>m^-3</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_3D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Ni_Fast">
					<xs:annotation>
						<xs:documentation>Density of fast (non-thermal) ions, for the various ion species</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Plasma_Composition/Ions</axis2>
							<axis3>../Timebase</axis3>
							<units>m^-3</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_3D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Ni_Total_Over_Ne">
					<xs:annotation>
						<xs:documentation>Ratio of total ion density (sum over species) over electron density. (thermal+non-thermal)</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
							<units>-</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Zeff">
					<xs:annotation>
						<xs:documentation>Effective charge</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Pe">
					<xs:annotation>
						<xs:documentation>Electron pressure</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
							<units>Pa</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Pi">
					<xs:annotation>
						<xs:documentation>Ion pressure (per ion species)</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Plasma_Composition/Ions</axis2>
							<axis3>../Timebase</axis3>
							<units>Pa</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_3D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Pi_Total">
					<xs:annotation>
						<xs:documentation>Total ion pressure (sum over the ion species)</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
							<units>Pa</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Pressure_Thermal">
					<xs:annotation>
						<xs:documentation>Thermal pressure (electrons+ions)</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
							<units>Pa</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Pressure_Perpendicular">
					<xs:annotation>
						<xs:documentation>Total perpendicular pressure (electrons+ions, thermal+non-thermal)</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
							<units>Pa</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Pressure_Parallel">
					<xs:annotation>
						<xs:documentation>Total parallel pressure (electrons+ions, thermal+non-thermal)</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
							<units>Pa</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="J_Total">
					<xs:annotation>
						<xs:documentation>Total parallel current density = average(jtot.B) / B0, where B0 = Core_Profiles/Vacuum_Toroidal_Field/ B0</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
							<units>A/m^2</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="J_Tor">
					<xs:annotation>
						<xs:documentation>Total toroidal current density = average(J_Tor/R) / average(1/R)</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
							<units>A/m^2</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="J_Ohmic">
					<xs:annotation>
						<xs:documentation>Ohmic parallel current density = average(J_Ohmic.B) / B0, where B0 = Core_Profiles/Vacuum_Toroidal_Field/ B0</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
							<units>A/m^2</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="J_Non_Inductive">
					<xs:annotation>
						<xs:documentation>Non-inductive (includes bootstrap) parallel current density = average(jni.B) / B0, where B0 = Core_Profiles/Vacuum_Toroidal_Field/ B0</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
							<units>A/m^2</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="J_Bootstrap">
					<xs:annotation>
						<xs:documentation>Bootstrap parallel current density = average(J_Bootstrap.B) / B0, where B0 = Core_Profiles/Vacuum_Toroidal_Field/ B0</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
							<units>A/m^2</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Conductivity_Parallel">
					<xs:annotation>
						<xs:documentation>Parallel conductivity</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
							<units>ohm^-1.m^-1</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="E_Parallel">
					<xs:annotation>
						<xs:documentation>Parallel electric field = average(E.B) / B0, where Core_Profiles/Vacuum_Toroidal_Field/ B0</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
							<units>V.m^-1</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="q">
					<xs:annotation>
						<xs:documentation>Safety factor</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
							<type>SIGNAL</type>
							<units>-</units>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Magnetic_Shear">
					<xs:annotation>
						<xs:documentation>Magnetic shear</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
							<units>-</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Momentum_Tor">
					<xs:annotation>
						<xs:documentation>Toroidal momentum of the various ion species</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Plasma_Composition/Ions</axis2>
							<axis3>../Timebase</axis3>
							<units>kg.m^-2.s^-1</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_3D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Rotation_Frequency_Tor">
					<xs:annotation>
						<xs:documentation>Angular toroidal rotation frequency of the various ion species</xs:documentation>
						<xs:appinfo>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Plasma_Composition/Ions</axis2>
							<axis3>../Timebase</axis3>
							<units>s^-1</units>
							<type>SIGNAL</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_3D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Global" type="Core_Profiles_Global">
					<xs:annotation>
						<xs:documentation>Various global quantities derived from the Core_Profiles</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Code_Parameters"/>
				<xs:element ref="Timebase"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
