core_profiles/dd_core_profiles.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="core_profiles_global_quantities">
		<xs:annotation>
			<xs:documentation>Various global quantities calculated from the fields solved in the transport equations and from the Derived Profiles</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ip">
				<xs:annotation>
					<xs:documentation>Total plasma current</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<units>A</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="current_non_inductive">
				<xs:annotation>
					<xs:documentation>Total non-inductive parallel current</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<units>A</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="current_bootstrap">
				<xs:annotation>
					<xs:documentation>Bootstrap current</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<units>A</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v_loop">
				<xs:annotation>
					<xs:documentation>LCFS loop voltage</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<units>V</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="li">
				<xs:annotation>
					<xs:documentation>Internal inductance. The li_3 definition is used, i.e. li_3 = 2/R0/mu0^2/Ip^2 * int(Bp^2 dV).</xs:documentation>
					<xs:appinfo>
						<lifecycle_status>obsolescent</lifecycle_status>
						<lifecycle_version>3.7.0</lifecycle_version>
						<coordinate1>../../time</coordinate1>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="li_3">
				<xs:annotation>
					<xs:documentation>Internal inductance. The li_3 definition is used, i.e. li_3 = 2/R0/mu0^2/Ip^2 * int(Bp^2 dV).</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="beta_tor">
				<xs:annotation>
					<xs:documentation>Toroidal beta, defined as the volume-averaged total perpendicular pressure divided by (B0^2/(2*mu0)), i.e. beta_toroidal = 2 mu0 int(p dV) / V / B0^2</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="beta_tor_norm">
				<xs:annotation>
					<xs:documentation>Normalised toroidal beta, defined as 100 * beta_tor * a[m] * B0 [T] / ip [MA] </xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="beta_pol">
				<xs:annotation>
					<xs:documentation>Poloidal beta. Defined as betap = 4 int(p dV) / [R_0 * mu_0 * Ip^2]</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="energy_diamagnetic">
				<xs:annotation>
					<xs:documentation>Plasma energy content = 3/2 * integral over the plasma volume of the total perpendicular pressure </xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<units>J</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_eff_resistive">
				<xs:annotation>
					<xs:documentation>Volume average plasma effective charge, estimated from the flux consumption in the ohmic phase</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<units>-</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="core_profiles">
		<xs:annotation>
			<xs:documentation>Core plasma radial profiles</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>active</lifecycle_status>
				<lifecycle_version>3.1.0</lifecycle_version>
				<lifecycle_last_change>3.25.0</lifecycle_last_change>
				<specific_validation_rules>yes</specific_validation_rules>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="profiles_1d" type="core_profiles_profiles_1d" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Core plasma radial profiles for various time slices</xs:documentation>
						<xs:appinfo>
							<coordinate1>time</coordinate1>
							<type>dynamic</type>
							<cocos_alias>IDSPATH</cocos_alias>
							<cocos_replace>core_profiles.profile_1d</cocos_replace>
							<cocos_replace_leaf_name_matlab>core_profiles.profile_1d{i}</cocos_replace_leaf_name_matlab>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="global_quantities" type="core_profiles_global_quantities">
					<xs:annotation>
						<xs:documentation>Various global quantities derived from the profiles</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="vacuum_toroidal_field" type="b_tor_vacuum_1">
					<xs:annotation>
						<xs:documentation>Characteristics of the vacuum toroidal field (used in rho_tor definition and in the normalization of current densities)</xs:documentation>
						<xs:appinfo>
							<cocos_alias>IDSPATH</cocos_alias>
							<cocos_replace>core_profiles.vacuum_toroidal_field</cocos_replace>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
