core_profiles/dd_core_profiles.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Utilities/DD_Support.xsd"/>
	<xs:complexType name="core_profiles_global_quantities">
		<xs:annotation>
			<xs:documentation>Various global quantities calculated from the fields solved in the transport equations and from the Derived Profiles</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ip">
				<xs:annotation>
					<xs:documentation>Total plasma current</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<units>A</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="current_non_inductive">
				<xs:annotation>
					<xs:documentation>Total non-inductive parallel current</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<units>A</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="current_bootstrap">
				<xs:annotation>
					<xs:documentation>Bootstrap current</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<units>A</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v_loop">
				<xs:annotation>
					<xs:documentation>LCFS loop voltage</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<units>V</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="li">
				<xs:annotation>
					<xs:documentation>Internal inductance. The li_3 definition is used, i.e. li_3 = 2/R0/mu0^2/Ip^2 * int(Bp^2 dV).</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="beta_tor">
				<xs:annotation>
					<xs:documentation>Toroidal beta, defined as the volume-averaged total perpendicular pressure divided by (B0^2/(2*mu0)), i.e. beta_toroidal = 2 mu0 int(p dV) / V / B0^2</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="beta_tor_norm">
				<xs:annotation>
					<xs:documentation>Normalised toroidal beta, defined as 100 * beta_tor * a[m] * B0 [T] / ip [MA] </xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="beta_pol">
				<xs:annotation>
					<xs:documentation>Poloidal beta. Defined as betap = 4 int(p dV) / [R_0 * mu_0 * Ip^2]</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="energy_diamagnetic">
				<xs:annotation>
					<xs:documentation>Plasma energy content = 3/2 * integral over the plasma volume of the total perpendicular pressure </xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<units>A</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_profiles_profiles_1d">
		<xs:sequence>
			<xs:element name="grid" type="core_radial_grid">
				<xs:annotation>
					<xs:documentation>Radial grid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="electrons" type="core_profiles_profiles_1d_electrons">
				<xs:annotation>
					<xs:documentation>Quantities related to the electrons</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ion" type="core_profile_ions" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quantities related to the different ion and neutral species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_i_average">
				<xs:annotation>
					<xs:documentation>Ion temperature (averaged on charge states and ion species)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>eV</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="n_i_total_over_n_e">
				<xs:annotation>
					<xs:documentation>Ratio of total ion density (sum over species and charge states) over electron density. (thermal+non-thermal)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>-</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="momentum_tor">
				<xs:annotation>
					<xs:documentation>Total plasma toroidal momentum, summed over ion species and electrons </xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<type>dynamic</type>
						<units>kg.m/s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="zeff">
				<xs:annotation>
					<xs:documentation>Effective charge</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pressure_ion_total">
				<xs:annotation>
					<xs:documentation>Total (sum over ion species) thermal ion pressure</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pressure_thermal">
				<xs:annotation>
					<xs:documentation>Thermal pressure (electrons+ions)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pressure_perpendicular">
				<xs:annotation>
					<xs:documentation>Total perpendicular pressure (electrons+ions, thermal+non-thermal)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pressure_parallel">
				<xs:annotation>
					<xs:documentation>Total parallel pressure (electrons+ions, thermal+non-thermal)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="j_total">
				<xs:annotation>
					<xs:documentation>Total parallel current density = average(jtot.B) / B0, where B0 = Core_Profiles/Vacuum_Toroidal_Field/ B0</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>A/m^2</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="j_tor">
				<xs:annotation>
					<xs:documentation>Total toroidal current density = average(J_Tor/R) / average(1/R)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>A/m^2</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="j_ohmic">
				<xs:annotation>
					<xs:documentation>Ohmic parallel current density = average(J_Ohmic.B) / B0, where B0 = Core_Profiles/Vacuum_Toroidal_Field/ B0</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>A/m^2</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="j_non_inductive">
				<xs:annotation>
					<xs:documentation>Non-inductive (includes bootstrap) parallel current density = average(jni.B) / B0, where B0 = Core_Profiles/Vacuum_Toroidal_Field/ B0</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>A/m^2</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="j_bootstrap">
				<xs:annotation>
					<xs:documentation>Bootstrap current density = average(J_Bootstrap.B) / B0, where B0 = Core_Profiles/Vacuum_Toroidal_Field/ B0</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>A/m^2</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="conductivity_parallel">
				<xs:annotation>
					<xs:documentation>Parallel conductivity</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>ohm^-1.m^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="e_field_parallel">
				<xs:annotation>
					<xs:documentation>Parallel electric field = average(E.B) / B0, where Core_Profiles/Vacuum_Toroidal_Field/ B0</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>V.m^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="q">
				<xs:annotation>
					<xs:documentation>Safety factor</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="magnetic_shear">
				<xs:annotation>
					<xs:documentation>Magnetic shear, defined as rho_tor/q . dq/drho_tor</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>-</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="core_profiles">
		<xs:annotation>
			<xs:documentation>Core plasma radial profiles</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>active</lifecycle_status>
				<lifecycle_version>3.1.0</lifecycle_version>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="profiles_1d" type="core_profiles_profiles_1d" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Core plasma radial profiles for various time slices</xs:documentation>
						<xs:appinfo>
							<coordinate1>time</coordinate1>
							<type>dynamic</type>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="global_quantities" type="core_profiles_global_quantities">
					<xs:annotation>
						<xs:documentation>Various global quantities derived from the profiles</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="vacuum_toroidal_field" type="b_tor_vacuum_1">
					<xs:annotation>
						<xs:documentation>Characteristics of the vacuum toroidal field (used in rho_tor definition and in the normalization of current densities)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
