Core_Profiles/DD_Core_Profiles.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Utilities/DD_Support_v2.xsd"/>
	<xs:complexType name="Core_Profiles_Toroidal_Field">
		<xs:annotation>
			<xs:documentation>Toroidal field information entering the definition of rho_tor, for reference only.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="B0">
				<xs:annotation>
					<xs:documentation>Vacuum field at R0</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<units>T</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dB0_dT">
				<xs:annotation>
					<xs:documentation>Time derivative of the vacuum field at R0</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<units>T/s</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="R0">
				<xs:annotation>
					<xs:documentation>Characteristic major radius of the device (used in publications, usually middle of the vessel at the equatorial midplane)</xs:documentation>
					<xs:appinfo>
						<units>m</units>
						<type>CONSTANT</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Profiles_Boundary_2D_Te">
		<xs:annotation>
			<xs:documentation>Structure for the boundary condition of core transport equations, Te</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value">
				<xs:annotation>
					<xs:documentation>Value of the boundary condition. Unit depends on type, respectively [1-eV, 2-eV.m^-1, 3-m, 4-eV.s^-1]. For Type 1 to 4, only the first row in the matrix is used. For type 5, all three rows are used, meaning respectively a1, a2, a3.</xs:documentation>
					<xs:appinfo>
						<axis1>1...3</axis1>
						<axis2>../../Timebase</axis2>
						<units>Variable</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Source">
				<xs:annotation>
					<xs:documentation>Source of the boundary condition (any comment describing its origin : code, path to diagnostic signals, massaging)</xs:documentation>
					<xs:appinfo>
						<type>CONSTANT</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Type">
				<xs:annotation>
					<xs:documentation>Type of the boundary condition for the transport solver. 0- equation not solved; 1- value of the field y; 2-radial derivative of the field (-dy/drho_tor); 3-scale length of the field y/(-dy/drho_tor); 4- flux; 5- generic boundary condition y expressed as a1y'+a2y=a3</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Rho_Tor_Norm">
				<xs:annotation>
					<xs:documentation>Position of the boundary condition (in terms of normalised toroidal flux coordinate) for the transport solver. Outside this boundary, the value of the data are considered to be prescribed</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Profiles_Boundary_3D_Ti">
		<xs:annotation>
			<xs:documentation>Structure for the boundary condition of core transport equations, Ti</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value">
				<xs:annotation>
					<xs:documentation>Value of the boundary condition. Unit depends on type, respectively [1-eV, 2-eV.m^-1, 3-m, 4-eV.s^-1]. For Type 1 to 4, only the first row in the matrix is used. For type 5, all three rows are used, meaning respectively a1, a2, a3.</xs:documentation>
					<xs:appinfo>
						<axis1>1...3</axis1>
						<axis2>../../../Plasma_Composition/Ions</axis2>
						<axis3>../../Timebase</axis3>
						<units>Variable</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Source">
				<xs:annotation>
					<xs:documentation>Source of the boundary condition (any comment describing its origin : code, path to diagnostic signals, massaging)</xs:documentation>
					<xs:appinfo>
						<type>CONSTANT</type>
						<axis1>../../../Plasma_Composition/Ions</axis1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Type">
				<xs:annotation>
					<xs:documentation>Type of the boundary condition for the transport solver. 0- equation not solved; 1- value of the field y; 2-radial derivative of the field (-dy/drho_tor); 3-scale length of the field y/(-dy/drho_tor); 4- flux; 5- generic boundary condition y expressed as a1y'+a2y=a3</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Plasma_Composition/Ions</axis1>
						<axis2>../../Timebase</axis2>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Rho_Tor_Norm">
				<xs:annotation>
					<xs:documentation>Position of the boundary condition (in terms of normalised toroidal flux coordinate) for the transport solver. Outside this boundary, the value of the data are considered to be prescribed</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Plasma_Composition/Ions</axis1>
						<axis2>../../Timebase</axis2>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Profiles_Boundary_3D_Ni">
		<xs:annotation>
			<xs:documentation>Structure for the boundary condition of core transport equations, Ni</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value">
				<xs:annotation>
					<xs:documentation>Value of the boundary condition. Unit depends on type, respectively [1-m^-3, 2-m^-4, 3-m, 4-m^-3.s^-1]. For Type 1 to 4, only the first row in the matrix is used. For type 5, all three rows are used, meaning respectively a1, a2, a3.</xs:documentation>
					<xs:appinfo>
						<axis1>1...3</axis1>
						<axis2>../../../Plasma_Composition/Ions</axis2>
						<axis3>../../Timebase</axis3>
						<units>Variable</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Source">
				<xs:annotation>
					<xs:documentation>Source of the boundary condition (any comment describing its origin : code, path to diagnostic signals, massaging)</xs:documentation>
					<xs:appinfo>
						<type>CONSTANT</type>
						<axis1>../../../Plasma_Composition/Ions</axis1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Type">
				<xs:annotation>
					<xs:documentation>Type of the boundary condition for the transport solver. 0- equation not solved; 1- value of the field y; 2-radial derivative of the field (-dy/drho_tor); 3-scale length of the field y/(-dy/drho_tor); 4- flux; 5- generic boundary condition y expressed as a1y'+a2y=a3</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Plasma_Composition/Ions</axis1>
						<axis2>../../Timebase</axis2>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Rho_Tor_Norm">
				<xs:annotation>
					<xs:documentation>Position of the boundary condition (in terms of normalised toroidal flux coordinate) for the transport solver. Outside this boundary, the value of the data are considered to be prescribed</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Plasma_Composition/Ions</axis1>
						<axis2>../../Timebase</axis2>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Profiles_Boundary_2D_Ne">
		<xs:annotation>
			<xs:documentation>Structure for the boundary condition of core transport equations, Ne</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value">
				<xs:annotation>
					<xs:documentation>Value of the boundary condition. Unit depends on type, respectively [1-m^-3, 2-m^-4, 3-m, 4-m^-3.s^-1]. For Type 1 to 4, only the first row in the matrix is used. For type 5, all three rows are used, meaning respectively a1, a2, a3.</xs:documentation>
					<xs:appinfo>
						<axis1>1...3</axis1>
						<axis2>../../Timebase</axis2>
						<units>Variable</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Source">
				<xs:annotation>
					<xs:documentation>Source of the boundary condition (any comment describing its origin : code, path to diagnostic signals, massaging)</xs:documentation>
					<xs:appinfo>
						<type>CONSTANT</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Type">
				<xs:annotation>
					<xs:documentation>Type of the boundary condition for the transport solver. 0- equation not solved; 1- value of the field y; 2-radial derivative of the field (-dy/drho_tor); 3-scale length of the field y/(-dy/drho_tor); 4- flux; 5- generic boundary condition y expressed as a1y'+a2y=a3</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Rho_Tor_Norm">
				<xs:annotation>
					<xs:documentation>Position of the boundary condition (in terms of normalised toroidal flux coordinate) for the transport solver. Outside this boundary, the value of the data are considered to be prescribed</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Profiles_Boundary_2D_Psi">
		<xs:annotation>
			<xs:documentation>Structure for the boundary condition of core transport equations, Psi</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value">
				<xs:annotation>
					<xs:documentation>Value of the boundary condition. Unit depends on type, respectively [1-Wb, 2-A, 3-V]. For type 1 to 3, only the first position in the vector is used. For type 5, all three positions are used, meaning respectively a1, a2, a3. </xs:documentation>
					<xs:appinfo>
						<axis1>1...3</axis1>
						<axis2>../../Timebase</axis2>
						<units>Variable</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Source">
				<xs:annotation>
					<xs:documentation>Source of the boundary condition (any comment describing its origin : code, path to diagnostic signals, massaging)</xs:documentation>
					<xs:appinfo>
						<type>CONSTANT</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Type">
				<xs:annotation>
					<xs:documentation>Type of the boundary condition for the transport solver. 0- equation not solved; 1- edge value of poloidal flux; 2- total current inside boundary; 3- edge Vloop; 4- not defined; 5- generic boundary condition expressed as a1*(dpsi_drho_tor)+a2*psi=a3</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Rho_Tor_Norm">
				<xs:annotation>
					<xs:documentation>Position of the boundary condition (in terms of normalised toroidal flux coordinate) for the transport solver. Outside this boundary, the value of the data are considered to be prescribed</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Profiles_Source_Term_2D_Te">
		<xs:annotation>
			<xs:documentation>Structure for the total source term for the transport equation, Te</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value">
				<xs:annotation>
					<xs:documentation>Value of the source term</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>W.m^-3</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Integral">
				<xs:annotation>
					<xs:documentation>Integral (over dRho_Tor) from 0 to Rho_Tor of the source term</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>W.m^-2</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Source">
				<xs:annotation>
					<xs:documentation>Source of the profile (any comment describing the origin of the profile : code, path to diagnostic signals, massaging, ...); String</xs:documentation>
					<xs:appinfo>
						<type>CONSTANT</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Profiles_Source_Term_3D_Ti">
		<xs:annotation>
			<xs:documentation>Structure for the total source term for the transport equation, Ti</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value">
				<xs:annotation>
					<xs:documentation>Value of the source term</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../../Plasma_Composition/Ions</axis2>
						<axis3>../../Timebase</axis3>
						<units>W.m^-3</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Integral">
				<xs:annotation>
					<xs:documentation>Integral (over dRho_Tor) from 0 to Rho_Tor of the source term</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../../Plasma_Composition/Ions</axis2>
						<axis3>../../Timebase</axis3>
						<units>W.m^-2</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Source">
				<xs:annotation>
					<xs:documentation>Source of the profile (any comment describing the origin of the profile : code, path to diagnostic signals, massaging, ...); String</xs:documentation>
					<xs:appinfo>
						<type>CONSTANT</type>
						<axis1>../../../Plasma_Composition/Ions</axis1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Profiles_Source_Term_3D_Ni">
		<xs:annotation>
			<xs:documentation>Structure for the total source term for the transport equation, Ni</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value">
				<xs:annotation>
					<xs:documentation>Value of the source term</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../../Plasma_Composition/Ions</axis2>
						<axis3>../../Timebase</axis3>
						<units>m^-3.s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Integral">
				<xs:annotation>
					<xs:documentation>Integral (over dRho_Tor) from 0 to Rho_Tor of the source term</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../../Plasma_Composition/Ions</axis2>
						<axis3>../../Timebase</axis3>
						<units>m^-2.s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Source">
				<xs:annotation>
					<xs:documentation>Source of the profile (any comment describing the origin of the profile : code, path to diagnostic signals, massaging, ...); String</xs:documentation>
					<xs:appinfo>
						<type>CONSTANT</type>
						<axis1>../../../Plasma_Composition/Ions</axis1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Profiles_Source_Term_2D_Ne">
		<xs:annotation>
			<xs:documentation>Structure for the total source term for the transport equation, Ne</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value">
				<xs:annotation>
					<xs:documentation>Value of the source term</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>m^-3.s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Integral">
				<xs:annotation>
					<xs:documentation>Integral (over dRho_Tor) from 0 to Rho_Tor of the source term</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>m^-2.s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Source">
				<xs:annotation>
					<xs:documentation>Source of the profile (any comment describing the origin of the profile : code, path to diagnostic signals, massaging, ...); String</xs:documentation>
					<xs:appinfo>
						<type>CONSTANT</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Profiles_Derived_Profiles">
		<xs:annotation>
			<xs:documentation>Profiles derived from the fields solved in the transport equations, or from experiment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Pe">
				<xs:annotation>
					<xs:documentation>Electron pressure</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>Pa</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dPe_dT">
				<xs:annotation>
					<xs:documentation>Time derivative of the electron pressure</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>Pa.s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Pi">
				<xs:annotation>
					<xs:documentation>Ion pressure (per ion species)</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Plasma_Composition/Ions</axis2>
						<axis3>../../Timebase</axis3>
						<units>Pa</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Pi_Total">
				<xs:annotation>
					<xs:documentation>Total ion pressure (sum over the ion species)</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>Pa</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dPi_Total_dT">
				<xs:annotation>
					<xs:documentation>Time derivative of the total ion pressure</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>Pa.s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Pressure_Thermal">
				<xs:annotation>
					<xs:documentation>Thermal pressure (electrons+ions)</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>Pa</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Pressure_Perpendicular">
				<xs:annotation>
					<xs:documentation>Total perpendicular pressure (electrons+ions, thermal+non-thermal)</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>Pa</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Pressure_Parallel">
				<xs:annotation>
					<xs:documentation>Total parallel pressure (electrons+ions, thermal+non-thermal)</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>Pa</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="J_Total">
				<xs:annotation>
					<xs:documentation>Total parallel current density = average(jtot.B) / B0, where B0 = Core_Profiles/Toroidal_Field/ B0</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>A/m^2</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="J_Toroidal">
				<xs:annotation>
					<xs:documentation>Total toroidal current density = average(J_Toroidal/R) / average(1/R)</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>A/m^2</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="J_Ohmic">
				<xs:annotation>
					<xs:documentation>Ohmic parallel current density = average(J_Ohmic.B) / B0, where B0 = Core_Profiles/Toroidal_Field/ B0</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>A/m^2</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="V_Loop">
				<xs:annotation>
					<xs:documentation>Toroidal loop voltage</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>V</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="E_Parallel">
				<xs:annotation>
					<xs:documentation>Parallel electric field = average(E.B) / B0, where Core_Profiles/Toroidal_Field/ B0</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>V.m^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="E_B">
				<xs:annotation>
					<xs:documentation>Average(E.B)</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>V.T.m^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="q">
				<xs:annotation>
					<xs:documentation>Safety factor profile</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Magnetic_Shear">
				<xs:annotation>
					<xs:documentation>Magnetic shear profile;</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Ni_Fast">
				<xs:annotation>
					<xs:documentation>Density of fast ions, for the various ion species</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Plasma_Composition/Ions</axis2>
						<axis3>../../Timebase</axis3>
						<units>m^-3</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Momentum_Tor">
				<xs:annotation>
					<xs:documentation>Toroidal momentum of the various ion species</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Plasma_Composition/Ions</axis2>
						<axis3>../../Timebase</axis3>
						<units>kg.m^-2.s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Rotation_Frequency_Tor">
				<xs:annotation>
					<xs:documentation>Angular toroidal rotation frequency of the various ion species</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Plasma_Composition/Ions</axis2>
						<axis3>../../Timebase</axis3>
						<units>s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Zeff">
				<xs:annotation>
					<xs:documentation>Effective charge profile</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="B_Pol">
				<xs:annotation>
					<xs:documentation>Average poloidal magnetic field, defined as sqrt(ave(grad Rho^2/R^2)).dPsi/dRho</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>T</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ddV_dRho_Tor_dT">
				<xs:annotation>
					<xs:documentation>Time derivative of the radial derivative of the volume enclosed in the flux surface, i.e. d/dt(dV/drho_tor)</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>m^2.s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Profiles_Derived_Global">
		<xs:annotation>
			<xs:documentation>Various global quantities calculated from the fields solved in the transport equations and from the Derived Profiles</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Current_Total">
				<xs:annotation>
					<xs:documentation>Total plasma current</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<units>A</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Current_Inside_Boundary">
				<xs:annotation>
					<xs:documentation>Plasma current inside the transport solver boundary Core_Profiles/Psi/Boundary/Rho_Tor_Norm</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<units>A</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Current_Non_Inductive">
				<xs:annotation>
					<xs:documentation>Total non-inductive parallel current</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<units>A</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="V_Loop">
				<xs:annotation>
					<xs:documentation>Toroidal loop voltage</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<units>V</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Li_3">
				<xs:annotation>
					<xs:documentation>Internal inductance</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Beta_Tor">
				<xs:annotation>
					<xs:documentation>Toroidal beta (ratio of kinetic to magnetic pressure)</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Beta_Tor_Norm">
				<xs:annotation>
					<xs:documentation>Normalised toroidal beta</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Beta_Pol">
				<xs:annotation>
					<xs:documentation>Poloidal beta</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Energy_Diamagnetic">
				<xs:annotation>
					<xs:documentation>Plasma energy content = 3/2 * int(p,dV) with p being the total pressure (Pressure_Thermal + Pressure_Perpendicular)</xs:documentation>
					<xs:appinfo>
						<axis1>../../Timebase</axis1>
						<units>A</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Profiles_Transport_Coefficients_2D_NeTe">
		<xs:annotation>
			<xs:documentation>Structure for the transport coefficients for the electron heat and particle transport equations</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Diffusion">
				<xs:annotation>
					<xs:documentation>Diffusion coefficient</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>m^2.s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Convection">
				<xs:annotation>
					<xs:documentation>Convection coefficient</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>m/s</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Source">
				<xs:annotation>
					<xs:documentation>Source of the profile (any comment describing the origin of the profile : code, path to diagnostic signals, massaging, ...); String</xs:documentation>
					<xs:appinfo>
						<type>CONSTANT</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Profiles_Transport_Coefficients_3D_NiTi">
		<xs:annotation>
			<xs:documentation>Structure for the transport coefficients for the ion heat, particle and momentum transport equations</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Diffusion">
				<xs:annotation>
					<xs:documentation>Diffusion coefficient</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../../Plasma_Composition/Ions</axis2>
						<axis3>../../Timebase</axis3>
						<units>m^2.s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Convection">
				<xs:annotation>
					<xs:documentation>Convection coefficient</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../../Plasma_Composition/Ions</axis2>
						<axis3>../../Timebase</axis3>
						<units>m/s</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Source">
				<xs:annotation>
					<xs:documentation>Source of the profile (any comment describing the origin of the profile : code, path to diagnostic signals, massaging, ...); String</xs:documentation>
					<xs:appinfo>
						<type>CONSTANT</type>
						<axis1>../../../Plasma_Composition/Ions</axis1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Profiles_Fluxes_2D_Te">
		<xs:annotation>
			<xs:documentation>Structure for the fluxes of a field of the core electron heat transport equations, Te</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Flux_From_Coefficients">
				<xs:annotation>
					<xs:documentation>Flux of the field calculated from the transport coefficients</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>W.m^-2</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Flux_Interpretative">
				<xs:annotation>
					<xs:documentation>Interpretative flux deduced from the field data, the integral of the source term, and the time derivative of the field</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>W.m^-2</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Flux_Through_Surface">
				<xs:annotation>
					<xs:documentation>Net flux through the magnetic surface, i.e. integral over the magnetic surface area of Flux_From_Coefficients</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>W</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Integral_DT_Term">
				<xs:annotation>
					<xs:documentation>Integral (over dRho_Tor) from 0 to Rho_Tor of the time derivative term of the transport equation</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>W.m^(4/3)</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Profiles_Fluxes_3D_Ti">
		<xs:annotation>
			<xs:documentation>Structure for the fluxes of a field of the core electron heat transport equations, Ti</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Flux_From_Coefficients">
				<xs:annotation>
					<xs:documentation>Flux of the field calculated from the transport coefficients</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../../Plasma_Composition/Ions</axis2>
						<axis3>../../Timebase</axis3>
						<units>W.m^-2</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Flux_Interpretative">
				<xs:annotation>
					<xs:documentation>Interpretative flux deduced from the field data, the integral of the source term, and the time derivative of the field</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../../Plasma_Composition/Ions</axis2>
						<axis3>../../Timebase</axis3>
						<units>W.m^-2</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Flux_Through_Surface">
				<xs:annotation>
					<xs:documentation>Net flux through the magnetic surface, i.e. integral over the magnetic surface area of Flux_From_Coefficients</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../../Plasma_Composition/Ions</axis2>
						<axis3>../../Timebase</axis3>
						<units>W</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Integral_DT_Term">
				<xs:annotation>
					<xs:documentation>Integral (over dRho_Tor) from 0 to Rho_Tor of the time derivative term of the transport equation</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../../Plasma_Composition/Ions</axis2>
						<axis3>../../Timebase</axis3>
						<units>W.m^(4/3)</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Profiles_Fluxes_3D_Ni">
		<xs:annotation>
			<xs:documentation>Structure for the fluxes of a field of the core electron heat transport equations, Ni</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Flux_From_Coefficients">
				<xs:annotation>
					<xs:documentation>Flux of the field calculated from the transport coefficients</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../../Plasma_Composition/Ions</axis2>
						<axis3>../../Timebase</axis3>
						<units>m^-2.s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Flux_Interpretative">
				<xs:annotation>
					<xs:documentation>Interpretative flux deduced from the field data, the integral of the source term, and the time derivative of the field</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../../Plasma_Composition/Ions</axis2>
						<axis3>../../Timebase</axis3>
						<units>m^-2.s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Flux_Through_Surface">
				<xs:annotation>
					<xs:documentation>Net flux through the magnetic surface, i.e. integral over the magnetic surface area of Flux_From_Coefficients</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../../Plasma_Composition/Ions</axis2>
						<axis3>../../Timebase</axis3>
						<units>s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Integral_DT_Term">
				<xs:annotation>
					<xs:documentation>Integral (over dRho_Tor) from 0 to Rho_Tor of the time derivative term of the transport equation</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../../Plasma_Composition/Ions</axis2>
						<axis3>../../Timebase</axis3>
						<units>s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Profiles_Fluxes_2D_Ne">
		<xs:annotation>
			<xs:documentation>Structure for the fluxes of a field of the core electron heat transport equations, Ne</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Flux_From_Coefficients">
				<xs:annotation>
					<xs:documentation>Flux of the field calculated from the transport coefficients</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>m^-2.s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Flux_Interpretative">
				<xs:annotation>
					<xs:documentation>Interpretative flux deduced from the field data, the integral of the source term, and the time derivative of the field</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>m^-2.s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Flux_Through_Surface">
				<xs:annotation>
					<xs:documentation>Net flux through the magnetic surface, i.e. integral over the magnetic surface area of Flux_From_Coefficients</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Integral_DT_Term">
				<xs:annotation>
					<xs:documentation>Integral (over dRho_Tor) from 0 to Rho_Tor of the time derivative term of the transport equation</xs:documentation>
					<xs:appinfo>
						<axis1>../../../Rho_Tor_Norm</axis1>
						<axis2>../../Timebase</axis2>
						<units>s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Profiles_2D_Te">
		<xs:annotation>
			<xs:documentation>Structure for a main 2D field of core transport equations, Te</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value">
				<xs:annotation>
					<xs:documentation>Field value</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../Timebase</axis2>
						<units>eV</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dValue_dRho_Tor">
				<xs:annotation>
					<xs:documentation>Radial derivative (dValue/dRho_Tor)</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../Timebase</axis2>
						<units>eV.m^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="d2Value_dRho_Tor2">
				<xs:annotation>
					<xs:documentation>Second order radial derivative</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../Timebase</axis2>
						<units>eV.m^-2</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dValue_dT">
				<xs:annotation>
					<xs:documentation>Time derivative (dValue/dTime)</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../Timebase</axis2>
						<units>eV.s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Source">
				<xs:annotation>
					<xs:documentation>Source of the profile (any comment describing the origin of the profile : code, path to diagnostic signals, massaging, ...)</xs:documentation>
					<xs:appinfo>
						<type>CONSTANT</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Calculation_Mode">
				<xs:annotation>
					<xs:documentation>Flag describing how the profile has been calculated : 0-not calculated 1-interpretative; 2-calculated by the transport solver; 3-calculated by a separate code; 4-used value from the previous time step</xs:documentation>
					<xs:appinfo>
						<axis1>../Timebase</axis1>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Boundary_Condition" type="Core_Profiles_Boundary_2D_Te">
				<xs:annotation>
					<xs:documentation>Boundary condition for the transport equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Source_Term" type="Core_Profiles_Source_Term_2D_Te">
				<xs:annotation>
					<xs:documentation>Total source term used in the transport equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Q_Ohmic" type="Core_Profiles_Source_Term_2D_Te">
				<xs:annotation>
					<xs:documentation>Ohmic heating</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Q_ei" type="Core_Profiles_Source_Term_2D_Te">
				<xs:annotation>
					<xs:documentation>Collisional heat transfer from electrons to (all) ions (equipartition term)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Transport_Coefficients" type="Core_Profiles_Transport_Coefficients_2D_NeTe">
				<xs:annotation>
					<xs:documentation>Total transport coefficients used in the transport equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fluxes" type="Core_Profiles_Fluxes_2D_Te">
				<xs:annotation>
					<xs:documentation>Fluxes of the transported quantity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Timebase"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Profiles_3D_Ti">
		<xs:annotation>
			<xs:documentation>Structure for a main 3D field of core transport equations, Ti</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value">
				<xs:annotation>
					<xs:documentation>Field value</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Plasma_Composition/Ions</axis2>
						<axis3>../Timebase</axis3>
						<units>eV</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dValue_dRho_Tor">
				<xs:annotation>
					<xs:documentation>Radial derivative (dValue/dRho_Tor)</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Plasma_Composition/Ions</axis2>
						<axis3>../Timebase</axis3>
						<units>eV.m^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="d2Value_dRho_Tor2">
				<xs:annotation>
					<xs:documentation>Second order radial derivative</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Plasma_Composition/Ions</axis2>
						<axis3>../Timebase</axis3>
						<units>eV.m^-2</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dValue_dT">
				<xs:annotation>
					<xs:documentation>Time derivative (dValue/dTime)</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Plasma_Composition/Ions</axis2>
						<axis3>../Timebase</axis3>
						<units>eV.s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Source">
				<xs:annotation>
					<xs:documentation>Source of the profile (any comment describing the origin of the profile : code, path to diagnostic signals, massaging, ...)</xs:documentation>
					<xs:appinfo>
						<type>CONSTANT</type>
						<axis1>../../Plasma_Composition/Ions</axis1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Calculation_Mode">
				<xs:annotation>
					<xs:documentation>Flag describing how the profile has been calculated : 0-not calculated 1-interpretative; 2-calculated by the transport solver; 3-calculated by a separate code; 4-used value from the previous time step</xs:documentation>
					<xs:appinfo>
						<axis1>../../Plasma_Composition/Ions</axis1>
						<axis2>../Timebase</axis2>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Boundary_Condition" type="Core_Profiles_Boundary_3D_Ti">
				<xs:annotation>
					<xs:documentation>Boundary condition for the transport equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Source_Term" type="Core_Profiles_Source_Term_3D_Ti">
				<xs:annotation>
					<xs:documentation>Total source term used in the transport equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Transport_Coefficients" type="Core_Profiles_Transport_Coefficients_3D_NiTi">
				<xs:annotation>
					<xs:documentation>Total transport coefficients used in the transport equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fluxes" type="Core_Profiles_Fluxes_3D_Ti">
				<xs:annotation>
					<xs:documentation>Fluxes of the transported quantity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Timebase"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Profiles_3D_Ni">
		<xs:annotation>
			<xs:documentation>Structure for a main 3D field of core transport equations, Ni</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value">
				<xs:annotation>
					<xs:documentation>Field value</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Plasma_Composition/Ions</axis2>
						<axis3>../Timebase</axis3>
						<units>m^-3</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dValue_dRho_Tor">
				<xs:annotation>
					<xs:documentation>Radial derivative (dValue/dRho_Tor)</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Plasma_Composition/Ions</axis2>
						<axis3>../Timebase</axis3>
						<units>m^-4</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="d2Value_dRho_Tor2">
				<xs:annotation>
					<xs:documentation>Second order radial derivative</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Plasma_Composition/Ions</axis2>
						<axis3>../Timebase</axis3>
						<units>m^-5</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dValue_dT">
				<xs:annotation>
					<xs:documentation>Time derivative (dValue/dTime)</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../../Plasma_Composition/Ions</axis2>
						<axis3>../Timebase</axis3>
						<units>m^-3.s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Source">
				<xs:annotation>
					<xs:documentation>Source of the profile (any comment describing the origin of the profile : code, path to diagnostic signals, massaging, ...)</xs:documentation>
					<xs:appinfo>
						<type>CONSTANT</type>
						<axis1>../../Plasma_Composition/Ions</axis1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Calculation_Mode">
				<xs:annotation>
					<xs:documentation>Flag describing how the profile has been calculated : 0-not calculated 1-interpretative; 2-calculated by the transport solver; 3-calculated by a separate code; 4-used value from the previous time step</xs:documentation>
					<xs:appinfo>
						<axis1>../../Plasma_Composition/Ions</axis1>
						<axis2>../Timebase</axis2>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Boundary_Condition" type="Core_Profiles_Boundary_3D_Ni">
				<xs:annotation>
					<xs:documentation>Boundary condition for the transport equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Source_Term" type="Core_Profiles_Source_Term_3D_Ni">
				<xs:annotation>
					<xs:documentation>Total source term used in the transport equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Transport_Coefficients" type="Core_Profiles_Transport_Coefficients_3D_NiTi">
				<xs:annotation>
					<xs:documentation>Total transport coefficients used in the transport equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fluxes" type="Core_Profiles_Fluxes_3D_Ni">
				<xs:annotation>
					<xs:documentation>Fluxes of the transported quantity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Timebase"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Profiles_2D_Ne">
		<xs:annotation>
			<xs:documentation>Structure for a main 2D field of core transport equations, Ne</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value">
				<xs:annotation>
					<xs:documentation>Field value</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../Timebase</axis2>
						<units>m^-3</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dValue_dRho_Tor">
				<xs:annotation>
					<xs:documentation>Radial derivative (dValue/dRho_Tor)</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../Timebase</axis2>
						<units>m^-4</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="d2Value_dRho_Tor2">
				<xs:annotation>
					<xs:documentation>Second order radial derivative</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../Timebase</axis2>
						<units>m^-5</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dValue_dT">
				<xs:annotation>
					<xs:documentation>Time derivative (dValue/dTime)</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../Timebase</axis2>
						<units>m^-3.s^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Source">
				<xs:annotation>
					<xs:documentation>Source of the profile (any comment describing the origin of the profile : code, path to diagnostic signals, massaging, ...)</xs:documentation>
					<xs:appinfo>
						<type>CONSTANT</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Calculation_Mode">
				<xs:annotation>
					<xs:documentation>Flag describing how the profile has been calculated : 0-not calculated 1-interpretative; 2-calculated by the transport solver; 3-calculated by a separate code; 4-used value from the previous time step</xs:documentation>
					<xs:appinfo>
						<axis1>../Timebase</axis1>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Boundary_Condition" type="Core_Profiles_Boundary_2D_Ne">
				<xs:annotation>
					<xs:documentation>Boundary condition for the transport equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Source_Term" type="Core_Profiles_Source_Term_2D_Ne">
				<xs:annotation>
					<xs:documentation>Total source term used in the transport equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Transport_Coefficients" type="Core_Profiles_Transport_Coefficients_2D_NeTe">
				<xs:annotation>
					<xs:documentation>Total transport coefficients used in the transport equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fluxes" type="Core_Profiles_Fluxes_2D_Ne">
				<xs:annotation>
					<xs:documentation>Fluxes of the transported quantity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Timebase"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Core_Profiles_2D_Psi">
		<xs:annotation>
			<xs:documentation>Structure for a main 2D field of core transport equations, Psi</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value">
				<xs:annotation>
					<xs:documentation>Field value</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../Timebase</axis2>
						<units>Wb</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dValue_dRho_Tor">
				<xs:annotation>
					<xs:documentation>Radial derivative (dValue/dRho_Tor)</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../Timebase</axis2>
						<units>Wb.m^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="d2Value_dRho_Tor2">
				<xs:annotation>
					<xs:documentation>Second order radial derivative</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../Timebase</axis2>
						<units>Wb.m^-2</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dValue_dT_CRho_Tor_Norm">
				<xs:annotation>
					<xs:documentation>Time derivative of the poloidal flux at constant rho_tor_norm [V]</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../Timebase</axis2>
						<units>V</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dValue_dT_CPhi">
				<xs:annotation>
					<xs:documentation>Time derivative of the poloidal flux at constant toroidal flux</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../Timebase</axis2>
						<units>V</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Source">
				<xs:annotation>
					<xs:documentation>Source of the profile (any comment describing the origin of the profile : code, path to diagnostic signals, massaging, ...)</xs:documentation>
					<xs:appinfo>
						<type>CONSTANT</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Calculation_Mode">
				<xs:annotation>
					<xs:documentation>Flag describing how the profile has been calculated : 0-not calculated 1-interpretative; 2-calculated by the transport solver; 3-calculated by a separate code; 4-used value from the previous time step</xs:documentation>
					<xs:appinfo>
						<axis1>../Timebase</axis1>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Boundary_Condition" type="Core_Profiles_Boundary_2D_Psi">
				<xs:annotation>
					<xs:documentation>Boundary condition for the transport equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="J_Non_Inductive">
				<xs:annotation>
					<xs:documentation>Non-inductive parallel current density = average(jni.B) / B0, where B0 = Core_Profiles/Toroidal_Field/ B0</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../Timebase</axis2>
						<units>A/m^2</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Conductivity_Parallel">
				<xs:annotation>
					<xs:documentation>Parallel conductivity</xs:documentation>
					<xs:appinfo>
						<axis1>../../Rho_Tor_Norm</axis1>
						<axis2>../Timebase</axis2>
						<units>ohm^-1.m^-1</units>
						<type>SIGNAL</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element ref="Timebase"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Core_Profiles">
		<xs:annotation>
			<xs:documentation>Core plasma 1D profiles as a function of the normalised toroidal flux coordinate. TBD: toroidal velocity</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IDS_Properties"/>
				<xs:element name="Rho_Tor_Norm">
					<xs:annotation>
						<xs:documentation>Normalised toroidal flux coordinate values (= rho_tor normalised to the value at the last radial grid point, which is usually almost at the Last Closed Flux Surface)</xs:documentation>
						<xs:appinfo>
							<type>SIGNAL</type>
							<axis1>1...N_Rho</axis1>
							<axis2>../Timebase</axis2>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Rho_Tor">
					<xs:annotation>
						<xs:documentation>Toroidal flux coordinate (not normalised)</xs:documentation>
						<xs:appinfo>
							<type>SIGNAL</type>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
							<units>m</units>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="dRho_Tor_dT">
					<xs:annotation>
						<xs:documentation>Time derivative of Rho_Tor</xs:documentation>
						<xs:appinfo>
							<type>SIGNAL</type>
							<axis1>../Rho_Tor_Norm</axis1>
							<axis2>../Timebase</axis2>
							<units>m/s</units>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Toroidal_Field" type="Core_Profiles_Toroidal_Field">
					<xs:annotation>
						<xs:documentation>Toroidal field information entering the definition of Rho_Tor, for reference only</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Plasma_Composition"/>
				<xs:element name="Psi" type="Core_Profiles_2D_Psi">
					<xs:annotation>
						<xs:documentation>Poloidal magnetic flux</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Te" type="Core_Profiles_2D_Te">
					<xs:annotation>
						<xs:documentation>Electron temperature</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Ti" type="Core_Profiles_3D_Ti">
					<xs:annotation>
						<xs:documentation>Ion temperature</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Ne" type="Core_Profiles_2D_Ne">
					<xs:annotation>
						<xs:documentation>Electron density</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Ni" type="Core_Profiles_3D_Ni">
					<xs:annotation>
						<xs:documentation>Ion density</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Derived_Profiles" type="Core_Profiles_Derived_Profiles">
					<xs:annotation>
						<xs:documentation>Profiles derived from the fields solved in the transport equations, or from experiment.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Derived_Global" type="Core_Profiles_Derived_Global">
					<xs:annotation>
						<xs:documentation>Various global quantities calculated from the fields solved in the transport equations and from the Derived Profiles</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Code_Parameters"/>
				<xs:element ref="Timebase"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
