core_profiles/dd_core_profiles.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Utilities/DD_Support.xsd"/>
	<xs:complexType name="core_profiles_ions_charge_states2">
		<xs:annotation>
			<xs:documentation>Quantities related to the a given charge state of the ion species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="z_min">
				<xs:annotation>
					<xs:documentation>Minimum Z of the charge state bundle</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_max">
				<xs:annotation>
					<xs:documentation>Maximum Z of the charge state bundle (equal to z_min if no bundle)</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying charge state (e.g. C+, C+2 , C+3, C+4, C+5, C+6, ...)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="n_z">
				<xs:annotation>
					<xs:documentation>Density of the charge state considered (thermal+non-thermal)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="n_z_fast">
				<xs:annotation>
					<xs:documentation>Density of fast (non-thermal) ions, for the charge state considered</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="t_z">
				<xs:annotation>
					<xs:documentation>Temperature of the charge state considered</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="p_z">
				<xs:annotation>
					<xs:documentation>Pressure of the charge state considered</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="p_z_fast_perpendicular">
				<xs:annotation>
					<xs:documentation>Fast perpendicular pressure of the charge state considered</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="p_z_fast_parallel">
				<xs:annotation>
					<xs:documentation>Fast parallel pressure of the charge state considered</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v_tor_z">
				<xs:annotation>
					<xs:documentation>Toroidal velocity of the charge state considered</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v_pol_z">
				<xs:annotation>
					<xs:documentation>Poloidal velocity of the charge state considered</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid/rho_tor_norm</coordinate1>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_profile_ions">
		<xs:annotation>
			<xs:documentation>Quantities related to a given ion species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="a">
				<xs:annotation>
					<xs:documentation>Mass of atom</xs:documentation>
					<xs:appinfo>
						<units>Atomic Mass Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_ion">
				<xs:annotation>
					<xs:documentation>Ion charge (of the dominant ionisation state; lumped ions are allowed)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>Elementary Charge Unit</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_n">
				<xs:annotation>
					<xs:documentation>Nuclear charge</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying ion (e.g. H+, D+, T+, He+2, C+, ...)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="n_i">
				<xs:annotation>
					<xs:documentation>Ion density (thermal+non-thermal)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="n_i_fast">
				<xs:annotation>
					<xs:documentation>Density of fast (non-thermal) ions, for the ion species considered</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="t_i">
				<xs:annotation>
					<xs:documentation>Ion temperature of that ion species</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>eV</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="p_i">
				<xs:annotation>
					<xs:documentation>Ion pressure for that ion species</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="p_i_fast_perpendicular">
				<xs:annotation>
					<xs:documentation>Fast ion perpendicular pressure for that ion species</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="p_i_fast_parallel">
				<xs:annotation>
					<xs:documentation>Fast ion parallel pressure for that ion species</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v_tor_i">
				<xs:annotation>
					<xs:documentation>Toroidal velocity of that ion species</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v_pol_i">
				<xs:annotation>
					<xs:documentation>Poloidal velocity of that ion species</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid/rho_tor_norm</coordinate1>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="multiple_charge_state_flag">
				<xs:annotation>
					<xs:documentation>Multiple charge state calculation flag : 0-Only one charge state is considered; 1-Multiple charge state are considered and are described in the Charge_States structure</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="charge_states" type="core_profiles_ions_charge_states2" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quantities related to the different charge states of the ion species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N_charge_states</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_profiles_global_quantities">
		<xs:annotation>
			<xs:documentation>Various global quantities calculated from the fields solved in the transport equations and from the Derived Profiles</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ip">
				<xs:annotation>
					<xs:documentation>Total plasma current</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<units>A</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="current_non_inductive">
				<xs:annotation>
					<xs:documentation>Total non-inductive parallel current</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<units>A</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="current_bootstrap">
				<xs:annotation>
					<xs:documentation>Bootstrap current</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<units>A</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v_loop">
				<xs:annotation>
					<xs:documentation>LCFS loop voltage</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<units>V</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="li">
				<xs:annotation>
					<xs:documentation>Internal inductance. The li_3 definition is used, i.e. li_3 = 2/R0/mu0^2/Ip^2 * int(Bp^2 dV).</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="beta_tor">
				<xs:annotation>
					<xs:documentation>Toroidal beta, defined as the volume-averaged total perpendicular pressure divided by (B0^2/(2*mu0)), i.e. beta_toroidal = 2 mu0 int(p dV) / V / B0^2</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="beta_tor_norm">
				<xs:annotation>
					<xs:documentation>Normalised toroidal beta, defined as 100 * beta_tor * a[m] * B0 [T] / ip [MA] </xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="beta_pol">
				<xs:annotation>
					<xs:documentation>Poloidal beta. Defined as betap = 4 int(p dV) / [R_0 * mu_0 * Ip^2]</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="energy_diamagnetic">
				<xs:annotation>
					<xs:documentation>Plasma energy content = 3/2 * integral over the plasma volume of the total perpendicular pressure </xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<units>A</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_profiles_profiles_1d">
		<xs:sequence>
			<xs:element name="grid" type="core_radial_grid">
				<xs:annotation>
					<xs:documentation>Radial grid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_e">
				<xs:annotation>
					<xs:documentation>Electron temperature</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>eV</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="t_i_average">
				<xs:annotation>
					<xs:documentation>Ion temperature (averaged on charge states and ion species)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>eV</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="n_e">
				<xs:annotation>
					<xs:documentation>Electron density (thermal+non-thermal)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="n_e_fast">
				<xs:annotation>
					<xs:documentation>Density of fast (non-thermal) electrons</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ions" type="core_profile_ions" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quantities related to the different ion species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N_Ions</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_i_total_over_n_e">
				<xs:annotation>
					<xs:documentation>Ratio of total ion density (sum over species and charge states) over electron density. (thermal+non-thermal)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>-</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="momentum_tor">
				<xs:annotation>
					<xs:documentation>Total plasma toroidal momentum, summed over ion species and electrons </xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<type>dynamic</type>
						<units>kg.m/s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="zeff">
				<xs:annotation>
					<xs:documentation>Effective charge</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="p_e">
				<xs:annotation>
					<xs:documentation>Electron pressure</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="p_e_fast_perpendicular">
				<xs:annotation>
					<xs:documentation>Fast (non-thermal) electron perpendicular pressure</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="p_e_fast_parallel">
				<xs:annotation>
					<xs:documentation>Fast (non-thermal) electron parallel pressure</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="p_i_total">
				<xs:annotation>
					<xs:documentation>Total ion pressure (sum over the ion species)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="p_i_total_fast_perpendicular">
				<xs:annotation>
					<xs:documentation>Fast (non-thermal) total ion (sum over the ion species) perpendicular pressure</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="p_i_total_fast_parallel">
				<xs:annotation>
					<xs:documentation>Fast (non-thermal) total ion (sum over the ion species) parallel pressure</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pressure_thermal">
				<xs:annotation>
					<xs:documentation>Thermal pressure (electrons+ions)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pressure_perpendicular">
				<xs:annotation>
					<xs:documentation>Total perpendicular pressure (electrons+ions, thermal+non-thermal)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pressure_parallel">
				<xs:annotation>
					<xs:documentation>Total parallel pressure (electrons+ions, thermal+non-thermal)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>Pa</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="j_total">
				<xs:annotation>
					<xs:documentation>Total parallel current density = average(jtot.B) / B0, where B0 = Core_Profiles/Vacuum_Toroidal_Field/ B0</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>A/m^2</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="j_tor">
				<xs:annotation>
					<xs:documentation>Total toroidal current density = average(J_Tor/R) / average(1/R)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>A/m^2</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="j_ohmic">
				<xs:annotation>
					<xs:documentation>Ohmic parallel current density = average(J_Ohmic.B) / B0, where B0 = Core_Profiles/Vacuum_Toroidal_Field/ B0</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>A/m^2</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="j_non_inductive">
				<xs:annotation>
					<xs:documentation>Non-inductive (includes bootstrap) parallel current density = average(jni.B) / B0, where B0 = Core_Profiles/Vacuum_Toroidal_Field/ B0</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>A/m^2</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="j_bootstrap">
				<xs:annotation>
					<xs:documentation>Bootstrap current density = average(J_Bootstrap.B) / B0, where B0 = Core_Profiles/Vacuum_Toroidal_Field/ B0</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>A/m^2</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="conductivity_parallel">
				<xs:annotation>
					<xs:documentation>Parallel conductivity</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>ohm^-1.m^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="e_field_parallel">
				<xs:annotation>
					<xs:documentation>Parallel electric field = average(E.B) / B0, where Core_Profiles/Vacuum_Toroidal_Field/ B0</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>V.m^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="q">
				<xs:annotation>
					<xs:documentation>Safety factor</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="magnetic_shear">
				<xs:annotation>
					<xs:documentation>Magnetic shear, defined as rho_tor/q . dq/drho_tor</xs:documentation>
					<xs:appinfo>
						<coordinate1>../grid/rho_tor_norm</coordinate1>
						<units>-</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="core_profiles">
		<xs:annotation>
			<xs:documentation>Core plasma radial profiles</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.0.0</lifecycle_version>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="profiles_1d" type="core_profiles_profiles_1d" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Core plasma radial profiles for various time slices</xs:documentation>
						<xs:appinfo>
							<coordinate1>time</coordinate1>
							<type>dynamic</type>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="global_quantities" type="core_profiles_global_quantities">
					<xs:annotation>
						<xs:documentation>Various global quantities derived from the profiles</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="vacuum_toroidal_field" type="b_tor_vacuum_1">
					<xs:annotation>
						<xs:documentation>Characteristics of the vacuum toroidal field (used in rho_tor definition and in the normalization of current densities)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
