equilibrium/dd_equilibrium.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Utilities/DD_Support.xsd"/>
	<xs:complexType name="equilibrium_convergence">
		<xs:annotation>
			<xs:documentation>Convergence details for the equilibrium calculation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="iterations_n">
				<xs:annotation>
					<xs:documentation>Number of iterations carried out in the convergence loop</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="equilibrium_boundary">
		<xs:annotation>
			<xs:documentation>Geometry of the plasma boundary</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type">
				<xs:annotation>
					<xs:documentation>0 (limiter) or 1 (diverted)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="outline" type="rz1d_dynamic_aos">
				<xs:annotation>
					<xs:documentation>RZ outline of the plasma boundary</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lcfs" type="rz1d_dynamic_aos">
				<xs:annotation>
					<xs:documentation>RZ description of the plasma boundary</xs:documentation>
					<xs:appinfo>
						<lifecycle_status>obsolescent</lifecycle_status>
						<lifecycle_version>3.5.0</lifecycle_version>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="b_flux_pol_norm">
				<xs:annotation>
					<xs:documentation>Value of the normalised poloidal flux at which the boundary is taken</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="geometric_axis" type="rz0d_dynamic_aos">
				<xs:annotation>
					<xs:documentation>RZ position of the geometric axis (defined as (Rmin+Rmax) / 2 and (Zmin+Zmax) / 2 of the boundary)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="minor_radius">
				<xs:annotation>
					<xs:documentation>Minor radius of the plasma boundary (defined as (Rmax-Rmin) / 2 of the boundary)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="elongation">
				<xs:annotation>
					<xs:documentation>Elongation of the plasma boundary</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="elongation_upper">
				<xs:annotation>
					<xs:documentation>Elongation (upper half w.r.t. geometric axis) of the plasma boundary</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="elongation_lower">
				<xs:annotation>
					<xs:documentation>Elongation (lower half w.r.t. geometric axis) of the plasma boundary</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="triangularity">
				<xs:annotation>
					<xs:documentation>Triangularity of the plasma boundary</xs:documentation>
					<xs:appinfo>
						<units>-</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="triangularity_upper">
				<xs:annotation>
					<xs:documentation>Upper triangularity of the plasma boundary</xs:documentation>
					<xs:appinfo>
						<units>-</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="triangularity_lower">
				<xs:annotation>
					<xs:documentation>Lower triangularity of the plasma boundary</xs:documentation>
					<xs:appinfo>
						<units>-</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="x_point" type="rz0d_dynamic_aos" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Array of X-points, for each of them the RZ position is given</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="strike_point" type="rz0d_dynamic_aos" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Array of strike points, for each of them the RZ position is given</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="active_limiter_point" type="rz0d_dynamic_aos">
				<xs:annotation>
					<xs:documentation>RZ position of the active limiter point (point of the plasma boundary in contact with the limiter)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="equilibrium_global_quantities_magnetic_axis">
		<xs:annotation>
			<xs:documentation>R, Z, and Btor at magnetic axis, dynamic within a type 3 array of structure (index on time)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="r">
				<xs:annotation>
					<xs:documentation>Major radius of the magnetic axis</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z">
				<xs:annotation>
					<xs:documentation>Height of the magnetic axis</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_tor">
				<xs:annotation>
					<xs:documentation>Total toroidal magnetic field at the magnetic axis</xs:documentation>
					<xs:appinfo>
						<lifecycle_status>obsolescent</lifecycle_status>
						<lifecycle_version>3.5.0</lifecycle_version>
						<type>dynamic</type>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_field_tor">
				<xs:annotation>
					<xs:documentation>Total toroidal magnetic field at the magnetic axis</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="equilibrium_global_quantities_qmin">
		<xs:annotation>
			<xs:documentation>Position and value of q_min</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:annotation>
					<xs:documentation>Minimum q value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="rho_tor_norm">
				<xs:annotation>
					<xs:documentation>Minimum q position in normalised toroidal flux coordinate</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="equlibrium_global_quantities">
		<xs:annotation>
			<xs:documentation>0D parameters of the equilibrium</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="beta_pol">
				<xs:annotation>
					<xs:documentation>Poloidal beta. Defined as betap = 4 int(p dV) / [R_0 * mu_0 * Ip^2]</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="beta_tor">
				<xs:annotation>
					<xs:documentation>Toroidal beta, defined as the volume-averaged total perpendicular pressure divided by (B0^2/(2*mu0)), i.e. beta_toroidal = 2 mu0 int(p dV) / V / B0^2</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="beta_normal">
				<xs:annotation>
					<xs:documentation>Normalised toroidal beta, defined as 100 * beta_tor * a[m] * B0 [T] / ip [MA] </xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ip">
				<xs:annotation>
					<xs:documentation>Plasma current. Positive sign means anti-clockwise when viewed from above.</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="li_3">
				<xs:annotation>
					<xs:documentation>Internal inductance</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="volume">
				<xs:annotation>
					<xs:documentation>Total plasma volume</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m^3</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="area">
				<xs:annotation>
					<xs:documentation>Area of the LCFS poloidal cross section</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="surface">
				<xs:annotation>
					<xs:documentation>Surface area of the toroidal flux surface</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="length_pol">
				<xs:annotation>
					<xs:documentation>Poloidal length of the magnetic surface</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="psi_axis">
				<xs:annotation>
					<xs:documentation>Poloidal flux at the magnetic axis</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>Wb</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="psi_boundary">
				<xs:annotation>
					<xs:documentation>Poloidal flux at the selected plasma boundary </xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>Wb</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="magnetic_axis" type="equilibrium_global_quantities_magnetic_axis">
				<xs:annotation>
					<xs:documentation>Magnetic axis position and toroidal field</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="q_axis">
				<xs:annotation>
					<xs:documentation>q at the magnetic axis</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="q_95">
				<xs:annotation>
					<xs:documentation>q at the 95% poloidal flux surface</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="q_min" type="equilibrium_global_quantities_qmin">
				<xs:annotation>
					<xs:documentation>Minimum q value and position</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy_mhd">
				<xs:annotation>
					<xs:documentation>Plasma energy content = 3/2 * int(p,dV) with p being the total pressure (thermal + fast particles) [J]. Time-dependent; Scalar</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>J</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="w_mhd">
				<xs:annotation>
					<xs:documentation>Plasma energy content = 3/2 * int(p,dV) with p being the total pressure (thermal + fast particles) [J]. Time-dependent; Scalar</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>J</units>
						<lifecycle_status>obsolescent</lifecycle_status>
						<lifecycle_version>3.14.0</lifecycle_version>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="equilibrium_constraints_pure_position">
		<xs:annotation>
			<xs:documentation>R,Z position constraint</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="position_measured" type="rz0d_dynamic_aos">
				<xs:annotation>
					<xs:documentation>Measured or estimated position</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Path to the source data for this measurement in the IMAS data dictionary</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time_measurement">
				<xs:annotation>
					<xs:documentation>Exact time slice used from the time array of the measurement source data. If the time slice does not exist in the time array of the source data, it means linear interpolation has been used</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="exact">
				<xs:annotation>
					<xs:documentation>Integer flag : 1 means exact data, taken as an exact input without being fitted; 0 means the equilibrium code does a least square fit</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="weight">
				<xs:annotation>
					<xs:documentation>Weight given to the measurement</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="standard_deviation">
				<xs:annotation>
					<xs:documentation>Standard deviation of the measurement</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="position_reconstructed" type="rz0d_dynamic_aos">
				<xs:annotation>
					<xs:documentation>Position estimated from the reconstructed equilibrium</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="chi_squared">
				<xs:annotation>
					<xs:documentation>Chi-squared difference of (reconstructed-measured)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="equilibrium_constraints_0D_position">
		<xs:annotation>
			<xs:documentation>Scalar constraint with R,Z,phi position</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="measured">
				<xs:annotation>
					<xs:documentation>Measured value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="position" type="rzphi0d_dynamic_aos3">
				<xs:annotation>
					<xs:documentation>Position at which this measurement is given</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Path to the source data for this measurement in the IMAS data dictionary</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time_measurement">
				<xs:annotation>
					<xs:documentation>Exact time slice used from the time array of the measurement source data. If the time slice does not exist in the time array of the source data, it means linear interpolation has been used</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="exact">
				<xs:annotation>
					<xs:documentation>Integer flag : 1 means exact data, taken as an exact input without being fitted; 0 means the equilibrium code does a least square fit</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="weight">
				<xs:annotation>
					<xs:documentation>Weight given to the measurement</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="standard_deviation">
				<xs:annotation>
					<xs:documentation>Standard deviation of the measurement</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="reconstructed">
				<xs:annotation>
					<xs:documentation>Value calculated from the reconstructed equilibrium</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="chi_squared">
				<xs:annotation>
					<xs:documentation>Chi-squared difference of (reconstructed-measured)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="equilibrium_constraints_0D">
		<xs:annotation>
			<xs:documentation>Scalar constraint</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="measured">
				<xs:annotation>
					<xs:documentation>Measured value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Path to the source data for this measurement in the IMAS data dictionary</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time_measurement">
				<xs:annotation>
					<xs:documentation>Exact time slice used from the time array of the measurement source data. If the time slice does not exist in the time array of the source data, it means linear interpolation has been used</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="exact">
				<xs:annotation>
					<xs:documentation>Integer flag : 1 means exact data, taken as an exact input without being fitted; 0 means the equilibrium code does a least square fit</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="weight">
				<xs:annotation>
					<xs:documentation>Weight given to the measurement</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="standard_deviation">
				<xs:annotation>
					<xs:documentation>Standard deviation of the measurement</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="reconstructed">
				<xs:annotation>
					<xs:documentation>Value calculated from the reconstructed equilibrium</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="chi_squared">
				<xs:annotation>
					<xs:documentation>Chi-squared difference of (reconstructed-measured)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="equilibrium_constraints_1D">
		<xs:annotation>
			<xs:documentation>Vector constraint (from a 1D array of measurements)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="measured">
				<xs:annotation>
					<xs:documentation>Measured values</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="source">
				<xs:annotation>
					<xs:documentation>Path to the source data for this measurement in the IMAS data dictionary</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time_measurement">
				<xs:annotation>
					<xs:documentation>Exact time slices used from the time array of the measurement source data. If the time slice does not exist in the time array of the source data, it means linear interpolation has been used</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>s</units>
						<coordinate1>../measured</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="exact">
				<xs:annotation>
					<xs:documentation>Integer flag : 1 means exact data, taken as an exact input without being fitted; 0 means the equilibrium code does a least square fit</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../measured</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="weight">
				<xs:annotation>
					<xs:documentation>Weight given to each measured value</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
						<coordinate1>../measured</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="standard_deviation">
				<xs:annotation>
					<xs:documentation>Standard deviation of the measurement</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
						<coordinate1>../measured</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="reconstructed">
				<xs:annotation>
					<xs:documentation>Value calculated from the reconstructed equilibrium</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
						<coordinate1>../measured</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="chi_squared">
				<xs:annotation>
					<xs:documentation>Chi-squared difference of (reconstructed-measured)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
						<coordinate1>../measured</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="equilibrium_constraints_magnetisation">
		<xs:annotation>
			<xs:documentation>Magnetisation constraints along R and Z axis</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="magnetisation_r" type="equilibrium_constraints_0D">
				<xs:annotation>
					<xs:documentation>Magnetisation M of the iron core segment along the major radius axis, assumed to be constant inside a given iron segment. Reminder : H = 1/mu0 * B - mur * M;</xs:documentation>
					<xs:appinfo>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="magnetisation_z" type="equilibrium_constraints_0D">
				<xs:annotation>
					<xs:documentation>Magnetisation M of the iron core segment along the vertical axis, assumed to be constant inside a given iron segment. Reminder : H = 1/mu0 * B - mur * M;</xs:documentation>
					<xs:appinfo>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="equilibrium_constraints">
		<xs:annotation>
			<xs:documentation>Measurements to constrain the equilibrium, output values and accuracy of the fit</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="b_field_tor_vacuum_r" type="equilibrium_constraints_0D">
				<xs:annotation>
					<xs:documentation>Vacuum field times major radius in the toroidal field magnet. Positive sign means anti-clockwise when viewed from above</xs:documentation>
					<xs:appinfo>
						<units>T.m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="bpol_probe" type="equilibrium_constraints_0D" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Set of poloidal field probes</xs:documentation>
					<xs:appinfo>
						<coordinate1>IDS:magnetics/bpol_probe</coordinate1>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="diamagnetic_flux" type="equilibrium_constraints_0D">
				<xs:annotation>
					<xs:documentation>Diamagnetic flux</xs:documentation>
					<xs:appinfo>
						<units>Wb</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="faraday_angle" type="equilibrium_constraints_0D" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Set of faraday angles</xs:documentation>
					<xs:appinfo>
						<coordinate1>IDS:polarimeter/channel</coordinate1>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="mse_polarisation_angle" type="equilibrium_constraints_0D" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Set of MSE polarisation angles</xs:documentation>
					<xs:appinfo>
						<coordinate1>IDS:mse/channel</coordinate1>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="flux_loop" type="equilibrium_constraints_0D" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Set of flux loops</xs:documentation>
					<xs:appinfo>
						<coordinate1>IDS:magnetics/flux_loop</coordinate1>
						<units>Wb</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ip" type="equilibrium_constraints_0D">
				<xs:annotation>
					<xs:documentation>Plasma current. Positive sign means anti-clockwise when viewed from above</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="iron_core_segment" type="equilibrium_constraints_magnetisation" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Magnetisation M of a set of iron core segments</xs:documentation>
					<xs:appinfo>
						<coordinate1>IDS:iron_core/segment</coordinate1>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_e" type="equilibrium_constraints_0D" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Set of local density measurements</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_e_line" type="equilibrium_constraints_0D" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Set of line integrated density measurements</xs:documentation>
					<xs:appinfo>
						<coordinate1>IDS:interferometer/channel</coordinate1>
						<units>m^-2</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pf_current" type="equilibrium_constraints_0D" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Current in a set of poloidal field coils</xs:documentation>
					<xs:appinfo>
						<coordinate1>IDS:pf_active/coil</coordinate1>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pressure" type="equilibrium_constraints_0D" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Set of total pressure estimates</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="q" type="equilibrium_constraints_0D_position" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Set of safety factor estimates at various positions</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="x_point" type="equilibrium_constraints_pure_position" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Array of X-points, for each of them the RZ position is given</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="equilibrium_profiles_1d">
		<xs:annotation>
			<xs:documentation>Equilibrium profiles (1D radial grid) as a function of the poloidal flux</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="psi">
				<xs:annotation>
					<xs:documentation>Poloidal flux</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<units>Wb</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="phi">
				<xs:annotation>
					<xs:documentation>Toroidal flux</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>Wb</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pressure">
				<xs:annotation>
					<xs:documentation>Pressure</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="f">
				<xs:annotation>
					<xs:documentation>Diamagnetic function (F=R B_Phi)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>T.m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dpressure_dpsi">
				<xs:annotation>
					<xs:documentation>Derivative of pressure w.r.t. psi</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>Pa.Wb^-1</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="f_df_dpsi">
				<xs:annotation>
					<xs:documentation>Derivative of F w.r.t. Psi, multiplied with F</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>T^2.m^2/Wb</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="j_tor">
				<xs:annotation>
					<xs:documentation>Flux surface averaged toroidal current density = average(j_tor/R) / average(1/R)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>A/m^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="j_parallel">
				<xs:annotation>
					<xs:documentation>Flux surface averaged parallel current density = average(j.B) / B0, where B0 = Equilibrium/Global/Toroidal_Field/B0</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>A/m^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="q">
				<xs:annotation>
					<xs:documentation>Safety factor</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="magnetic_shear">
				<xs:annotation>
					<xs:documentation>Magnetic shear, defined as rho_tor/q . dq/drho_tor</xs:documentation>
					<xs:appinfo>
						<coordinate1>../psi</coordinate1>
						<units>-</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="r_inboard">
				<xs:annotation>
					<xs:documentation>Radial coordinate (major radius) on the inboard side of the magnetic axis</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="r_outboard">
				<xs:annotation>
					<xs:documentation>Radial coordinate (major radius) on the outboard side of the magnetic axis</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="rho_tor">
				<xs:annotation>
					<xs:documentation>Toroidal flux coordinate. The toroidal field used in its definition is indicated under vacuum_toroidal_field/b0</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="rho_tor_norm">
				<xs:annotation>
					<xs:documentation>Normalised toroidal flux coordinate. The normalizing value for rho_tor_norm, is the toroidal flux coordinate at the equilibrium boundary (LCFS or 99.x % of the LCFS in case of a fixed boundary equilibium calculation) </xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dpsi_drho_tor">
				<xs:annotation>
					<xs:documentation>Derivative of Psi with respect to Rho_Tor</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>Wb/m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="elongation">
				<xs:annotation>
					<xs:documentation>Elongation</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="triangularity_upper">
				<xs:annotation>
					<xs:documentation>Upper triangularity w.r.t. magnetic axis</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="triangularity_lower">
				<xs:annotation>
					<xs:documentation>Lower triangularity w.r.t. magnetic axis</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="volume">
				<xs:annotation>
					<xs:documentation>Volume enclosed in the flux surface</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>m^3</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="rho_volume_norm">
				<xs:annotation>
					<xs:documentation>Normalised square root of enclosed volume (radial coordinate). The normalizing value is the enclosed volume at the equilibrium boundary (LCFS or 99.x % of the LCFS in case of a fixed boundary equilibium calculation) </xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dvolume_dpsi">
				<xs:annotation>
					<xs:documentation>Radial derivative of the volume enclosed in the flux surface with respect to Psi</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>m^3.Wb^-1</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dvolume_drho_tor">
				<xs:annotation>
					<xs:documentation>Radial derivative of the volume enclosed in the flux surface with respect to Rho_Tor</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>m^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="area">
				<xs:annotation>
					<xs:documentation>Cross-sectional area of the flux surface</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>m^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="darea_dpsi">
				<xs:annotation>
					<xs:documentation>Radial derivative of the cross-sectional area of the flux surface with respect to psi</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>m^2.Wb^-1</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="darea_drho_tor">
				<xs:annotation>
					<xs:documentation>Radial derivative of the cross-sectional area of the flux surface with respect to rho_tor</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="surface">
				<xs:annotation>
					<xs:documentation>Surface area of the toroidal flux surface</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>m^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="trapped_fraction">
				<xs:annotation>
					<xs:documentation>Trapped particle fraction</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gm1">
				<xs:annotation>
					<xs:documentation>Flux surface averaged 1/R^2</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>m^-2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gm2">
				<xs:annotation>
					<xs:documentation>Flux surface averaged grad_rho^2/R^2</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>m^-2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gm3">
				<xs:annotation>
					<xs:documentation>Flux surface averaged grad_rho^2</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gm4">
				<xs:annotation>
					<xs:documentation>Flux surface averaged 1/B^2</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>T^-2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gm5">
				<xs:annotation>
					<xs:documentation>Flux surface averaged B^2</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>T^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gm6">
				<xs:annotation>
					<xs:documentation>Flux surface averaged grad_rho^2/B^2</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>T^-2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gm7">
				<xs:annotation>
					<xs:documentation>Flux surface averaged grad_rho</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gm8">
				<xs:annotation>
					<xs:documentation>Flux surface averaged R</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gm9">
				<xs:annotation>
					<xs:documentation>Flux surface averaged 1/R</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>m^-1</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_average">
				<xs:annotation>
					<xs:documentation>Flux surface averaged B</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>T</units>
						<lifecycle_status>obsolescent</lifecycle_status>
						<lifecycle_version>3.5.0</lifecycle_version>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_field_average">
				<xs:annotation>
					<xs:documentation>Flux surface averaged modulus of B (always positive, irrespective of the sign convention for the B-field direction).</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_min">
				<xs:annotation>
					<xs:documentation>Minimum(B) on the flux surface</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>T</units>
						<lifecycle_status>obsolescent</lifecycle_status>
						<lifecycle_version>3.5.0</lifecycle_version>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_field_min">
				<xs:annotation>
					<xs:documentation>Minimum(B) on the flux surface</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_max">
				<xs:annotation>
					<xs:documentation>Maximum(B) on the flux surface</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>T</units>
						<lifecycle_status>obsolescent</lifecycle_status>
						<lifecycle_version>3.5.0</lifecycle_version>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_field_max">
				<xs:annotation>
					<xs:documentation>Maximum(B) on the flux surface</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="beta_pol">
				<xs:annotation>
					<xs:documentation>Poloidal beta profile. Defined as betap = 4 int(p dV) / [R_0 * mu_0 * Ip^2]</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="mass_density">
				<xs:annotation>
					<xs:documentation>Mass density</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../psi</coordinate1>
						<units>kg.m^-3</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="equilibrium_profiles_2d">
		<xs:annotation>
			<xs:documentation>Equilibrium 2D profiles in the poloidal plane</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="grid_type" type="identifier">
				<xs:annotation>
					<xs:documentation>Selection of one of a set of grid types</xs:documentation>
					<xs:appinfo>
						<doc_identifier>utilities/poloidal_plane_coordinates_identifier.xml</doc_identifier>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="grid" type="equilibrium_profiles_2d_grid">
				<xs:annotation>
					<xs:documentation>Definition of the 2D grid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="r">
				<xs:annotation>
					<xs:documentation>Values of the major radius on the grid</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z">
				<xs:annotation>
					<xs:documentation>Values of the Height on the grid</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="psi">
				<xs:annotation>
					<xs:documentation>Values of the poloidal flux at the grid in the poloidal plane</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<units>Wb</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="theta">
				<xs:annotation>
					<xs:documentation>Values of the poloidal angle on the grid</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="phi">
				<xs:annotation>
					<xs:documentation>Toroidal flux</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<units>Wb</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="j_tor">
				<xs:annotation>
					<xs:documentation>Toroidal plasma current density</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<units>A.m^-2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="j_parallel">
				<xs:annotation>
					<xs:documentation>Parallel (to magnetic field) plasma current density</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<units>A.m^-2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_r">
				<xs:annotation>
					<xs:documentation>R component of the poloidal magnetic field</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<units>T</units>
						<lifecycle_status>obsolescent</lifecycle_status>
						<lifecycle_version>3.5.0</lifecycle_version>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_field_r">
				<xs:annotation>
					<xs:documentation>R component of the poloidal magnetic field</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_z">
				<xs:annotation>
					<xs:documentation>Z component of the poloidal magnetic field</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<units>T</units>
						<lifecycle_status>obsolescent</lifecycle_status>
						<lifecycle_version>3.5.0</lifecycle_version>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_field_z">
				<xs:annotation>
					<xs:documentation>Z component of the poloidal magnetic field</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_tor">
				<xs:annotation>
					<xs:documentation>Toroidal component of the magnetic field</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<units>T</units>
						<lifecycle_status>obsolescent</lifecycle_status>
						<lifecycle_version>3.5.0</lifecycle_version>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_field_tor">
				<xs:annotation>
					<xs:documentation>Toroidal component of the magnetic field</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="equilibrium_ggd">
		<xs:annotation>
			<xs:documentation>Equilibrium ggd representation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="grid" type="generic_grid_dynamic">
				<xs:annotation>
					<xs:documentation>Grid description</xs:documentation>
					<xs:appinfo>
						<lifecycle_status>obsolescent</lifecycle_status>
						<lifecycle_version>3.17.0</lifecycle_version>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="r" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Values of the major radius on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="z" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Values of the Height on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="psi" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Values of the poloidal flux, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>Wb</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="phi" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Values of the toroidal flux, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>Wb</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="theta" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Values of the poloidal angle, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="j_tor" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Toroidal plasma current density, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>A.m^-2</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="j_parallel" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Parallel (to magnetic field) plasma current density, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>A.m^-2</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="b_field_r" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>R component of the poloidal magnetic field, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="b_field_z" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Z component of the poloidal magnetic field, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="b_field_tor" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Toroidal component of the magnetic field, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="equilibrium_time_slice">
		<xs:annotation>
			<xs:documentation>Equilibrium at a given time slice</xs:documentation>
			<xs:appinfo>
				<type>dynamic</type>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="boundary" type="equilibrium_boundary">
				<xs:annotation>
					<xs:documentation>Description of the plasma boundary</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="constraints" type="equilibrium_constraints">
				<xs:annotation>
					<xs:appinfo>
						<lifecycle_status>alpha</lifecycle_status>
						<lifecycle_version>3.17.0</lifecycle_version>
					</xs:appinfo>
					<xs:documentation>In case of equilibrium reconstruction under constraints, measurements used to constrain the equilibrium, reconstructed values and accuracy of the fit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="global_quantities" type="equlibrium_global_quantities">
				<xs:annotation>
					<xs:documentation>0D parameters of the equilibrium</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="profiles_1d" type="equilibrium_profiles_1d">
				<xs:annotation>
					<xs:documentation>Equilibrium profiles (1D radial grid) as a function of the poloidal flux</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="profiles_2d" type="equilibrium_profiles_2d" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Equilibrium 2D profiles in the poloidal plane. Multiple 2D representations of the equilibrium can be stored here.</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ggd" type="equilibrium_ggd" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Equilibrium representation using the generic grid description. Multiple GGD representations of the equilibrium can be stored here.</xs:documentation>
					<xs:appinfo>
						<lifecycle_status>alpha</lifecycle_status>
						<lifecycle_version>3.2.1</lifecycle_version>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="coordinate_system" type="equilibrium_coordinate_system">
				<xs:annotation>
					<xs:documentation>Flux surface coordinate system on a square grid of flux and poloidal angle</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="convergence" type="equilibrium_convergence">
				<xs:annotation>
					<xs:documentation>Convergence details</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="equilibrium">
		<xs:annotation>
			<xs:documentation>Description of a 2D, axi-symmetric, tokamak equilibrium; result of an equilibrium code.</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>active</lifecycle_status>
				<lifecycle_version>3.1.0</lifecycle_version>
				<lifecycle_last_change>3.17.0</lifecycle_last_change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="vacuum_toroidal_field" type="b_tor_vacuum_1">
					<xs:annotation>
						<xs:documentation>Characteristics of the vacuum toroidal field (used in rho_tor definition and in the normalization of current densities)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="grid_ggd" type="generic_grid_aos3_root" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Grid (using the Generic Grid Description), for various time slices. The timebase of this array of structure must be a subset of the time_slice timebase</xs:documentation>
						<xs:appinfo>
							<coordinate1>time</coordinate1>
							<type>dynamic</type>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="time_slice" type="equilibrium_time_slice" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Set of equilibria at various time slices</xs:documentation>
						<xs:appinfo>
							<coordinate1>time</coordinate1>
							<type>dynamic</type>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
