Equilibrium/DD_Equilibrium.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Utilities/DD_Support.xsd"/>
	<xs:complexType name="equilibrium_boundary">
		<xs:annotation>
			<xs:documentation>Geometry of the plasma boundary</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type">
				<xs:annotation>
					<xs:documentation>0 (limiter) or 1 (diverted)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<type>DYNAMIC</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="NOTNEEDEDn_outline_points">
				<xs:annotation>
					<xs:documentation>Number of meaningful Outline points in R and Z at a given time.</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="lcfs" type="rz2d_dynamic_npoints">
				<xs:annotation>
					<xs:documentation>RZ description of the plasma boundary. The second dimension is oversized to fit the maximum number of (R,Z) points over the time range</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>1...2</coordinate1>
						<coordinate2>1...max_n_outline_points</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="geometric_axis" type="rz1d_dynamic">
				<xs:annotation>
					<xs:documentation>RZ position of the geometric axis (defined as (Rmin+Rmax) / 2 of the boundary)</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>1...2</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="a_minor">
				<xs:annotation>
					<xs:documentation>Minor radius of the plasma boundary (defined as (Rmax-Rmin) / 2 of the boundary)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<type>DYNAMIC</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="elongation">
				<xs:annotation>
					<xs:documentation>Elongation of the plasma boundary</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<type>DYNAMIC</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="elongation_upper">
				<xs:annotation>
					<xs:documentation>Elongation (upper half w.r.t. geometric axis) of the plasma boundary</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<type>DYNAMIC</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="elongation_lower">
				<xs:annotation>
					<xs:documentation>Elongation (lower half w.r.t. geometric axis) of the plasma boundary</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<type>DYNAMIC</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="triangularity_upper">
				<xs:annotation>
					<xs:documentation>Upper triangularity of the plasma boundary</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<type>DYNAMIC</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="triangularity_lower">
				<xs:annotation>
					<xs:documentation>Lower triangularity of the plasma boundary</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<type>DYNAMIC</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="n_x_points">
				<xs:annotation>
					<xs:documentation>Number of X points at a given time</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="x_point_inner" type="rz1d_dynamic">
				<xs:annotation>
					<xs:documentation>RZ position of the innermost X point, the active X point if diverted.</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>1...2</coordinate1>
						<coordinate2>1...Max_N_X_points</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="x_point_outer" type="rz1d_dynamic">
				<xs:annotation>
					<xs:documentation>RZ position of the second Xpoint</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>1...2</coordinate1>
						<coordinate2>1...Max_N_X_points</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="strike_point_lower_left" type="rz1d_dynamic">
				<xs:annotation>
					<xs:documentation>RZ position of the lower left strike point</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>1...2</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="strike_point_upper_left" type="rz1d_dynamic">
				<xs:annotation>
					<xs:documentation>RZ position of the upper left strike point</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>1...2</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="strike_point_lower_right" type="rz1d_dynamic">
				<xs:annotation>
					<xs:documentation>RZ position of the lower right strike point</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>1...2</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="strike_point_upper_right" type="rz1d_dynamic">
				<xs:annotation>
					<xs:documentation>RZ position of the upper right strike point</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>1...2</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="active_limiter_point" type="rz1d_dynamic">
				<xs:annotation>
					<xs:documentation>RZ position of the active limiter point (point of the plasma boundary in contact with the limiter)</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>1...2</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="equlibrium_global">
		<xs:annotation>
			<xs:documentation>0D parameters of the equilibrium</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="beta_pol">
				<xs:annotation>
					<xs:documentation>Poloidal beta</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="beta_tor">
				<xs:annotation>
					<xs:documentation>Toroidal beta</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="beta_normal">
				<xs:annotation>
					<xs:documentation>Normalised toroidal beta</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ip">
				<xs:annotation>
					<xs:documentation>Plasma current. Positive sign means anti-clockwise when viewed from above.</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../../time</coordinate1>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="li_3">
				<xs:annotation>
					<xs:documentation>Internal inductance</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="volume">
				<xs:annotation>
					<xs:documentation>Total plasma volume</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../../time</coordinate1>
						<units>m^3</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="area">
				<xs:annotation>
					<xs:documentation>Area of the LCFS poloidal cross section</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../../time</coordinate1>
						<units>m^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="psi_axis">
				<xs:annotation>
					<xs:documentation>Poloidal flux at the magnetic axis</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../../time</coordinate1>
						<units>Wb</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="psi_boundary">
				<xs:annotation>
					<xs:documentation>Poloidal flux at the selected plasma boundary </xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../../time</coordinate1>
						<units>Wb</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="magnetic_axis" type="rz1d_dynamic">
				<xs:annotation>
					<xs:documentation>Magnetic axis position</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="b_tor_axis">
				<xs:annotation>
					<xs:documentation>Total toroidal magnetic field at the magnetic axis</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../../time</coordinate1>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="q_axis">
				<xs:annotation>
					<xs:documentation>q at the magnetic axis</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../../time</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="q_95">
				<xs:annotation>
					<xs:documentation>q at the 95% poloidal flux surface</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../../time</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="q_min">
				<xs:annotation>
					<xs:documentation>Minimum q value in the plasma</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../../time</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="vacuum_toroidal_field" type="b_tor_vacuum_2">
				<xs:annotation>
					<xs:documentation>Characteristics of the vacuum toroidal field</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="w_mhd">
				<xs:annotation>
					<xs:documentation>Plasma energy content = 3/2 * int(p,dV) with p being the total pressure (thermal + fast particles) [J]. Time-dependent; Scalar</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../../time</coordinate1>
						<units>J</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gamma">
				<xs:annotation>
					<xs:documentation>Adiabatic index</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="equilibrium_profiles_1d">
		<xs:annotation>
			<xs:documentation>Equilibrium profiles (1D radial grid) as a function of the poloidal flux</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="psi">
				<xs:annotation>
					<xs:documentation>Poloidal flux, such that Bp=|grad psi| /R/2/pi</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>1...n_psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>Wb</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="phi">
				<xs:annotation>
					<xs:documentation>Toroidal flux</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>Wb</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pressure">
				<xs:annotation>
					<xs:documentation>Pressure</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="f">
				<xs:annotation>
					<xs:documentation>Diamagnetic function (F=R B_Phi)</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>T.m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dpressure_dpsi">
				<xs:annotation>
					<xs:documentation>Derivative of Pressure w.r.t. Psi</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>Pa.Wb^-1</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="f_df_dpsi">
				<xs:annotation>
					<xs:documentation>Derivative of F w.r.t. Psi, multiplied with F</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>T^2.m^2/Wb</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="j_tor">
				<xs:annotation>
					<xs:documentation>Flux surface averaged toroidal current density = average(J_TorR) / average(1/R)</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>A/m^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="j_parallel">
				<xs:annotation>
					<xs:documentation>Flux surface averaged parallel current density = average(j.B) / B0, where B0 = Equilibrium/Global/Toroidal_Field/B0</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>A/m^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="q">
				<xs:annotation>
					<xs:documentation>Safety factor</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="magnetic_shear">
				<xs:annotation>
					<xs:documentation>Magnetic shear</xs:documentation>
					<xs:appinfo>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>-</units>
						<type>DYNAMIC</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="r_inboard">
				<xs:annotation>
					<xs:documentation>Radial coordinate (major radius) on the inboard side of the magnetic axis</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="r_outboard">
				<xs:annotation>
					<xs:documentation>Radial coordinate (major radius) on the outboard side of the magnetic axis</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="rho_tor">
				<xs:annotation>
					<xs:documentation>Toroidal flux coordinate, defined as sqrt(Phi/pi/B0), where B0 = Equilibrium/Global/Toroidal_Field/B0</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dpsi_drho_tor">
				<xs:annotation>
					<xs:documentation>Derivative of Psi with respect to Rho_Tor</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>Wb/m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="rho_vol_norm">
				<xs:annotation>
					<xs:documentation>Normalised radial coordinate related to the plasma volume. Defined as sqrt(volume / volume[LCFS])</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="elongation">
				<xs:annotation>
					<xs:documentation>Elongation</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="triangularity_upper">
				<xs:annotation>
					<xs:documentation>Upper triangularity w.r.t. magnetic axis</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="triangularity_lower">
				<xs:annotation>
					<xs:documentation>Lower triangularity w.r.t. magnetic axis</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="volume">
				<xs:annotation>
					<xs:documentation>Volume enclosed in the flux surface</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m^3</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dvolume_dpsi">
				<xs:annotation>
					<xs:documentation>Radial derivative of the volume enclosed in the flux surface with respect to Psi</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m^3.Wb^-1</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dvolume_drho_tor">
				<xs:annotation>
					<xs:documentation>Radial derivative of the volume enclosed in the flux surface with respect to Rho_Tor</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="area">
				<xs:annotation>
					<xs:documentation>Cross-sectional area of the flux surface</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="darea_dpsi">
				<xs:annotation>
					<xs:documentation>Radial derivative of the cross-sectional area of the flux surface with respect to Psi</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m^2.Wb^-1</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="surface">
				<xs:annotation>
					<xs:documentation>Surface area of the toroidal flux surface</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="trapped_fraction">
				<xs:annotation>
					<xs:documentation>Trapped particle fraction</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gm1">
				<xs:annotation>
					<xs:documentation>Flux surface averaged 1/R^2</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m^-2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gm2">
				<xs:annotation>
					<xs:documentation>Flux surface averaged grad_rho^2/R^2</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m^-2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gm3">
				<xs:annotation>
					<xs:documentation>Flux surface averaged grad_rho^2</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gm4">
				<xs:annotation>
					<xs:documentation>Flux surface averaged 1/B^2</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>T^-2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gm5">
				<xs:annotation>
					<xs:documentation>Flux surface averaged B^2</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>T^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gm6">
				<xs:annotation>
					<xs:documentation>Flux surface averaged grad_rho^2/B^2</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>T^-2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gm7">
				<xs:annotation>
					<xs:documentation>Flux surface averaged grad_rho</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gm8">
				<xs:annotation>
					<xs:documentation>Flux surface averaged R</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gm9">
				<xs:annotation>
					<xs:documentation>Flux surface averaged 1/R</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m^-1</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_average">
				<xs:annotation>
					<xs:documentation>Flux surface averaged B</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_min">
				<xs:annotation>
					<xs:documentation>Minimum(B) on the flux surface</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_max">
				<xs:annotation>
					<xs:documentation>Maximum(B) on the flux surface</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../psi</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="equilibrium_profiles_2d_grid">
		<xs:annotation>
			<xs:documentation>Definition of the 2D grid</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dim1">
				<xs:annotation>
					<xs:documentation>First dimension values</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>1...n_dim1</coordinate1>
						<coordinate2>../../../time</coordinate2>
						<units>variable</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dim2">
				<xs:annotation>
					<xs:documentation>Second dimension values</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>1...n_dim2</coordinate1>
						<coordinate2>../../../time</coordinate2>
						<units>variable</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="equilibrium_profiles_2d">
		<xs:annotation>
			<xs:documentation>Equilibrium 2D profiles in the poloidal plane</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="grid_type">
				<xs:annotation>
					<xs:documentation>Selection of one of a set of grid types. 1-rectangular (R,Z) grid, in this case the position arrays should not be filled since they are redundant with grid/dim1 and dim2.</xs:documentation>
					<xs:appinfo>
						<type>CONSTANT</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="grid" type="equilibrium_profiles_2d_grid">
				<xs:annotation>
					<xs:documentation>Definition of the 2D grid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="r">
				<xs:annotation>
					<xs:documentation>Values of the major radius on the grid</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z">
				<xs:annotation>
					<xs:documentation>Values of the Height on the grid</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="psi">
				<xs:annotation>
					<xs:documentation>Values of the poloidal flux at the grid in the poloidal plane</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>Wb</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="theta">
				<xs:annotation>
					<xs:documentation>Values of the poloidal angle on the grid</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="phi">
				<xs:annotation>
					<xs:documentation>Toroidal flux</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>Wb</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="j_tor">
				<xs:annotation>
					<xs:documentation>Toroidal plasma current density</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>A.m^-2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="j_parallel">
				<xs:annotation>
					<xs:documentation>Parallel (to magnetic field) plasma current density</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>A.m^-2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_r">
				<xs:annotation>
					<xs:documentation>R component of the poloidal magnetic field</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_z">
				<xs:annotation>
					<xs:documentation>Z component of the poloidal magnetic field</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_tor">
				<xs:annotation>
					<xs:documentation>Toroidal component of the magnetic field</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>T</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="equilibrium_coordinate_system">
		<xs:annotation>
			<xs:documentation>Flux surface coordinate system on a square grid of flux and poloidal angle</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="grid_type">
				<xs:annotation>
					<xs:documentation>Type of coordinate system</xs:documentation>
					<xs:appinfo>
						<type>CONSTANT</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="grid" type="equilibrium_profiles_2d_grid">
				<xs:annotation>
					<xs:documentation>Definition of the 2D grid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="r">
				<xs:annotation>
					<xs:documentation>Values of the major radius on the grid</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z">
				<xs:annotation>
					<xs:documentation>Values of the Height on the grid</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="jacobian">
				<xs:annotation>
					<xs:documentation>Jacobian of the coordinate system</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>variable</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="g_11">
				<xs:annotation>
					<xs:documentation>metric coefficients g_11; g_ij=g^ij are contravariant metric tensor for the grid described by grid_type</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>variable</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="g_12">
				<xs:annotation>
					<xs:documentation>metric coefficients g_12; g_ij=g^ij are contravariant metric tensor for the grid described by grid_type</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>variable</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="g_13">
				<xs:annotation>
					<xs:documentation>metric coefficients g_13; g_ij=g^ij are contravariant metric tensor for the grid described by grid_type</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>variable</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="g_22">
				<xs:annotation>
					<xs:documentation>metric coefficients g_22; g_ij=g^ij are contravariant metric tensor for the grid described by grid_type</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>variable</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="g_23">
				<xs:annotation>
					<xs:documentation>metric coefficients g_23; g_ij=g^ij are contravariant metric tensor for the grid described by grid_type</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>variable</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="g_33">
				<xs:annotation>
					<xs:documentation>metric coefficients g_33; g_ij=g^ij are contravariant metric tensor for the grid described by grid_type</xs:documentation>
					<xs:appinfo>
						<type>DYNAMIC</type>
						<coordinate1>../grid/dim1</coordinate1>
						<coordinate2>../grid/dim2</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>variable</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="equilibrium">
		<xs:annotation>
			<xs:documentation>Description of a 2D, axi-symmetric, tokamak equilibrium; result of an equilibrium code.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="boundary" type="equilibrium_boundary">
					<xs:annotation>
						<xs:documentation>Description of the plasma boundary</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="global" type="equlibrium_global">
					<xs:annotation>
						<xs:documentation>0D parameters of the equilibrium</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="profiles_1d" type="equilibrium_profiles_1d">
					<xs:annotation>
						<xs:documentation>Equilibrium profiles (1D radial grid) as a function of the poloidal flux</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="profiles_2d" type="equilibrium_profiles_2d" maxOccurs="4">
					<xs:annotation>
						<xs:documentation>Equilibrium 2D profiles in the poloidal plane. Multiple 2D representations of the equilibrium can be stored here.</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...n_representations</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="coordinate_system" type="equilibrium_coordinate_system">
					<xs:annotation>
						<xs:documentation>Flux surface coordinate system on a square grid of flux and poloidal angle</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
