camera_ir/dd_camera_ir.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="camera_ir_calibration">
		<xs:annotation>
			<xs:documentation>Calibration data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="luminance_to_temperature">
				<xs:annotation>
					<xs:documentation>Luminance to temperature conversion table</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>1...2</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="transmission_barrel">
				<xs:annotation>
					<xs:documentation>Transmission of the optical barrel</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
						<coordinate1_same_as>../../frame/image_raw</coordinate1_same_as>
						<coordinate2>1...N</coordinate2>
						<coordinate2_same_as>../../frame/image_raw</coordinate2_same_as>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="transmission_mirror">
				<xs:annotation>
					<xs:documentation>Transmission of the mirror</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
						<coordinate1_same_as>../../frame/image_raw</coordinate1_same_as>
						<coordinate2>1...N</coordinate2>
						<coordinate2_same_as>../../frame/image_raw</coordinate2_same_as>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="transmission_window">
				<xs:annotation>
					<xs:documentation>Transmission of the window</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
						<coordinate1_same_as>../../frame/image_raw</coordinate1_same_as>
						<coordinate2>1...N</coordinate2>
						<coordinate2_same_as>../../frame/image_raw</coordinate2_same_as>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="optical_temperature">
				<xs:annotation>
					<xs:documentation>Temperature of the optical components (digital levels)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>1...N</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="camera_ir_frame">
		<xs:annotation>
			<xs:documentation>Frame of a camera</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="image_raw">
				<xs:annotation>
					<xs:documentation>Raw image (unprocessed) (digital levels). First dimension : line index (horizontal axis). Second dimension: column index (vertical axis).</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>1...N</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="camera_ir">
		<xs:annotation>
			<xs:documentation>Infrared camera for monitoring of Plasma Facing Components</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.23.4</lifecycle_version>
				<lifecycle_last_change>3.33.0</lifecycle_last_change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="name">
					<xs:annotation>
						<xs:documentation>Name of the camera</xs:documentation>
						<xs:appinfo>
							<type>static</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="STR_0D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="calibration" type="camera_ir_calibration">
					<xs:annotation>
						<xs:documentation>Calibration data</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="frame" type="camera_ir_frame" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Set of frames</xs:documentation>
						<xs:appinfo>
							<coordinate1>time</coordinate1>
							<type>dynamic</type>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="latency"/>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
