spectrometer_x_ray_crystal/dd_spectrometer_x_ray_crystal.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="spectrometer_x_ray_crystal_filter">
		<xs:annotation>
			<xs:documentation>Characteristics of the filter window</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="material">
				<xs:annotation>
					<xs:documentation>Material of the filter window</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="thickness">
				<xs:annotation>
					<xs:documentation>Thickness of the filter window</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="spectrometer_x_ray_crystal_camera">
		<xs:annotation>
			<xs:documentation>Characteristics of the camera used</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier">
				<xs:annotation>
					<xs:documentation>ID of the camera</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pixel_dimensions">
				<xs:annotation>
					<xs:documentation>Pixel dimension in each direction (horizontal, vertical)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...2</coordinate1>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pixel_n">
				<xs:annotation>
					<xs:documentation>Number of pixels in each direction (horizontal, vertical)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...2</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="camera_dimensions">
				<xs:annotation>
					<xs:documentation>Total camera dimension in each direction (horizontal, vertical)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...2</coordinate1>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="centre" type="rzphi0d_static">
				<xs:annotation>
					<xs:documentation>Position of the camera centre</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x3_unit_vector" type="xyz0d_static">
				<xs:annotation>
					<xs:documentation>Components of the X3 direction unit vector in the (X,Y,Z) coordinate system, where X is the major radius axis for phi = 0, Y is the major radius axis for phi = pi/2, and Z is the height axis. The X3 axis is normal to the camera plane and oriented towards the plasma.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="spectrometer_x_ray_crystal_crystal">
		<xs:annotation>
			<xs:documentation>Characteristics of the crystal used, extension of the generic description of a small plane or curved object (crystal, reflector, ...)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identifier">
				<xs:annotation>
					<xs:documentation>ID of the object</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="geometry_type" type="identifier_static">
				<xs:annotation>
					<xs:documentation>Geometry of the object contour. Note that there is some flexibility in the choice of the local coordinate system (X1,X2,X3). The data provider should choose the most convenient coordinate system for the object, respecting the definitions of (X1,X2,X3) indicated below.</xs:documentation>
					<xs:appinfo>
						<doc_identifier>utilities/curved_object_geometry_identifier.xml</doc_identifier>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="curvature_type" type="identifier_static">
				<xs:annotation>
					<xs:documentation>Curvature of the object.</xs:documentation>
					<xs:appinfo>
						<doc_identifier>utilities/curved_object_geometry_identifier.xml</doc_identifier>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="material" type="identifier_static">
				<xs:annotation>
					<xs:documentation>Material of the object</xs:documentation>
					<xs:appinfo>
						<doc_identifier>utilities/materials_identifier.xml</doc_identifier>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="centre" type="rzphi0d_static">
				<xs:annotation>
					<xs:documentation>Coordinates of the origin of the local coordinate system (X1,X2,X3) describing the object. This origin is located within the object area and should be the middle point of the object surface. If geometry_type=2, it's the centre of the circular object. If geometry_type=3, it's the centre of the rectangular object. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="radius">
				<xs:annotation>
					<xs:documentation>Radius of the circle, used only if geometry_type/index = 2</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="x1_unit_vector" type="xyz0d_static">
				<xs:annotation>
					<xs:documentation>Components of the X1 direction unit vector in the (X,Y,Z) coordinate system, where X is the major radius axis for phi = 0, Y is the major radius axis for phi = pi/2, and Z is the height axis. The X1 vector is more horizontal than X2 (has a smaller abs(Z) component) and oriented in the positive phi direction (counter-clockwise when viewing from above). </xs:documentation>
					<xs:appinfo>
						<url>utilities/detector_aperture_coordinates.svg</url>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="x2_unit_vector" type="xyz0d_static">
				<xs:annotation>
					<xs:documentation>Components of the X2 direction unit vector in the (X,Y,Z) coordinate system, where X is the major radius axis for phi = 0, Y is the major radius axis for phi = pi/2, and Z is the height axis. The X2 axis is orthonormal so that uX2 = uX3 x uX1.</xs:documentation>
					<xs:appinfo>
						<url>utilities/detector_aperture_coordinates.svg</url>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="x3_unit_vector" type="xyz0d_static">
				<xs:annotation>
					<xs:documentation>Components of the X3 direction unit vector in the (X,Y,Z) coordinate system, where X is the major radius axis for phi = 0, Y is the major radius axis for phi = pi/2, and Z is the height axis. The X3 axis is normal to the object surface and oriented towards the plasma.</xs:documentation>
					<xs:appinfo>
						<url>utilities/detector_aperture_coordinates.svg</url>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="x1_width">
				<xs:annotation>
					<xs:documentation>Full width of the object in the X1 direction, used only if geometry_type/index = 3</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="x2_width">
				<xs:annotation>
					<xs:documentation>Full width of the object in the X2 direction, used only if geometry_type/index = 3</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="outline" type="x1x21d_static">
				<xs:annotation>
					<xs:documentation>Irregular outline of the object in the (X1, X2) coordinate system, used only if geometry_type/index=1. Do NOT repeat the first point.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x1_curvature">
				<xs:annotation>
					<xs:documentation>Radius of curvature in the X1 direction, to be filled only for curvature_type/index = 2, 4 or 5</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="x2_curvature">
				<xs:annotation>
					<xs:documentation>Radius of curvature in the X2 direction, to be filled only for curvature_type/index = 3 or 5</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="surface">
				<xs:annotation>
					<xs:documentation>Surface of the object, derived from the above geometric data</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="wavelength_bragg">
				<xs:annotation>
					<xs:documentation>Bragg wavelength of the crystal</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="angle_bragg">
				<xs:annotation>
					<xs:documentation>Bragg angle of the crystal</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="spectrometer_x_ray_crystal_frame">
		<xs:annotation>
			<xs:documentation>Frame of a camera</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="photon_count">
				<xs:annotation>
					<xs:documentation>Detected photon count per unit time on each pixel of the frame</xs:documentation>
					<xs:appinfo>
						<units>(counts).s^-1</units>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate1_same_as>../../wavelength_frames</coordinate1_same_as>
						<coordinate2>../../z_frames</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="spectrometer_x_ray_crystal_channel">
		<xs:annotation>
			<xs:documentation>X-crystal spectrometer channel</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="integration_time">
				<xs:annotation>
					<xs:documentation>Integration time of the measurement</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="energy_bound_lower">
				<xs:annotation>
					<xs:documentation>Lower energy bound for the photon detection, for each pixel (horizontal, vertical)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>eV</units>
						<coordinate1>1...N</coordinate1>
						<coordinate1_same_as>../wavelength_frames</coordinate1_same_as>
						<coordinate2>../z_frames</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="energy_bound_upper">
				<xs:annotation>
					<xs:documentation>Upper energy bound for the photon detection, for each pixel (horizontal, vertical)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>eV</units>
						<coordinate1>1...N</coordinate1>
						<coordinate1_same_as>../wavelength_frames</coordinate1_same_as>
						<coordinate2>../z_frames</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="aperture" type="detector_aperture">
				<xs:annotation>
					<xs:documentation>Collimating aperture</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reflector" type="curved_object" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>Set of reflectors (optional) reflecting the light coming from the plasma towards the crystal. If empty, means that the plasma light directly arrives on the crystal.</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="crystal" type="spectrometer_x_ray_crystal_crystal">
				<xs:annotation>
					<xs:documentation>Characteristics of the crystal used</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="filter_window" type="spectrometer_x_ray_crystal_filter">
				<xs:annotation>
					<xs:documentation>Characteristics of the filter window</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="camera" type="spectrometer_x_ray_crystal_camera">
				<xs:annotation>
					<xs:documentation>Characteristics of the camera used</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="z_frames">
				<xs:annotation>
					<xs:documentation>Height of the observed zone at the focal plane in the plasma, corresponding to the vertical dimension of the frame</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="wavelength_frames">
				<xs:annotation>
					<xs:documentation>Wavelength of incoming photons on each pixel of the frames, mainly varying accross the horizontal dimension of the frame. However a 2D map of the wavelength is given since it is not constant vertically due to the elliptical curvature of the photon iso-surfaces</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../z_frames</coordinate2>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="frame" type="spectrometer_x_ray_crystal_frame" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Set of frames</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_i_proxy" type="signal_flt_2d_validity">
				<xs:annotation>
					<xs:documentation>Ion temperature (proxy estimated directly from the camera, without tomographic inversion)</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
						<coordinate1>../z_frames</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_e_proxy" type="signal_flt_2d_validity">
				<xs:annotation>
					<xs:documentation>Electron temperature (proxy estimated directly from the camera, without tomographic inversion)</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
						<coordinate1>../z_frames</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="velocity_tor_proxy" type="signal_flt_2d_validity">
				<xs:annotation>
					<xs:documentation>Toroidal velocity (proxy estimated directly from the camera, without tomographic inversion)</xs:documentation>
					<xs:appinfo>
						<units>m.s^-1</units>
						<coordinate1>../z_frames</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="spectrometer_x_ray_crystal">
		<xs:annotation>
			<xs:documentation>X-crystal spectrometer diagnostic</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.26.0</lifecycle_version>
				<lifecycle_last_change>3.33.1</lifecycle_last_change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="channel" type="spectrometer_x_ray_crystal_channel" maxOccurs="10">
					<xs:annotation>
						<xs:documentation>Measurement channel, composed of a camera, a crystal, and (optional) a set of reflectors. The light coming from the plasma passes through the (optional) set of reflectors, then the crystal and arrives at the camera</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
							<introduced_after_version>3.33.0</introduced_after_version>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="latency">
					<xs:annotation>
						<xs:documentation>Upper bound of the delay between physical information received by the detector and data available on the real-time (RT) network.</xs:documentation>
						<xs:appinfo>
							<type>static</type>
							<units>s</units>
							<introduced_after_version>3.32.1</introduced_after_version>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_0D"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
