reflectometer_profile/dd_reflectometer_profile.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="reflectometer_profile_position">
		<xs:annotation>
			<xs:documentation>R, Z, Phi, psi, rho_tor_norm and theta positions associated to the electron density reconstruction (2D, dynamic within a type 1 array of structure)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="r">
				<xs:annotation>
					<xs:documentation>Major radius</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m</units>
						<coordinate1>1...N</coordinate1>
						<coordinate1_same_as>../../n_e/data</coordinate1_same_as>
						<coordinate2>../../n_e/time</coordinate2>
						<change_nbc_version>3.23.3</change_nbc_version>
						<change_nbc_description>leaf_renamed</change_nbc_description>
						<change_nbc_previous_name>r/data</change_nbc_previous_name>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z">
				<xs:annotation>
					<xs:documentation>Height</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m</units>
						<coordinate1>1...N</coordinate1>
						<coordinate1_same_as>../../n_e/data</coordinate1_same_as>
						<coordinate2>../../n_e/time</coordinate2>
						<change_nbc_version>3.23.3</change_nbc_version>
						<change_nbc_description>leaf_renamed</change_nbc_description>
						<change_nbc_previous_name>z/data</change_nbc_previous_name>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="phi">
				<xs:annotation>
					<xs:documentation>Toroidal angle (oriented counter-clockwise when viewing from above)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>rad</units>
						<coordinate1>1...N</coordinate1>
						<coordinate1_same_as>../../n_e/data</coordinate1_same_as>
						<coordinate2>../../n_e/time</coordinate2>
						<change_nbc_version>3.23.3</change_nbc_version>
						<change_nbc_description>leaf_renamed</change_nbc_description>
						<change_nbc_previous_name>phi/data</change_nbc_previous_name>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="psi">
				<xs:annotation>
					<xs:documentation>Poloidal flux</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
						<coordinate1>1...N</coordinate1>
						<coordinate1_same_as>../../n_e/data</coordinate1_same_as>
						<coordinate2>../../n_e/time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="rho_tor_norm">
				<xs:annotation>
					<xs:documentation>Normalised toroidal flux coordinate</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
						<coordinate1>1...N</coordinate1>
						<coordinate1_same_as>../../n_e/data</coordinate1_same_as>
						<coordinate2>../../n_e/time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="theta">
				<xs:annotation>
					<xs:documentation>Poloidal angle (oriented clockwise when viewing the poloidal cross section on the right hand side of the tokamak axis of symmetry, with the origin placed on the plasma magnetic axis)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>rad</units>
						<coordinate1>1...N</coordinate1>
						<coordinate1_same_as>../../n_e/data</coordinate1_same_as>
						<coordinate2>../../n_e/time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="reflectometer_channel">
		<xs:annotation>
			<xs:documentation>Reflectometer channel</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the channel</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="identifier">
				<xs:annotation>
					<xs:documentation>ID of the channel</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="mode">
				<xs:annotation>
					<xs:documentation>Detection mode "X" or "O"</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="line_of_sight_emission" type="line_of_sight_2points">
				<xs:annotation>
					<xs:documentation>Description of the line of sight of the emission antenna. The first point corresponds to the antenna mouth. The second point correspond to the interception of the line of sight with the reflection surface on the inner wall.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="line_of_sight_detection" type="line_of_sight_2points">
				<xs:annotation>
					<xs:documentation>Description of the line of sight of the detection antenna, to be filled only if its position is distinct from the emission antenna. The first point corresponds to the antenna mouth. The second point correspond to the interception of the line of sight with the reflection surface on the inner wall.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sweep_time">
				<xs:annotation>
					<xs:documentation>Duration of a sweep</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="frequencies">
				<xs:annotation>
					<xs:documentation>Array of frequencies scanned during a sweep</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>Hz</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="phase" type="signal_flt_2d">
				<xs:annotation>
					<xs:documentation>Measured phase of the probing wave for each frequency and time slice (corresponding to the begin time of a sweep), relative to the phase at launch</xs:documentation>
					<xs:appinfo>
						<coordinate1>../frequencies</coordinate1>
						<coordinate2>time</coordinate2>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="position" type="reflectometer_profile_position">
				<xs:annotation>
					<xs:documentation>Position of the density measurements</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_e" type="signal_flt_2d">
				<xs:annotation>
					<xs:documentation>Electron density</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<coordinate2>time</coordinate2>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="cut_off_frequency_v">
				<xs:annotation>
					<xs:documentation>Cut-off frequency for V band</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<coordinate1_same_as>../n_e/data</coordinate1_same_as>
						<coordinate2>../n_e/time</coordinate2>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="cut_off_frequency_w">
				<xs:annotation>
					<xs:documentation>Cut-off frequency for W band</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<coordinate1_same_as>../n_e/data</coordinate1_same_as>
						<coordinate2>../n_e/time</coordinate2>
						<units>Hz</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="reflectometer_profile">
		<xs:annotation>
			<xs:documentation>Profile reflectometer diagnostic. Multiple reflectometers are considered as independent diagnostics to be handled with different occurrence numbers</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.11.0</lifecycle_version>
				<lifecycle_last_change>3.32.1</lifecycle_last_change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="type">
					<xs:annotation>
						<xs:documentation>Type of reflectometer (frequency_swept, radar, ...)</xs:documentation>
						<xs:appinfo>
							<type>static</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="STR_0D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="channel" type="reflectometer_channel" maxOccurs="5">
					<xs:annotation>
						<xs:documentation>Set of channels, e.g. different reception antennas or frequency bandwidths of the reflectometer</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="psi_normalization" type="psi_normalization">
					<xs:annotation>
						<xs:documentation>Quantities to use to normalize psi, as a function of time</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
