wall/dd_wall.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="wall_global_quantitites_electrons">
		<xs:annotation>
			<xs:documentation>Simple 0D description of plasma-wall interaction, related to electrons</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="pumping_speed">
				<xs:annotation>
					<xs:documentation>Pumped particle flux (in equivalent electrons)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>s^-1</units>
						<coordinate1>../../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="particle_flux_from_plasma">
				<xs:annotation>
					<xs:documentation>Particle flux from the plasma (in equivalent electrons)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>s^-1</units>
						<coordinate1>../../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="particle_flux_from_wall">
				<xs:annotation>
					<xs:documentation>Particle flux from the wall corresponding to the conversion into various neutral types (first dimension: 1: cold; 2: thermal; 3: fast), in equivalent electrons</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>s^-1</units>
						<coordinate1>1...3</coordinate1>
						<coordinate2>../../../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gas_puff">
				<xs:annotation>
					<xs:documentation>Gas puff rate (in equivalent electrons)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>s^-1</units>
						<coordinate1>../../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_inner_target">
				<xs:annotation>
					<xs:documentation>Electron power on the inner target</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../time</coordinate1>
						<units>W</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_outer_target">
				<xs:annotation>
					<xs:documentation>Electron power on the inner target</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../time</coordinate1>
						<units>W</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="wall_global_quantitites_neutral_origin">
		<xs:annotation>
			<xs:documentation>This structure allows distinguishing the species causing the sputtering</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="element" type="plasma_composition_neutral_element_constant" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>List of elements forming the atom or molecule of the incident species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying the incident species (e.g. H, D, CD4, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="energies">
				<xs:annotation>
					<xs:documentation>Array of energies of this incident species, on which the sputtering_physical_coefficient is tabulated</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>eV</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="sputtering_physical_coefficient">
				<xs:annotation>
					<xs:documentation>Effective coefficient of physical sputtering for various neutral types (first dimension: 1: cold; 2: thermal; 3: fast), due to this incident species and for various energies (third dimension)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
						<coordinate1>1...3</coordinate1>
						<coordinate2>../energies</coordinate2>
						<coordinate3>/time</coordinate3>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="sputtering_chemical_coefficient">
				<xs:annotation>
					<xs:documentation>Effective coefficient of chemical sputtering for various neutral types (first dimension: 1: cold; 2: thermal; 3: fast), due to this incident species</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
						<coordinate1>1...3</coordinate1>
						<coordinate2>/time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="wall_global_quantitites_neutral">
		<xs:annotation>
			<xs:documentation>Simple 0D description of plasma-wall interaction, related to a given neutral species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="element" type="plasma_composition_neutral_element_constant" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>List of elements forming the atom or molecule</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying the species (e.g. H, D, CD4, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pumping_speed">
				<xs:annotation>
					<xs:documentation>Pumped particle flux for that species</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>s^-1</units>
						<coordinate1>/time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="particle_flux_from_plasma">
				<xs:annotation>
					<xs:documentation>Particle flux from the plasma for that species</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>s^-1</units>
						<coordinate1>/time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="particle_flux_from_wall">
				<xs:annotation>
					<xs:documentation>Particle flux from the wall corresponding to the conversion into various neutral types (first dimension: 1: cold; 2: thermal; 3: fast)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>s^-1</units>
						<coordinate1>1...3</coordinate1>
						<coordinate2>/time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gas_puff">
				<xs:annotation>
					<xs:documentation>Gas puff rate for that species</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>s^-1</units>
						<coordinate1>/time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="wall_inventory">
				<xs:annotation>
					<xs:documentation>Wall inventory, i.e. cumulated exchange of neutral species between plasma and wall from t = 0, positive if a species has gone to the wall, for that species</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
						<coordinate1>/time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="recycling_particles_coefficient">
				<xs:annotation>
					<xs:documentation>Particle recycling coefficient corresponding to the conversion into various neutral types (first dimension: 1: cold; 2: thermal; 3: fast)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
						<coordinate1>1...3</coordinate1>
						<coordinate2>/time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="recycling_energy_coefficient">
				<xs:annotation>
					<xs:documentation>Energy recycling coefficient corresponding to the conversion into various neutral types (first dimension: 1: cold; 2: thermal; 3: fast)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
						<coordinate1>1...3</coordinate1>
						<coordinate2>/time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="incident_species" type="wall_global_quantitites_neutral_origin" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>Sputtering coefficients due to a set of incident species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="wall_global_quantitites">
		<xs:annotation>
			<xs:documentation>Simple 0D description of plasma-wall interaction</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="electrons" type="wall_global_quantitites_electrons">
				<xs:annotation>
					<xs:documentation>Quantities related to electrons</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="neutral" type="wall_global_quantitites_neutral" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Quantities related to the various neutral species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="temperature">
				<xs:annotation>
					<xs:documentation>Wall temperature</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>K</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_incident">
				<xs:annotation>
					<xs:documentation>Total power incident on the wall. This power is split in the various physical categories listed below</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
						<coordinate1>../../time</coordinate1>
						<change_nbc_version>3.31.0</change_nbc_version>
						<change_nbc_description>leaf_renamed</change_nbc_description>
						<change_nbc_previous_name>power_from_plasma</change_nbc_previous_name>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_conducted">
				<xs:annotation>
					<xs:documentation>Power conducted by the plasma onto the wall</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_convected">
				<xs:annotation>
					<xs:documentation>Power convected by the plasma onto the wall</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_radiated">
				<xs:annotation>
					<xs:documentation>Net radiated power from plasma onto the wall (incident-reflected)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_black_body">
				<xs:annotation>
					<xs:documentation>Black body radiated power emitted from the wall (emissivity is included)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_neutrals">
				<xs:annotation>
					<xs:documentation>Net power from neutrals on the wall  (positive means power is deposited on the wall)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_recombination_plasma">
				<xs:annotation>
					<xs:documentation>Power deposited on the wall due to recombination of plasma ions</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_recombination_neutrals">
				<xs:annotation>
					<xs:documentation>Power deposited on the wall due to recombination of neutrals into a ground state (e.g. molecules)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_currents">
				<xs:annotation>
					<xs:documentation>Power deposited on the wall due to electric currents (positive means power is deposited on the target)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_to_cooling">
				<xs:annotation>
					<xs:documentation>Power to cooling systems</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_inner_target_ion_total">
				<xs:annotation>
					<xs:documentation>Total ion (summed over ion species) power on the inner target</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<units>W</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_density_inner_target_max">
				<xs:annotation>
					<xs:documentation>Maximum power density on the inner target</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<units>W</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_density_outer_target_max">
				<xs:annotation>
					<xs:documentation>Maximum power density on the outer target</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../time</coordinate1>
						<units>W</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="current_tor">
				<xs:annotation>
					<xs:documentation>Toroidal current flowing in the vacuum vessel</xs:documentation>
					<xs:appinfo>
						<units>A</units>
						<coordinate1>../../time</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="wall_2d_limiter_unit">
		<xs:annotation>
			<xs:documentation>2D limiter unit description</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the limiter unit</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="closed">
				<xs:annotation>
					<xs:documentation>Flag identifying whether the contour is closed (1) or open (0)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="outline" type="rz1d_static">
				<xs:annotation>
					<xs:documentation>Irregular outline of the limiting surface. Do NOT repeat the first point for closed contours</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="phi_extensions">
				<xs:annotation>
					<xs:documentation>Simplified description of toroidal angle extensions of the unit, by a list of zones defined by their centre and full width (in toroidal angle).  In each of these zones, the unit outline remains the same. Leave this node empty for an axisymmetric unit. The first dimension gives the centre and full width toroidal angle values for the unit. The second dimension represents the toroidal occurrences of the unit countour (i.e. the number of toroidal zones).</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>rad</units>
						<coordinate1>1...2</coordinate1>
						<coordinate2>1...N</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="resistivity">
				<xs:annotation>
					<xs:documentation>Resistivity of the limiter unit</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>ohm.m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="wall_2d_limiter">
		<xs:annotation>
			<xs:documentation>2D limiter description</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type" type="identifier_static">
				<xs:annotation>
					<xs:documentation>Type of the limiter description. index = 0 for the official single contour limiter and 1 for the official disjoint PFC structure like first wall. Additional representations needed on a code-by-code basis follow same incremental pair tagging starting on index =2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unit" type="wall_2d_limiter_unit" maxOccurs="33">
				<xs:annotation>
					<xs:documentation>Set of limiter units</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="wall_2d_mobile_unit">
		<xs:annotation>
			<xs:documentation>2D mobile parts description</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the mobile unit</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="closed">
				<xs:annotation>
					<xs:documentation>Flag identifying whether the contour is closed (1) or open (0)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="outline" type="rz1d_dynamic_aos_time" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Irregular outline of the mobile unit, for a set of time slices. Do NOT repeat the first point for closed contours</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="phi_extensions">
				<xs:annotation>
					<xs:documentation>Simplified description of toroidal angle extensions of the unit, by a list of zones defined by their centre and full width (in toroidal angle).  In each of these zones, the unit outline remains the same. Leave this node empty for an axisymmetric unit. The first dimension gives the centre and full width toroidal angle values for the unit. The second dimension represents the toroidal occurrences of the unit countour (i.e. the number of toroidal zones).</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>rad</units>
						<coordinate1>1...2</coordinate1>
						<coordinate2>1...N</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="resistivity">
				<xs:annotation>
					<xs:documentation>Resistivity of the mobile unit</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>ohm.m</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="wall_2d_mobile">
		<xs:annotation>
			<xs:documentation>2D mobile parts description</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type" type="identifier_static">
				<xs:annotation>
					<xs:documentation>Type of the description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unit" type="wall_2d_mobile_unit" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Set of mobile units</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="wall_2d">
		<xs:annotation>
			<xs:documentation>2D wall description</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type" type="identifier_static">
				<xs:annotation>
					<xs:documentation>Type of the description. index = 0 for equilibrium codes (single closed limiter and vessel); 1 for gas-tight walls (disjoint PFCs with inner vessel as last limiter_unit; no vessel structure); 2 for free boundary codes (disjoint PFCs and vessel) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="limiter" type="wall_2d_limiter">
				<xs:annotation>
					<xs:documentation>Description of the immobile limiting surface(s) or plasma facing components for defining the Last Closed Flux Surface.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mobile" type="wall_2d_mobile">
				<xs:annotation>
					<xs:documentation>In case of mobile plasma facing components, use the time-dependent description below this node to provide the full outline of the closest PFC surfaces to the plasma. Even in such a case, the 'limiter' structure is still used to provide the outermost limiting surface (can be used e.g. to define the boundary of the mesh of equilibrium reconstruction codes)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vessel" type="vessel_2d">
				<xs:annotation>
					<xs:documentation>Mechanical structure of the vacuum vessel. The vessel is described as a set of nested layers with given physics properties; Two representations are admitted for each vessel unit : annular (two contours) or block elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="wall_description_ggd_ggd">
		<xs:annotation>
			<xs:documentation>Physics quantities related to the 3D wall description using the GGD</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="power_density" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Power density arriving on the wall surface, for various wall components (grid subsets)</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>W.m^-2</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="temperature" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Temperature of the wall, for various wall components (grid subsets)</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>K</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="wall_description_ggd">
		<xs:annotation>
			<xs:documentation>3D wall description using the GGD</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type" type="identifier_static">
				<xs:annotation>
					<xs:documentation>Type of wall: index = 0 for gas tight and 1 for a wall with holes/open ports</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="grid_ggd" type="generic_grid_aos3_root" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Wall geometry described using the Generic Grid Description, for various time slices (in case of mobile wall elements). The timebase of this array of structure must be a subset of the timebase on which physical quantities are described (../ggd structure). Grid_subsets are used to describe various  wall components in a modular way.</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ggd" type="wall_description_ggd_ggd" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Wall physics quantities represented using the general grid description, for various time slices.</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="wall">
		<xs:annotation>
			<xs:documentation>Description of the torus wall and its interaction with the plasma</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.1.0</lifecycle_version>
				<lifecycle_last_change>3.37.0</lifecycle_last_change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="temperature_reference" type="temperature_reference">
					<xs:annotation>
						<xs:documentation>Reference temperature for which the machine description data is given in this IDS</xs:documentation>
						<xs:appinfo>
							<introduced_after_version>3.32.1</introduced_after_version>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="first_wall_surface_area">
					<xs:annotation>
						<xs:documentation>First wall surface area</xs:documentation>
						<xs:appinfo>
							<units>m^2</units>
							<type>static</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_0D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="first_wall_power_flux_peak" type="signal_flt_1d">
					<xs:annotation>
						<xs:documentation>Peak power flux on the first wall</xs:documentation>
						<xs:appinfo>
							<units>W.m^-2</units>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="volume">
					<xs:annotation>
						<xs:documentation>Volume available to gas or plasma inside the vacuum vessel</xs:documentation>
						<xs:appinfo>
							<units>m^3</units>
							<type>static</type>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_0D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="global_quantities" type="wall_global_quantitites">
					<xs:annotation>
						<xs:documentation>Simple 0D description of plasma-wall interaction</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="description_2d" type="wall_2d" maxOccurs="3">
					<xs:annotation>
						<xs:documentation>Set of 2D wall descriptions, for each type of possible physics or engineering configurations necessary (gas tight vs wall with ports and holes, coarse vs fine representation, single contour limiter, disjoint gapped plasma facing components, ...). A simplified description of the toroidal extension of the 2D contours is also provided by using the phi_extensions nodes.</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="description_ggd" type="wall_description_ggd" maxOccurs="3">
					<xs:annotation>
						<xs:documentation>Set of 3D wall descriptions, described using the GGD, for each type of possible physics or engineering configurations necessary (gas tight vs wall with ports and holes, coarse vs fine representation, ...). </xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
