wall/dd_wall.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Utilities/DD_Support.xsd"/>
	<xs:complexType name="wall_global_quantitites">
		<xs:annotation>
			<xs:documentation>Simple 0D description of plasma-wall interaction</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="pumping_speed">
				<xs:annotation>
					<xs:documentation>Pumping speed for the various neutral species</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>s^-1</units>
						<coordinate1>../../neutral</coordinate1>
						<coordinate2>../../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gas_puff">
				<xs:annotation>
					<xs:documentation>Gas puff for the various neutral species</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>s^-1</units>
						<coordinate1>../../neutral</coordinate1>
						<coordinate2>../../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="wall_inventory">
				<xs:annotation>
					<xs:documentation>Wall inventory, i.e. cumulated exchange of neutral species between plasma and wall from t = 0, positive if a species has gone to the wall, for the various neutral species</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>-</units>
						<coordinate1>../../neutral</coordinate1>
						<coordinate2>../../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="recycling_coefficient">
				<xs:annotation>
					<xs:documentation>Recycling coefficient for the various neutral species</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>s^-1</units>
						<coordinate1>../../neutral</coordinate1>
						<coordinate2>../../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="temperature">
				<xs:annotation>
					<xs:documentation>Wall temperature</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>K</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_from_plasma">
				<xs:annotation>
					<xs:documentation>Power flowing from the plasma to the wall</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="power_to_cooling">
				<xs:annotation>
					<xs:documentation>Power to cooling systems</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>W</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="wall">
		<xs:annotation>
			<xs:documentation>Description of the torus wall and its interaction with the plasma</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.0.4</lifecycle_version>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="neutral" type="plasma_composition_neutral" maxOccurs="20">
					<xs:annotation>
						<xs:documentation>List of considered neutral species. Should this be static (as now) or dynamic ?</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="global_quantities" type="wall_global_quantitites">
					<xs:annotation>
						<xs:documentation>Simple 0D description of plasma-wall interaction</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
