core_transport/dd_core_transport.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Utilities/DD_Support.xsd"/>
	<xs:complexType name="core_transport_model_density_1">
		<xs:annotation>
			<xs:documentation>Transport coefficients for density equations. Axes one level above.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="d">
				<xs:annotation>
					<xs:documentation>Effective diffusivity. The 2nd index of the array describes which multiplier should be applied to the particule flux when adding its contribution in the expression of the heat flux : position 1 is multiplied by 0, 2 is multiplied by 3/2, 3 is multiplied by 5/2. The total particle flux (for the particle transport equation) is obtained as the sum over the three positions.</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../rho_tor_norm</coordinate1>
						<coordinate2>1...3</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>m^2.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v">
				<xs:annotation>
					<xs:documentation>Effective convection. The 2nd index of the array describes which multiplier should be applied to the particule flux when adding its contribution in the expression of the heat flux : position 1 is multiplied by 0, 2 is multiplied by 3/2, 3 is multiplied by 5/2. The total particle flux (for the particle transport equation) is obtained as the sum over the three positions.</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../rho_tor_norm</coordinate1>
						<coordinate2>1...3</coordinate2>
						<coordinate3>../../time</coordinate3>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_transport_model_density_2">
		<xs:annotation>
			<xs:documentation>Transport coefficients for density equations. Axes two levels above.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="d">
				<xs:annotation>
					<xs:documentation>Effective diffusivity. The 2nd index of the array describes which multiplier should be applied to the particule flux when adding its contribution in the expression of the heat flux : position 1 is multiplied by 0, 2 is multiplied by 3/2, 3 is multiplied by 5/2. The total particle flux (for the particle transport equation) is obtained as the sum over the three positions.</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../rho_tor_norm</coordinate1>
						<coordinate2>1...3</coordinate2>
						<coordinate3>../../../time</coordinate3>
						<units>m^2.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v">
				<xs:annotation>
					<xs:documentation>Effective convection. The 2nd index of the array describes which multiplier should be applied to the particule flux when adding its contribution in the expression of the heat flux : position 1 is multiplied by 0, 2 is multiplied by 3/2, 3 is multiplied by 5/2. The total particle flux (for the particle transport equation) is obtained as the sum over the three positions.</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../rho_tor_norm</coordinate1>
						<coordinate2>1...3</coordinate2>
						<coordinate3>../../../time</coordinate3>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_transport_model_density_3">
		<xs:annotation>
			<xs:documentation>Transport coefficients for density equations. Axes three levels above.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="d">
				<xs:annotation>
					<xs:documentation>Effective diffusivity. The 2nd index of the array describes which multiplier should be applied to the particule flux when adding its contribution in the expression of the heat flux : position 1 is multiplied by 0, 2 is multiplied by 3/2, 3 is multiplied by 5/2. The total particle flux (for the particle transport equation) is obtained as the sum over the three positions.</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../rho_tor_norm</coordinate1>
						<coordinate2>1...3</coordinate2>
						<coordinate3>../../../../time</coordinate3>
						<units>m^2.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v">
				<xs:annotation>
					<xs:documentation>Effective convection. The 2nd index of the array describes which multiplier should be applied to the particule flux when adding its contribution in the expression of the heat flux : position 1 is multiplied by 0, 2 is multiplied by 3/2, 3 is multiplied by 5/2. The total particle flux (for the particle transport equation) is obtained as the sum over the three positions.</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../rho_tor_norm</coordinate1>
						<coordinate2>1...3</coordinate2>
						<coordinate3>../../../../time</coordinate3>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_transport_model_density_4">
		<xs:annotation>
			<xs:documentation>Transport coefficients for density equations. Axes four levels above.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="d">
				<xs:annotation>
					<xs:documentation>Effective diffusivity. The 2nd index of the array describes which multiplier should be applied to the particule flux when adding its contribution in the expression of the heat flux : position 1 is multiplied by 0, 2 is multiplied by 3/2, 3 is multiplied by 5/2. The total particle flux (for the particle transport equation) is obtained as the sum over the three positions.</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../../rho_tor_norm</coordinate1>
						<coordinate2>1...3</coordinate2>
						<coordinate3>../../../../../time</coordinate3>
						<units>m^2.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v">
				<xs:annotation>
					<xs:documentation>Effective convection. The 2nd index of the array describes which multiplier should be applied to the particule flux when adding its contribution in the expression of the heat flux : position 1 is multiplied by 0, 2 is multiplied by 3/2, 3 is multiplied by 5/2. The total particle flux (for the particle transport equation) is obtained as the sum over the three positions.</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../../rho_tor_norm</coordinate1>
						<coordinate2>1...3</coordinate2>
						<coordinate3>../../../../../time</coordinate3>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_3D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_transport_model_energy_tor_mom_1">
		<xs:annotation>
			<xs:documentation>Transport coefficients for energy or total toroidal momentum equations. Axes one level above.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="d">
				<xs:annotation>
					<xs:documentation>Effective diffusivity</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../rho_tor_norm</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m^2.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v">
				<xs:annotation>
					<xs:documentation>Effective convection</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../rho_tor_norm</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_transport_model_energy_tor_mom_2">
		<xs:annotation>
			<xs:documentation>Transport coefficients for energy or total toroidal momentum equations. Axes two levels above.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="d">
				<xs:annotation>
					<xs:documentation>Effective diffusivity</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../rho_tor_norm</coordinate1>
						<coordinate2>../../../time</coordinate2>
						<units>m^2.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v">
				<xs:annotation>
					<xs:documentation>Effective convection</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../rho_tor_norm</coordinate1>
						<coordinate2>../../../time</coordinate2>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_transport_model_energy_tor_mom_3">
		<xs:annotation>
			<xs:documentation>Transport coefficients for energy or total toroidal momentum equations. Axes three levels above.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="d">
				<xs:annotation>
					<xs:documentation>Effective diffusivity</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../rho_tor_norm</coordinate1>
						<coordinate2>../../../../time</coordinate2>
						<units>m^2.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v">
				<xs:annotation>
					<xs:documentation>Effective convection</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../rho_tor_norm</coordinate1>
						<coordinate2>../../../../time</coordinate2>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_transport_model_energy_tor_mom_4">
		<xs:annotation>
			<xs:documentation>Transport coefficients for energy or total toroidal momentum equations. Axes four levels above.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="d">
				<xs:annotation>
					<xs:documentation>Effective diffusivity</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../../rho_tor_norm</coordinate1>
						<coordinate2>../../../../../time</coordinate2>
						<units>m^2.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v">
				<xs:annotation>
					<xs:documentation>Effective convection</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../../rho_tor_norm</coordinate1>
						<coordinate2>../../../../../time</coordinate2>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_transport_model_ions_charge_states">
		<xs:annotation>
			<xs:documentation>Transport coefficients related to the a given charge state of the ion species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="z_min">
				<xs:annotation>
					<xs:documentation>Minimum Z of the charge state bundle</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_max">
				<xs:annotation>
					<xs:documentation>Maximum Z of the charge state bundle</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying charge state (e.g. C+, C+2 , C+3, C+4, C+5, C+6, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="n_z_transport" type="core_transport_model_density_4">
				<xs:annotation>
					<xs:documentation>Transport coefficients of for the density of the charge state considered (thermal+non-thermal)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_z_transport" type="core_transport_model_energy_tor_mom_4">
				<xs:annotation>
					<xs:documentation>Transport coefficients of for the energy of the charge state considered </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_transport_model_ions">
		<xs:annotation>
			<xs:documentation>Transport coefficients related to a given ion species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="a">
				<xs:annotation>
					<xs:documentation>Mass of atom</xs:documentation>
					<xs:appinfo>
						<units>Atomic Mass Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_ion">
				<xs:annotation>
					<xs:documentation>Ion charge (of the dominant ionisation state; lumped ions are allowed)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>Elementary Charge Unit</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_n">
				<xs:annotation>
					<xs:documentation>Nuclear charge</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying ion (e.g. H+, D+, T+, He+2, C+, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="n_i_transport" type="core_transport_model_density_3">
				<xs:annotation>
					<xs:documentation>Transport coefficients for ion density equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_i_transport" type="core_transport_model_energy_tor_mom_3">
				<xs:annotation>
					<xs:documentation>Transport coefficients for ion energy equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="multiple_charge_state_flag">
				<xs:annotation>
					<xs:documentation>Multiple charge state calculation flag : 0-Only one charge state is considered; 1-Multiple charge state are considered and are described in the Charge_States structure</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="charge_states" type="core_transport_model_ions_charge_states" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>Transport coefficients related to the different charge states of the ion species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N_Charge_States</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_transport_model">
		<xs:annotation>
			<xs:documentation>Transport coefficients for a given model</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the transport model</xs:documentation>
					<xs:appinfo>
						<units>-</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="conductivity_parallel">
				<xs:annotation>
					<xs:documentation>Parallel conductivity</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../rho_tor_norm</coordinate1>
						<coordinate2>../../time</coordinate2>
						<units>ohm^-1.m^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="n_e_transport" type="core_transport_model_density_2">
				<xs:annotation>
					<xs:documentation>Transport coefficients for electron density equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_e_transport" type="core_transport_model_energy_tor_mom_2">
				<xs:annotation>
					<xs:documentation>Transport coefficients for electron energy equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_i_average_transport" type="core_transport_model_energy_tor_mom_2">
				<xs:annotation>
					<xs:documentation>Transport coefficients for averaged (over ion species) ion energy equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="momentum_tor_transport" type="core_transport_model_energy_tor_mom_2">
				<xs:annotation>
					<xs:documentation>Transport coefficients for total toroidal momentum equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ions" type="core_transport_model_ions" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Transport coefficients related to the different ions species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N_Ions</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="core_transport">
		<xs:annotation>
			<xs:documentation>Core plasma transport</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3_0.0</lifecycle_version>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="rho_tor_norm">
					<xs:annotation>
						<xs:documentation>Normalised toroidal flux coordinate. The normalizing value for rho_tor_norm, is the toroidal flux coordinate at the equilibrium boundary (LCFS or 99.x % of the LCFS in case of a fixed boundary equilibium calculation) </xs:documentation>
						<xs:appinfo>
							<type>dynamic</type>
							<coordinate1>1...N_rho_tor_norm</coordinate1>
							<coordinate2>../time</coordinate2>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="FLT_2D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="vacuum_toroidal_field" type="b_tor_vacuum_1">
					<xs:annotation>
						<xs:documentation>Characteristics of the vacuum toroidal field (used in Rho_Tor definition and in the normalization of current densities)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="model" type="core_transport_model" maxOccurs="5">
					<xs:annotation>
						<xs:documentation>Transport is described by a combination of various transport models. All models provide their values on the same rho_tor_norm and time grids.</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N_Models</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
