core_transport/dd_core_transport.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Utilities/DD_Support.xsd"/>
	<xs:complexType name="core_transport_model_1_density">
		<xs:annotation>
			<xs:documentation>Transport coefficients for density equations. Coordinates one level above.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="d">
				<xs:annotation>
					<xs:documentation>Effective diffusivity</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid_d/rho_tor_norm</coordinate1>
						<units>m^2.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v">
				<xs:annotation>
					<xs:documentation>Effective convection</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid_v/rho_tor_norm</coordinate1>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="flux">
				<xs:annotation>
					<xs:documentation>Flux</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid_flux/rho_tor_norm</coordinate1>
						<units>m^-2.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_transport_model_1_energy">
		<xs:annotation>
			<xs:documentation>Transport coefficients for energy equations. Coordinates one level above.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="d">
				<xs:annotation>
					<xs:documentation>Effective diffusivity</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid_d/rho_tor_norm</coordinate1>
						<units>m^2.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v">
				<xs:annotation>
					<xs:documentation>Effective convection</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid_v/rho_tor_norm</coordinate1>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="flux">
				<xs:annotation>
					<xs:documentation>Flux</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid_flux/rho_tor_norm</coordinate1>
						<units>W.m^-2</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_transport_model_1_momentum">
		<xs:annotation>
			<xs:documentation>Transport coefficients for momentum equations. Coordinates one level above.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="d">
				<xs:annotation>
					<xs:documentation>Effective diffusivity</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid_d/rho_tor_norm</coordinate1>
						<units>m^2.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v">
				<xs:annotation>
					<xs:documentation>Effective convection</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid_v/rho_tor_norm</coordinate1>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="flux">
				<xs:annotation>
					<xs:documentation>Flux</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../grid_flux/rho_tor_norm</coordinate1>
						<units>kg.m^-1.s^-2</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_transport_model_2_density">
		<xs:annotation>
			<xs:documentation>Transport coefficients for density equations. Coordinates two levels above.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="d">
				<xs:annotation>
					<xs:documentation>Effective diffusivity</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid_d/rho_tor_norm</coordinate1>
						<units>m^2.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v">
				<xs:annotation>
					<xs:documentation>Effective convection</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid_v/rho_tor_norm</coordinate1>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="flux">
				<xs:annotation>
					<xs:documentation>Flux</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid_flux/rho_tor_norm</coordinate1>
						<units>m^-2.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_transport_model_2_energy">
		<xs:annotation>
			<xs:documentation>Transport coefficients for energy equations. Coordinates two levels above.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="d">
				<xs:annotation>
					<xs:documentation>Effective diffusivity</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid_d/rho_tor_norm</coordinate1>
						<units>m^2.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v">
				<xs:annotation>
					<xs:documentation>Effective convection</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid_v/rho_tor_norm</coordinate1>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="flux">
				<xs:annotation>
					<xs:documentation>Flux</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../grid_flux/rho_tor_norm</coordinate1>
						<units>W.m^-2</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_transport_model_3_density">
		<xs:annotation>
			<xs:documentation>Transport coefficients for density equations. Coordinates three levels above.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="d">
				<xs:annotation>
					<xs:documentation>Effective diffusivity</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../grid_d/rho_tor_norm</coordinate1>
						<units>m^2.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v">
				<xs:annotation>
					<xs:documentation>Effective convection</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../grid_v/rho_tor_norm</coordinate1>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="flux">
				<xs:annotation>
					<xs:documentation>Flux</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../grid_flux/rho_tor_norm</coordinate1>
						<units>m^-2.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_transport_model_3_energy">
		<xs:annotation>
			<xs:documentation>Transport coefficients for energy equations. Coordinates three levels above.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="d">
				<xs:annotation>
					<xs:documentation>Effective diffusivity</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../grid_d/rho_tor_norm</coordinate1>
						<units>m^2.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v">
				<xs:annotation>
					<xs:documentation>Effective convection</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../grid_v/rho_tor_norm</coordinate1>
						<units>m.s^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="flux">
				<xs:annotation>
					<xs:documentation>Flux</xs:documentation>
					<xs:appinfo>
						<coordinate1>../../../../grid_flux/rho_tor_norm</coordinate1>
						<units>W.m^-2</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_transport_model_ions_charge_states">
		<xs:annotation>
			<xs:documentation>Transport coefficients related to the a given charge state of the ion species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="z_min">
				<xs:annotation>
					<xs:documentation>Minimum Z of the charge state bundle</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_max">
				<xs:annotation>
					<xs:documentation>Maximum Z of the charge state bundle</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying charge state (e.g. C+, C+2 , C+3, C+4, C+5, C+6, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="n_z_transport" type="core_transport_model_3_density">
				<xs:annotation>
					<xs:documentation>Transport coefficients of for the density of the charge state considered (thermal+non-thermal)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_z_transport" type="core_transport_model_3_energy">
				<xs:annotation>
					<xs:documentation>Transport coefficients of for the energy of the charge state considered </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_transport_model_ions">
		<xs:annotation>
			<xs:documentation>Transport coefficients related to a given ion species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="a">
				<xs:annotation>
					<xs:documentation>Mass of atom</xs:documentation>
					<xs:appinfo>
						<units>Atomic Mass Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_ion">
				<xs:annotation>
					<xs:documentation>Ion charge (of the dominant ionisation state; lumped ions are allowed)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>Elementary Charge Unit</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_n">
				<xs:annotation>
					<xs:documentation>Nuclear charge</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying ion (e.g. H+, D+, T+, He+2, C+, ...)</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="n_i_transport" type="core_transport_model_2_density">
				<xs:annotation>
					<xs:documentation>Transport coefficients for ion density equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_i_transport" type="core_transport_model_2_energy">
				<xs:annotation>
					<xs:documentation>Transport coefficients for ion energy equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="multiple_charge_states_flag">
				<xs:annotation>
					<xs:documentation>Multiple charge state calculation flag : 0-Only one charge state is considered; 1-Multiple charge states are considered and are described in the charge_state structure</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="charge_state" type="core_transport_model_ions_charge_states" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Transport coefficients related to the different charge states of the ion species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_transport_model_profiles">
		<xs:annotation>
			<xs:documentation>Transport coefficient profiles at a given time slice</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="grid_d" type="core_radial_grid">
				<xs:annotation>
					<xs:documentation>Grid for effective diffusivities and parallel conductivity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="grid_v" type="core_radial_grid">
				<xs:annotation>
					<xs:documentation>Grid for effective convections</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="grid_flux" type="core_radial_grid">
				<xs:annotation>
					<xs:documentation>Grid for fluxes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="conductivity_parallel">
				<xs:annotation>
					<xs:documentation>Parallel conductivity</xs:documentation>
					<xs:appinfo>
						<coordinate1>../rho_tor_norm</coordinate1>
						<units>ohm^-1.m^-1</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="n_e_transport" type="core_transport_model_1_density">
				<xs:annotation>
					<xs:documentation>Transport coefficients for electron density equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_e_transport" type="core_transport_model_1_energy">
				<xs:annotation>
					<xs:documentation>Transport coefficients for electron energy equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_i_average_transport" type="core_transport_model_1_energy">
				<xs:annotation>
					<xs:documentation>Transport coefficients for averaged (over ion species) ion energy equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="momentum_tor_transport" type="core_transport_model_1_momentum">
				<xs:annotation>
					<xs:documentation>Transport coefficients for total toroidal momentum equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ion" type="core_transport_model_ions" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Transport coefficients related to the various ions species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="core_transport_model">
		<xs:annotation>
			<xs:documentation>Transport coefficients for a given model</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the transport model</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="flux_multiplier">
				<xs:annotation>
					<xs:documentation>Multiplier applied to the particule flux when adding its contribution in the expression of the heat flux : can be 0, 3/2 or 5/2</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="profiles" type="core_transport_model_profiles" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Transport coefficient profiles for various time slices</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="core_transport">
		<xs:annotation>
			<xs:documentation>Core plasma transport</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.0.0</lifecycle_version>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="vacuum_toroidal_field" type="b_tor_vacuum_1">
					<xs:annotation>
						<xs:documentation>Characteristics of the vacuum toroidal field (used in Rho_Tor definition and in the normalization of current densities)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="model" type="core_transport_model" maxOccurs="5">
					<xs:annotation>
						<xs:documentation>Transport is described by a combination of various transport models</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N_Models</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
