langmuir_probes/dd_langmuir_probes.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="langmuir_probes_plunge_physical_quantity">
		<xs:annotation>
			<xs:documentation>Similar to a signal (FLT_1D) but with time_within_plunge base one level above</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="data">
				<xs:annotation>
					<xs:documentation>Data</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>as_parent</units>
						<coordinate1>../../time_within_plunge</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="validity_timed">
				<xs:annotation>
					<xs:documentation>Indicator of the validity of the data for each time slice. 0: valid from automated processing, 1: valid and certified by the diagnostic RO; - 1 means problem identified in the data processing (request verification by the diagnostic RO), -2: invalid data, should not be used (values lower than -2 have a code-specific meaning detailing the origin of their invalidity)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../../time_within_plunge</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="validity">
				<xs:annotation>
					<xs:documentation>Indicator of the validity of the data for the whole plunge. 0: valid from automated processing, 1: valid and certified by the diagnostic RO; - 1 means problem identified in the data processing (request verification by the diagnostic RO), -2: invalid data, should not be used (values lower than -2 have a code-specific meaning detailing the origin of their invalidity)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="langmuir_probes_position_reciprocating">
		<xs:annotation>
			<xs:documentation>Structure for R, Z, Phi positions (1D, dynamic within a type 1 array of structure and with a common time base one level above)</xs:documentation>
			<xs:appinfo>
				<aos3Parent>yes</aos3Parent>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="r">
				<xs:annotation>
					<xs:documentation>Major radius</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m</units>
						<coordinate1>../../time_within_plunge</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z">
				<xs:annotation>
					<xs:documentation>Height</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m</units>
						<coordinate1>../../time_within_plunge</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="phi">
				<xs:annotation>
					<xs:documentation>Toroidal angle</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>rad</units>
						<coordinate1>../../time_within_plunge</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="validity_timed">
				<xs:annotation>
					<xs:documentation>Indicator of the validity of the position data for each time slice. 0: valid from automated processing, 1: valid and certified by the diagnostic RO; - 1 means problem identified in the data processing (request verification by the diagnostic RO), -2: invalid data, should not be used (values lower than -2 have a code-specific meaning detailing the origin of their invalidity)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../time_within_plunge</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="validity">
				<xs:annotation>
					<xs:documentation>Indicator of the validity of the position data for the whole plunge. 0: valid from automated processing, 1: valid and certified by the diagnostic RO; - 1 means problem identified in the data processing (request verification by the diagnostic RO), -2: invalid data, should not be used (values lower than -2 have a code-specific meaning detailing the origin of their invalidity)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="langmuir_probes_multi_temperature">
		<xs:annotation>
			<xs:documentation>Structure for multi-temperature fits</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="t_e" type="physical_quantity_flt_1d_time_1">
				<xs:annotation>
					<xs:documentation>Electron temperature</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_i" type="physical_quantity_flt_1d_time_1">
				<xs:annotation>
					<xs:documentation>Ion temperature</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="time" type="flt_1d_type">
				<xs:annotation>
					<xs:documentation>Timebase for the dynamic nodes of this probe located at this level of the IDS structure</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<type>dynamic</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="langmuir_probes_embedded">
		<xs:annotation>
			<xs:documentation>Embedded Langmuir probe description</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the probe</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="identifier">
				<xs:annotation>
					<xs:documentation>ID of the probe</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="position" type="rzphi0d_static">
				<xs:annotation>
					<xs:documentation>Position of the measurements</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="surface_area">
				<xs:annotation>
					<xs:documentation>Area of the probe surface exposed to the plasma</xs:documentation>
					<xs:appinfo>
						<type>static</type>
						<units>m^2</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="potential_floating" type="physical_quantity_flt_1d_time_1">
				<xs:annotation>
					<xs:documentation>Floating potential</xs:documentation>
					<xs:appinfo>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="potential_plasma" type="physical_quantity_flt_1d_time_1">
				<xs:annotation>
					<xs:documentation>Plasma potential</xs:documentation>
					<xs:appinfo>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_e" type="physical_quantity_flt_1d_time_1">
				<xs:annotation>
					<xs:documentation>Electron temperature</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_e" type="physical_quantity_flt_1d_time_1">
				<xs:annotation>
					<xs:documentation>Electron density</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_i" type="physical_quantity_flt_1d_time_1">
				<xs:annotation>
					<xs:documentation>Ion temperature</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="j_ion_parallel" type="physical_quantity_flt_1d_time_1">
				<xs:annotation>
					<xs:documentation>Ion parallel current density at the probe position</xs:documentation>
					<xs:appinfo>
						<units>A.m^-2</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="saturation_current_ion" type="physical_quantity_flt_1d_time_1">
				<xs:annotation>
					<xs:documentation>Ion saturation current measured by the probe</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="heat_flux_parallel" type="physical_quantity_flt_1d_time_1">
				<xs:annotation>
					<xs:documentation>Parallel heat flux at the probe position</xs:documentation>
					<xs:appinfo>
						<units>W.m^-2</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="b_field_angle" type="physical_quantity_flt_1d_time_1">
				<xs:annotation>
					<xs:documentation>Incident angle of the magnetic field with respect to PFC surface</xs:documentation>
					<xs:appinfo>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="distance_separatrix" type="physical_quantity_flt_1d_time_1">
				<xs:annotation>
					<xs:documentation>Distance of the measurement position to the separatrix (positive means the measurement is outside of the separatrix)</xs:documentation>
					<xs:appinfo>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="multi_temperature_fits" type="langmuir_probes_multi_temperature" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Set of temperatures describing the electron and ion distribution functions in case of multi-temperature fits</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="time" type="flt_1d_type">
				<xs:annotation>
					<xs:documentation>Timebase for the dynamic nodes of this probe located at this level of the IDS structure</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<type>dynamic</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="langmuir_probes_plunge">
		<xs:annotation>
			<xs:documentation>Plunge of a reciprocating probe</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="position" type="langmuir_probes_position_reciprocating">
				<xs:annotation>
					<xs:documentation>Position of the measurements</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="potential_floating" type="langmuir_probes_plunge_physical_quantity">
				<xs:annotation>
					<xs:documentation>Floating potential</xs:documentation>
					<xs:appinfo>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="potential_plasma" type="langmuir_probes_plunge_physical_quantity">
				<xs:annotation>
					<xs:documentation>Plasma potential</xs:documentation>
					<xs:appinfo>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_e" type="langmuir_probes_plunge_physical_quantity">
				<xs:annotation>
					<xs:documentation>Electron temperature</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_e" type="langmuir_probes_plunge_physical_quantity">
				<xs:annotation>
					<xs:documentation>Electron density</xs:documentation>
					<xs:appinfo>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_i" type="langmuir_probes_plunge_physical_quantity">
				<xs:annotation>
					<xs:documentation>Ion temperature</xs:documentation>
					<xs:appinfo>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="j_ion_parallel" type="langmuir_probes_plunge_physical_quantity">
				<xs:annotation>
					<xs:documentation>Ion parallel current density at the probe position</xs:documentation>
					<xs:appinfo>
						<units>A.m^-2</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="saturation_current_ion" type="langmuir_probes_plunge_physical_quantity">
				<xs:annotation>
					<xs:documentation>Ion saturation current measured by the probe</xs:documentation>
					<xs:appinfo>
						<units>A</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="heat_flux_parallel" type="langmuir_probes_plunge_physical_quantity">
				<xs:annotation>
					<xs:documentation>Parallel heat flux at the probe position</xs:documentation>
					<xs:appinfo>
						<units>W.m^-2</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="b_field_angle" type="langmuir_probes_plunge_physical_quantity">
				<xs:annotation>
					<xs:documentation>Incident angle of the magnetic field with respect to PFC surface</xs:documentation>
					<xs:appinfo>
						<units>rad</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="distance_separatrix" type="langmuir_probes_plunge_physical_quantity">
				<xs:annotation>
					<xs:documentation>Distance of the measurement position to the separatrix (positive means the measurement is outside of the separatrix)</xs:documentation>
					<xs:appinfo>
						<units>m</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="mach_number_parallel" type="langmuir_probes_plunge_physical_quantity">
				<xs:annotation>
					<xs:documentation>Parallel Mach number</xs:documentation>
					<xs:appinfo>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="time_within_plunge">
				<xs:annotation>
					<xs:documentation>Time vector for describing the dynamics within the plunge</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time of maximum penetration of the probe during a given plunge</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="langmuir_probes_reciprocating">
		<xs:annotation>
			<xs:documentation>Reciprocating probe</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the probe</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="identifier">
				<xs:annotation>
					<xs:documentation>ID of the probe</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="plunge" type="langmuir_probes_plunge" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Set of plunges of this probe during the pulse, each plunge being recorded as a time slice from the Access Layer point of view. The time child node corresponds to the time of maximum penetration of the probe during a given plunge. The dynamics of physicas quantities within the plunge are described via the time_within_plunge vector.</xs:documentation>
					<xs:appinfo>
						<coordinate1>time</coordinate1>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="langmuir_probes">
		<xs:annotation>
			<xs:documentation>Langmuir probes</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.22.0</lifecycle_version>
				<lifecycle_last_change>3.29.0</lifecycle_last_change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="embedded" type="langmuir_probes_embedded" maxOccurs="100">
					<xs:annotation>
						<xs:documentation>Set of embedded (in a plasma facing component) probes or probe pins</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="reciprocating" type="langmuir_probes_reciprocating" maxOccurs="100">
					<xs:annotation>
						<xs:documentation>Set of reciprocating probes or probe pins</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
