langmuir_probes/dd_langmuir_probes.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<!--
  -* Generated by mod-xslt 1.3.8; http://www.mod-xslt2.com/
  -* Copyright (C) 2002,2003 Carlo Contavalli - <ccontavalli at masobit.net>
  -* derived from work by Philipp Dunkel and others (http://www.mod-xslt2.com/main/credits.xml)
  -* Thanks to http://www.masobit.net/ for paying me while working on mod-xslt
  -* and for providing resources to the project. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="langmuir_probes_position_reciprocating">
		<xs:annotation>
			<xs:documentation>Structure for R, Z, Phi positions (1D, dynamic within a type 1 array of structure and with a common time base one level above)</xs:documentation>
			<xs:appinfo>
				<aos3Parent>yes</aos3Parent>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="r">
				<xs:annotation>
					<xs:documentation>Major radius</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z">
				<xs:annotation>
					<xs:documentation>Height</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>m</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="phi">
				<xs:annotation>
					<xs:documentation>Toroidal angle</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>rad</units>
						<coordinate1>../../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="langmuir_probes_multi_temperature">
		<xs:annotation>
			<xs:documentation>Structure for multi-temperature fits</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="t_e">
				<xs:annotation>
					<xs:documentation>Electron temperature</xs:documentation>
					<xs:appinfo>
						<coordinate1>../time</coordinate1>
						<units>eV</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="t_i">
				<xs:annotation>
					<xs:documentation>Ion temperature</xs:documentation>
					<xs:appinfo>
						<coordinate1>../time</coordinate1>
						<units>eV</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time" type="flt_1d_type">
				<xs:annotation>
					<xs:documentation>Timebase for the multi-temperature fits</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<type>dynamic</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="langmuir_probes_probe">
		<xs:annotation>
			<xs:documentation>Single Langmuir probe description</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the probe</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="identifier">
				<xs:annotation>
					<xs:documentation>ID of the probe</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="reciprocating">
				<xs:annotation>
					<xs:documentation>Flag telling whether the probe is reciprocating (1) or fixed (0)</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="position_static" type="rzphi0d_static">
				<xs:annotation>
					<xs:documentation>Position of the measurements in case of fixed probe</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="position_reciprocating" type="langmuir_probes_position_reciprocating">
				<xs:annotation>
					<xs:documentation>Position of the measurements in case of reciprocating probe</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="potential_floating">
				<xs:annotation>
					<xs:documentation>Floating potential</xs:documentation>
					<xs:appinfo>
						<coordinate1>../time</coordinate1>
						<units>V</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="potential_plasma">
				<xs:annotation>
					<xs:documentation>Plasma potential</xs:documentation>
					<xs:appinfo>
						<coordinate1>../time</coordinate1>
						<units>V</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="t_e">
				<xs:annotation>
					<xs:documentation>Electron temperature</xs:documentation>
					<xs:appinfo>
						<coordinate1>../time</coordinate1>
						<units>eV</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="n_e">
				<xs:annotation>
					<xs:documentation>Electron density</xs:documentation>
					<xs:appinfo>
						<coordinate1>../time</coordinate1>
						<units>m^-3</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="t_i">
				<xs:annotation>
					<xs:documentation>Ion temperature</xs:documentation>
					<xs:appinfo>
						<coordinate1>../time</coordinate1>
						<units>eV</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="j_ion_parallel">
				<xs:annotation>
					<xs:documentation>Ion parallel current density at the probe position</xs:documentation>
					<xs:appinfo>
						<coordinate1>../time</coordinate1>
						<units>A.m^-2</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="saturation_current_ion">
				<xs:annotation>
					<xs:documentation>Ion saturation current measured by the probe</xs:documentation>
					<xs:appinfo>
						<coordinate1>../time</coordinate1>
						<units>A</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="heat_flux_parallel">
				<xs:annotation>
					<xs:documentation>Parallel heat flux at the probe position</xs:documentation>
					<xs:appinfo>
						<coordinate1>../time</coordinate1>
						<units>W.m^-2</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="b_field_angle">
				<xs:annotation>
					<xs:documentation>Incident angle of the magnetic field with respect to PFC surface</xs:documentation>
					<xs:appinfo>
						<coordinate1>../time</coordinate1>
						<units>rad</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="mach_number_parallel">
				<xs:annotation>
					<xs:documentation>Parallel Mach number (only for reciprocating probies)</xs:documentation>
					<xs:appinfo>
						<coordinate1>../time</coordinate1>
						<units>-</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time" type="flt_1d_type">
				<xs:annotation>
					<xs:documentation>Timebase for the dynamic nodes of this probe located at this level of the IDS structure</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<type>dynamic</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="multi_temperature_fits" type="langmuir_probes_multi_temperature" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Set of temperatures describing the electron and ion distribution functions in case of multi-temperature fits</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="langmuir_probes">
		<xs:annotation>
			<xs:documentation>Langmuir probes</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>alpha</lifecycle_status>
				<lifecycle_version>3.22.0</lifecycle_version>
				<lifecycle_last_change>3.22.0</lifecycle_last_change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="probe" type="langmuir_probes_probe" maxOccurs="150">
					<xs:annotation>
						<xs:documentation>Set of probes or probe pins</xs:documentation>
						<xs:appinfo>
							<coordinate1>1...N</coordinate1>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
