dina/dd_dina.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./$GET[stylesheet]" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="..\utilities\dd_support.xsd"/>
	<xs:complexType name="dina_simulation_model">
		<xs:annotation>
			<xs:documentation>Identity of the model to be executed</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the simulation model</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="version">
				<xs:annotation>
					<xs:documentation>Version of the code being run</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="mode">
				<xs:annotation>
					<xs:documentation>One of multiple modes which can be run</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dina_simulation_subsamplingtype">
		<xs:annotation>
			<xs:documentation>description of sub-sampling</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Short name of this subsampling</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="description">
				<xs:annotation>
					<xs:documentation>Description of the usage of this subsampling</xs:documentation>
					<xs:appinfo>
						<type>static</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="interval">
				<xs:annotation>
					<xs:documentation>Interval between samples as a multiple of the simulation time step; it is useful to have this as 2^n, but this is not mandatory</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dina_simulation">
		<xs:sequence>
			<xs:element name="comment_before">
				<xs:annotation>
					<xs:documentation>Comment made when launching a simulation</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="comment_after">
				<xs:annotation>
					<xs:documentation>Comment made at the end of a simulation</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time_begin">
				<xs:annotation>
					<xs:documentation>Start time</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time_step">
				<xs:annotation>
					<xs:documentation>Time interval between steps</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time_end">
				<xs:annotation>
					<xs:documentation>Stop time</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time_restart">
				<xs:annotation>
					<xs:documentation>Time to restart an old simulation</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time_begun">
				<xs:annotation>
					<xs:documentation>Actual wall-clock time simulation started</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>UTC</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time_ended">
				<xs:annotation>
					<xs:documentation>Actual wall-clock time simulation finished</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>UTC</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="time_pf_supplies_start">
				<xs:annotation>
					<xs:documentation>Time to enable PF supply limits</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
						<units>s</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="iterations_max">
				<xs:annotation>
					<xs:documentation>Maximum number of simulation loops allowed</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="iterations_used">
				<xs:annotation>
					<xs:documentation>Number of simulation loops used</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="termination_condition">
				<xs:annotation>
					<xs:documentation>Expression to terminate the simulation, to be written in the platform language in the for or if (condition) terminate</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="rate_plot_equilibrium">
				<xs:annotation>
					<xs:documentation>Plot the 2D images each N iterations</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="model" type="dina_simulation_model">
				<xs:annotation>
					<xs:documentation>Identity of the model to be executed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="device_name">
				<xs:annotation>
					<xs:documentation>Name of the device being simulated</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="restart_simulation">
				<xs:annotation>
					<xs:documentation>Identifier of the simulation to be restarted</xs:documentation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="subsampling" type="dina_simulation_subsamplingtype" maxOccurs="20">
				<xs:annotation>
					<xs:documentation>Subsampling during the simulation; it is useful to define a variety of subsampling types which can be varied</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dina_static_group_1">
		<xs:annotation>
			<xs:documentation>type for static group 1</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="key">
				<xs:annotation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
					<xs:documentation>Dina "key" parameters</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="vec">
				<xs:annotation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
					<xs:documentation>Dina "vec" parameters</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="indpf">
				<xs:annotation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
					<xs:documentation>Dina "indpf" parameters</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dina_static_group_2">
		<xs:annotation>
			<xs:documentation>type for static group 2</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="rectangular_grid_limits">
				<xs:annotation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
					<xs:documentation>Dina "" parameters</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="limiter_rz">
				<xs:annotation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
					<xs:documentation>Dina "" parameters</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ext_transp">
				<xs:annotation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
					<xs:documentation>Dina "" parameters</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="active0">
				<xs:annotation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
					<xs:documentation>Dina "" parameters</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="passive0">
				<xs:annotation>
					<xs:appinfo>
						<type>constant</type>
					</xs:appinfo>
					<xs:documentation>Dina "" parameters</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_1D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dina_input_group_1">
		<xs:annotation>
			<xs:documentation>type for input group 1</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="time"/>
			<xs:element name="plasma_density">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ohmic_compensation">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>../time</coordinate1>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="boundary_density_ratio">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>

						<coordinate1>../time</coordinate1>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="itb_rho">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>

						<coordinate1>../time</coordinate1>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="tau_e_anomaly">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>

						<coordinate1>../time</coordinate1>


					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sawtooth_q0">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>

						<coordinate1>../time</coordinate1>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_1D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dina_input_group_4">
		<xs:annotation>
			<xs:documentation>type for input group 4</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="time"/>
			<xs:element name="particle_diffusion">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="chi_electrons">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="chi_ions">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="bootstrap_current">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="psi_normalised">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="inward_pinch_velocity">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dina_input_group_5">
		<xs:annotation>
			<xs:documentation>type for input group 5</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="time"/>
			<xs:element name="p_e">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="p_i">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="j_cd">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="n_ex">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="t_e_ex">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="t_i_ex">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="sigma_ex">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="p_ex">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ro_ex">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dina_output_group_5">
		<xs:annotation>
			<xs:documentation>type for output group 5</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="storage">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_2D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dina_output_group_6">
		<xs:annotation>
			<xs:documentation>type for output group 6</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="gra1">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>

			<coordinate2>../time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="psi_tran">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>

						<coordinate2>../time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="che_neo">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>

						<coordinate2>../time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="chi_neo">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="r_m">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>

						<coordinate2>../time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="j_ech">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>

						<coordinate2>../time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ro_con">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>

						<coordinate2>../time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ppx_con">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pffx_con">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dmn_con">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>

						<coordinate2>../time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pdo_con">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>../time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pto_con">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>

						<coordinate2>../time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gge_con">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>

						<coordinate2>../time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ggt_con">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>

						<coordinate2>../time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pprime_dina">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>

						<coordinate2>../time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ffprime_dina">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>

						<coordinate2>../time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="p_e">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>

						<coordinate2>../time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="p_i">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>

						<coordinate2>../time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="j_cd">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>

						<coordinate2>../time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="n_ex">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>

						<coordinate2>../time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="t_e_ex">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>

						<coordinate2>../time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="t_i_ex">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>

						<coordinate2>../time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="p_ex">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>

						<coordinate2>../time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="sigma_ex">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>

						<coordinate2>../time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="p_ohm">
				<xs:annotation>
					<xs:documentation>Dina "" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>

						<coordinate2>../time</coordinate2>

					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_2D"/>
				</xs:complexType>
			</xs:element>
			<xs:element ref="time"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dina_output_group_7">
		<xs:annotation>
			<xs:documentation>type for output group 7</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="shape">
				<xs:annotation>
					<xs:documentation>Dina "shape" parameters</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<coordinate1>1...N</coordinate1>
						<coordinate2>time</coordinate2>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="time"/>
						<xs:group ref="FLT_2D"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="dina">
		<xs:annotation>
			<xs:documentation>Simulation-specific parametrisation for the DINA-IMAS code; more and more of these will be transferred to the core_profiles and equilibrium IDS as we develop them</xs:documentation>
						<xs:appinfo>
				<lifecycle_status>Temporary</lifecycle_status>
				<lifecycle_version>2.0</lifecycle_version>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="version">
					<xs:annotation>
						<xs:appinfo>

							<type>static</type>

						</xs:appinfo>
						<xs:documentation>Version of the DINA solver to be used</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="STR_0D"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="static_group_1" type="dina_static_group_1">
					<xs:annotation>
						<xs:documentation>Group I static data</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="static_group_2" type="dina_static_group_2">
					<xs:annotation>
						<xs:documentation>Group II static data</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="input_group_1" type="dina_input_group_1">
					<xs:annotation>
						<xs:documentation>Group I input data</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="input_group_4" type="dina_input_group_4">
					<xs:annotation>
						<xs:documentation>Group IV input data</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="input_group_5" type="dina_input_group_5">
					<xs:annotation>
						<xs:documentation>Group V input data</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="output_group_5" type="dina_output_group_5">
					<xs:annotation>
						<xs:documentation>Group V output data</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="output_group_6" type="dina_output_group_6">
					<xs:annotation>
						<xs:documentation>Group VI input data</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="output_group_7" type="dina_output_group_7">
					<xs:annotation>
						<xs:documentation>Group VII output data</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="simulation" type="dina_simulation">
					<xs:annotation>
						<xs:documentation>List of simulation parameters, to be dealt with later</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
