edge_profiles/dd_edge_profiles.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by USER USER (CEA - CENTRE DE CADARACHE) -->
<?modxslt-stylesheet type="text/xsl" media="fuffa, screen and $GET[stylesheet]" href="./%24GET%5Bstylesheet%5D" alternate="no" title="Translation using provided stylesheet" charset="ISO-8859-1" ?>
<?modxslt-stylesheet type="text/xsl" media="screen" alternate="no" title="Show raw source of the XML file" charset="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../utilities/dd_support.xsd"/>
	<xs:complexType name="edge_profiles_time_slice_neutral_state">
		<xs:annotation>
			<xs:documentation>Quantities related to a given state of the neutral species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying state</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="electron_configuration">
				<xs:annotation>
					<xs:documentation>Configuration of atomic orbitals of this state, e.g. 1s2-2s1</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="vibrational_level">
				<xs:annotation>
					<xs:documentation>Vibrational level (can be bundled)</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="vibrational_mode">
				<xs:annotation>
					<xs:documentation>Vibrational mode of this state, e.g. "A_g". Need to define, or adopt a standard nomenclature.</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="neutral_type" type="identifier_dynamic_aos3">
				<xs:annotation>
					<xs:documentation>Neutral type, in terms of energy. ID =1: cold; 2: thermal; 3: fast; 4: NBI</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="temperature" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Temperature, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="density" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Density (thermal+non-thermal), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="density_fast" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Density of fast (non-thermal) particles, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pressure" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Pressure, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pressure_fast_perpendicular" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Fast (non-thermal) perpendicular pressure, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pressure_fast_parallel" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Fast (non-thermal) parallel pressure, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="velocity" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Velocity, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<units>m.s^-1</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="velocity_diamagnetic" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Velocity due to the diamagnetic drift, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m.s^-1</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="velocity_exb" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Velocity due to the ExB drift, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m.s^-1</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy_density_kinetic" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Kinetic energy density, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>J.m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="distribution_function" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Distribution function, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>mixed</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="edge_profiles_time_slice_ion_charge_state">
		<xs:annotation>
			<xs:documentation>Quantities related to a given charge state of the ion species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="z_min">
				<xs:annotation>
					<xs:documentation>Minimum Z of the charge state bundle (z_min = z_max = 0 for a neutral)</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_max">
				<xs:annotation>
					<xs:documentation>Maximum Z of the charge state bundle (equal to z_min if no bundle)</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="z_average" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Average Z of the charge state bundle (equal to z_min if no bundle), = sum (Z*x_z) where x_z is the relative concentration of a given charge state in the bundle, i.e. sum(x_z) = 1 over the bundle, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="z_square_average" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Average Z square of the charge state bundle (equal to z_min if no bundle), = sum (Z^2*x_z) where x_z is the relative concentration of a given charge state in the bundle, i.e. sum(x_z) = 1 over the bundle, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ionisation_potential" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Cumulative and average ionisation potential to reach a given bundle. Defined as sum (x_z* (sum of Epot from z'=0 to z-1)), where Epot is the ionisation potential of ion Xz_+, and x_z is the relative concentration of a given charge state in the bundle, i.e. sum(x_z) = 1 over the bundle, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying charge state (e.g. C+, C+2 , C+3, C+4, C+5, C+6, ...)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="electron_configuration">
				<xs:annotation>
					<xs:documentation>Configuration of atomic orbitals of this state, e.g. 1s2-2s1</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="vibrational_level">
				<xs:annotation>
					<xs:documentation>Vibrational level (can be bundled)</xs:documentation>
					<xs:appinfo>
						<units>Elementary Charge Unit</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="vibrational_mode">
				<xs:annotation>
					<xs:documentation>Vibrational mode of this state, e.g. "A_g". Need to define, or adopt a standard nomenclature.</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="temperature" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Temperature, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="density" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Density (thermal+non-thermal), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="density_fast" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Density of fast (non-thermal) particles, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pressure" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Pressure, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pressure_fast_perpendicular" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Fast (non-thermal) perpendicular pressure, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pressure_fast_parallel" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Fast (non-thermal) parallel pressure, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="velocity" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Velocity, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<units>m.s^-1</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="velocity_diamagnetic" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Velocity due to the diamagnetic drift, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m.s^-1</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="velocity_exb" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Velocity due to the ExB drift, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m.s^-1</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy_density_kinetic" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Kinetic energy density, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>J.m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="distribution_function" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Distribution function, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>mixed</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="edge_profiles_time_slice_neutral">
		<xs:annotation>
			<xs:documentation>Quantities related to a given neutral species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="element" type="plasma_composition_neutral_element" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of elements forming the atom or molecule</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying the species (e.g. H, D, T, He, C, D2, DT, CD4, ...)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ion_index">
				<xs:annotation>
					<xs:documentation>Index of the corresponding ion species in the ../../ion array</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="temperature" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Temperature (average over states when multiple states are considered), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="density" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Density (thermal+non-thermal) (sum over states when multiple states are considered), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="density_fast" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Density of fast (non-thermal) particles (sum over states when multiple states are considered), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pressure" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Pressure (average over states when multiple states are considered), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pressure_fast_perpendicular" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Fast (non-thermal) perpendicular pressure (average over states when multiple states are considered), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pressure_fast_parallel" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Fast (non-thermal) parallel pressure (average over states when multiple states are considered), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="velocity" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Velocity (average over states when multiple states are considered), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<units>m.s^-1</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy_density_kinetic" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Kinetic energy density (sum over states when multiple states are considered), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>J.m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="multiple_states_flag">
				<xs:annotation>
					<xs:documentation>Multiple state calculation flag : 0-Only one state is considered; 1-Multiple states are considered and are described in the state structure</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="state" type="edge_profiles_time_slice_neutral_state" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quantities related to the different states of the species (energy, excitation, ...)</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N_charge_states</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="edge_profiles_time_slice_ion">
		<xs:annotation>
			<xs:documentation>Quantities related to a given ion species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="element" type="plasma_composition_neutral_element" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of elements forming the atom or molecule</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="z_ion">
				<xs:annotation>
					<xs:documentation>Ion charge (of the dominant ionisation state; lumped ions are allowed).</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>Elementary Charge Unit</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying the species (e.g. H+, D+, T+, He+2, C+, D2, DT, CD4, ...)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="neutral_index">
				<xs:annotation>
					<xs:documentation>Index of the corresponding neutral species in the ../../neutral array</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="temperature" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Temperature (average over states when multiple states are considered), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="density" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Density (thermal+non-thermal) (sum over states when multiple states are considered), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="density_fast" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Density of fast (non-thermal) particles (sum over states when multiple states are considered), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pressure" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Pressure (average over states when multiple states are considered), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pressure_fast_perpendicular" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Fast (non-thermal) perpendicular pressure (average over states when multiple states are considered), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pressure_fast_parallel" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Fast (non-thermal) parallel pressure (average over states when multiple states are considered), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="velocity" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Velocity (average over states when multiple states are considered), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<units>m.s^-1</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy_density_kinetic" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Kinetic energy density (sum over states when multiple states are considered), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>J.m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="multiple_states_flag">
				<xs:annotation>
					<xs:documentation>Multiple state calculation flag : 0-Only one state is considered; 1-Multiple states are considered and are described in the state structure</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="state" type="edge_profiles_time_slice_ion_charge_state" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quantities related to the different states of the species (ionisation, energy, excitation, ...)</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N_charge_states</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="edge_profiles_ggd_fast_ion">
		<xs:annotation>
			<xs:documentation>Fast sampled quantities related to a given ion species</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="element" type="plasma_composition_neutral_element" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of elements forming the atom or molecule</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="z_ion">
				<xs:annotation>
					<xs:documentation>Ion charge (of the dominant ionisation state; lumped ions are allowed).</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
						<units>Elementary Charge Unit</units>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="FLT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label">
				<xs:annotation>
					<xs:documentation>String identifying the species (e.g. H+, D+, T+, He+2, C+, D2, DT, CD4, ...)</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="STR_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="neutral_index">
				<xs:annotation>
					<xs:documentation>Index of the corresponding neutral species in the ../../neutral array</xs:documentation>
					<xs:appinfo>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:group ref="INT_0D"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="content" type="generic_grid_scalar_single_position" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Particle content = total number of particles for this ion species in the volume of the grid subset, for various grid subsets</xs:documentation>
					<xs:appinfo>
						<units>-</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="temperature" type="generic_grid_scalar_single_position" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Temperature (average over states when multiple states are considered), given at various positions (grid subset of size 1)</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="density" type="generic_grid_scalar_single_position" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Density (thermal+non-thermal) (sum over states when multiple states are considered), given at various positions (grid subset of size 1)</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="edge_profiles_time_slice_electrons">
		<xs:annotation>
			<xs:documentation>Quantities related to electrons</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="temperature" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Temperature, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="density" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Density (thermal+non-thermal), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="density_fast" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Density of fast (non-thermal) particles, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pressure" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Pressure, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pressure_fast_perpendicular" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Fast (non-thermal) perpendicular pressure, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pressure_fast_parallel" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Fast (non-thermal) parallel pressure, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="velocity" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Velocity, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<units>m.s^-1</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="distribution_function" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Distribution function, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>mixed</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="edge_profiles_ggd_fast_electrons">
		<xs:annotation>
			<xs:documentation>Fast sampled quantities related to electrons</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="temperature" type="generic_grid_scalar_single_position" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Temperature, given at various positions (grid subset of size 1)</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="density" type="generic_grid_scalar_single_position" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Density (thermal+non-thermal), given at various positions (grid subset of size 1)</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>m^-3</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="edge_profiles_time_slice">
		<xs:annotation>
			<xs:documentation>edge plasma description for a given time slice</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="electrons" type="edge_profiles_time_slice_electrons">
				<xs:annotation>
					<xs:documentation>Quantities related to the electrons</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ion" type="edge_profiles_time_slice_ion" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quantities related to the different ion species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="neutral" type="edge_profiles_time_slice_neutral" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quantities related to the different neutral species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="t_i_average" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Ion temperature (averaged on ion species), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>eV</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="n_i_total_over_n_e" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Ratio of total ion density (sum over ion species) over electron density. (thermal+non-thermal), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="zeff" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Effective charge, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>-</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pressure_thermal" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Thermal pressure (electrons+ions), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pressure_perpendicular" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Total perpendicular pressure (electrons+ions, thermal+non-thermal), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pressure_parallel" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Total parallel pressure (electrons+ions, thermal+non-thermal), given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>Pa</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="j_anomalous" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Anomalous current density, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<units>A.m^-2</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="j_inertial" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Inertial current density, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<units>A.m^-2</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="j_ion_neutral_friction" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Current density due to ion neutral friction, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<units>A.m^-2</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="j_parallel_viscosity" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Current density due to the parallel viscosity, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<units>A.m^-2</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="j_perpendicular_viscosity" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Current density due to the perpendicular viscosity, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<units>A.m^-2</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="j_heat_viscosity" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Current density due to the heat viscosity, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<units>A.m^-2</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="j_pfirsch_schlueter" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Current density due to Pfirsch-Schlüter effects, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<units>A.m^-2</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="j_diamagnetic" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Current density due to the diamgnetic drift, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<units>A.m^-2</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="e_field" type="generic_grid_vector_components" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Electric field, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>V.m^-1</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="phi_potential" type="generic_grid_scalar" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Electric potential, given on various grid subsets</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
						<units>V</units>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="edge_profiles_ggd_fast">
		<xs:annotation>
			<xs:documentation>Quantities provided at a faster sampling rate than the full ggd quantities, on a reduced set of positions. Positions are described by a set of grid_subsets of size 1</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="electrons" type="edge_profiles_ggd_fast_electrons">
				<xs:annotation>
					<xs:documentation>Quantities related to the electrons</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ion" type="edge_profiles_ggd_fast_ion" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quantities related to the different ion species</xs:documentation>
					<xs:appinfo>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="energy_thermal" type="generic_grid_scalar_single_position" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Plasma energy content = 3/2 * integral over the volume of the grid subset of the thermal pressure (summed over all species), for various grid subsets</xs:documentation>
					<xs:appinfo>
						<units>J</units>
						<coordinate1>1...N</coordinate1>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="time" type="flt_type">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
					<xs:appinfo>
						<units>s</units>
						<type>dynamic</type>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="edge_profiles">
		<xs:annotation>
			<xs:documentation>Edge plasma profiles (includes the scrape-off layer and possibly part of the confined plasma)</xs:documentation>
			<xs:appinfo>
				<lifecycle_status>active</lifecycle_status>
				<lifecycle_version>3.22.0</lifecycle_version>
				<lifecycle_last_change>3.23.0</lifecycle_last_change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ids_properties"/>
				<xs:element name="vacuum_toroidal_field" type="b_tor_vacuum_1">
					<xs:annotation>
						<xs:documentation>Characteristics of the vacuum toroidal field (used in rho_tor definition and in the normalization of current densities)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="profiles_1d" type="core_profiles_profiles_1d" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>SOL radial profiles for various time slices, taken on outboard equatorial mid-plane</xs:documentation>
						<xs:appinfo>
							<coordinate1>time</coordinate1>
							<type>dynamic</type>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="grid_ggd" type="generic_grid_aos3_root" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Grid (using the Generic Grid Description), for various time slices. The timebase of this array of structure must be a subset of the ggd timebase</xs:documentation>
						<xs:appinfo>
							<coordinate1>time</coordinate1>
							<type>dynamic</type>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="ggd" type="edge_profiles_time_slice" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Edge plasma quantities represented using the general grid description, for various time slices. The timebase of this array of structure must be a subset of the ggd_fast timebase (only if the ggd_fast array of structure is used)</xs:documentation>
						<xs:appinfo>
							<coordinate1>time</coordinate1>
							<type>dynamic</type>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="ggd_fast" type="edge_profiles_ggd_fast" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Quantities provided at a faster sampling rate than the full ggd quantities. These are either integrated quantities or local quantities provided on a reduced set of positions. Positions and integration domains are described by a set of grid_subsets (of size 1 for a position). </xs:documentation>
						<xs:appinfo>
							<coordinate1>time</coordinate1>
							<type>dynamic</type>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="code"/>
				<xs:element ref="time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
